{{# site-header }}

<header class="gr-c-site-header">

  <h1 class="gr-c-heading gr-c-site-header__heading">
    <a class="gr-c-site-header__heading-link" href="">
      Grail 
      <i class="gr-i-grail"></i>
    </a>
  </h1>

  {{> molecules-nav }}

</header>

{{/ site-header }}