/*
 * page-alt rules
 */
  
.page-content {

  &__item {
    
    //

    &--alt {

      margin: 0 auto 2rem; /* NOTE: this is a modifier for now, but should become the standard once the new DOT/DMV homepages are complete */

      &.page-content__item--with-bg {

        //

      }

      /* NOTE: this combinator won't be needed once the ".page-alt" rules are integrated into the ".page-content" rules */

      &.page-content__item--touch-next {

        margin-bottom: 0;
        
        & + * {
  
          margin-top: 0;
  
        }

      }

      /* NOTE: needs refactoring */

      &.page-content__item--w-small-carousel {

        padding: 2rem;

        @include sb-media($medium-breakpoint) {

          padding: 0;

        }

      }

    }

    > .grid, 
    &-inner--alt > .grid { /* NOTE: this is when a ".page-item" element includes a .page__item-inner element */

      margin-bottom: 0; /* NOTE: prevents unnecessary space between ".page-content__item" elements */

      &.u-margin-bottom-2x {

        margin-bottom: 2rem;

      }

    }

   &-inner--alt {

    padding: 2rem 1.5rem;

   }


  }

  &--alt {

    padding: 2rem $page-side-padding;
    
  }

}

.page-content__item--wide.page-content__item--alt {

  //

}

@include sb-media($small-breakpoint) {

  .page-content {
    
    &__item--alt {

      //

    }

    &__item-inner--alt {

      padding: 2rem;
  
    }

  }

}

@include sb-media($medium-breakpoint) {

  .page-content {
    
    &__item--alt {

      //

    }

    &__item-inner--alt {

      padding: 2rem $page-side-padding;
  
    }

  }

}

@include sb-media($large-breakpoint) {

  .page-content {

    &__item--alt {

      //

    }

    &__item-inner--alt {

      //
  
    }

  }

}
