/*
 * page grid
 */

.page-grid-wrapper {

  width: 100%;
  max-width: $component-max-width;
  margin: 0 auto;

}

.page-grid {

  //

  &__cell {

    //

  }

}

.page-grid--two-column {

  .page-grid__cell {

    //

    &:first-child {

      padding-top: 0;
      margin: 0 0 3rem;

    }

    &:last-child {

      padding: 0 $page-side-padding;

    }

  }

}

.page-grid--alt {

  .page-grid__cell {

    //

    &:first-child {

      padding-top: 0; /* NOTE: improves horizontal alignment width right column */

    }

    &:last-child {

      //

    }

  }

}

@include sb-media($large-breakpoint) {

  .page-grid {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &__cell {

      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;

    }

  }

  .page-grid--two-column {

    @include clearfix;
    margin: 0 0 3.75rem -1.5em; /* NOTE: the 'bottom' value matches the 'padding-bottom' value of the '.back-up' element -- value should be in a variable */

    .page-grid__cell {

      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0 0 0 1.5em;

      &:first-child {

        padding-bottom: 1rem; /* NOTE: Helps align bottom of left and right column (right column = side nav containerg) */
        margin: 0;
        max-width: 66.6666%; /* NOTE: this resolves issue where elements in left column don't scroll when they overflow (wide tables, Dashboard charts, etc.) */

      }

      &:last-child {

        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        padding-bottom: 1rem;

      }

    }

  }

}

/* NOTE: IE 9 fixes -- use floating block solution for non-flexbox-supporting browsers */

.no-flexbox.no-flexwrap {

  .page-grid--two-column {

    @include clearfix;

  }

  .page-grid__cell {

    float: left;

    &:first-child {

      width: 66.6666%;

    }

    &:last-child {

      width: 33.3333%;

    }

  }

}
