{{# person-card }}

<div class="person-card">

  <div class="grid grid--center grid--full med-grid--fit person-card__grid">
    <div class="grid__cell person-card__grid-cell">

      <ul class="person-card__list">
        <li class="person-card__list-item">
          State of North Carolina
        </li>
        <li class="person-card__list-item person-card__list-item--dept">
          Dept of Public Safety<br>
          Adult Correct &amp; Juvenile Justice
        </li>
        <li class="person-card__list-item person-card__list-item--address">
          552 Prison Camp Road<br>
          Polkton, NC 28135
        </li>
        <li class="person-card__list-item person-card__list-item--name">
          David Allen Aaron
        </li>
        <li class="person-card__list-item person-card__list-item--phone">
          704-695-1013
        </li>
        <li class="person-card__list-item person-card__list-item--email">
          <a href="mailto:david.aaron@ncdps.gov">
            david.aaron@ncdps.gov
          </a>
        </li>
      </ul>

    </div>
    <div class="grid__cell med-grid__cell--2of5 person-card__grid-cell">

      <div class="person-card__img-wrapper">

        {{# img-single-src }}
        {{> atoms-img-single-src }}
        {{/ img-single-src }}

        {{# job-title }}
        <p class="person-card__job-title">
          {{ job-title }}
        </p>
        {{/ job-title }}

      </div>

    </div>
  </div>

</div>

{{/ person-card }}
