{{# social-block }}

<div class="social-block grid {{ container-classes }}">

  {{# cell }}

  <div class="social-block__item grid__cell {{ cell-classes }}">

    <div class="social-block__sub-grid grid {{ sub-grid-classes }}">

      {{# item }}

      <div class="social-block__sub-grid-item grid__cell {{ sub-grid-cell-classes }}">

        {{> organisms-social-box }}

      </div>

      {{/ item }}

    </div>

  </div>

  {{/ cell }}

</div>

{{/ social-block }}