{{# social-block-heading }}

<h2 class="heading heading--beta section-title section-title--alt">
  <span class="section-title__text" contenteditable="true">
    #NCDOTSOCIAL
  </span>
  {{> molecules-simple-list }}
</h2>

{{/ social-block-heading }}

{{> organisms-social-block }}
