/*
 * card
 */

.card {

  width: 100%;
  max-width: 800px; /* NOTE: magic number -- width of 2x image */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: left;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; /* NOTE: Helps child <a> take up full height, regardless of content */

  margin: auto; /* NOTE: this might be temporary -- not sure if adding this has bad implications */

  &__icon {

    font-size: 3rem;
    display: block;
    // padding: 1.25rem 0 0;
    margin: 0 0 1rem;

  }

  &__img-wrapper {

    /* 
    NOTE: using the padding-top solution on a flex child doesn't 
    work well for Edge and Firefox -- using display:table on the child seems to fix it 
    https://stackoverflow.com/questions/33502702/flex-elements-ignore-percent-padding-in-firefox 
    */

    // display: table; 
    width: 100%;

    position: relative;
    height: 0;
    overflow: hidden; /* NOTE: this is necessary for the "padding-top" solution to work */
    padding-top: 56.25%; /* NOTE: default card includes images; percentage used here derived from diving image height by its width; images should be 800 by 450 for 2x */
    // margin: 0 0 1rem;

  }

  &__img {

    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
    margin: 0;

  }

  &__text-wrapper {

    padding: 1rem 1.25rem;

    > :last-child {
      
      margin-bottom: 0;

    }

  }

  &__date-number {

    @include vertical-align;
    color: $white;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 4rem;


    @include sb-media($small-breakpoint) {

      //color: red;

    }

    @include sb-media($medium-breakpoint) {
      
      //color: blue;      
      
    }

    @include sb-media($large-breakpoint) {
      
      //color: green;
      
    }

  }

  &__primary-text {

    font-size: 1.25rem;
    color: $core-blue;
    margin: 0 0 .5rem;

    + .card__secondary-text {

      //
      
    }

  }

  &__secondary-text {

    font-size: 0.875rem;
    line-height: 1.5;
    color: $core-gray;
    margin: 0 0 1rem;

    &--normal {

      text-transform: none;

    }

  }

  &__extra-text {

    display: inline-block;
    padding: 10px 0;
    border-style: solid;
    border-width: 2px 0;
    border-color: rgba(255,255,255,.5); /* NOTE: This value should be in a variable */
    margin: 1rem 0 0 0;
    align-self: center;

  }

  &__summary-text {

    color: $core-gray;
    padding: 0;
    margin: 1rem 0 0 0;

  }

  &__link-wrapper {

    display: block;
    width: 100%; /* NOTE: Width is needed since some parent elements are using flexbox -- flexbox prevents some block-level elements to not display full-width by default */
    text-decoration: none;
    border: 0;

    .card__primary-text {

      text-decoration: underline;

    }

    img { /* NOTE: should this be more specific (__img)? */

      border: 0;

    }

    &:hover {

      //

      .card__primary-text {

        text-decoration: none;

      }

    }

    &:visited {

      border: 0;

    }

  }

  &--framed {

    border: 1px solid $core-light-gray; /* NOTE: this value should be in a variable */
    border-radius: .25rem; /* NOTE: this declaration should match the '__img' declaration above */
    background-color: $white;
    overflow: hidden;

    .card__img {

      border-radius: 0;

    }

    &:hover {

      border-color: $core-light-gray; /* NOTE: this value should be in a variable */
      box-shadow: 0 0 0 5px rgba(120, 134, 150, 0.2); /* NOTE: this value should be in a variable */

    }

  }

  &--person {

    .card__img-wrapper {

      padding-top: 125%; /* NOTE: percentage derived from dividing image height by its width; this relies on agreed-upon image dimensions */

    }

    .card__primary-text {

      font-family: $font-medium-family;
      color: $core-blue;

    }

    .card__secondary-text {

      text-transform: none;

    }

  }

  &--trans {

    position: relative;
    padding: 1rem;
    background: $core-off-white;
    border: 1px solid $core-gray;
    border-radius: 4px; /* NOTE: this value should be in a variable */

    .card__img-wrapper {

      border-radius: 0;
      width: 75px;
      height: 75px;
      margin: 0 1rem 0 0;
      -webkit-flex: 0 0 75px;
      -ms-flex: 0 0 75px;
      flex: 0 0 75px;

      padding-top: 0; /* NOTE: overrides default padding; the "padding top" solution isn't necessary for the "--trans" cards when view */

    }

    .card__link-wrapper {

      display: flex;
      align-items: center;
      padding-top: 0;

    }

    .card__secondary-text {

      padding-bottom: 0;

    }

    @include sb-media($small-breakpoint) {

      border: 1px solid $core-off-white; 
      border-radius: .25rem; /* NOTE: this declaration should match the '__img' declaration above */
      background-color: $white;
      overflow: hidden;
      position: relative;
      padding: 0;

      .card__img-wrapper {

        border-radius: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 56.25%; /* NOTE: see note in default "__img-wrapper" element */

      }

      .card__img {

        //

      }

      .card__link-wrapper {

        display: block;

      }

      .card__text-wrapper {

        position: absolute;
        bottom: 0;
        background: rgba(255,255,255,.8);
        width: 100%;

      }

      &:hover {

        border-color: $core-light-gray; 
        box-shadow: 0 0 0 5px rgba(117, 117, 117, 0.2); /* NOTE: this value should be in a variable -- the RGBA is based on $accent-warm-gray  */

      }

    }

  }

  &--video {

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    background-color: $white;

    .video-wrapper {

      /* 
      NOTE: using the padding-top solution on a flex child doesn't 
      work well for Edge and Firefox -- using display:table on the child seems to fix it 
      https://stackoverflow.com/questions/33502702/flex-elements-ignore-percent-padding-in-firefox 
      */

      display: table; 
      width: 100%;
      // margin: 0 0 1rem;
      
    }

    .card__secondary-text {

      text-transform: none;      
      margin-bottom: 0;
      
    }

  }

  &--with-button {

    border-radius: .25rem; /* NOTE: this declaration should match the '__img' declaration above */

    .card__text-wrapper {

      text-align: center;
      width: 100%;

      .flexbox & {

        /* NOTE: to resolve IE 11 vertical alignment issue, the declaration with the prefixed ''-ms-flexbox' value must come after the normal declaration */

        display: flex; /* NOTE: Helps align button (if included) to bottom of container */
        display: -ms-flexbox;
        flex-direction: column;

      }

    }

    .card__primary-text {

      text-decoration: none;

    }

    .card__secondary-text {

      margin: 1rem 0 0;
      flex-grow: 1;

    }

    .btn {

      margin-top: 1rem;
      align-self: center;

    }

    .card__extra-text {

      margin-top: 1rem;

    }

  }

  &--alt {

    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .card__text-wrapper {

      color: $white;

      /* NOTE: decreased left/right padding -- good for when a single word is used and/or we don't want the words to break */

      &--low-padding {

        padding-right: .75rem;
        padding-left: .75rem;

      }

    }

    .card__primary-text {

      font-size: 1.3125rem;
      font-family: $font-medium-family;
      color: $white;

    }

    .card__secondary-text {

      font-size: 1rem;
      text-transform: none;
      color: $white;

    }

    .card__primary-text,
    .card__secondary-text {

      //

    }

    .card__link-wrapper {

      //

      &:hover {

        background-color: rgba(0, 0, 0, 0.25); /* NOTE: This value should be in a variable */

      }

    }

  }

  &--bordered {

    background: $white; /* NOTE: this improves display when the card is in a card set on top of a gray background */
    border-top: 10px solid $accent-orange;
    border-radius: 0; /* NOTE: override */
    -ms-flex-direction: column;     /* NOTE: why is this here and not in ".card" rule? */
    -webkit-flex-direction: column; /* NOTE: why is this here and not in ".card" rule? */
    flex-direction: column;         /* NOTE: why is this here and not in ".card" rule? */

    .card__img-wrapper {

      padding-top: 28.12%; /* NOTE: magic number -- "padding-top" solution requires usage of documented image dimensions (400 x 112) */

    }

    .card__img {

      border-radius: 0; /* NOTE: override */
      
    }

    .card__text-wrapper {

      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;

    }

    .card__date {

      color: $core-gray;
      margin: 0 0 .5rem;

    }

    .card__primary-text {

      font-family: $font-medium-family;
      color: $core-gray;
      // margin: 0;

    }

    .card__secondary-text {

      color: $core-gray;
      text-transform: none;

    }

    .btn {

      -webkit-align-self: center;
      align-self: center;
      margin-top: auto;
      
    }

    &-core-blue {

      border-color: $core-blue;

    }

    &-core-gray {
      
      border-color: $core-gray;

    }

    &-accent-deep-purple {

      border-color: $accent-deep-purple;

    }

  }

  &--basic {

    display: block;
    position: relative;

    .card__img-wrapper {

      position: relative;
      height: auto;
      overflow: auto; 
      padding: 0;
      margin: 0;
  
    }

    .card__img {

      position: relative;
      border-radius: 0;

    }

    .card__text-wrapper {

      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;

      &:before {

        @include gradient-V(rgba(0,0,0,0), rgba(0,0,0,1));
        background-color: transparent; /* NOTE: this overrides backgroud-color property from mixin -- given our browser suppor requirement, we might be able to remove background-color from mixin */
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4rem;

      }

    }

    .card__text-wrapper--no-bg {

      &:before {

        display: none;
        
      }

    }

    .card__primary-text {

      font-size: $font-size--eta;
      color: $white;
      position: absolute;
      bottom: 1rem;
      width: calc(100% - 2rem); 
      margin: 0;

    }

    > a:hover .card__primary-text {

      text-decoration: underline;

    }

    &__icon {

      @include vertical-align;
      position: absolute;
      left: 0;
      z-index: 1;
      text-align: center;
      right: 0;
      top: 0;
      margin: calc(50% - 22%) auto auto;
      font-size: 6rem;
      color: white;

      font-size: 26vw;
      margin: calc(20vw) auto auto;

      @include sb-media($small-breakpoint) {

        font-size: 6rem;
        margin: calc(50% - 22%) auto auto;

      }

    }

  }

  &--basic-big-text {

    .card__primary-text {

      font-size: $font-size--default;

    }

  }

  &--date {

    background: $accent-blue;
    height: 0;
    padding-top: 68.992248%;
    overflow: hidden;
    max-width: none;

    .card__date-number {

      // width: 34%;
      width: 26%;
      margin: calc(50% - 22%) auto auto;
      position: absolute;
      top: 0;

    }

    .card__text-wrapper {
      
      color: $white;
      margin: 0;

      &:before { 

        display: none; /* NOTE: no need for gradient on "date" cards */

      }
      
    }

    .ico-box__inner-wrapper {

      background-image: url(../../assets/images/date-box-bg.svg);    
      background-size: auto;
      
    }

    .ico-box__number {
      
      position: absolute;
      top: 50%;
      font-size: 2rem;
      line-height: 1;
      color: white;
      bottom: auto;

      // @include sb-media(20em) {

      //   font-size: 2.5rem;

      // }

    }

  }

  &--solid {

    text-align: center;
    background-color: $core-gray;

    .card__text-wrapper {

      color: $white;

    }

    .card__primary-text {

      font-size: 1.3125rem;
      font-family: $font-medium-family;
      color: $white;
      margin: 0;

    }

    .card__icon {

      padding: 0;
      margin: 0 0 1rem;

    }

    .card__link-wrapper {

      // padding: 1rem 1.25rem; 

      &:hover {

        //

      }

    }

  }

  &--solid-alt {

    //

    .card__text-wrapper {

      height: 100%;
      display: flex;
      flex-direction: column;

    }

    .card__icon-wrapper {

      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .card__icon {

      font-size: 3.5rem;
      margin: 0;

    }

    .card__primary-text {

      font-size: 1rem; 
      font-family: $font-normal-family; 
      text-decoration: none; 

    }

    .card__link-wrapper {

      &:hover {

        .card__primary-text {

          text-decoration: underline;
          
        }

      }

    }

    .ico-box-wrapper {

      width: 50px;

    }

    .ico-box__inner-wrapper {

      background-image: url(../../assets/images/date-box-bg.svg);

    }

    .ico-box__number  {

      font-size: 1.25rem;
      color: $white;

    }

  }

  &--reduced-font {

    .card__icon {

      font-size: 2.5rem;

    }

    .card__primary-text {

      font-size: 1.2rem;

    }

  }

  &--underline-hover {

    .card__primary-text {

      text-decoration: none;

    }

    &:hover {

      .card__primary-text {

        text-decoration: underline;
  
      }

    }

  }
  
  &--map {

    .card__img-wrapper {

      padding-top: 50%;
      
    }

  }

  &--no-gradient {

    //

    .card__text-wrapper {
      
      //

      &:before { 

        display: none; /* NOTE: no need for gradient on "date" cards */

      }
      
    }

  }

  /*
   * NOTE: These are modifiers for background colors/images.
           These class names are mapped to options in SharePoint. It might be beneficial to create generic utility classes for these instead so they can be reused elsewhere.
   */

  &--alt-core-black {

    background-color: $core-black;
    background-image: url(../../assets/images/bg/bg_poly-core-black.jpg);

  }

  &--alt-core-blue {

    background-color: $core-blue;
    background-image: url(../../assets/images/bg/bg_poly-core-blue.jpg);

  }

  &--alt-core-gray {

    background-color: $core-gray;
    background-image: url(../../assets/images/bg/bg_poly-core-gray.jpg);

  }

  &--alt-core-light-gray {

    background-color: $core-light-gray;
    background-image: url(../../assets/images/bg/bg_poly-core-light-gray.jpg);

  }

  &--alt-core-off-white {

    background-color: $core-off-white;
    background-image: url(../../assets/images/bg/bg_poly-core-off-white.jpg);

    .card__text-wrapper,
    .card__secondary-text {

      color: $black;

    }

  }

  &--alt-core-white {

    background-color: $core-white;
    background-image: url(../../assets/images/bg/bg_poly-core-white.jpg);

    .card__text-wrapper,
    .card__secondary-text {

      color: $black;

    }

  }

  &--alt-turquoise {

    background-color: $accent-turquoise;
    background-image: url(../../assets/images/bg/bg_poly-accent-turquoise.jpg);

  }

  &--alt-orange {

    background-color: $accent-orange;
    background-image: url(../../assets/images/bg/bg_poly-accent-orange.jpg);

  }

  &--alt-purple {

    background-color: $accent-purple;
    background-image: url(../../assets/images/bg/bg_poly-accent-purple.jpg);

  }

  &--alt-deep-purple {

    background-color: $accent-deep-purple;
    background-image: url(../../assets/images/bg/bg_poly-accent-deep-purple.jpg);

  }

  &--alt-blue {

    background-color: $accent-blue;
    background-image: url(../../assets/images/bg/bg_poly-accent-blue.jpg);

  }

  &--alt-light-blue {

    background-color: $accent-light-blue;
    background-image: url(../../assets/images/bg/bg_poly-accent-light-blue.jpg);

  }

  &--alt-cool-gray {

    background-color: $accent-cool-gray;
    background-image: url(../../assets/images/bg/bg_poly-accent-cool-gray.jpg);

  }

  &--alt-warm-gray {

    background-color: $accent-warm-gray;
    background-image: url(../../assets/images/bg/bg_poly-accent-warm-gray.jpg);

  }

  &--alt-indigo {

    background-color: $accent-indigo;
    background-image: url(../../assets/images/bg/bg_poly-accent-indigo.jpg);

  }

  &--alt-red {

    background-color: $accent-red;
    background-image: url(../../assets/images/bg/bg_poly-accent-red.jpg);

  }

  &--alt-olive {

    background-color: $accent-olive;
    background-image: url(../../assets/images/bg/bg_poly-accent-olive.jpg);

  }

  &--alt-green {

    background-color: $accent-green;
    background-image: url(../../assets/images/bg/bg_poly-accent-green.jpg);

  }

  /* NOTE: phone numbers -- it's be best to use BEM/element selectors for these */

  [href^="tel"],
  [href^="tel"]:hover,
  [href^="tel"]:visited {

    color: $white;
    text-decoration: underline;

    .no-touchevents & {

      text-decoration: none;
      cursor: text;

    }

  }

}

/* NOTE: fix for Edge and Firefox -- resolves issue with "padding-top" solution not working well for "card bordered" cards */
/* NOTE: https://stackoverflow.com/questions/32940965/how-to-target-microsoft-edge-with-css */

@supports(-ms-ime-align: auto) { 

  .card--bordered {
    
    .card__img-wrapper {

      display: table;

    }

  }

}

@include firefox-only-mq {

  .card--bordered {
    
    .card__img-wrapper {

      display: table; 

    }

  }

}

.no-flexbox {

  //

  .card {

    display: block;
    width: 100%;
    position: relative;

    &__text-wrapper {

      // border: 2px solid red !important;

      > :last-child {

        // border: 2px solid green;

      }

    }

    &__primary-text {

      // margin: 0;
      // padding: 1rem 0;

    }

    &__secondary-text {

      // margin: 0;
      // padding : 0 0 1rem;

    }

    &__link-wrapper {

      height: 100%;

    }

    &__extra-text {

      margin: 0;

    }

    .btn {

      // margin-top: 0;

    }

  }

}

.no-flexbox.no-flexboxlegacy {

  //

  .card {

    &__text-wrapper {

      // border: 2px solid red !important;

      > :last-child {

        // border: 2px solid green;

      }

    }

    &--bordered {

      display: block;

      .card__text-wrapper {

        display: block;

      }

      .card__img-wrapper {

        display: block; 

      }

      .card__date {

        margin: 0 0 8px;

      }

      .card__primary-text {

        padding: 0;
        margin: 0 0 8px;

      }

      .card__primary-text + .card__secondary-text {

        padding-bottom: 0;
        margin: 0 0 16px;

      }

    }

    &--basic {

      .card__primary-text {

        padding: 0;

      }

    }

    .ico-box-wrapper {

      margin: auto; 

    }
  
  }

}