{{# pic-box-block }}

<div class="gr-c-pic-box-block">

  <header class="gr-c-pic-box-block__header">

    <h1 class="gr-c-heading gr-c-pic-box-block__heading">
      {{ heading }}
    </h1>

    {{> molecules-search-box }}

  </header>

  <div class="gr-c-pic-box-block__content">

    {{# set }}

    {{> organisms-pic-box-set }}

    {{/ set }}
    
  </div>

</div>

{{/ pic-box-block }}