//
// logos
//

$logo-width--DOT-full : 330px;
$logo-height--DOT-full : 77px;
$logo-bg-size--DOT-full : contain;

$logo-width--DMV-full : 299px;
$logo-height--DMV-full : 77px;
$logo-bg-size--DMV-full : contain;

$logo-width--DMV-full-new : 381px;
$logo-height--DMV-full-new : 77px;
$logo-bg-size--DMV-full-new : contain;

$logo-width--seal : 251px;
$logo-height--seal : 250px;
$logo-bg-size--seal : contain;

$logo-width--nothing-compares : 286px;
$logo-height--nothing-compares : 64px;
$logo-bg-size--nothing-compares : $logo-width--nothing-compares;

$logo-width--be-rail-safe : 240px;
$logo-height--be-rail-safe : 62px;
$logo-bg-size--be-rail-safe : contain;

$logo-width--nc-by-train : 408px;
$logo-height--nc-by-train : 87px;
$logo-bg-size--nc-by-train : contain;

$logo-width--GTP : 276px;
$logo-height--GTP : 40px;
$logo-bg-size--GTP : contain;


// The rules that use these are commented out 

// $logo-width--stacked : 191px;
// $logo-height--stacked : 100px;
// $logo-bg-size--stacked : $logo-width--stacked;
//
// $logo-width--wordmark : 361px;
// $logo-height--wordmark : 50px;
// $logo-bg-size--wordmark : $logo-width--wordmark;
//
// $logo-width--domain : 159px;
// $logo-height--domain : 50px;
// $logo-bg-size--domain : $logo-width--domain;
//
// $logo-width--DMV : 175px;
// $logo-height--DMV : 50px;
// $logo-bg-size--DMV : $logo-width--DMV;
//
// $logo-width--DMV-big-letters : 240px;
// $logo-height--DMV-big-letters : 50px;
// $logo-bg-size--DMV-big-letters : $logo-width--DMV-big-letters;
//
// $logo-width--transportation : 136px;
// $logo-height--transportation : 50px;
// $logo-bg-size--transportation : $logo-width--transportation;
//
// $logo-width--transportation-big-letters : 193px;
// $logo-height--transportation-big-letters : 40px;
// $logo-bg-size--transportation-big-letters : $logo-width--transportation-big-letters;
