//
// numeric
//

$space:                     1rem;
$margin :                   $space 0;
$margin-half :              ($space / 2) 0;
$site-max-width :           125em;    // width of "wide nav" background image 
$inner-wrapper-max-width:   71.25rem; // 1140px
$radius :                   4px;
$radius--big :              5px;
//$component-max-width :    72.25rem; // This value should be abtracted further since it's used for other values
$component-max-width :      75rem;    // This value should be abtracted further since it's used for other values
$layout-spacer :            2rem;     // Helps retain consistency between page blocks
$z-index--top :             99999;

$page-side-padding :        1.5rem;

$screen-max-width : 2560px;