//
// text
//

$font-size--default :         1rem;

$font-size--alpha :           3rem;
$font-size--beta :            2.25rem;
$font-size--gamma :           1.5em;
$font-size--delta :           1.3125rem;
$font-size--epsilon :         1.125rem;
$font-size--zeta :            1rem;
$font-size--eta :             .8rem;

$font-size--alpha-medium :    2.625rem;
$font-size--beta-medium :     1.875rem;
$font-size--gamma-medium :    1.40625rem;
$font-size--delta-medium :    1.21875rem;
$font-size--epsilon-medium :  1.0625rem;
$font-size--zeta-medium :     .9rem;
$font-size--eta-medium :      .7rem;

$font-size--alpha-small :     2.25rem;
$font-size--beta-small :      1.5rem;
$font-size--gamma-small :     1.3125rem;
$font-size--delta-small :     1.125rem;
$font-size--epsilon-small :   1rem;
$font-size--zeta-small :      .8rem;
$font-size--eta-small :       .6rem;


// $font-size--alpha-fixed :    VALUE;
$font-size--beta-fixed :      2rem;
$font-size--gamma-fixed :     1.5rem;
$font-size--delta-fixed :     1.3125rem;
// $font-size--epsilon-fixed :  VALUE;
// $font-size--zeta-fixed :     VALUE;
// $font-size--eta-fixed :      VALUE;
// $font-size--theta-fixed :    VALUE;

// alternative sizes

$font-size--alpha-alt :     3.157rem;
$font-size--beta-alt :      2.369rem;
$font-size--gamma-alt :     1.777rem;
$font-size--delta-alt :     1.333rem;
$font-size--epsilon-alt :   1rem;
$font-size--zeta-alt :      .75rem;

// bigger sizes

// $font-size--giga :          VALUE;
// $font-size--mega :          VALUE;
// $font-size--kilo :          VALUE;

// smaller sizes

// $font-size--iota :          VALUE;
