/*
 * image gallery
 */

.image-gallery {

  //

  &__grid-cell {

    //

  }

}

@include sb-media(46em) {

  /* NOTE: Using child selector for increased specificity -- overrides default grid rules */

  .image-gallery {

    .image-gallery__grid-cell {

      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.3333%;
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%

    }

  }

}

.no-flexboxlegacy {

  .image-gallery.grid {

    display: block; /* NOTE: improves display in IE 11 */

  }

  .image-gallery__grid-cell {

    float: left;

  }

}

.no-flexbox {

  .image-gallery {

    @include clearfix;
    display: block;

    &__grid-cell {

      display: block;
      width: 33.3333%;
      float: left;

    }

  }

}
