/*
 * map box
 */

.map-box {

  //

  &__map-wrapper {

    //

  }

  &__map {

    margin: 0 0 1rem;

    &--small {

      height: 200px;

    }

  }

  &__heading {

    border-bottom: 3px solid $core-blue;
    padding: 0 0 .5rem;
    margin: .5rem 0 1rem;

  }

  &__p {

    margin: 0 0 .5rem;

    &:last-child {

      margin: 0;

    }

  }

}
