/*
 * map header
 */

.map-header {

  /* NOTE: In cases where the key isn't included, the &__select element's margin is used to add space between the this component and the map component */

  &__select {

    width: 100%;
    margin: 0 0 1rem;

  }

  &__key {

    //

  }

  @include sb-media($medium-breakpoint) {

    &__select {

      width: auto;

    }

    &__key {

      //
      
    }

  }

}
