/*
 * media block
 */

.media-block {

  max-width: $component-max-width;
  margin: 2rem auto;

  &__header {

    @include clearfix;
    font-family: $font-medium-family;
    color: $core-blue;
    border-bottom: .25rem solid $core-blue;
    margin: 0 0 1.5rem;
    position: relative;

  }

  &__heading {

    font-size: 2.25rem;
    line-height: 1;
    color: $core-blue;
    padding: 0 0 1.3125rem;
    margin: 0;

  }

  &__header-location {

    font-size: 1.5rem;
    font-family: $font-normal-family;

  }

  &__header-link {

    display: inline-block;
    margin: 0 0 1.3125rem; /* this value should be in a variable */

    @include sb-media(40em) {

      line-height: 1.2;
      position: absolute;
      right: 0;
      bottom: 1.3125rem;
      margin: 0;

    }

  }

  &__grid {

    margin-bottom: 0;

  }

  &__grid-cell {

    //

    &.media-block__map-wrapper { /* chained selector for higher specificity, to override .grid__cell default */

      flex: 2;

    }

    &.media-block__list-group-wrapper { /* chained selector for higher specificity, to override .grid__cell default */

      flex: 2;

    }

  }

  &__img {

    //

  }

  &--dark {

    background: $core-blue;

  }

  &--full-width {

    max-width: none;

  }

  &--wide-reversed {

    //

    @include sb-media($large-breakpoint) {

      .media-block__grid {

        -ms-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;

      }

    }

  }

  &__twitter-wrapper {

    position: relative;

  }

  .twitter-feed {

    border: 1px solid $core-off-white;
    height: 50vh; /* NOTE: on smaller screens, map shouldn't take up more than 50% of visible height so that users can swipe past it easier */
    min-height: 200px; /* NOTE: magic number */
    max-height: 450px; /* NOTE: magic number */

    iframe {

      height: 100% !important; /* NOTE: using !important to override inline declaration from API */
      width: 100% !important /* NOTE: using !important to override inline declaration from API */

    }

    @include sb-media($medium-breakpoint) {

      /* Use absolute positioning to match heights of twitter and map components on wider screens */
      /* Position values should mimic grid cell padding for proper alignment */

      height: auto;
      min-height: 0;
      max-height: none;
      position: absolute;
      bottom: -1rem;
      top: 1.5rem;
      left: 1.5rem;
      right: 0;
      overflow: hidden;

    }

  }

  .bing-map {

    height: 50vh; /* NOTE: on smaller screens, map shouldn't take up more than 50% of visible height so that users can swipe past it easier */
    min-height: 200px;
    max-height: 450px; /* NOTE: magic number -- matches  default ".bing-map" height value */

    &--tall { /* NOTE: we might want to refactor to include similar modifier in bing-map Sass partial */

      //

    }

    @include sb-media($medium-breakpoint) {

      height: 450px; /* NOTE: magic number -- matches default ".bing-map" height value */

    }

  }

  .map-box {

    .bing-map { /* NOTE: custom height adjustment when used in .map-box component -- might want to refactor into a modifier */

      height: 200px;

    }

  }

  .tabs {

    margin: 0;

  }

}
