{{# location-picker-form }}

  <div class="location-picker__form {{ modifier }}" {{# hidden }}hidden="hidden"{{/ hidden }}>

    {{!
    <div class="location-picker__form-title">
      Enter your zip, city or county to select your region:
    </div>
    }}

    {{> molecules-search-box }}

    <ul class="location-picker__results hidden" hidden>
      <li class="location-picker__results-item">
        <a class="location-picker__results-link" href="">
          Ashville Vicinity
        </a>
      </li>
      <li class="location-picker__results-item">
        <a class="location-picker__results-link" href="">
          Fayetteville Vicinity
        </a>
      </li>
      <li class="location-picker__results-item">
        <a class="location-picker__results-link" href="">
          Northern Coastal
        </a>
      </li>
      <li class="location-picker__results-item">
        <a class="location-picker__results-link" href="">
          Triangle
        </a>
      </li>
    </ul>

  </div>

  {{/ location-picker-form }}