{{# side-nav }}

<nav class="side-nav {{ modifier }} {{ side-nav_modifier }}">

  <div class="side-nav__inner-wrapper">

    <h1 class="heading heading--beta side-nav__heading">
      {{ heading-text }}
    </h1>

    <ul class="side-nav__list">

      {{# item }}

      <li class="side-nav__list-item {{ list-item-modifier }}">

        <a class="side-nav__link {{ link-modifier }}" href="{{ url }}">
          {{{ text }}}
        </a>

        {{# sub-list }}

        <ul class="side-nav__list side-nav__list--indented">

          {{# item }}

          <li class="side-nav__list-item {{ list-item-modifier }}">
            <a class="side-nav__link {{ link-modifier }}" href="">
              {{{ text }}}
            </a>

            {{# sub-sub-list }}

            <ul class="side-nav__list side-nav__list--indented">

              {{# item }}

              <li class="side-nav__list-item {{ list-item-modifier }}">
                <a class="side-nav__link {{ link-modifier }}" href="">
                  {{{ text }}}
                </a>

              </li>

              {{/ item }}

            </ul>

            {{/ sub-sub-list }}
            
          </li>

          {{/ item }}

        </ul>

        {{/ sub-list }}

      </li>

      {{/ item }}

    </ul>

  </div>

</nav>

{{/ side-nav }}
