/*
 * base / credit card icons -- https://github.com/muffinresearch/payment-icons
 */

.cc-icon {

  display: inline-block;
  width: 40px;
  height: 25px;
  background-size: cover;
  vertical-align: bottom; /* NOTE: using "bottom" aligns the icons vertically with when included in text */

  &__visa {

    background-image: url(../../assets/images/icons/credit-cards/visa.svg);

  }

  &__mastercard {

    background-image: url(../../assets/images/icons/credit-cards/mastercard.svg);

  }

  &__discover {

    background-image: url(../../assets/images/icons/credit-cards/discover.svg);

  }

}
