/*
 * hr
 */

hr {

  border: 0; 
  height: 2px; /* value should be in variable */
  background: $color-light-gray; /* value should be in custom property */
  margin: 2rem auto; /* value should be in variable */

}
