{{# card }}

<div class="grid card {{ modifier }}">

  {{> atoms-image }}

  <h1 class="heading heading--gamma card__heading">
    <a href="">
      {{ heading }}
    </a>
  </h1>

  <p class="card__p">
    {{ p }}
  </p>

</div>

{{/ card }}