//
// unit testing
// 

@import "../../../node_modules/sass-true/sass/true";

//
// setting
//

// variables

@import "scss/10-settings/10-variables/breakpoint";
@import "scss/10-settings/10-variables/color";
@import "scss/10-settings/10-variables/custom-dropdown";
@import "scss/10-settings/10-variables/custom-property";
@import "scss/10-settings/10-variables/font";
@import "scss/10-settings/10-variables/numeric";
@import "scss/10-settings/10-variables/padding";
@import "scss/10-settings/10-variables/text";
@import "scss/10-settings/10-variables/transition";
@import "scss/10-settings/10-variables/validation";
@import "scss/10-settings/10-variables/width";

//
// tool
//

// mixins

@import "scss/20-tools/10-mixins/aspect-ratio";
@import "scss/20-tools/10-mixins/clean-list";
@import "scss/20-tools/10-mixins/clearfix";
@import "scss/20-tools/10-mixins/custom-property";
@import "scss/20-tools/10-mixins/flexbox";
@import "scss/20-tools/10-mixins/font-face";
@import "scss/20-tools/10-mixins/gradient";
@import "scss/20-tools/10-mixins/grid";
@import "scss/20-tools/10-mixins/media-query";
@import "scss/20-tools/10-mixins/media-query-firefox";
@import "scss/20-tools/10-mixins/media-query-ie-10-plus";
@import "scss/20-tools/10-mixins/rem-to-px";
@import "scss/20-tools/10-mixins/retina";
@import "scss/20-tools/10-mixins/scroll";
@import "scss/20-tools/10-mixins/text-input";
@import "scss/20-tools/10-mixins/transition";
@import "scss/20-tools/10-mixins/transition-transform";
@import "scss/20-tools/10-mixins/translate";
@import "scss/20-tools/10-mixins/vertical-align";

// placeholders

@import "scss/20-tools/20-placeholders/form";
@import "scss/20-tools/20-placeholders/general";
@import "scss/20-tools/20-placeholders/list";
@import "scss/20-tools/20-placeholders/text";
@import "scss/20-tools/20-placeholders/visually-hidden";

// fonts

@import "scss/20-tools/30-fonts/font";

//
// generic 
//  

@import "scss/30-generic/reset";

//
// base
//

@import "scss/40-base/checkbox";
@import "scss/40-base/fieldset";
@import "scss/40-base/hr";
@import "scss/40-base/icon";
@import "scss/40-base/label";
@import "scss/40-base/list";
@import "scss/40-base/media";
@import "scss/40-base/radio";
@import "scss/40-base/select"; 
@import "scss/40-base/table";
@import "scss/40-base/text";

//
// objects
//

@import "scss/50-objects/grid";
// @import "scss/50-object/grid-resizable";
@import "scss/50-objects/main";

//
// components
//

@import "scss/60-components/heading"; 
@import "scss/60-components/button"; 
// @import "../../_patterns/00-atoms/20-button/10-button"; // HEY
@import "scss/60-components/custom-list"; 
@import "scss/60-components/card"; 
@import "scss/60-components/card-set"; 
@import "scss/60-components/video"; 
@import "scss/60-components/text-input"; 
@import "scss/60-components/form"; 
@import "scss/60-components/nav"; 
@import "scss/60-components/site-header"; 
@import "scss/60-components/hero"; 

// utility

@import "scss/70-utility/visibility";
@import "scss/70-utility/utility";
@import "scss/70-utility/list";
@import "scss/70-utility/bg-color";
@import "scss/70-utility/text-color";
@import "scss/70-utility/spacing";
@import "scss/70-utility/media";
@import "scss/70-utility/display";
@import "scss/70-utility/font";

// to be migrated to pl-specific stylesheet

@import "scss/80-to-be-migrated/palette";
@import "scss/80-to-be-migrated/syntax-highlight";

//
//
//



// // Test CSS output from mixins
// @include it('Outputs the clearfix declaration block (property/value pairs)') {
//   @include assert {

//     @include output {
//       @include clearfix();
//     }

//     @include expect {

//       &:before,
//       &:after {
    
//         content: " ";
//         //display: table;
//         display: block;
    
//       }
    
//       &:after {
    
//         clear: both;

//       } 

//     }
//   }
// }



@mixin primary-header {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #333;
  text-decoration: underline;
 }

// Describe what you're testing
@include describe('The primary-header mixin') {
  // Explain what it should do
  @include it('outputs the properties of our primary header.') {
    // Assert the output of the mixin matches the expected result
    @include assert {
      @include output {
        @include primary-header();
      }
      @include expect {
        font-family: "Helvetica", Arial, sans-serif;
        font-size: 2rem;
        line-height: 2.5rem;
        color: red;
        text-decoration: underline;
      }
    }
  }
}


$true-terminal-output: false;
@include report;