{{# juxtapose }}

<div class="juxtapose {{ modifier }}" id="{{ id }}">
</div>

<!--

<div class="juxtapose" id="{{ id }}">
  <img src="../../assets/images/pea-island-before@1x.jpg" data-label="Before" data-credit="" />
  <img src="../../assets/images/pea-island-after@1x.jpg" data-label="After" data-credit="" />
</div>

<div id="" class="juxtapose" data-startingposition="50%" data-showlabels="true" data-showcredits="false" data-animate="false">...</div>

-->

{{/ juxtapose }}
