<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut risus laoreet, iaculis metus a, elementum justo. Aenean odio felis, placerat.
</p>

<blockquote>
	<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut risus laoreet, iaculis metus a, elementum justo. Aenean odio felis, placerat.
	</p>
</blockquote>

<p>
  <a href="#">Lorem ipsum dolor sit amet</a>
</p>

<p>
  The <b>b element</b> is stylistically different text from normal text
</p>


<p>
  The <strong>b element</strong> is stylistically different text from normal text
</p>

<p>
  The <i>i element</i> is text that is set off from the normal text
</p>

<p>
  The <em>em element</em> is stylistically different text from normal text
</p>

<p>
  The <u>u element</u> is stylistically different text from normal text
</p>

<p>
  There are exampkes of the <del>del element</del> (deleted) and <ins>ins element</ins> (inserted).
</p>

<p>
  This is an example of the <s>s element</s> (strikethrough). 
</p>

<p>
  Here's a superscript<sup>®</sup> example
</p>

<p>
  A subscript example would look like H<sub>2</sub>O
</p>

<p>
  <small>This small text is small for for fine print, etc.</small>
</p>

<p>
  An abbreviation would look like <abbr title="HyperText Markup Language">HTML</abbr>
</p>

<p>
  This is what a keyboard input would look like <kbd>Cmd</kbd>
</p>

<p>
  A website citation would look like <q cite="https://google.com">This text is a short inline quotation</q>
</p>

<p>
  <cite>This is a citation</cite>
</p>

<p>
  The <dfn>dfn element</dfn> indicates a definition.
</p>

<p>
  The <mark>mark element</mark> indicates a highlight
</p>

<p>
  <code>This is what inline code looks like.</code>
</p>

<p>
  The <var>variable element</var>, such as <var>x</var> = <var>y</var>
</p>

<p>
  <samp>This is sample output from a computer program</samp>
</p>
