<p class="gr-u-primary-blue">
  gr-u-primary-blue
</p>

<p class="gr-u-dark-blue">
  gr-u-dark-blue
</p>

<p class="gr-u-light-orange">
  gr-u-light-orange
</p>

<p class="gr-u-orange">
  gr-u-orange
</p>

<p class="gr-u-red">
  gr-u-red
</p>

<p class="gr-u-green">
  gr-u-green
</p>

<p class="gr-u-cool-gray">
  gr-u-cool-gray
</p>

<p class="gr-u-medium-gray">
  gr-u-medium-gray
</p>

<p class="gr-u-dark-gray">
  gr-u-dark-gray
</p>

<p class="gr-u-black">
  gr-u-black
</p>

<p class="gr-u-white gr-u-bg-black" style="display:inline-block;">
  gr-u-white
</p>
