
<h1 class="heading heading--alpha">
	Heading alpha
</h1>

<h2 class="heading heading--beta">
	Heading beta
</h2>

<h3 class="heading heading--gamma">
	Heading gamma
</h3>

<h4 class="heading heading--delta">
	Heading delta
</h4>

<h5 class="heading heading--epsilon">
	Heading epsilon
</h5>

<h6 class="heading heading--zeta">
	Heading zeta
</h6>

{{!> atoms-page-title }}

{{!> atoms-page-title-with-post-text }}

{{!> atoms-section-title }}

{{!> atoms-section-title-with-pre-text }}