{{# breadcrumbs }}

<nav class="gr-c-breadcrumbs {{ class }}">

  <ul class="gr-c-breadcrumbs__list">

    {{# item }}

    <li class="gr-c-breadcrumbs__item">
      <a class="gr-c-breadcrumbs__link" href="">
        {{ text }}
      </a>
    </li>

    {{/ item }}

  </ul>

</nav>

{{/ breadcrumbs }}