{{# pagination }}

<nav class="gr-c-pagination {{ class }}">

  <ul class="gr-c-pagination__list">

    {{# item }}

    <li class="gr-c-pagination__item {{ list-item-class }}">
      <a class="gr-c-pagination__link {{ link-class }}" href="">
        {{ text }}
      </a>
    </li>

    {{/ item }}

  </ul>

</nav>

{{/ pagination }}