{{# paginator }}

<nav class="gr-c-paginator {{ class }}">

  <a class="gr-c-paginator__btn gr-c-paginator__btn--prev" href="">
    <span class="gr-u-hidden">
      Previous
    </span>
    <i class="gr-i-arrow-left gr-c-paginator__icon">
    </i>
  </a>

  <h1 class="gr-c-paginator__heading">
    {{ heading }}
  </h1>

  <a class="gr-c-paginator__btn gr-c-paginator__btn--next" href="">
    <span class="gr-u-hidden">
      Previous
    </span>
    <i class="gr-i-arrow-right gr-c-paginator__icon">
    </i>
  </a>

</nav>

{{/ paginator }}