
<div class="grid grid--gutters u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/2
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/2
    </div>
  </div>
</div>

<div class="grid grid--gutters u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/3
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/3
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/3
    </div>
  </div>
</div>

<div class="grid grid--gutters u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/4
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/4
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/4
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/4
    </div>
  </div>
</div>

<div class="grid grid--gutters u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/5
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/5
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/5
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/5
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/5
    </div>
  </div>
</div>

<div class="grid grid--gutters grid--flex-cells">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full-height, even when my content doesn't fill the space.
    </div>
  </div>

  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis velit non gravida venenatis. Praesent consequat lectus purus, ut scelerisque velit condimentum eu. Maecenas sagittis ante ut turpis varius interdum. Quisque tellus ipsum, eleifend non ipsum id, suscipit ultricies neque.
    </div>
  </div>
</div>
