<fieldset>

  <label for="begin">Begin</label>
  <input type="date" id="begin" name="trip" value="2018-07-22" min="2018-01-01" max="2018-12-31" />

  <label for="end">End</label>
  <input type="date" id="end" name="trip" value="2018-07-29" min="2018-01-01" max="2018-12-31"/ >

</fieldset>
