<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="assignment_ind" data-char="E85E">&#xE85E;</i></li>
  <li><i class="material-icons" data-name="assignment_late" data-char="E85F">&#xE85F;</i></li>
  <li><i class="material-icons" data-name="assignment_return" data-char="E860">&#xE860;</i></li>
  <li><i class="material-icons" data-name="assignment_returned" data-char="E861">&#xE861;</i></li>
  <li><i class="material-icons" data-name="assignment_turned_in" data-char="E862">&#xE862;</i></li>
  <li><i class="material-icons" data-name="autorenew" data-char="E863">&#xE863;</i></li>
  <li><i class="material-icons" data-name="backup" data-char="E864">&#xE864;</i></li>
  <li><i class="material-icons" data-name="book" data-char="E865">&#xE865;</i></li>
  <li><i class="material-icons" data-name="bookmark" data-char="E866">&#xE866;</i></li>
  <li><i class="material-icons" data-name="bookmark_border" data-char="E867">&#xE867;</i></li>
  <li><i class="material-icons" data-name="bug_report" data-char="E868">&#xE868;</i></li>
  <li><i class="material-icons" data-name="build" data-char="E869">&#xE869;</i></li>
  <li><i class="material-icons" data-name="cached" data-char="E86A">&#xE86A;</i></li>
  <li><i class="material-icons" data-name="camera_enhance" data-char="E8FC">&#xE8FC;</i></li>
  <li><i class="material-icons" data-name="card_giftcard" data-char="E8F6">&#xE8F6;</i></li>
  <li><i class="material-icons" data-name="card_membership" data-char="E8F7">&#xE8F7;</i></li>
  <li><i class="material-icons" data-name="card_travel" data-char="E8F8">&#xE8F8;</i></li>
  <li><i class="material-icons" data-name="change_history" data-char="E86B">&#xE86B;</i></li>
  <li><i class="material-icons" data-name="check_circle" data-char="E86C">&#xE86C;</i></li>
  <li><i class="material-icons" data-name="chrome_reader_mode" data-char="E86D">&#xE86D;</i></li>
  <li><i class="material-icons" data-name="class" data-char="E86E">&#xE86E;</i></li>
  <li><i class="material-icons" data-name="code" data-char="E86F">&#xE86F;</i></li>
  <li><i class="material-icons" data-name="compare_arrows" data-char="E915">&#xE915;</i></li>
  <li><i class="material-icons" data-name="copyright" data-char="E90C">&#xE90C;</i></li>
  <li><i class="material-icons" data-name="credit_card" data-char="E870">&#xE870;</i></li>
  <li><i class="material-icons" data-name="dashboard" data-char="E871">&#xE871;</i></li>
  <li><i class="material-icons" data-name="date_range" data-char="E916">&#xE916;</i></li>
  <li><i class="material-icons" data-name="delete" data-char="E872">&#xE872;</i></li>
  <li><i class="material-icons" data-name="delete_forever" data-char="E92B">&#xE92B;</i></li>
  <li><i class="material-icons" data-name="description" data-char="E873">&#xE873;</i></li>
  <li><i class="material-icons" data-name="dns" data-char="E875">&#xE875;</i></li>
  <li><i class="material-icons" data-name="done" data-char="E876">&#xE876;</i></li>
  <li><i class="material-icons" data-name="done_all" data-char="E877">&#xE877;</i></li>
  <li><i class="material-icons" data-name="donut_large" data-char="E917">&#xE917;</i></li>
  <li><i class="material-icons" data-name="donut_small" data-char="E918">&#xE918;</i></li>
  <li><i class="material-icons" data-name="eject" data-char="E8FB">&#xE8FB;</i></li>
  <li><i class="material-icons" data-name="euro_symbol" data-char="E926">&#xE926;</i></li>
  <li><i class="material-icons" data-name="event" data-char="E878">&#xE878;</i></li>
  <li><i class="material-icons" data-name="event_seat" data-char="E903">&#xE903;</i></li>
  <li><i class="material-icons" data-name="exit_to_app" data-char="E879">&#xE879;</i></li>
  <li><i class="material-icons" data-name="explore" data-char="E87A">&#xE87A;</i></li>
  <li><i class="material-icons" data-name="extension" data-char="E87B">&#xE87B;</i></li>
  <li><i class="material-icons" data-name="face" data-char="E87C">&#xE87C;</i></li>
  <li><i class="material-icons" data-name="favorite" data-char="E87D">&#xE87D;</i></li>
  <li><i class="material-icons" data-name="favorite_border" data-char="E87E">&#xE87E;</i></li>
  <li><i class="material-icons" data-name="feedback" data-char="E87F">&#xE87F;</i></li>
  <li><i class="material-icons" data-name="find_in_page" data-char="E880">&#xE880;</i></li>
  <li><i class="material-icons" data-name="find_replace" data-char="E881">&#xE881;</i></li>
  <li><i class="material-icons" data-name="fingerprint" data-char="E90D">&#xE90D;</i></li>
  <li><i class="material-icons" data-name="flight_land" data-char="E904">&#xE904;</i></li>
  <li><i class="material-icons" data-name="flight_takeoff" data-char="E905">&#xE905;</i></li>
  <li><i class="material-icons" data-name="flip_to_back" data-char="E882">&#xE882;</i></li>
  <li><i class="material-icons" data-name="flip_to_front" data-char="E883">&#xE883;</i></li>
  <li><i class="material-icons" data-name="g_translate" data-char="E927">&#xE927;</i></li>
  <li><i class="material-icons" data-name="gavel" data-char="E90E">&#xE90E;</i></li>
  <li><i class="material-icons" data-name="get_app" data-char="E884">&#xE884;</i></li>
  <li><i class="material-icons" data-name="gif" data-char="E908">&#xE908;</i></li>
  <li><i class="material-icons" data-name="grade" data-char="E885">&#xE885;</i></li>
  <li><i class="material-icons" data-name="group_work" data-char="E886">&#xE886;</i></li>
  <li><i class="material-icons" data-name="help" data-char="E887">&#xE887;</i></li>
  <li><i class="material-icons" data-name="help_outline" data-char="E8FD">&#xE8FD;</i></li>
  <li><i class="material-icons" data-name="highlight_off" data-char="E888">&#xE888;</i></li>
  <li><i class="material-icons" data-name="history" data-char="E889">&#xE889;</i></li>
  <li><i class="material-icons" data-name="home" data-char="E88A">&#xE88A;</i></li>
  <li><i class="material-icons" data-name="hourglass_empty" data-char="E88B">&#xE88B;</i></li>
  <li><i class="material-icons" data-name="hourglass_full" data-char="E88C">&#xE88C;</i></li>
  <li><i class="material-icons" data-name="http" data-char="E902">&#xE902;</i></li>
  <li><i class="material-icons" data-name="https" data-char="E88D">&#xE88D;</i></li>
  <li><i class="material-icons" data-name="important_devices" data-char="E912">&#xE912;</i></li>
  <li><i class="material-icons" data-name="info" data-char="E88E">&#xE88E;</i></li>
  <li><i class="material-icons" data-name="info_outline" data-char="E88F">&#xE88F;</i></li>
  <li><i class="material-icons" data-name="input" data-char="E890">&#xE890;</i></li>
  <li><i class="material-icons" data-name="invert_colors" data-char="E891">&#xE891;</i></li>
  <li><i class="material-icons" data-name="label" data-char="E892">&#xE892;</i></li>
  <li><i class="material-icons" data-name="label_outline" data-char="E893">&#xE893;</i></li>
  <li><i class="material-icons" data-name="language" data-char="E894">&#xE894;</i></li>
  <li><i class="material-icons" data-name="launch" data-char="E895">&#xE895;</i></li>
  <li><i class="material-icons" data-name="lightbulb_outline" data-char="E90F">&#xE90F;</i></li>
  <li><i class="material-icons" data-name="line_style" data-char="E919">&#xE919;</i></li>
  <li><i class="material-icons" data-name="line_weight" data-char="E91A">&#xE91A;</i></li>
  <li><i class="material-icons" data-name="list" data-char="E896">&#xE896;</i></li>
  <li><i class="material-icons" data-name="lock" data-char="E897">&#xE897;</i></li>
  <li><i class="material-icons" data-name="lock_open" data-char="E898">&#xE898;</i></li>
  <li><i class="material-icons" data-name="lock_outline" data-char="E899">&#xE899;</i></li>
  <li><i class="material-icons" data-name="loyalty" data-char="E89A">&#xE89A;</i></li>
  <li><i class="material-icons" data-name="markunread_mailbox" data-char="E89B">&#xE89B;</i></li>
  <li><i class="material-icons" data-name="motorcycle" data-char="E91B">&#xE91B;</i></li>
  <li><i class="material-icons" data-name="note_add" data-char="E89C">&#xE89C;</i></li>
  <li><i class="material-icons" data-name="offline_pin" data-char="E90A">&#xE90A;</i></li>
  <li><i class="material-icons" data-name="opacity" data-char="E91C">&#xE91C;</i></li>
  <li><i class="material-icons" data-name="open_in_browser" data-char="E89D">&#xE89D;</i></li>
  <li><i class="material-icons" data-name="open_in_new" data-char="E89E">&#xE89E;</i></li>
  <li><i class="material-icons" data-name="open_with" data-char="E89F">&#xE89F;</i></li>
  <li><i class="material-icons" data-name="pageview" data-char="E8A0">&#xE8A0;</i></li>
  <li><i class="material-icons" data-name="pan_tool" data-char="E925">&#xE925;</i></li>
  <li><i class="material-icons" data-name="payment" data-char="E8A1">&#xE8A1;</i></li>
  <li><i class="material-icons" data-name="perm_camera_mic" data-char="E8A2">&#xE8A2;</i></li>
  <li><i class="material-icons" data-name="perm_contact_calendar" data-char="E8A3">&#xE8A3;</i></li>
  <li><i class="material-icons" data-name="perm_data_setting" data-char="E8A4">&#xE8A4;</i></li>
  <li><i class="material-icons" data-name="perm_device_information" data-char="E8A5">&#xE8A5;</i></li>
  <li><i class="material-icons" data-name="perm_identity" data-char="E8A6">&#xE8A6;</i></li>
  <li><i class="material-icons" data-name="perm_media" data-char="E8A7">&#xE8A7;</i></li>
  <li><i class="material-icons" data-name="perm_phone_msg" data-char="E8A8">&#xE8A8;</i></li>
  <li><i class="material-icons" data-name="perm_scan_wifi" data-char="E8A9">&#xE8A9;</i></li>
  <li><i class="material-icons" data-name="pets" data-char="E91D">&#xE91D;</i></li>
  <li><i class="material-icons" data-name="picture_in_picture" data-char="E8AA">&#xE8AA;</i></li>
  <li><i class="material-icons" data-name="picture_in_picture_alt" data-char="E911">&#xE911;</i></li>
  <li><i class="material-icons" data-name="play_for_work" data-char="E906">&#xE906;</i></li>
  <li><i class="material-icons" data-name="polymer" data-char="E8AB">&#xE8AB;</i></li>
  <li><i class="material-icons" data-name="power_settings_new" data-char="E8AC">&#xE8AC;</i></li>
  <li><i class="material-icons" data-name="pregnant_woman" data-char="E91E">&#xE91E;</i></li>
  <li><i class="material-icons" data-name="print" data-char="E8AD">&#xE8AD;</i></li>
  <li><i class="material-icons" data-name="query_builder" data-char="E8AE">&#xE8AE;</i></li>
  <li><i class="material-icons" data-name="question_answer" data-char="E8AF">&#xE8AF;</i></li>
  <li><i class="material-icons" data-name="receipt" data-char="E8B0">&#xE8B0;</i></li>
  <li><i class="material-icons" data-name="record_voice_over" data-char="E91F">&#xE91F;</i></li>
  <li><i class="material-icons" data-name="redeem" data-char="E8B1">&#xE8B1;</i></li>
  <li><i class="material-icons" data-name="remove_shopping_cart" data-char="E928">&#xE928;</i></li>
  <li><i class="material-icons" data-name="reorder" data-char="E8FE">&#xE8FE;</i></li>
  <li><i class="material-icons" data-name="report_problem" data-char="E8B2">&#xE8B2;</i></li>
  <li><i class="material-icons" data-name="restore" data-char="E8B3">&#xE8B3;</i></li>
  <li><i class="material-icons" data-name="restore_page" data-char="E929">&#xE929;</i></li>
  <li><i class="material-icons" data-name="room" data-char="E8B4">&#xE8B4;</i></li>
  <li><i class="material-icons" data-name="rounded_corner" data-char="E920">&#xE920;</i></li>
  <li><i class="material-icons" data-name="rowing" data-char="E921">&#xE921;</i></li>
  <li><i class="material-icons" data-name="schedule" data-char="E8B5">&#xE8B5;</i></li>
  <li><i class="material-icons" data-name="search" data-char="E8B6">&#xE8B6;</i></li>
  <li><i class="material-icons" data-name="settings" data-char="E8B8">&#xE8B8;</i></li>
  <li><i class="material-icons" data-name="settings_applications" data-char="E8B9">&#xE8B9;</i></li>
  <li><i class="material-icons" data-name="settings_backup_restore" data-char="E8BA">&#xE8BA;</i></li>
  <li><i class="material-icons" data-name="settings_bluetooth" data-char="E8BB">&#xE8BB;</i></li>
  <li><i class="material-icons" data-name="settings_brightness" data-char="E8BD">&#xE8BD;</i></li>
  <li><i class="material-icons" data-name="settings_cell" data-char="E8BC">&#xE8BC;</i></li>
  <li><i class="material-icons" data-name="settings_ethernet" data-char="E8BE">&#xE8BE;</i></li>
  <li><i class="material-icons" data-name="settings_input_antenna" data-char="E8BF">&#xE8BF;</i></li>
  <li><i class="material-icons" data-name="settings_input_component" data-char="E8C0">&#xE8C0;</i></li>
  <li><i class="material-icons" data-name="settings_input_composite" data-char="E8C1">&#xE8C1;</i></li>
  <li><i class="material-icons" data-name="settings_input_hdmi" data-char="E8C2">&#xE8C2;</i></li>
  <li><i class="material-icons" data-name="settings_input_svideo" data-char="E8C3">&#xE8C3;</i></li>
  <li><i class="material-icons" data-name="settings_overscan" data-char="E8C4">&#xE8C4;</i></li>
  <li><i class="material-icons" data-name="settings_phone" data-char="E8C5">&#xE8C5;</i></li>
  <li><i class="material-icons" data-name="settings_power" data-char="E8C6">&#xE8C6;</i></li>
  <li><i class="material-icons" data-name="settings_remote" data-char="E8C7">&#xE8C7;</i></li>
  <li><i class="material-icons" data-name="settings_voice" data-char="E8C8">&#xE8C8;</i></li>
  <li><i class="material-icons" data-name="shop" data-char="E8C9">&#xE8C9;</i></li>
  <li><i class="material-icons" data-name="shop_two" data-char="E8CA">&#xE8CA;</i></li>
  <li><i class="material-icons" data-name="shopping_basket" data-char="E8CB">&#xE8CB;</i></li>
  <li><i class="material-icons" data-name="shopping_cart" data-char="E8CC">&#xE8CC;</i></li>
  <li><i class="material-icons" data-name="speaker_notes" data-char="E8CD">&#xE8CD;</i></li>
  <li><i class="material-icons" data-name="speaker_notes_off" data-char="E92A">&#xE92A;</i></li>
  <li><i class="material-icons" data-name="spellcheck" data-char="E8CE">&#xE8CE;</i></li>
  <li><i class="material-icons" data-name="star_rate" data-char="E8CF">&#xE8CF;</i></li>
  <li><i class="material-icons" data-name="stars" data-char="E8D0">&#xE8D0;</i></li>
  <li><i class="material-icons" data-name="store" data-char="E8D1">&#xE8D1;</i></li>
  <li><i class="material-icons" data-name="subject" data-char="E8D2">&#xE8D2;</i></li>
  <li><i class="material-icons" data-name="supervisor_account" data-char="E8D3">&#xE8D3;</i></li>
  <li><i class="material-icons" data-name="swap_horiz" data-char="E8D4">&#xE8D4;</i></li>
  <li><i class="material-icons" data-name="swap_vert" data-char="E8D5">&#xE8D5;</i></li>
  <li><i class="material-icons" data-name="swap_vertical_circle" data-char="E8D6">&#xE8D6;</i></li>
  <li><i class="material-icons" data-name="system_update_alt" data-char="E8D7">&#xE8D7;</i></li>
  <li><i class="material-icons" data-name="tab" data-char="E8D8">&#xE8D8;</i></li>
  <li><i class="material-icons" data-name="tab_unselected" data-char="E8D9">&#xE8D9;</i></li>
  <li><i class="material-icons" data-name="theaters" data-char="E8DA">&#xE8DA;</i></li>
  <li><i class="material-icons" data-name="thumb_down" data-char="E8DB">&#xE8DB;</i></li>
  <li><i class="material-icons" data-name="thumb_up" data-char="E8DC">&#xE8DC;</i></li>
  <li><i class="material-icons" data-name="thumbs_up_down" data-char="E8DD">&#xE8DD;</i></li>
  <li><i class="material-icons" data-name="timeline" data-char="E922">&#xE922;</i></li>
  <li><i class="material-icons" data-name="toc" data-char="E8DE">&#xE8DE;</i></li>
  <li><i class="material-icons" data-name="today" data-char="E8DF">&#xE8DF;</i></li>
  <li><i class="material-icons" data-name="toll" data-char="E8E0">&#xE8E0;</i></li>
  <li><i class="material-icons" data-name="touch_app" data-char="E913">&#xE913;</i></li>
  <li><i class="material-icons" data-name="track_changes" data-char="E8E1">&#xE8E1;</i></li>
  <li><i class="material-icons" data-name="translate" data-char="E8E2">&#xE8E2;</i></li>
  <li><i class="material-icons" data-name="trending_down" data-char="E8E3">&#xE8E3;</i></li>
  <li><i class="material-icons" data-name="trending_flat" data-char="E8E4">&#xE8E4;</i></li>
  <li><i class="material-icons" data-name="trending_up" data-char="E8E5">&#xE8E5;</i></li>
  <li><i class="material-icons" data-name="turned_in" data-char="E8E6">&#xE8E6;</i></li>
  <li><i class="material-icons" data-name="turned_in_not" data-char="E8E7">&#xE8E7;</i></li>
  <li><i class="material-icons" data-name="update" data-char="E923">&#xE923;</i></li>
  <li><i class="material-icons" data-name="verified_user" data-char="E8E8">&#xE8E8;</i></li>
  <li><i class="material-icons" data-name="view_agenda" data-char="E8E9">&#xE8E9;</i></li>
  <li><i class="material-icons" data-name="view_array" data-char="E8EA">&#xE8EA;</i></li>
  <li><i class="material-icons" data-name="view_carousel" data-char="E8EB">&#xE8EB;</i></li>
  <li><i class="material-icons" data-name="view_column" data-char="E8EC">&#xE8EC;</i></li>
  <li><i class="material-icons" data-name="view_day" data-char="E8ED">&#xE8ED;</i></li>
  <li><i class="material-icons" data-name="view_headline" data-char="E8EE">&#xE8EE;</i></li>
  <li><i class="material-icons" data-name="view_list" data-char="E8EF">&#xE8EF;</i></li>
  <li><i class="material-icons" data-name="view_module" data-char="E8F0">&#xE8F0;</i></li>
  <li><i class="material-icons" data-name="view_quilt" data-char="E8F1">&#xE8F1;</i></li>
  <li><i class="material-icons" data-name="view_stream" data-char="E8F2">&#xE8F2;</i></li>
  <li><i class="material-icons" data-name="view_week" data-char="E8F3">&#xE8F3;</i></li>
  <li><i class="material-icons" data-name="visibility" data-char="E8F4">&#xE8F4;</i></li>
  <li><i class="material-icons" data-name="visibility_off" data-char="E8F5">&#xE8F5;</i></li>
  <li><i class="material-icons" data-name="watch_later" data-char="E924">&#xE924;</i></li>
  <li><i class="material-icons" data-name="work" data-char="E8F9">&#xE8F9;</i></li>
  <li><i class="material-icons" data-name="youtube_searched_for" data-char="E8FA">&#xE8FA;</i></li>
  <li><i class="material-icons" data-name="zoom_in" data-char="E8FF">&#xE8FF;</i></li>
  <li><i class="material-icons" data-name="zoom_out" data-char="E900">&#xE900;</i></li>

</ul>
