<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="add_alert" data-char="E003">&#xE003;</i></li>
  <li><i class="material-icons" data-name="error" data-char="E000">&#xE000;</i></li>
  <li><i class="material-icons" data-name="error_outline" data-char="E001">&#xE001;</i></li>
  <li><i class="material-icons" data-name="warning" data-char="E002">&#xE002;</i></li>

</ul>
