<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="add_to_queue" data-char="E05C">&#xE05C;</i></li>
  <li><i class="material-icons" data-name="airplay" data-char="E055">&#xE055;</i></li>
  <li><i class="material-icons" data-name="album" data-char="E019">&#xE019;</i></li>
  <li><i class="material-icons" data-name="art_track" data-char="E060">&#xE060;</i></li>
  <li><i class="material-icons" data-name="av_timer" data-char="E01B">&#xE01B;</i></li>
  <li><i class="material-icons" data-name="branding_watermark" data-char="E06B">&#xE06B;</i></li>
  <li><i class="material-icons" data-name="call_to_action" data-char="E06C">&#xE06C;</i></li>
  <li><i class="material-icons" data-name="closed_caption" data-char="E01C">&#xE01C;</i></li>
  <li><i class="material-icons" data-name="equalizer" data-char="E01D">&#xE01D;</i></li>
  <li><i class="material-icons" data-name="explicit" data-char="E01E">&#xE01E;</i></li>
  <li><i class="material-icons" data-name="fast_forward" data-char="E01F">&#xE01F;</i></li>
  <li><i class="material-icons" data-name="fast_rewind" data-char="E020">&#xE020;</i></li>
  <li><i class="material-icons" data-name="featured_play_list" data-char="E06D">&#xE06D;</i></li>
  <li><i class="material-icons" data-name="featured_video" data-char="E06E">&#xE06E;</i></li>
  <li><i class="material-icons" data-name="fiber_dvr" data-char="E05D">&#xE05D;</i></li>
  <li><i class="material-icons" data-name="fiber_manual_record" data-char="E061">&#xE061;</i></li>
  <li><i class="material-icons" data-name="fiber_new" data-char="E05E">&#xE05E;</i></li>
  <li><i class="material-icons" data-name="fiber_pin" data-char="E06A">&#xE06A;</i></li>
  <li><i class="material-icons" data-name="fiber_smart_record" data-char="E062">&#xE062;</i></li>
  <li><i class="material-icons" data-name="forward_5" data-char="E058">&#xE058;</i></li>
  <li><i class="material-icons" data-name="forward_10" data-char="E056">&#xE056;</i></li>
  <li><i class="material-icons" data-name="forward_30" data-char="E057">&#xE057;</i></li>
  <li><i class="material-icons" data-name="games" data-char="E021">&#xE021;</i></li>
  <li><i class="material-icons" data-name="hd" data-char="E052">&#xE052;</i></li>
  <li><i class="material-icons" data-name="hearing" data-char="E023">&#xE023;</i></li>
  <li><i class="material-icons" data-name="high_quality" data-char="E024">&#xE024;</i></li>
  <li><i class="material-icons" data-name="library_add" data-char="E02E">&#xE02E;</i></li>
  <li><i class="material-icons" data-name="library_books" data-char="E02F">&#xE02F;</i></li>
  <li><i class="material-icons" data-name="library_music" data-char="E030">&#xE030;</i></li>
  <li><i class="material-icons" data-name="loop" data-char="E028">&#xE028;</i></li>
  <li><i class="material-icons" data-name="mic" data-char="E029">&#xE029;</i></li>
  <li><i class="material-icons" data-name="mic_none" data-char="E02A">&#xE02A;</i></li>
  <li><i class="material-icons" data-name="mic_off" data-char="E02B">&#xE02B;</i></li>
  <li><i class="material-icons" data-name="movie" data-char="E02C">&#xE02C;</i></li>
  <li><i class="material-icons" data-name="music_video" data-char="E063">&#xE063;</i></li>
  <li><i class="material-icons" data-name="new_releases" data-char="E031">&#xE031;</i></li>
  <li><i class="material-icons" data-name="not_interested" data-char="E033">&#xE033;</i></li>
  <li><i class="material-icons" data-name="note" data-char="E06F">&#xE06F;</i></li>
  <li><i class="material-icons" data-name="pause" data-char="E034">&#xE034;</i></li>
  <li><i class="material-icons" data-name="pause_circle_filled" data-char="E035">&#xE035;</i></li>
  <li><i class="material-icons" data-name="pause_circle_outline" data-char="E036">&#xE036;</i></li>
  <li><i class="material-icons" data-name="play_arrow" data-char="E037">&#xE037;</i></li>
  <li><i class="material-icons" data-name="play_circle_filled" data-char="E038">&#xE038;</i></li>
  <li><i class="material-icons" data-name="play_circle_outline" data-char="E039">&#xE039;</i></li>
  <li><i class="material-icons" data-name="playlist_add" data-char="E03B">&#xE03B;</i></li>
  <li><i class="material-icons" data-name="playlist_add_check" data-char="E065">&#xE065;</i></li>
  <li><i class="material-icons" data-name="playlist_play" data-char="E05F">&#xE05F;</i></li>
  <li><i class="material-icons" data-name="queue" data-char="E03C">&#xE03C;</i></li>
  <li><i class="material-icons" data-name="queue_music" data-char="E03D">&#xE03D;</i></li>
  <li><i class="material-icons" data-name="queue_play_next" data-char="E066">&#xE066;</i></li>
  <li><i class="material-icons" data-name="radio" data-char="E03E">&#xE03E;</i></li>
  <li><i class="material-icons" data-name="recent_actors" data-char="E03F">&#xE03F;</i></li>
  <li><i class="material-icons" data-name="remove_from_queue" data-char="E067">&#xE067;</i></li>
  <li><i class="material-icons" data-name="repeat" data-char="E040">&#xE040;</i></li>
  <li><i class="material-icons" data-name="repeat_one" data-char="E041">&#xE041;</i></li>
  <li><i class="material-icons" data-name="replay" data-char="E042">&#xE042;</i></li>
  <li><i class="material-icons" data-name="replay_10" data-char="E059">&#xE059;</i></li>
  <li><i class="material-icons" data-name="replay_30" data-char="E05A">&#xE05A;</i></li>
  <li><i class="material-icons" data-name="replay_5" data-char="E05B">&#xE05B;</i></li>
  <li><i class="material-icons" data-name="shuffle" data-char="E043">&#xE043;</i></li>
  <li><i class="material-icons" data-name="skip_next" data-char="E044">&#xE044;</i></li>
  <li><i class="material-icons" data-name="skip_previous" data-char="E045">&#xE045;</i></li>
  <li><i class="material-icons" data-name="slow_motion_video" data-char="E068">&#xE068;</i></li>
  <li><i class="material-icons" data-name="snooze" data-char="E046">&#xE046;</i></li>
  <li><i class="material-icons" data-name="sort_by_alpha" data-char="E053">&#xE053;</i></li>
  <li><i class="material-icons" data-name="stop" data-char="E047">&#xE047;</i></li>
  <li><i class="material-icons" data-name="subscriptions" data-char="E064">&#xE064;</i></li>
  <li><i class="material-icons" data-name="subtitles" data-char="E048">&#xE048;</i></li>
  <li><i class="material-icons" data-name="surround_sound" data-char="E049">&#xE049;</i></li>
  <li><i class="material-icons" data-name="video_call" data-char="E070">&#xE070;</i></li>
  <li><i class="material-icons" data-name="video_label" data-char="E071">&#xE071;</i></li>
  <li><i class="material-icons" data-name="video_library" data-char="E04A">&#xE04A;</i></li>
  <li><i class="material-icons" data-name="videocam" data-char="E04B">&#xE04B;</i></li>
  <li><i class="material-icons" data-name="videocam_off" data-char="E04C">&#xE04C;</i></li>
  <li><i class="material-icons" data-name="volume_down" data-char="E04D">&#xE04D;</i></li>
  <li><i class="material-icons" data-name="volume_mute" data-char="E04E">&#xE04E;</i></li>
  <li><i class="material-icons" data-name="volume_off" data-char="E04F">&#xE04F;</i></li>
  <li><i class="material-icons" data-name="volume_up" data-char="E050">&#xE050;</i></li>
  <li><i class="material-icons" data-name="web" data-char="E051">&#xE051;</i></li>
  <li><i class="material-icons" data-name="web_asset" data-char="E069">&#xE069;</i></li>

</ul>
