<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="business" data-char="E0AF">&#xE0AF;</i></li>
  <li><i class="material-icons" data-name="call" data-char="E0B0">&#xE0B0;</i></li>
  <li><i class="material-icons" data-name="call_end" data-char="E0B1">&#xE0B1;</i></li>
  <li><i class="material-icons" data-name="call_made" data-char="E0B2">&#xE0B2;</i></li>
  <li><i class="material-icons" data-name="call_merge" data-char="E0B3">&#xE0B3;</i></li>
  <li><i class="material-icons" data-name="call_missed" data-char="E0B4">&#xE0B4;</i></li>
  <li><i class="material-icons" data-name="call_missed_outgoing" data-char="E0E4">&#xE0E4;</i></li>
  <li><i class="material-icons" data-name="call_received" data-char="E0B5">&#xE0B5;</i></li>
  <li><i class="material-icons" data-name="call_split" data-char="E0B6">&#xE0B6;</i></li>
  <li><i class="material-icons" data-name="chat" data-char="E0B7">&#xE0B7;</i></li>
  <li><i class="material-icons" data-name="chat_bubble" data-char="E0CA">&#xE0CA;</i></li>
  <li><i class="material-icons" data-name="chat_bubble_outline" data-char="E0CB">&#xE0CB;</i></li>
  <li><i class="material-icons" data-name="clear_all" data-char="E0B8">&#xE0B8;</i></li>
  <li><i class="material-icons" data-name="comment" data-char="E0B9">&#xE0B9;</i></li>
  <li><i class="material-icons" data-name="contact_mail" data-char="E0D0">&#xE0D0;</i></li>
  <li><i class="material-icons" data-name="contact_phone" data-char="E0CF">&#xE0CF;</i></li>
  <li><i class="material-icons" data-name="contacts" data-char="E0BA">&#xE0BA;</i></li>
  <li><i class="material-icons" data-name="dialer_sip" data-char="E0BB">&#xE0BB;</i></li>
  <li><i class="material-icons" data-name="dialpad" data-char="E0BC">&#xE0BC;</i></li>
  <li><i class="material-icons" data-name="email" data-char="E0BE">&#xE0BE;</i></li>
  <li><i class="material-icons" data-name="forum" data-char="E0BF">&#xE0BF;</i></li>
  <li><i class="material-icons" data-name="import_contacts" data-char="E0E0">&#xE0E0;</i></li>
  <li><i class="material-icons" data-name="import_export" data-char="E0C3">&#xE0C3;</i></li>
  <li><i class="material-icons" data-name="invert_colors_off" data-char="E0C4">&#xE0C4;</i></li>
  <li><i class="material-icons" data-name="live_help" data-char="E0C6">&#xE0C6;</i></li>
  <li><i class="material-icons" data-name="location_off" data-char="E0C7">&#xE0C7;</i></li>
  <li><i class="material-icons" data-name="location_on" data-char="E0C8">&#xE0C8;</i></li>
  <li><i class="material-icons" data-name="mail_outline" data-char="E0E1">&#xE0E1;</i></li>
  <li><i class="material-icons" data-name="message" data-char="E0C9">&#xE0C9;</i></li>
  <li><i class="material-icons" data-name="no_sim" data-char="E0CC">&#xE0CC;</i></li>
  <li><i class="material-icons" data-name="phone" data-char="E0CD">&#xE0CD;</i></li>
  <li><i class="material-icons" data-name="phonelink_erase" data-char="E0DB">&#xE0DB;</i></li>
  <li><i class="material-icons" data-name="phonelink_lock" data-char="E0DC">&#xE0DC;</i></li>
  <li><i class="material-icons" data-name="phonelink_ring" data-char="E0DD">&#xE0DD;</i></li>
  <li><i class="material-icons" data-name="phonelink_setup" data-char="E0DE">&#xE0DE;</i></li>
  <li><i class="material-icons" data-name="portable_wifi_off" data-char="E0CE">&#xE0CE;</i></li>
  <li><i class="material-icons" data-name="present_to_all" data-char="E0DF">&#xE0DF;</i></li>
  <li><i class="material-icons" data-name="ring_volume" data-char="E0D1">&#xE0D1;</i></li>
  <li><i class="material-icons" data-name="rss_feed" data-char="E0E5">&#xE0E5;</i></li>
  <li><i class="material-icons" data-name="screen_share" data-char="E0E2">&#xE0E2;</i></li>
  <li><i class="material-icons" data-name="speaker_phone" data-char="E0D2">&#xE0D2;</i></li>
  <li><i class="material-icons" data-name="stay_current_landscape" data-char="E0D3">&#xE0D3;</i></li>
  <li><i class="material-icons" data-name="stay_current_portrait" data-char="E0D4">&#xE0D4;</i></li>
  <li><i class="material-icons" data-name="stay_primary_landscape" data-char="E0D5">&#xE0D5;</i></li>
  <li><i class="material-icons" data-name="stay_primary_portrait" data-char="E0D6">&#xE0D6;</i></li>
  <li><i class="material-icons" data-name="stop_screen_share" data-char="E0E3">&#xE0E3;</i></li>
  <li><i class="material-icons" data-name="swap_calls" data-char="E0D7">&#xE0D7;</i></li>
  <li><i class="material-icons" data-name="textsms" data-char="E0D8">&#xE0D8;</i></li>
  <li><i class="material-icons" data-name="voicemail" data-char="E0D9">&#xE0D9;</i></li>
  <li><i class="material-icons" data-name="vpn_key" data-char="E0DA">&#xE0DA;</i></li>

</ul>
