<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="add" data-char="E145">&#xE145;</i></li>
  <li><i class="material-icons" data-name="add_box" data-char="E146">&#xE146;</i></li>
  <li><i class="material-icons" data-name="add_circle" data-char="E147">&#xE147;</i></li>
  <li><i class="material-icons" data-name="add_circle_outline" data-char="E148">&#xE148;</i></li>
  <li><i class="material-icons" data-name="archive" data-char="E149">&#xE149;</i></li>
  <li><i class="material-icons" data-name="backspace" data-char="E14A">&#xE14A;</i></li>
  <li><i class="material-icons" data-name="block" data-char="E14B">&#xE14B;</i></li>
  <li><i class="material-icons" data-name="clear" data-char="E14C">&#xE14C;</i></li>
  <li><i class="material-icons" data-name="content_copy" data-char="E14D">&#xE14D;</i></li>
  <li><i class="material-icons" data-name="content_cut" data-char="E14E">&#xE14E;</i></li>
  <li><i class="material-icons" data-name="content_paste" data-char="E14F">&#xE14F;</i></li>
  <li><i class="material-icons" data-name="create" data-char="E150">&#xE150;</i></li>
  <li><i class="material-icons" data-name="delete_sweep" data-char="E16C">&#xE16C;</i></li>
  <li><i class="material-icons" data-name="drafts" data-char="E151">&#xE151;</i></li>
  <li><i class="material-icons" data-name="filter_list" data-char="E152">&#xE152;</i></li>
  <li><i class="material-icons" data-name="flag" data-char="E153">&#xE153;</i></li>
  <li><i class="material-icons" data-name="font_download" data-char="E167">&#xE167;</i></li>
  <li><i class="material-icons" data-name="forward" data-char="E154">&#xE154;</i></li>
  <li><i class="material-icons" data-name="gesture" data-char="E155">&#xE155;</i></li>
  <li><i class="material-icons" data-name="inbox" data-char="E156">&#xE156;</i></li>
  <li><i class="material-icons" data-name="link" data-char="E157">&#xE157;</i></li>
  <li><i class="material-icons" data-name="low_priority" data-char="E16D">&#xE16D;</i></li>
  <li><i class="material-icons" data-name="mail" data-char="E158">&#xE158;</i></li>
  <li><i class="material-icons" data-name="markunread" data-char="E159">&#xE159;</i></li>
  <li><i class="material-icons" data-name="move_to_inbox" data-char="E168">&#xE168;</i></li>
  <li><i class="material-icons" data-name="next_week" data-char="E16A">&#xE16A;</i></li>
  <li><i class="material-icons" data-name="redo" data-char="E15A">&#xE15A;</i></li>
  <li><i class="material-icons" data-name="remove" data-char="E15B">&#xE15B;</i></li>
  <li><i class="material-icons" data-name="remove_circle" data-char="E15C">&#xE15C;</i></li>
  <li><i class="material-icons" data-name="remove_circle_outline" data-char="E15D">&#xE15D;</i></li>
  <li><i class="material-icons" data-name="reply" data-char="E15E">&#xE15E;</i></li>
  <li><i class="material-icons" data-name="reply_all" data-char="E15F">&#xE15F;</i></li>
  <li><i class="material-icons" data-name="report" data-char="E160">&#xE160;</i></li>
  <li><i class="material-icons" data-name="save" data-char="E161">&#xE161;</i></li>
  <li><i class="material-icons" data-name="select_all" data-char="E162">&#xE162;</i></li>
  <li><i class="material-icons" data-name="send" data-char="E163">&#xE163;</i></li>
  <li><i class="material-icons" data-name="sort" data-char="E164">&#xE164;</i></li>
  <li><i class="material-icons" data-name="text_format" data-char="E165">&#xE165;</i></li>
  <li><i class="material-icons" data-name="unarchive" data-char="E169">&#xE169;</i></li>
  <li><i class="material-icons" data-name="undo" data-char="E166">&#xE166;</i></li>
  <li><i class="material-icons" data-name="weekend" data-char="E16B">&#xE16B;</i></li>

</ul>
