<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="access_alarm" data-char="E190">&#xE190;</i></li>
  <li><i class="material-icons" data-name="access_alarms" data-char="E191">&#xE191;</i></li>
  <li><i class="material-icons" data-name="access_time" data-char="E192">&#xE192;</i></li>
  <li><i class="material-icons" data-name="add_alarm" data-char="E193">&#xE193;</i></li>
  <li><i class="material-icons" data-name="airplanemode_active" data-char="E195">&#xE195;</i></li>
  <li><i class="material-icons" data-name="airplanemode_inactive" data-char="E194">&#xE194;</i></li>
  <li><i class="material-icons" data-name="battery_alert" data-char="E19C">&#xE19C;</i></li>
  <li><i class="material-icons" data-name="battery_charging_full" data-char="E1A3">&#xE1A3;</i></li>
  <li><i class="material-icons" data-name="battery_full" data-char="E1A4">&#xE1A4;</i></li>
  <li><i class="material-icons" data-name="battery_std" data-char="E1A5">&#xE1A5;</i></li>
  <li><i class="material-icons" data-name="battery_unknown" data-char="E1A6">&#xE1A6;</i></li>
  <li><i class="material-icons" data-name="bluetooth" data-char="E1A7">&#xE1A7;</i></li>
  <li><i class="material-icons" data-name="bluetooth_connected" data-char="E1A8">&#xE1A8;</i></li>
  <li><i class="material-icons" data-name="bluetooth_disabled" data-char="E1A9">&#xE1A9;</i></li>
  <li><i class="material-icons" data-name="bluetooth_searching" data-char="E1AA">&#xE1AA;</i></li>
  <li><i class="material-icons" data-name="brightness_auto" data-char="E1AB">&#xE1AB;</i></li>
  <li><i class="material-icons" data-name="brightness_high" data-char="E1AC">&#xE1AC;</i></li>
  <li><i class="material-icons" data-name="brightness_low" data-char="E1AD">&#xE1AD;</i></li>
  <li><i class="material-icons" data-name="brightness_medium" data-char="E1AE">&#xE1AE;</i></li>
  <li><i class="material-icons" data-name="data_usage" data-char="E1AF">&#xE1AF;</i></li>
  <li><i class="material-icons" data-name="developer_mode" data-char="E1B0">&#xE1B0;</i></li>
  <li><i class="material-icons" data-name="devices" data-char="E1B1">&#xE1B1;</i></li>
  <li><i class="material-icons" data-name="dvr" data-char="E1B2">&#xE1B2;</i></li>
  <li><i class="material-icons" data-name="gps_fixed" data-char="E1B3">&#xE1B3;</i></li>
  <li><i class="material-icons" data-name="gps_not_fixed" data-char="E1B4">&#xE1B4;</i></li>
  <li><i class="material-icons" data-name="gps_off" data-char="E1B5">&#xE1B5;</i></li>
  <li><i class="material-icons" data-name="graphic_eq" data-char="E1B8">&#xE1B8;</i></li>
  <li><i class="material-icons" data-name="location_disabled" data-char="E1B6">&#xE1B6;</i></li>
  <li><i class="material-icons" data-name="location_searching" data-char="E1B7">&#xE1B7;</i></li>
  <li><i class="material-icons" data-name="network_cell" data-char="E1B9">&#xE1B9;</i></li>
  <li><i class="material-icons" data-name="network_wifi" data-char="E1BA">&#xE1BA;</i></li>
  <li><i class="material-icons" data-name="nfc" data-char="E1BB">&#xE1BB;</i></li>
  <li><i class="material-icons" data-name="screen_lock_landscape" data-char="E1BE">&#xE1BE;</i></li>
  <li><i class="material-icons" data-name="screen_lock_portrait" data-char="E1BF">&#xE1BF;</i></li>
  <li><i class="material-icons" data-name="screen_lock_rotation" data-char="E1C0">&#xE1C0;</i></li>
  <li><i class="material-icons" data-name="screen_rotation" data-char="E1C1">&#xE1C1;</i></li>
  <li><i class="material-icons" data-name="sd_storage" data-char="E1C2">&#xE1C2;</i></li>
  <li><i class="material-icons" data-name="settings_system_daydream" data-char="E1C3">&#xE1C3;</i></li>
  <li><i class="material-icons" data-name="signal_cellular_4_bar" data-char="E1C8">&#xE1C8;</i></li>
  <li><i class="material-icons" data-name="signal_cellular_connected_no_internet_4_bar" data-char="E1CD">&#xE1CD;</i></li>
  <li><i class="material-icons" data-name="signal_cellular_no_sim" data-char="E1CE">&#xE1CE;</i></li>
  <li><i class="material-icons" data-name="signal_cellular_null" data-char="E1CF">&#xE1CF;</i></li>
  <li><i class="material-icons" data-name="signal_cellular_off" data-char="E1D0">&#xE1D0;</i></li>
  <li><i class="material-icons" data-name="signal_wifi_4_bar" data-char="E1D8">&#xE1D8;</i></li>
  <li><i class="material-icons" data-name="signal_wifi_4_bar_lock" data-char="E1D9">&#xE1D9;</i></li>
  <li><i class="material-icons" data-name="signal_wifi_off" data-char="E1DA">&#xE1DA;</i></li>
  <li><i class="material-icons" data-name="storage" data-char="E1DB">&#xE1DB;</i></li>
  <li><i class="material-icons" data-name="usb" data-char="E1E0">&#xE1E0;</i></li>
  <li><i class="material-icons" data-name="wallpaper" data-char="E1BC">&#xE1BC;</i></li>
  <li><i class="material-icons" data-name="widgets" data-char="E1BD">&#xE1BD;</i></li>
  <li><i class="material-icons" data-name="wifi_lock" data-char="E1E1">&#xE1E1;</i></li>
  <li><i class="material-icons" data-name="wifi_tethering" data-char="E1E2">&#xE1E2;</i></li>

</ul>
