<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="attach_file" data-char="E226">&#xE226;</i></li>
  <li><i class="material-icons" data-name="attach_money" data-char="E227">&#xE227;</i></li>
  <li><i class="material-icons" data-name="border_all" data-char="E228">&#xE228;</i></li>
  <li><i class="material-icons" data-name="border_bottom" data-char="E229">&#xE229;</i></li>
  <li><i class="material-icons" data-name="border_clear" data-char="E22A">&#xE22A;</i></li>
  <li><i class="material-icons" data-name="border_color" data-char="E22B">&#xE22B;</i></li>
  <li><i class="material-icons" data-name="border_horizontal" data-char="E22C">&#xE22C;</i></li>
  <li><i class="material-icons" data-name="border_inner" data-char="E22D">&#xE22D;</i></li>
  <li><i class="material-icons" data-name="border_left" data-char="E22E">&#xE22E;</i></li>
  <li><i class="material-icons" data-name="border_outer" data-char="E22F">&#xE22F;</i></li>
  <li><i class="material-icons" data-name="border_right" data-char="E230">&#xE230;</i></li>
  <li><i class="material-icons" data-name="border_style" data-char="E231">&#xE231;</i></li>
  <li><i class="material-icons" data-name="border_top" data-char="E232">&#xE232;</i></li>
  <li><i class="material-icons" data-name="border_vertical" data-char="E233">&#xE233;</i></li>
  <li><i class="material-icons" data-name="bubble_chart" data-char="E6DD">&#xE6DD;</i></li>
  <li><i class="material-icons" data-name="drag_handle" data-char="E25D">&#xE25D;</i></li>
  <li><i class="material-icons" data-name="format_align_center" data-char="E234">&#xE234;</i></li>
  <li><i class="material-icons" data-name="format_align_justify" data-char="E235">&#xE235;</i></li>
  <li><i class="material-icons" data-name="format_align_left" data-char="E236">&#xE236;</i></li>
  <li><i class="material-icons" data-name="format_align_right" data-char="E237">&#xE237;</i></li>
  <li><i class="material-icons" data-name="format_bold" data-char="E238">&#xE238;</i></li>
  <li><i class="material-icons" data-name="format_clear" data-char="E239">&#xE239;</i></li>
  <li><i class="material-icons" data-name="format_color_fill" data-char="E23A">&#xE23A;</i></li>
  <li><i class="material-icons" data-name="format_color_reset" data-char="E23B">&#xE23B;</i></li>
  <li><i class="material-icons" data-name="format_color_text" data-char="E23C">&#xE23C;</i></li>
  <li><i class="material-icons" data-name="format_indent_decrease" data-char="E23D">&#xE23D;</i></li>
  <li><i class="material-icons" data-name="format_indent_increase" data-char="E23E">&#xE23E;</i></li>
  <li><i class="material-icons" data-name="format_italic" data-char="E23F">&#xE23F;</i></li>
  <li><i class="material-icons" data-name="format_line_spacing" data-char="E240">&#xE240;</i></li>
  <li><i class="material-icons" data-name="format_list_bulleted" data-char="E241">&#xE241;</i></li>
  <li><i class="material-icons" data-name="format_list_numbered" data-char="E242">&#xE242;</i></li>
  <li><i class="material-icons" data-name="format_paint" data-char="E243">&#xE243;</i></li>
  <li><i class="material-icons" data-name="format_quote" data-char="E244">&#xE244;</i></li>
  <li><i class="material-icons" data-name="format_shapes" data-char="E25E">&#xE25E;</i></li>
  <li><i class="material-icons" data-name="format_size" data-char="E245">&#xE245;</i></li>
  <li><i class="material-icons" data-name="format_strikethrough" data-char="E246">&#xE246;</i></li>
  <li><i class="material-icons" data-name="format_textdirection_l_to_r" data-char="E247">&#xE247;</i></li>
  <li><i class="material-icons" data-name="format_textdirection_r_to_l" data-char="E248">&#xE248;</i></li>
  <li><i class="material-icons" data-name="format_underlined" data-char="E249">&#xE249;</i></li>
  <li><i class="material-icons" data-name="functions" data-char="E24A">&#xE24A;</i></li>
  <li><i class="material-icons" data-name="highlight" data-char="E25F">&#xE25F;</i></li>
  <li><i class="material-icons" data-name="insert_chart" data-char="E24B">&#xE24B;</i></li>
  <li><i class="material-icons" data-name="insert_comment" data-char="E24C">&#xE24C;</i></li>
  <li><i class="material-icons" data-name="insert_drive_file" data-char="E24D">&#xE24D;</i></li>
  <li><i class="material-icons" data-name="insert_emoticon" data-char="E24E">&#xE24E;</i></li>
  <li><i class="material-icons" data-name="insert_invitation" data-char="E24F">&#xE24F;</i></li>
  <li><i class="material-icons" data-name="insert_link" data-char="E250">&#xE250;</i></li>
  <li><i class="material-icons" data-name="insert_photo" data-char="E251">&#xE251;</i></li>
  <li><i class="material-icons" data-name="linear_scale" data-char="E260">&#xE260;</i></li>
  <li><i class="material-icons" data-name="merge_type" data-char="E252">&#xE252;</i></li>
  <li><i class="material-icons" data-name="mode_comment" data-char="E253">&#xE253;</i></li>
  <li><i class="material-icons" data-name="mode_edit" data-char="E254">&#xE254;</i></li>
  <li><i class="material-icons" data-name="monetization_on" data-char="E263">&#xE263;</i></li>
  <li><i class="material-icons" data-name="money_off" data-char="E25C">&#xE25C;</i></li>
  <li><i class="material-icons" data-name="multiline_chart" data-char="E6DF">&#xE6DF;</i></li>
  <li><i class="material-icons" data-name="pie_chart" data-char="E6C4">&#xE6C4;</i></li>
  <li><i class="material-icons" data-name="pie_chart_outlined" data-char="E6C5">&#xE6C5;</i></li>
  <li><i class="material-icons" data-name="publish" data-char="E255">&#xE255;</i></li>
  <li><i class="material-icons" data-name="short_text" data-char="E261">&#xE261;</i></li>
  <li><i class="material-icons" data-name="show_chart" data-char="E6E1">&#xE6E1;</i></li>
  <li><i class="material-icons" data-name="space_bar" data-char="E256">&#xE256;</i></li>
  <li><i class="material-icons" data-name="strikethrough_s" data-char="E257">&#xE257;</i></li>
  <li><i class="material-icons" data-name="text_fields" data-char="E262">&#xE262;</i></li>
  <li><i class="material-icons" data-name="title" data-char="E264">&#xE264;</i></li>
  <li><i class="material-icons" data-name="vertical_align_bottom" data-char="E258">&#xE258;</i></li>
  <li><i class="material-icons" data-name="vertical_align_center" data-char="E259">&#xE259;</i></li>
  <li><i class="material-icons" data-name="vertical_align_top" data-char="E25A">&#xE25A;</i></li>
  <li><i class="material-icons" data-name="wrap_text" data-char="E25B">&#xE25B;</i></li>

</ul>
