<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="attachment" data-char="E2BC">&#xE2BC;</i></li>
  <li><i class="material-icons" data-name="cloud" data-char="E2BD">&#xE2BD;</i></li>
  <li><i class="material-icons" data-name="cloud_circle" data-char="E2BE">&#xE2BE;</i></li>
  <li><i class="material-icons" data-name="cloud_done" data-char="E2BF">&#xE2BF;</i></li>
  <li><i class="material-icons" data-name="cloud_download" data-char="E2C0">&#xE2C0;</i></li>
  <li><i class="material-icons" data-name="cloud_off" data-char="E2C1">&#xE2C1;</i></li>
  <li><i class="material-icons" data-name="cloud_queue" data-char="E2C2">&#xE2C2;</i></li>
  <li><i class="material-icons" data-name="cloud_upload" data-char="E2C3">&#xE2C3;</i></li>
  <li><i class="material-icons" data-name="create_new_folder" data-char="E2CC">&#xE2CC;</i></li>
  <li><i class="material-icons" data-name="file_download" data-char="E2C4">&#xE2C4;</i></li>
  <li><i class="material-icons" data-name="file_upload" data-char="E2C6">&#xE2C6;</i></li>
  <li><i class="material-icons" data-name="folder" data-char="E2C7">&#xE2C7;</i></li>
  <li><i class="material-icons" data-name="folder_open" data-char="E2C8">&#xE2C8;</i></li>
  <li><i class="material-icons" data-name="folder_shared" data-char="E2C9">&#xE2C9;</i></li>

</ul>
