<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="cast" data-char="E307">&#xE307;</i></li>
  <li><i class="material-icons" data-name="cast_connected" data-char="E308">&#xE308;</i></li>
  <li><i class="material-icons" data-name="computer" data-char="E30A">&#xE30A;</i></li>
  <li><i class="material-icons" data-name="desktop_mac" data-char="E30B">&#xE30B;</i></li>
  <li><i class="material-icons" data-name="desktop_windows" data-char="E30C">&#xE30C;</i></li>
  <li><i class="material-icons" data-name="developer_board" data-char="E30D">&#xE30D;</i></li>
  <li><i class="material-icons" data-name="device_hub" data-char="E335">&#xE335;</i></li>
  <li><i class="material-icons" data-name="devices_other" data-char="E337">&#xE337;</i></li>
  <li><i class="material-icons" data-name="dock" data-char="E30E">&#xE30E;</i></li>
  <li><i class="material-icons" data-name="gamepad" data-char="E30F">&#xE30F;</i></li>
  <li><i class="material-icons" data-name="headset" data-char="E310">&#xE310;</i></li>
  <li><i class="material-icons" data-name="headset_mic" data-char="E311">&#xE311;</i></li>
  <li><i class="material-icons" data-name="keyboard" data-char="E312">&#xE312;</i></li>
  <li><i class="material-icons" data-name="keyboard_arrow_down" data-char="E313">&#xE313;</i></li>
  <li><i class="material-icons" data-name="keyboard_arrow_left" data-char="E314">&#xE314;</i></li>
  <li><i class="material-icons" data-name="keyboard_arrow_right" data-char="E315">&#xE315;</i></li>
  <li><i class="material-icons" data-name="keyboard_arrow_up" data-char="E316">&#xE316;</i></li>
  <li><i class="material-icons" data-name="keyboard_backspace" data-char="E317">&#xE317;</i></li>
  <li><i class="material-icons" data-name="keyboard_capslock" data-char="E318">&#xE318;</i></li>
  <li><i class="material-icons" data-name="keyboard_hide" data-char="E31A">&#xE31A;</i></li>
  <li><i class="material-icons" data-name="keyboard_return" data-char="E31B">&#xE31B;</i></li>
  <li><i class="material-icons" data-name="keyboard_tab" data-char="E31C">&#xE31C;</i></li>
  <li><i class="material-icons" data-name="keyboard_voice" data-char="E31D">&#xE31D;</i></li>
  <li><i class="material-icons" data-name="laptop" data-char="E31E">&#xE31E;</i></li>
  <li><i class="material-icons" data-name="laptop_chromebook" data-char="E31F">&#xE31F;</i></li>
  <li><i class="material-icons" data-name="laptop_mac" data-char="E320">&#xE320;</i></li>
  <li><i class="material-icons" data-name="laptop_windows" data-char="E321">&#xE321;</i></li>
  <li><i class="material-icons" data-name="memory" data-char="E322">&#xE322;</i></li>
  <li><i class="material-icons" data-name="mouse" data-char="E323">&#xE323;</i></li>
  <li><i class="material-icons" data-name="phone_android" data-char="E324">&#xE324;</i></li>
  <li><i class="material-icons" data-name="phone_iphone" data-char="E325">&#xE325;</i></li>
  <li><i class="material-icons" data-name="phonelink" data-char="E326">&#xE326;</i></li>
  <li><i class="material-icons" data-name="phonelink_off" data-char="E327">&#xE327;</i></li>
  <li><i class="material-icons" data-name="power_input" data-char="E336">&#xE336;</i></li>
  <li><i class="material-icons" data-name="router" data-char="E328">&#xE328;</i></li>
  <li><i class="material-icons" data-name="scanner" data-char="E329">&#xE329;</i></li>
  <li><i class="material-icons" data-name="security" data-char="E32A">&#xE32A;</i></li>
  <li><i class="material-icons" data-name="sim_card" data-char="E32B">&#xE32B;</i></li>
  <li><i class="material-icons" data-name="smartphone" data-char="E32C">&#xE32C;</i></li>
  <li><i class="material-icons" data-name="speaker" data-char="E32D">&#xE32D;</i></li>
  <li><i class="material-icons" data-name="speaker_group" data-char="E32E">&#xE32E;</i></li>
  <li><i class="material-icons" data-name="tablet" data-char="E32F">&#xE32F;</i></li>
  <li><i class="material-icons" data-name="tablet_android" data-char="E330">&#xE330;</i></li>
  <li><i class="material-icons" data-name="tablet_mac" data-char="E331">&#xE331;</i></li>
  <li><i class="material-icons" data-name="toys" data-char="E332">&#xE332;</i></li>
  <li><i class="material-icons" data-name="tv" data-char="E333">&#xE333;</i></li>
  <li><i class="material-icons" data-name="videogame_asset" data-char="E338">&#xE338;</i></li>
  <li><i class="material-icons" data-name="watch" data-char="E334">&#xE334;</i></li>

</ul>
