<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="add_a_photo" data-char="E439">&#xE439;</i></li>
  <li><i class="material-icons" data-name="add_to_photos" data-char="E39D">&#xE39D;</i></li>
  <li><i class="material-icons" data-name="adjust" data-char="E39E">&#xE39E;</i></li>
  <li><i class="material-icons" data-name="assistant" data-char="E39F">&#xE39F;</i></li>
  <li><i class="material-icons" data-name="assistant_photo" data-char="E3A0">&#xE3A0;</i></li>
  <li><i class="material-icons" data-name="audiotrack" data-char="E3A1">&#xE3A1;</i></li>
  <li><i class="material-icons" data-name="blur_circular" data-char="E3A2">&#xE3A2;</i></li>
  <li><i class="material-icons" data-name="blur_linear" data-char="E3A3">&#xE3A3;</i></li>
  <li><i class="material-icons" data-name="blur_off" data-char="E3A4">&#xE3A4;</i></li>
  <li><i class="material-icons" data-name="blur_on" data-char="E3A5">&#xE3A5;</i></li>
  <li><i class="material-icons" data-name="brightness_1" data-char="E3A6">&#xE3A6;</i></li>
  <li><i class="material-icons" data-name="brightness_2" data-char="E3A7">&#xE3A7;</i></li>
  <li><i class="material-icons" data-name="brightness_3" data-char="E3A8">&#xE3A8;</i></li>
  <li><i class="material-icons" data-name="brightness_4" data-char="E3A9">&#xE3A9;</i></li>
  <li><i class="material-icons" data-name="brightness_5" data-char="E3AA">&#xE3AA;</i></li>
  <li><i class="material-icons" data-name="brightness_6" data-char="E3AB">&#xE3AB;</i></li>
  <li><i class="material-icons" data-name="brightness_7" data-char="E3AC">&#xE3AC;</i></li>
  <li><i class="material-icons" data-name="broken_image" data-char="E3AD">&#xE3AD;</i></li>
  <li><i class="material-icons" data-name="brush" data-char="E3AE">&#xE3AE;</i></li>
  <li><i class="material-icons" data-name="burst_mode" data-char="E43C">&#xE43C;</i></li>
  <li><i class="material-icons" data-name="camera" data-char="E3AF">&#xE3AF;</i></li>
  <li><i class="material-icons" data-name="camera_alt" data-char="E3B0">&#xE3B0;</i></li>
  <li><i class="material-icons" data-name="camera_front" data-char="E3B1">&#xE3B1;</i></li>
  <li><i class="material-icons" data-name="camera_rear" data-char="E3B2">&#xE3B2;</i></li>
  <li><i class="material-icons" data-name="camera_roll" data-char="E3B3">&#xE3B3;</i></li>
  <li><i class="material-icons" data-name="center_focus_strong" data-char="E3B4">&#xE3B4;</i></li>
  <li><i class="material-icons" data-name="center_focus_weak" data-char="E3B5">&#xE3B5;</i></li>
  <li><i class="material-icons" data-name="collections" data-char="E3B6">&#xE3B6;</i></li>
  <li><i class="material-icons" data-name="collections_bookmark" data-char="E431">&#xE431;</i></li>
  <li><i class="material-icons" data-name="color_lens" data-char="E3B7">&#xE3B7;</i></li>
  <li><i class="material-icons" data-name="colorize" data-char="E3B8">&#xE3B8;</i></li>
  <li><i class="material-icons" data-name="compare" data-char="E3B9">&#xE3B9;</i></li>
  <li><i class="material-icons" data-name="control_point" data-char="E3BA">&#xE3BA;</i></li>
  <li><i class="material-icons" data-name="control_point_duplicate" data-char="E3BB">&#xE3BB;</i></li>
  <li><i class="material-icons" data-name="crop_3_2" data-char="E3BD">&#xE3BD;</i></li>
  <li><i class="material-icons" data-name="crop_5_4" data-char="E3BF">&#xE3BF;</i></li>
  <li><i class="material-icons" data-name="crop_7_5" data-char="E3C0">&#xE3C0;</i></li>
  <li><i class="material-icons" data-name="crop_16_9" data-char="E3BC">&#xE3BC;</i></li>
  <li><i class="material-icons" data-name="crop" data-char="E3BE">&#xE3BE;</i></li>
  <li><i class="material-icons" data-name="crop_din" data-char="E3C1">&#xE3C1;</i></li>
  <li><i class="material-icons" data-name="crop_free" data-char="E3C2">&#xE3C2;</i></li>
  <li><i class="material-icons" data-name="crop_landscape" data-char="E3C3">&#xE3C3;</i></li>
  <li><i class="material-icons" data-name="crop_original" data-char="E3C4">&#xE3C4;</i></li>
  <li><i class="material-icons" data-name="crop_portrait" data-char="E3C5">&#xE3C5;</i></li>
  <li><i class="material-icons" data-name="crop_rotate" data-char="E437">&#xE437;</i></li>
  <li><i class="material-icons" data-name="crop_square" data-char="E3C6">&#xE3C6;</i></li>
  <li><i class="material-icons" data-name="dehaze" data-char="E3C7">&#xE3C7;</i></li>
  <li><i class="material-icons" data-name="details" data-char="E3C8">&#xE3C8;</i></li>
  <li><i class="material-icons" data-name="edit" data-char="E3C9">&#xE3C9;</i></li>
  <li><i class="material-icons" data-name="exposure" data-char="E3CA">&#xE3CA;</i></li>
  <li><i class="material-icons" data-name="exposure_neg_1" data-char="E3CB">&#xE3CB;</i></li>
  <li><i class="material-icons" data-name="exposure_neg_2" data-char="E3CC">&#xE3CC;</i></li>
  <li><i class="material-icons" data-name="exposure_plus_1" data-char="E3CD">&#xE3CD;</i></li>
  <li><i class="material-icons" data-name="exposure_plus_2" data-char="E3CE">&#xE3CE;</i></li>
  <li><i class="material-icons" data-name="exposure_zero" data-char="E3CF">&#xE3CF;</i></li>
  <li><i class="material-icons" data-name="filter_1" data-char="E3D0">&#xE3D0;</i></li>
  <li><i class="material-icons" data-name="filter_2" data-char="E3D1">&#xE3D1;</i></li>
  <li><i class="material-icons" data-name="filter_3" data-char="E3D2">&#xE3D2;</i></li>
  <li><i class="material-icons" data-name="filter_4" data-char="E3D4">&#xE3D4;</i></li>
  <li><i class="material-icons" data-name="filter_5" data-char="E3D5">&#xE3D5;</i></li>
  <li><i class="material-icons" data-name="filter_6" data-char="E3D6">&#xE3D6;</i></li>
  <li><i class="material-icons" data-name="filter_7" data-char="E3D7">&#xE3D7;</i></li>
  <li><i class="material-icons" data-name="filter_8" data-char="E3D8">&#xE3D8;</i></li>
  <li><i class="material-icons" data-name="filter_9" data-char="E3D9">&#xE3D9;</i></li>
  <li><i class="material-icons" data-name="filter_9_plus" data-char="E3DA">&#xE3DA;</i></li>
  <li><i class="material-icons" data-name="filter" data-char="E3D3">&#xE3D3;</i></li>
  <li><i class="material-icons" data-name="filter_b_and_w" data-char="E3DB">&#xE3DB;</i></li>
  <li><i class="material-icons" data-name="filter_center_focus" data-char="E3DC">&#xE3DC;</i></li>
  <li><i class="material-icons" data-name="filter_drama" data-char="E3DD">&#xE3DD;</i></li>
  <li><i class="material-icons" data-name="filter_frames" data-char="E3DE">&#xE3DE;</i></li>
  <li><i class="material-icons" data-name="filter_hdr" data-char="E3DF">&#xE3DF;</i></li>
  <li><i class="material-icons" data-name="filter_none" data-char="E3E0">&#xE3E0;</i></li>
  <li><i class="material-icons" data-name="filter_tilt_shift" data-char="E3E2">&#xE3E2;</i></li>
  <li><i class="material-icons" data-name="filter_vintage" data-char="E3E3">&#xE3E3;</i></li>
  <li><i class="material-icons" data-name="flare" data-char="E3E4">&#xE3E4;</i></li>
  <li><i class="material-icons" data-name="flash_auto" data-char="E3E5">&#xE3E5;</i></li>
  <li><i class="material-icons" data-name="flash_off" data-char="E3E6">&#xE3E6;</i></li>
  <li><i class="material-icons" data-name="flash_on" data-char="E3E7">&#xE3E7;</i></li>
  <li><i class="material-icons" data-name="flip" data-char="E3E8">&#xE3E8;</i></li>
  <li><i class="material-icons" data-name="gradient" data-char="E3E9">&#xE3E9;</i></li>
  <li><i class="material-icons" data-name="grain" data-char="E3EA">&#xE3EA;</i></li>
  <li><i class="material-icons" data-name="grid_off" data-char="E3EB">&#xE3EB;</i></li>
  <li><i class="material-icons" data-name="grid_on" data-char="E3EC">&#xE3EC;</i></li>
  <li><i class="material-icons" data-name="hdr_off" data-char="E3ED">&#xE3ED;</i></li>
  <li><i class="material-icons" data-name="hdr_on" data-char="E3EE">&#xE3EE;</i></li>
  <li><i class="material-icons" data-name="hdr_strong" data-char="E3F1">&#xE3F1;</i></li>
  <li><i class="material-icons" data-name="hdr_weak" data-char="E3F2">&#xE3F2;</i></li>
  <li><i class="material-icons" data-name="healing" data-char="E3F3">&#xE3F3;</i></li>
  <li><i class="material-icons" data-name="image" data-char="E3F4">&#xE3F4;</i></li>
  <li><i class="material-icons" data-name="image_aspect_ratio" data-char="E3F5">&#xE3F5;</i></li>
  <li><i class="material-icons" data-name="iso" data-char="E3F6">&#xE3F6;</i></li>
  <li><i class="material-icons" data-name="landscape" data-char="E3F7">&#xE3F7;</i></li>
  <li><i class="material-icons" data-name="leak_add" data-char="E3F8">&#xE3F8;</i></li>
  <li><i class="material-icons" data-name="leak_remove" data-char="E3F9">&#xE3F9;</i></li>
  <li><i class="material-icons" data-name="lens" data-char="E3FA">&#xE3FA;</i></li>
  <li><i class="material-icons" data-name="linked_camera" data-char="E438">&#xE438;</i></li>
  <li><i class="material-icons" data-name="looks_3" data-char="E3FB">&#xE3FB;</i></li>
  <li><i class="material-icons" data-name="looks_4" data-char="E3FD">&#xE3FD;</i></li>
  <li><i class="material-icons" data-name="looks_5" data-char="E3FE">&#xE3FE;</i></li>
  <li><i class="material-icons" data-name="looks_6" data-char="E3FF">&#xE3FF;</i></li>
  <li><i class="material-icons" data-name="looks" data-char="E3FC">&#xE3FC;</i></li>
  <li><i class="material-icons" data-name="looks_one" data-char="E400">&#xE400;</i></li>
  <li><i class="material-icons" data-name="looks_two" data-char="E401">&#xE401;</i></li>
  <li><i class="material-icons" data-name="loupe" data-char="E402">&#xE402;</i></li>
  <li><i class="material-icons" data-name="monochrome_photos" data-char="E403">&#xE403;</i></li>
  <li><i class="material-icons" data-name="movie_creation" data-char="E404">&#xE404;</i></li>
  <li><i class="material-icons" data-name="movie_filter" data-char="E43A">&#xE43A;</i></li>
  <li><i class="material-icons" data-name="music_note" data-char="E405">&#xE405;</i></li>
  <li><i class="material-icons" data-name="nature" data-char="E406">&#xE406;</i></li>
  <li><i class="material-icons" data-name="nature_people" data-char="E407">&#xE407;</i></li>
  <li><i class="material-icons" data-name="navigate_before" data-char="E408">&#xE408;</i></li>
  <li><i class="material-icons" data-name="navigate_next" data-char="E409">&#xE409;</i></li>
  <li><i class="material-icons" data-name="palette" data-char="E40A">&#xE40A;</i></li>
  <li><i class="material-icons" data-name="panorama" data-char="E40B">&#xE40B;</i></li>
  <li><i class="material-icons" data-name="panorama_fish_eye" data-char="E40C">&#xE40C;</i></li>
  <li><i class="material-icons" data-name="panorama_horizontal" data-char="E40D">&#xE40D;</i></li>
  <li><i class="material-icons" data-name="panorama_vertical" data-char="E40E">&#xE40E;</i></li>
  <li><i class="material-icons" data-name="panorama_wide_angle" data-char="E40F">&#xE40F;</i></li>
  <li><i class="material-icons" data-name="photo" data-char="E410">&#xE410;</i></li>
  <li><i class="material-icons" data-name="photo_album" data-char="E411">&#xE411;</i></li>
  <li><i class="material-icons" data-name="photo_camera" data-char="E412">&#xE412;</i></li>
  <li><i class="material-icons" data-name="photo_filter" data-char="E43B">&#xE43B;</i></li>
  <li><i class="material-icons" data-name="photo_library" data-char="E413">&#xE413;</i></li>
  <li><i class="material-icons" data-name="photo_size_select_actual" data-char="E432">&#xE432;</i></li>
  <li><i class="material-icons" data-name="photo_size_select_large" data-char="E433">&#xE433;</i></li>
  <li><i class="material-icons" data-name="photo_size_select_small" data-char="E434">&#xE434;</i></li>
  <li><i class="material-icons" data-name="picture_as_pdf" data-char="E415">&#xE415;</i></li>
  <li><i class="material-icons" data-name="portrait" data-char="E416">&#xE416;</i></li>
  <li><i class="material-icons" data-name="remove_red_eye" data-char="E417">&#xE417;</i></li>
  <li><i class="material-icons" data-name="rotate_90_degrees_ccw" data-char="E418">&#xE418;</i></li>
  <li><i class="material-icons" data-name="rotate_left" data-char="E419">&#xE419;</i></li>
  <li><i class="material-icons" data-name="rotate_right" data-char="E41A">&#xE41A;</i></li>
  <li><i class="material-icons" data-name="slideshow" data-char="E41B">&#xE41B;</i></li>
  <li><i class="material-icons" data-name="straighten" data-char="E41C">&#xE41C;</i></li>
  <li><i class="material-icons" data-name="style" data-char="E41D">&#xE41D;</i></li>
  <li><i class="material-icons" data-name="switch_camera" data-char="E41E">&#xE41E;</i></li>
  <li><i class="material-icons" data-name="switch_video" data-char="E41F">&#xE41F;</i></li>
  <li><i class="material-icons" data-name="tag_faces" data-char="E420">&#xE420;</i></li>
  <li><i class="material-icons" data-name="texture" data-char="E421">&#xE421;</i></li>
  <li><i class="material-icons" data-name="timelapse" data-char="E422">&#xE422;</i></li>
  <li><i class="material-icons" data-name="timer_3" data-char="E424">&#xE424;</i></li>
  <li><i class="material-icons" data-name="timer_10" data-char="E423">&#xE423;</i></li>
  <li><i class="material-icons" data-name="timer" data-char="E425">&#xE425;</i></li>
  <li><i class="material-icons" data-name="timer_off" data-char="E426">&#xE426;</i></li>
  <li><i class="material-icons" data-name="tonality" data-char="E427">&#xE427;</i></li>
  <li><i class="material-icons" data-name="transform" data-char="E428">&#xE428;</i></li>
  <li><i class="material-icons" data-name="tune" data-char="E429">&#xE429;</i></li>
  <li><i class="material-icons" data-name="view_comfy" data-char="E42A">&#xE42A;</i></li>
  <li><i class="material-icons" data-name="view_compact" data-char="E42B">&#xE42B;</i></li>
  <li><i class="material-icons" data-name="vignette" data-char="E435">&#xE435;</i></li>
  <li><i class="material-icons" data-name="wb_auto" data-char="E42C">&#xE42C;</i></li>
  <li><i class="material-icons" data-name="wb_cloudy" data-char="E42D">&#xE42D;</i></li>
  <li><i class="material-icons" data-name="wb_incandescent" data-char="E42E">&#xE42E;</i></li>
  <li><i class="material-icons" data-name="wb_iridescent" data-char="E436">&#xE436;</i></li>
  <li><i class="material-icons" data-name="wb_sunny" data-char="E430">&#xE430;</i></li>

</ul>
