<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="add_location" data-char="E567">&#xE567;</i></li>
  <li><i class="material-icons" data-name="beenhere" data-char="E52D">&#xE52D;</i></li>
  <li><i class="material-icons" data-name="directions" data-char="E52E">&#xE52E;</i></li>
  <li><i class="material-icons" data-name="directions_bike" data-char="E52F">&#xE52F;</i></li>
  <li><i class="material-icons" data-name="directions_boat" data-char="E532">&#xE532;</i></li>
  <li><i class="material-icons" data-name="directions_bus" data-char="E530">&#xE530;</i></li>
  <li><i class="material-icons" data-name="directions_car" data-char="E531">&#xE531;</i></li>
  <li><i class="material-icons" data-name="directions_railway" data-char="E534">&#xE534;</i></li>
  <li><i class="material-icons" data-name="directions_run" data-char="E566">&#xE566;</i></li>
  <li><i class="material-icons" data-name="directions_subway" data-char="E533">&#xE533;</i></li>
  <li><i class="material-icons" data-name="directions_transit" data-char="E535">&#xE535;</i></li>
  <li><i class="material-icons" data-name="directions_walk" data-char="E536">&#xE536;</i></li>
  <li><i class="material-icons" data-name="edit_location" data-char="E568">&#xE568;</i></li>
  <li><i class="material-icons" data-name="ev_station" data-char="E56D">&#xE56D;</i></li>
  <li><i class="material-icons" data-name="flight" data-char="E539">&#xE539;</i></li>
  <li><i class="material-icons" data-name="hotel" data-char="E53A">&#xE53A;</i></li>
  <li><i class="material-icons" data-name="layers" data-char="E53B">&#xE53B;</i></li>
  <li><i class="material-icons" data-name="layers_clear" data-char="E53C">&#xE53C;</i></li>
  <li><i class="material-icons" data-name="local_activity" data-char="E53F">&#xE53F;</i></li>
  <li><i class="material-icons" data-name="local_airport" data-char="E53D">&#xE53D;</i></li>
  <li><i class="material-icons" data-name="local_atm" data-char="E53E">&#xE53E;</i></li>
  <li><i class="material-icons" data-name="local_bar" data-char="E540">&#xE540;</i></li>
  <li><i class="material-icons" data-name="local_cafe" data-char="E541">&#xE541;</i></li>
  <li><i class="material-icons" data-name="local_car_wash" data-char="E542">&#xE542;</i></li>
  <li><i class="material-icons" data-name="local_convenience_store" data-char="E543">&#xE543;</i></li>
  <li><i class="material-icons" data-name="local_dining" data-char="E556">&#xE556;</i></li>
  <li><i class="material-icons" data-name="local_drink" data-char="E544">&#xE544;</i></li>
  <li><i class="material-icons" data-name="local_florist" data-char="E545">&#xE545;</i></li>
  <li><i class="material-icons" data-name="local_gas_station" data-char="E546">&#xE546;</i></li>
  <li><i class="material-icons" data-name="local_grocery_store" data-char="E547">&#xE547;</i></li>
  <li><i class="material-icons" data-name="local_hospital" data-char="E548">&#xE548;</i></li>
  <li><i class="material-icons" data-name="local_hotel" data-char="E549">&#xE549;</i></li>
  <li><i class="material-icons" data-name="local_laundry_service" data-char="E54A">&#xE54A;</i></li>
  <li><i class="material-icons" data-name="local_library" data-char="E54B">&#xE54B;</i></li>
  <li><i class="material-icons" data-name="local_mall" data-char="E54C">&#xE54C;</i></li>
  <li><i class="material-icons" data-name="local_movies" data-char="E54D">&#xE54D;</i></li>
  <li><i class="material-icons" data-name="local_offer" data-char="E54E">&#xE54E;</i></li>
  <li><i class="material-icons" data-name="local_parking" data-char="E54F">&#xE54F;</i></li>
  <li><i class="material-icons" data-name="local_pharmacy" data-char="E550">&#xE550;</i></li>
  <li><i class="material-icons" data-name="local_phone" data-char="E551">&#xE551;</i></li>
  <li><i class="material-icons" data-name="local_pizza" data-char="E552">&#xE552;</i></li>
  <li><i class="material-icons" data-name="local_play" data-char="E553">&#xE553;</i></li>
  <li><i class="material-icons" data-name="local_post_office" data-char="E554">&#xE554;</i></li>
  <li><i class="material-icons" data-name="local_printshop" data-char="E555">&#xE555;</i></li>
  <li><i class="material-icons" data-name="local_see" data-char="E557">&#xE557;</i></li>
  <li><i class="material-icons" data-name="local_shipping" data-char="E558">&#xE558;</i></li>
  <li><i class="material-icons" data-name="local_taxi" data-char="E559">&#xE559;</i></li>
  <li><i class="material-icons" data-name="map" data-char="E55B">&#xE55B;</i></li>
  <li><i class="material-icons" data-name="my_location" data-char="E55C">&#xE55C;</i></li>
  <li><i class="material-icons" data-name="navigation" data-char="E55D">&#xE55D;</i></li>
  <li><i class="material-icons" data-name="near_me" data-char="E569">&#xE569;</i></li>
  <li><i class="material-icons" data-name="person_pin" data-char="E55A">&#xE55A;</i></li>
  <li><i class="material-icons" data-name="person_pin_circle" data-char="E56A">&#xE56A;</i></li>
  <li><i class="material-icons" data-name="pin_drop" data-char="E55E">&#xE55E;</i></li>
  <li><i class="material-icons" data-name="place" data-char="E55F">&#xE55F;</i></li>
  <li><i class="material-icons" data-name="rate_review" data-char="E560">&#xE560;</i></li>
  <li><i class="material-icons" data-name="restaurant" data-char="E56C">&#xE56C;</i></li>
  <li><i class="material-icons" data-name="restaurant_menu" data-char="E561">&#xE561;</i></li>
  <li><i class="material-icons" data-name="satellite" data-char="E562">&#xE562;</i></li>
  <li><i class="material-icons" data-name="store_mall_directory" data-char="E563">&#xE563;</i></li>
  <li><i class="material-icons" data-name="streetview" data-char="E56E">&#xE56E;</i></li>
  <li><i class="material-icons" data-name="subway" data-char="E56F">&#xE56F;</i></li>
  <li><i class="material-icons" data-name="terrain" data-char="E564">&#xE564;</i></li>
  <li><i class="material-icons" data-name="traffic" data-char="E565">&#xE565;</i></li>
  <li><i class="material-icons" data-name="train" data-char="E570">&#xE570;</i></li>
  <li><i class="material-icons" data-name="tram" data-char="E571">&#xE571;</i></li>
  <li><i class="material-icons" data-name="transfer_within_a_station" data-char="E572">&#xE572;</i></li>
  <li><i class="material-icons" data-name="zoom_out_map" data-char="E56B">&#xE56B;</i></li>

</ul>
