<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="apps" data-char="E5C3">&#xE5C3;</i></li>
  <li><i class="material-icons" data-name="arrow_back" data-char="E5C4">&#xE5C4;</i></li>
  <li><i class="material-icons" data-name="arrow_downward" data-char="E5DB">&#xE5DB;</i></li>
  <li><i class="material-icons" data-name="arrow_drop_down" data-char="E5C5">&#xE5C5;</i></li>
  <li><i class="material-icons" data-name="arrow_drop_down_circle" data-char="E5C6">&#xE5C6;</i></li>
  <li><i class="material-icons" data-name="arrow_drop_up" data-char="E5C7">&#xE5C7;</i></li>
  <li><i class="material-icons" data-name="arrow_forward" data-char="E5C8">&#xE5C8;</i></li>
  <li><i class="material-icons" data-name="arrow_upward" data-char="E5D8">&#xE5D8;</i></li>
  <li><i class="material-icons" data-name="cancel" data-char="E5C9">&#xE5C9;</i></li>
  <li><i class="material-icons" data-name="check" data-char="E5CA">&#xE5CA;</i></li>
  <li><i class="material-icons" data-name="chevron_left" data-char="E5CB">&#xE5CB;</i></li>
  <li><i class="material-icons" data-name="chevron_right" data-char="E5CC">&#xE5CC;</i></li>
  <li><i class="material-icons" data-name="close" data-char="E5CD">&#xE5CD;</i></li>
  <li><i class="material-icons" data-name="expand_less" data-char="E5CE">&#xE5CE;</i></li>
  <li><i class="material-icons" data-name="expand_more" data-char="E5CF">&#xE5CF;</i></li>
  <li><i class="material-icons" data-name="first_page" data-char="E5DC">&#xE5DC;</i></li>
  <li><i class="material-icons" data-name="fullscreen" data-char="E5D0">&#xE5D0;</i></li>
  <li><i class="material-icons" data-name="fullscreen_exit" data-char="E5D1">&#xE5D1;</i></li>
  <li><i class="material-icons" data-name="last_page" data-char="E5DD">&#xE5DD;</i></li>
  <li><i class="material-icons" data-name="menu" data-char="E5D2">&#xE5D2;</i></li>
  <li><i class="material-icons" data-name="more_horiz" data-char="E5D3">&#xE5D3;</i></li>
  <li><i class="material-icons" data-name="more_vert" data-char="E5D4">&#xE5D4;</i></li>
  <li><i class="material-icons" data-name="refresh" data-char="E5D5">&#xE5D5;</i></li>
  <li><i class="material-icons" data-name="subdirectory_arrow_left" data-char="E5D9">&#xE5D9;</i></li>
  <li><i class="material-icons" data-name="subdirectory_arrow_right" data-char="E5DA">&#xE5DA;</i></li>

</ul>
