<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="adb" data-char="E60E">&#xE60E;</i></li>
  <li><i class="material-icons" data-name="airline_seat_flat" data-char="E630">&#xE630;</i></li>
  <li><i class="material-icons" data-name="airline_seat_flat_angled" data-char="E631">&#xE631;</i></li>
  <li><i class="material-icons" data-name="airline_seat_individual_suite" data-char="E632">&#xE632;</i></li>
  <li><i class="material-icons" data-name="airline_seat_legroom_extra" data-char="E633">&#xE633;</i></li>
  <li><i class="material-icons" data-name="airline_seat_legroom_normal" data-char="E634">&#xE634;</i></li>
  <li><i class="material-icons" data-name="airline_seat_legroom_reduced" data-char="E635">&#xE635;</i></li>
  <li><i class="material-icons" data-name="airline_seat_recline_extra" data-char="E636">&#xE636;</i></li>
  <li><i class="material-icons" data-name="airline_seat_recline_normal" data-char="E637">&#xE637;</i></li>
  <li><i class="material-icons" data-name="bluetooth_audio" data-char="E60F">&#xE60F;</i></li>
  <li><i class="material-icons" data-name="confirmation_number" data-char="E638">&#xE638;</i></li>
  <li><i class="material-icons" data-name="disc_full" data-char="E610">&#xE610;</i></li>
  <li><i class="material-icons" data-name="do_not_disturb" data-char="E612">&#xE612;</i></li>
  <li><i class="material-icons" data-name="do_not_disturb_alt" data-char="E611">&#xE611;</i></li>
  <li><i class="material-icons" data-name="do_not_disturb_off" data-char="E643">&#xE643;</i></li>
  <li><i class="material-icons" data-name="do_not_disturb_on" data-char="E644">&#xE644;</i></li>
  <li><i class="material-icons" data-name="drive_eta" data-char="E613">&#xE613;</i></li>
  <li><i class="material-icons" data-name="enhanced_encryption" data-char="E63F">&#xE63F;</i></li>
  <li><i class="material-icons" data-name="event_available" data-char="E614">&#xE614;</i></li>
  <li><i class="material-icons" data-name="event_busy" data-char="E615">&#xE615;</i></li>
  <li><i class="material-icons" data-name="event_note" data-char="E616">&#xE616;</i></li>
  <li><i class="material-icons" data-name="folder_special" data-char="E617">&#xE617;</i></li>
  <li><i class="material-icons" data-name="live_tv" data-char="E639">&#xE639;</i></li>
  <li><i class="material-icons" data-name="mms" data-char="E618">&#xE618;</i></li>
  <li><i class="material-icons" data-name="more" data-char="E619">&#xE619;</i></li>
  <li><i class="material-icons" data-name="network_check" data-char="E640">&#xE640;</i></li>
  <li><i class="material-icons" data-name="network_locked" data-char="E61A">&#xE61A;</i></li>
  <li><i class="material-icons" data-name="no_encryption" data-char="E641">&#xE641;</i></li>
  <li><i class="material-icons" data-name="ondemand_video" data-char="E63A">&#xE63A;</i></li>
  <li><i class="material-icons" data-name="personal_video" data-char="E63B">&#xE63B;</i></li>
  <li><i class="material-icons" data-name="phone_bluetooth_speaker" data-char="E61B">&#xE61B;</i></li>
  <li><i class="material-icons" data-name="phone_forwarded" data-char="E61C">&#xE61C;</i></li>
  <li><i class="material-icons" data-name="phone_in_talk" data-char="E61D">&#xE61D;</i></li>
  <li><i class="material-icons" data-name="phone_locked" data-char="E61E">&#xE61E;</i></li>
  <li><i class="material-icons" data-name="phone_missed" data-char="E61F">&#xE61F;</i></li>
  <li><i class="material-icons" data-name="phone_paused" data-char="E620">&#xE620;</i></li>
  <li><i class="material-icons" data-name="power" data-char="E63C">&#xE63C;</i></li>
  <li><i class="material-icons" data-name="priority_high" data-char="E645">&#xE645;</i></li>
  <li><i class="material-icons" data-name="sd_card" data-char="E623">&#xE623;</i></li>
  <li><i class="material-icons" data-name="sim_card_alert" data-char="E624">&#xE624;</i></li>
  <li><i class="material-icons" data-name="sms" data-char="E625">&#xE625;</i></li>
  <li><i class="material-icons" data-name="sms_failed" data-char="E626">&#xE626;</i></li>
  <li><i class="material-icons" data-name="sync" data-char="E627">&#xE627;</i></li>
  <li><i class="material-icons" data-name="sync_disabled" data-char="E628">&#xE628;</i></li>
  <li><i class="material-icons" data-name="sync_problem" data-char="E629">&#xE629;</i></li>
  <li><i class="material-icons" data-name="system_update" data-char="E62A">&#xE62A;</i></li>
  <li><i class="material-icons" data-name="tap_and_play" data-char="E62B">&#xE62B;</i></li>
  <li><i class="material-icons" data-name="time_to_leave" data-char="E62C">&#xE62C;</i></li>
  <li><i class="material-icons" data-name="vibration" data-char="E62D">&#xE62D;</i></li>
  <li><i class="material-icons" data-name="voice_chat" data-char="E62E">&#xE62E;</i></li>
  <li><i class="material-icons" data-name="vpn_lock" data-char="E62F">&#xE62F;</i></li>
  <li><i class="material-icons" data-name="wc" data-char="E63D">&#xE63D;</i></li>
  <li><i class="material-icons" data-name="wifi" data-char="E63E">&#xE63E;</i></li>

</ul>
