<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="ac_unit" data-char="EB3B">&#xEB3B;</i></li>
  <li><i class="material-icons" data-name="airport_shuttle" data-char="EB3C">&#xEB3C;</i></li>
  <li><i class="material-icons" data-name="all_inclusive" data-char="EB3D">&#xEB3D;</i></li>
  <li><i class="material-icons" data-name="beach_access" data-char="EB3E">&#xEB3E;</i></li>
  <li><i class="material-icons" data-name="business_center" data-char="EB3F">&#xEB3F;</i></li>
  <li><i class="material-icons" data-name="casino" data-char="EB40">&#xEB40;</i></li>
  <li><i class="material-icons" data-name="child_care" data-char="EB41">&#xEB41;</i></li>
  <li><i class="material-icons" data-name="child_friendly" data-char="EB42">&#xEB42;</i></li>
  <li><i class="material-icons" data-name="fitness_center" data-char="EB43">&#xEB43;</i></li>
  <li><i class="material-icons" data-name="free_breakfast" data-char="EB44">&#xEB44;</i></li>
  <li><i class="material-icons" data-name="golf_course" data-char="EB45">&#xEB45;</i></li>
  <li><i class="material-icons" data-name="hot_tub" data-char="EB46">&#xEB46;</i></li>
  <li><i class="material-icons" data-name="kitchen" data-char="EB47">&#xEB47;</i></li>
  <li><i class="material-icons" data-name="pool" data-char="EB48">&#xEB48;</i></li>
  <li><i class="material-icons" data-name="room_service" data-char="EB49">&#xEB49;</i></li>
  <li><i class="material-icons" data-name="rv_hookup" data-char="E642">&#xE642;</i></li>
  <li><i class="material-icons" data-name="smoke_free" data-char="EB4A">&#xEB4A;</i></li>
  <li><i class="material-icons" data-name="smoking_rooms" data-char="EB4B">&#xEB4B;</i></li>
  <li><i class="material-icons" data-name="spa" data-char="EB4C">&#xEB4C;</i></li>

</ul>
