<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="cake" data-char="E7E9">&#xE7E9;</i></li>
  <li><i class="material-icons" data-name="domain" data-char="E7EE">&#xE7EE;</i></li>
  <li><i class="material-icons" data-name="group" data-char="E7EF">&#xE7EF;</i></li>
  <li><i class="material-icons" data-name="group_add" data-char="E7F0">&#xE7F0;</i></li>
  <li><i class="material-icons" data-name="location_city" data-char="E7F1">&#xE7F1;</i></li>
  <li><i class="material-icons" data-name="mood" data-char="E7F2">&#xE7F2;</i></li>
  <li><i class="material-icons" data-name="mood_bad" data-char="E7F3">&#xE7F3;</i></li>
  <li><i class="material-icons" data-name="notifications" data-char="E7F4">&#xE7F4;</i></li>
  <li><i class="material-icons" data-name="notifications_active" data-char="E7F7">&#xE7F7;</i></li>
  <li><i class="material-icons" data-name="notifications_none" data-char="E7F5">&#xE7F5;</i></li>
  <li><i class="material-icons" data-name="notifications_off" data-char="E7F6">&#xE7F6;</i></li>
  <li><i class="material-icons" data-name="notifications_paused" data-char="E7F8">&#xE7F8;</i></li>
  <li><i class="material-icons" data-name="pages" data-char="E7F9">&#xE7F9;</i></li>
  <li><i class="material-icons" data-name="party_mode" data-char="E7FA">&#xE7FA;</i></li>
  <li><i class="material-icons" data-name="people" data-char="E7FB">&#xE7FB;</i></li>
  <li><i class="material-icons" data-name="people_outline" data-char="E7FC">&#xE7FC;</i></li>
  <li><i class="material-icons" data-name="person" data-char="E7FD">&#xE7FD;</i></li>
  <li><i class="material-icons" data-name="person_add" data-char="E7FE">&#xE7FE;</i></li>
  <li><i class="material-icons" data-name="person_outline" data-char="E7FF">&#xE7FF;</i></li>
  <li><i class="material-icons" data-name="plus_one" data-char="E800">&#xE800;</i></li>
  <li><i class="material-icons" data-name="poll" data-char="E801">&#xE801;</i></li>
  <li><i class="material-icons" data-name="public" data-char="E80B">&#xE80B;</i></li>
  <li><i class="material-icons" data-name="school" data-char="E80C">&#xE80C;</i></li>
  <li><i class="material-icons" data-name="sentiment_dissatisfied" data-char="E811">&#xE811;</i></li>
  <li><i class="material-icons" data-name="sentiment_neutral" data-char="E812">&#xE812;</i></li>
  <li><i class="material-icons" data-name="sentiment_satisfied" data-char="E813">&#xE813;</i></li>
  <li><i class="material-icons" data-name="sentiment_very_dissatisfied" data-char="E814">&#xE814;</i></li>
  <li><i class="material-icons" data-name="sentiment_very_satisfied" data-char="E815">&#xE815;</i></li>
  <li><i class="material-icons" data-name="share" data-char="E80D">&#xE80D;</i></li>
  <li><i class="material-icons" data-name="whatshot" data-char="E80E">&#xE80E;</i></li>

</ul>
