<ul class="sg-icon-list sg-icon-list--MD">

  <li><i class="material-icons" data-name="check_box" data-char="E834">&#xE834;</i></li>
  <li><i class="material-icons" data-name="check_box_outline_blank" data-char="E835">&#xE835;</i></li>
  <li><i class="material-icons" data-name="indeterminate_check_box" data-char="E909">&#xE909;</i></li>
  <li><i class="material-icons" data-name="radio_button_checked" data-char="E837">&#xE837;</i></li>
  <li><i class="material-icons" data-name="radio_button_unchecked" data-char="E836">&#xE836;</i></li>
  <li><i class="material-icons" data-name="star" data-char="E838">&#xE838;</i></li>
  <li><i class="material-icons" data-name="star_border" data-char="E83A">&#xE83A;</i></li>
  <li><i class="material-icons" data-name="star_half" data-char="E839">&#xE839;</i></li>

</ul>
