<div class="grid grid--gutters">
  <div class="grid__cell">

    {{# side-nav }}

    {{> organisms-side-nav }}

    {{/ side-nav }}

  </div>
  <div class="grid__cell">

    {{> organisms-sharepoint-side-nav }}

  </div>
</div>