{{# steps }}

<div class="steps {{ modifier }}">
  <ul class="steps__list">

    {{# item }}

    <li class="steps__item {{ modifier }}">
      <span class="steps__text">
        {{ text }}
      </span>
    </li>

    {{/ item }}

  </ul>
</div>

{{/ steps }}
