<div class="grid grid--1of2 grid--demo">

  <div class="grid__item grid--demo__item">

    <p>
      grid item
    </p>

  </div>

  <div class="grid__item grid--demo__item">

    <p>
      grid item
    </p>

  </div>

  <div class="grid__item grid--demo__item">

    <p>
      grid item
    </p>

  </div>

  <div class="grid__item grid--demo__item">

    <p>
      grid item
    </p>

  </div>

    <div class="grid__item grid--demo__item">

    <p>
      grid item
    </p>

  </div>

  <div class="grid__item grid--demo__item">

    <p>
      grid item
    </p>

  </div>
  
</div>
