/*
 * news footer
 */

.news-footer {

  padding-top: 2rem;
  border-top: 1px solid $core-off-white;

  &__heading {

    margin: 0 0 1rem;

  }

  .text-label-group {

    @include clearfix;
    margin: 0 0 2rem;

  }

  .text-label--tag {

    display: block;
    float: left;
    margin: 0 .625rem 1rem 0;

  }

}
