/*
 * shapes
 */

.shape {

  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $core-gray;

  &--red {

    background: $accent-red;

  }

  &--yellow {

    background: $accent-olive;

  }

  &--green {

    background: $accent-green;

  }

}