/*
 * site map
 */

.site-map {

  //

  &__heading {

    //

  }

  &__list {

    margin: 0 0 2rem;

    &:last-of-type {

      margin: 0;

    }

  }

  &__link {

    //

  }

  &__section-name {

    font-family: 'TransportNewHeavy_gdi', Helvetica, Arial, sans-serif;

  }

  &__grid {

    //

  }

  &__grid-cell {

    //

  }

}

/* IE fixes */

.no-flexwrap {

  .site-map {

    @include clearfix;

    &__grid-cell {

      width: 30%;
      float: left;

    }

  }

}
