/*
 * social box
 */

.social-box {

  background: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $accent-warm-gray;
  max-width: 300px; /* NOTE magic number -- sensible max width */
  margin: auto;

  &__inner-wrapper {

    position: relative;
    height: 0;
    padding-top: 100%; 

  }

  &__text {

    position: absolute;
    z-index: 1;
    padding: 0 1rem;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }

  &__date {

    font-size: $font-size--eta;
    display: table; /* NOTE: this allows element to display as inline block, but doesn't require a line break or clear fix to clear if from the element above/below it */
    padding-top: .5rem;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $core-off-white;
    margin-top: .5rem;

  }

  &__img, 
  &__video {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 0;
    width: 100%; 
    height: 100%;

  }

  &__video {

    font-size: 0; /* NOTE: in some browsers, this prevents arbitrary space below "video" element */
    background: $black; /* NOTE: in Edge 15, even with the font-size trick, there's arbitrary space below video -- this makes it less noticeable */

    video {

      width: 100%;

    }

  }

  &__icon {

    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: -1.5rem;  
      
  }

  &--image {

    //

  }

  &--video {

    //

  }

  &--1x1 {

    //

  }

  &--2x1 {

    max-width: 600px; /* NOTE sensible max width */

    .social-box__inner-wrapper {

      padding-top: 50%;

    }
    
    .social-icon--right { /* NOTE: this class should only be used with the "double wide" box */
      
      left: 75%;

    }
      
  }

  &--1x2 {
    
    //max-width: 600px; /* NOTE sensible max width */

    .social-box__inner-wrapper {

      padding-top: 200%;

    }
      
  }

  &--16x9 {

    max-width: 600px; /* NOTE sensible max width */
    
    .social-box__inner-wrapper {

      padding-top: 56.25%;

    }

    .social-box__video {
      
      height: calc(100% + 1px); /* NOTE: the value is slightly above 100% to resolve border/display issue in Chrome */

    }
      
  }

  &--youtube {

    overflow: hidden; /* NOTE: this delcaration resolves border issue (botton border not visible without this) */
    
    .social-box__icon {

      display: none; /* NOTE: no need for additional icon since YouTube videos have the "Play" button */

    }

  }

  &--w-bg {
    
    background: $core-off-white

  }

  &--icon-left {

    .social-box__icon {
      
      left: 25%;

    }

  }

  &--icon-right {

    .social-box__icon {
      
      left: auto; /* NOTE: overrides default "left" value */
      right: 25%;

    }

  }

  /* NOTE: when used in carousel */

  .carousel & {

    // border-width: 1px;
    // border-style: solid;
    // border-color: $accent-warm-gray;
  
  }

  /* NOTE: this modifier is for demo purposes only -- this hides the icon, image and text so the grid lines are more apparent */

  &--no-content {

    .social-box__inner-wrapper * {
      
      // display: none;
    
    }

  }

}