/*
 * steps
 */

$steps-background :    $core-off-white;
$steps-active-color :  $core-gray;

.steps {

  background: $steps-background;
  margin: 0 0 2rem;

  &__list {

    @include clean-list;
    @include clearfix;
    margin: 0;
    text-align: center;

  }

  &__item {

    @include clearfix;
    position: relative;
    border-bottom: 1px solid $white;

    &:after {

      display: block;
      content: "";
      width: 0;
      height: 0;
      border-top: .5rem solid transparent;
      border-right: 1rem solid transparent;
      border-left: 1rem solid $steps-background;
      position: absolute;
      z-index: 1;
      left: 50%;
      margin-left: -1rem;

    }

    &--active {

      color: $white;

      .steps__text {

        background: $steps-active-color;

      }

      &:after {

        border-top-color: $steps-active-color;

      }

    }

    &:not(.steps__item--active) {

      &:after {

        display: none; /* NOTE: on slimmer screens, don't show arrows for non-active items */

      }

    }

    &.steps__item--active,
    &:last-child {

      border: 0;

    }

    &:first-child,
    &:first-child:active {

      .steps__text {

        //

      }

    }

    &:last-child {

      &:after {

        border-left-color: $white;

      }

    }

  }

  &__text {

    display: block;
    vertical-align: middle;
    line-height: 3rem;
    padding: 0 1rem;

  }

  &--inactive {

    color: $core-gray;

  }

  &--active {

    color: $black;

  }

  @include sb-media($small-breakpoint) {

    //

    &__item {

      float: left;
      clear: none; /* NOTE: overrides clearfix above */
      border: 0;

      &:after {

        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1rem solid $steps-background;
        border-right: 0; /* NOTE: overrides default rule */
        left: auto; /* NOTE: overrides default rule */
        right: -1rem;
        margin: 0; /* NOTE: overrides default rule */

      }

      &--active {

        color: $white;

        .steps__text {

          background: $steps-active-color;
          padding: 0 1rem 0 2rem;

        }

        &:after {

          border-top-color: transparent; /* NOTE: overrides default rule */
          border-left-color: $steps-active-color; /* NOTE: overrides default rule */

        }

        & + .steps__item {

          .steps__text {

            padding: 0 1rem 0 2rem;

          }

        }

      }

      &:not(.steps__item--active) {

        &:after {

          display: block; /* NOTE: on wider screens, show arrows for non-active items (overrides default rule) */

        }

      }

      &:first-child,
      &:first-child:active {

        .steps__text {

          padding-left: 1rem;

        }

      }

      &:last-child {

        &:after {

          border-left-color: $steps-background; /* NOTE: overrides default rule */

        }

        &.steps__item--active {

          &:last-child {

            &:after {

              border-left-color: $steps-active-color; /* NOTE: overrides default rule */

            }

          }

        }

      }

    }

    &__text {

      float: left;

    }

    &--inactive {

      //

    }

    &--active {

      //

    }

  }

}
