/*
 * sticker
 */

.sticker {

  margin: 0 0 1rem;

  &__heading {

    //

  }

  &__content {

    display: inline-block; /*  NOTE: this keeps the component from going full width */
    border-radius: 5px; /* NOTE: this value shoul dbe in a variable */
    background: $core-blue;
    border: 2px solid $core-blue;
    color: $white;
    text-align: center;

  }

  &__label {

    padding: .5rem;
    margin: 0;

  }

  &__value {

    font-size: $font-size--beta;
    line-height: 1; 
    color: $core-blue;
    background: $white;
    padding: 1rem 1.5rem;
    border-radius: 4px; /* magic number -- including border-radius improves border display */
    margin: 0;

  }

  &__footnote {

    font: $font-italic;
    color: $core-gray;

  }

}
