/*
 * back up -- section includes link to top of page
 */

.back-up {

  text-align: center;

  /* Use top/bottom padding instead of margin so we can calculate height from JS (for use in sticky side nav component) */

  /* 
  Since the ".page-content__item" elements have a bottom margin, the  padding-top value here is decreased.
  This maintains visual spacing consistency for the space above/below this component. 
  */

  padding: .75rem $page-side-padding 3.75rem;
  margin: 0 auto;

  &__text-link {

    display: inline-block;
    max-width: 250px; /* NOTE: magic number -- helps control line break */
    margin: 0 0 1.875rem;
    color: $accent-cool-gray;

    &:hover,
    &:visited { /* NOTE: including :visited will override related SharePoint rule */

      color: $accent-cool-gray;

    }

  }

  &__btn {

    display: block;
    background-color: $core-gray;
    color: $white;
    line-height: 64px;
    border-radius: 50%;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    transition: all .15s ease-in-out;
    margin: 0 auto;
    position: relative; /* NOTE: this keeps the box-shadow above the hidden feedback-form component */

    &:hover {

      box-shadow: 0 0 0 10px $core-off-white;

    }

    &:hover, 
    &:visited {

      color: $white;

    }

  }

  @include sb-media($small-breakpoint) {

    &__text-link {

      max-width: none;

    }

  }
        
}
