/*
 * breadcrumbs
 */

.breadcrumbs-wrapper {

  @include clearfix;
  line-height: 1;
  padding: 0 0 1rem; /* NOTE: we should be able to control spacing below with margin, but margin isn't working */
  margin: 0 0 1.875rem;
  position: relative;

  @include sb-media($large-breakpoint) {

    margin: 1rem 0 1.875rem; /* NOTE: top margin needed for proper spacing between this and "wide nav" or "alert block" components */

  }

}

.breadcrumbs {

  @include clean-list;
  @include clearfix;

  width: 100%;
  margin: 0 auto;
  color: $accent-cool-gray;

  &__item {

    display: block;
    border-bottom: 1px solid $core-off-white;
    margin: 0;

    &:last-child {

      position: relative;

      /* NOTE: this is the icon for the current page  */

      &:before {

        @include vertical-align;
        position: absolute; /* NOTE: overrides mixin */
        left: $page-side-padding;
        font-family: 'custom-icomoon';
        font-size: 30px;
        color: $core-gray;
        content: "\e950";

      }

    }

    /* NOTE: hide all but current page; use JS to toggle full list */

    &:not(:last-child) {

      display: none;

    }

  }

  &__link {

    //

  }

  /* NOTE: display character between '__text' elements */

  &__text {

    font-size: .875rem;
    display: block;
    padding: 1.5rem 4rem;
    line-height: 1.2;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &__toggle-btn {

    position: absolute;
    right: 0;
    bottom: calc(1rem + 1px); /* NOTE: value takes into account .breadcrumbs-wrapper bottom padding and list item bottom border */

    display: block;
    background: transparent;
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 0;

    font-size: 1.5rem;
    color: $core-gray;

    /* NOTE: SharePoint overrides */

    min-width: 0;
    padding: 0;
    margin: 0;

    &:hover,
    &:active {

      /* NOTE: SharePoint overrides */

      background: transparent;

    }

  }

  @include sb-media($large-breakpoint) {

    padding: 0 $page-side-padding 1rem; /* NOTE: we should be able to control spacing below with margin, but margin isn't working */
    max-width: $component-max-width;

    &__item {

      float: left;
      border: 0;
      //margin: 0 calc(.25em + .9375rem) 0 0;
      margin: 0 .9375rem 0 0;

      &:after {

        //display: inline-block; /* Using inline-block will allow padding to work on top/bottom -- without this, padding only works on left/right */
        //content: " \2022 "; /* bullet */
        display: inline-block; 
        content: "»"; 
        vertical-align: text-top; 

      }

      &:last-child {

        &:before,
        &:after  {

          display: none;

        }

      }

      /* NOTE: override default display; always show all breadcrumbs items on wider screens */

      &:not(:last-child) {

        display: block !important; /* NOTE: use !important to override inline declarations add by JS */

      }

    }

    &__link {

      display: inline-block; /* NOTE: Helps display (removes arbitrary underscore after link text, possibly a PL thing) */
      border: 0;
      vertical-align: text-top;

    }

    &__text {

      display: inline-block;
      padding: 0;
      // margin: 0 .9375rem 0 0;  /* NOTE: including margin here for cases where this element isn't wrapped in an <a> ('__link element') */
      margin: 0 .6rem 0 0;        /* NOTE: including margin here for cases where this element isn't wrapped in an <a> ('__link element') */

    }

    &__toggle-btn {

      display: none;

    }

  }

}
