/*
 * link block
 */

.link-block {

  @include clearfix;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  background: $core-blue;
  border-radius: $radius;
  padding: 1.875rem;
  width: 100%; /* NOTE: Fill available width when parent is set to display:grid */

  &__heading {

    font-size: $font-size--delta; /* NOTE: this value should be abstracted into a new variable since it's used for "simple list block" heading */
    color: $white;
    border-bottom: 4px solid; /* NOTE: this should be in a variable */
    padding: 0 0 .75rem;
    margin: 0 0 1.75rem;

  }

  &__list {

    @include clean-list;
    margin: 0; /* NOTE: no bottom margin -- if the button is displayed, it will include the margin */

    -webkit-flex-grow: 1; /* NOTE: this is used to help align "__btn" to bottom of container */
    -ms-flex-grow: 1;
    flex-grow: 1;

  }

  &__list-item {

    padding-bottom: 1rem;
    border-bottom: 1px solid $white;
    margin: 0 0 1rem;

  }

  &__link,
  &__link:hover {

    font-size: $font-size--epsilon;
    text-decoration: none;
    color: $white;

  }

  &__link:hover {

    text-decoration: underline;

  }

  &__btn {

    font-family: $font-medium-family;
    margin: 1.75rem 0 0; /* NOTE: the margin (space between list and button) is included here -- if no button, no margin below list is needed */

  }

}