<div class="grid grid--gutters u-text-center">
  <div class="grid__cell grid__cell--1of2">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/2
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      auto
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      auto
    </div>
  </div>
</div>

<div class="grid grid--gutters u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      auto
    </div>
  </div>
  <div class="grid__cell grid__cell--1of3">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/3
    </div>
  </div>
</div>

<div class="grid grid--gutters u-text-center">
  <div class="grid__cell grid__cell--1of4">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/4
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      auto
    </div>
  </div>
  <div class="grid__cell grid__cell--1of3">
    <div class="grid__cell-inner grid__cell-inner--demo">
      1/3
    </div>
  </div>
</div>
