<div class="grid grid--gutters grid--full large-grid--fit u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Halves
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Halves
    </div>
  </div>
</div>

<div class="grid grid--gutters grid--full med-grid--fit u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Halves
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Halves
    </div>
  </div>
</div>

<div class="grid grid--gutters grid--full small-grid--fit u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Halves
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Halves
    </div>
  </div>
</div>

<div class="grid grid--gutters grid--full large-grid--fit u-text-center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Thirds
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Thirds
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Full / Thirds
    </div>
  </div>
</div>
