<div class="gr-c-ticker" id="cont_e111e6e0cb0efe9acda8296957e8a71d">
  <script type="text/javascript" async src="https://www.theweather.com/wid_loader/e111e6e0cb0efe9acda8296957e8a71d"></script>
</div>

<br><br>

<iframe frameBorder='0' scrolling='no' width='250' height='150' src='https://api.stockdio.com/visualization/financial/charts/v1/SingleQuote?app-key=C558EF58D87F469BAF723D41ADB7BE5F&symbol=BTI&palette=Financial-Light&width=250px&height=150px'></iframe>