//
// Forms
//

$form-error-color :       $accent-red;
$form-label-text-color :  $accent-cool-gray;
$form-placeholder-color : $accent-cool-gray;
$form-helper-text-color : $core-gray; 
$form-label-text-size :   $font-size--zeta;
$form-helper-text-size :  $font-size--zeta;
