{{# pagination }}
<nav class="pagination {{ modifier }} {{ parameter_modifier }}">
  <ul class="pagination__list">

    {{# item }}
    <li class="pagination__list-item">

      {{# link }}
      <a class="pagination__link {{ modifier }}" href="{{ url }}">
      {{/ link }}

        {{{ text }}}

      {{# link }}
      </a>
      {{/ link }}

    </li>
    {{/ item }}
  </ul>
</nav>
{{/ pagination }}
