

<div class="field--wrapper" style="margin-top: 2rem;"> <!-- margin is temporary -- helps display when viewing this component independently -->

  <label for="first-name">First Name</label>

  <input type="text" class="gr-c-input-text gr-c-input-text--float-label" name="first-name" placeholder="First Name" />

</div>
