{{# select }}

<select name="{{ name }}" class="{{ class }}">

  {{! if using 'optgroup' }}

  {{# optgroup }}

  {{# item }}

  <optgroup label="{{ label }}"{{# disabled }} disabled{{/ disabled }}>

  {{# option }}

  <option value="{{ value }}"{{# disabled }} disabled{{/ disabled }}>
    {{ text }}
  </option>

  {{/ option }}

  </optgroup>

  {{/ item }}

  {{/ optgroup }}

  {{! if not using 'optgroup' }}

  {{^ optgroup }}

  {{# option }}

  <option value="{{ value }}"{{# disabled }} disabled{{/ disabled }}>
    {{ text }}
  </option>

  {{/ option }}

  {{/ optgroup }}

</select>

{{/ select }}
