<a class="btn btn--ghost-alt">
  Link Button
</a>

<a class="btn btn--ghost-alt btn--w-icon btn--w-icon-right">
  Link Button
</a>

<button class="btn btn--ghost-alt btn--w-icon btn--w-icon-right">
  Button Element
</button>

<a class="btn btn--ghost-alt btn--w-icon btn--w-icon-left">
  Link Button
</a>

<button class="btn btn--ghost-alt btn--w-icon btn--w-icon-left">
  Button Element
</button>

<input type="submit" class="btn btn--ghost-alt" value="input[type='submit']">
