/*
 * custom properties
 */
:root {
  /* color palette */
  --color-blue-saphire: #1A546B;
  --color-french-blue: #0071BC;
  --color-pale-aqua: #BED9F6;
  --color-deep-aqua: #92c6fe;
  --color-mikado-yellow: #FECD0D;
  --color-carmine-pink: #F13741;
  --color-burnt-orange: #ff5b06;
  --color-rare-black: #343434;
  --color-light-gray: #D0D4E0;
  --color-soft-white: #fafafa;
  /* link */
  --link-color: var(--color-blue-saphire);
  --link-color-hover: var(--color-french-blue);
  /* button */
  --btn-text-color: var(--color-soft-white);
  --btn-bg-color: var(--color-blue-saphire);
}

/*
 * base / reset
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header,
footer,
nav,
section,
article,
figure,
picture,
iframe {
  display: block;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}

/*
 * base / fonts
 */
/* NOTE: icons */
@font-face {
  font-family: "icon-set";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/icon-set.eot");
  src: url("../../assets/fonts/icon-set.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/icon-set.ttf") format("truetype"), url("../../assets/fonts/icon-set.woff") format("woff"), url("../../assets/fonts/icon-set.svg#svgicon-set") format("svg");
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
}
/* NOTE: text */
/*
 * base / main
 */
html {
  font-size: 1rem;
}

body {
  font: normal normal normal 100%/1.5 "TransportNewLight_gdi", Helvetica, Arial, sans-serif;
  color: #0b0c0c;
  background: white;
  /* NOTE: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* NOTE: since the mobile header is sticky, the top padding here is used as a placeholder */
  /* NOTE: Font smoothing (non-standard) -- https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
  -webkit-font-smoothing: antialiased;
  /* NOTE: IE Edge is giving wide horizontal scrollbar -- hide overflow to fix */
  /* NOTE: the mobile nav is hidden at the $large-breakpoint, so the padding can be set to zero */
}
.mod_no-flexboxlegacy body {
  overflow-x: hidden;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-set' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e603";
}

.icon-instagram:before {
  content: "\e90d";
}

.icon-youtube:before {
  content: "\e954";
}

.icon-news:before {
  content: "\e932";
}

.icon-online:before {
  content: "\e933";
}

.icon-arrow-up:before {
  content: "\e900";
}

.icon-arrow-down:before {
  content: "\e901";
}

.icon-arrow-left:before {
  content: "\e909";
}

.icon-arrow-right:before {
  content: "\e90a";
}

.icon-check:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e60b";
}

.icon-launch:before {
  content: "\e895";
}

.icon-align-bottom:before {
  content: "\e904";
}

.icon-align-top:before {
  content: "\e905";
}

.icon-align-center:before {
  content: "\e906";
}

.icon-download:before {
  content: "\e94d";
}

.icon-arrow-backward:before {
  content: "\e90e";
}

.icon-arrow-forward:before {
  content: "\e90f";
}

.icon-hamburger:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e908";
}

.icon-hellip:before {
  content: "\e90b";
}

.icon-play-circle:before {
  content: "\e910";
}

.icon-loop:before {
  content: "\e918";
}

.icon-mail:before {
  content: "\e91e";
}

.icon-list:before {
  content: "\e91f";
}

.icon-module:before {
  content: "\e920";
}

.icon-arrow-rounded:before {
  content: "\e924";
}

.icon-label:before {
  content: "\e950";
}

.icon-remove:before {
  content: "\e951";
}

.icon-add:before {
  content: "\e952";
}

.icon-event:before {
  content: "\e953";
}

.icon-info:before {
  content: "\e922";
}

.icon-time:before {
  content: "\e928";
}

.icon-circle:before {
  content: "\e925";
}

.icon-circle-filled:before {
  content: "\e926";
}

.icon-pin:before {
  content: "\e935";
}

.icon-checked:before {
  content: "\e936";
}

.icon-close-box:before {
  content: "\e948";
}

.icon-create:before {
  content: "\e955";
}

.icon-account:before {
  content: "\e957";
}

.icon-document:before {
  content: "\e958";
}

.icon-photo:before {
  content: "\e921";
}

.icon-cancel:before {
  content: "\e94c";
}

.icon-error:before {
  content: "\e90c";
}

.icon-comment:before {
  content: "\e91c";
}

.icon-pie:before {
  content: "\e934";
}

.icon-card:before {
  content: "\e91a";
}

.icon-check-circle:before {
  content: "\e949";
}

.icon-home:before {
  content: "\e94a";
}

.icon-location:before {
  content: "\e94f";
}

/*
 * elements / text
 */
a {
  color: #397aac;
  color: var(--link-color);
  text-decoration: underline;
}
a:hover {
  color: #0071BC;
  color: var(--link-color-hover);
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

blockquote {
  margin: 1em 0 1em 2em;
  padding: 0 0 0 1em;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D0D4E0;
  border-left-color: var(--color-light-gray);
}

/* prevent 'sup' and 'sub' elements from affecting line-height 
   https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

abbr {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0D4E0;
  border-bottom-color: var(--color-light-gray);
}

mark,
cite,
kbd,
code,
samp,
var,
ins,
dfn {
  background-color: #D0D4E0;
  background-color: var(--color-light-gray);
  padding: .25em .5em;
}

ins {
  text-decoration: none;
}

/*
 * list
 */
ul,
ol {
  padding: 0 0 0 2rem;
  margin: 0;
}

/* NOTE: target li elements whose parent ul/ol elements don't have a class attribute -- targeting this way prevents specificity issues */
/*
 * media
 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*
 * grid
 */
.grid {
  display: grid;
}
.grid--demo {
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr) 50%;
  padding: 1rem;
  border: 1px solid #ccc;
}
.grid--demo__item {
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid #ccc;
}

/*
 * buttons
 */
.btn {
  display: inline-block;
  font-size: .9rem;
  font-weight: bold;
  color: #fafafa;
  color: var(--btn-text-color);
  background-color: #1A546B;
  background-color: var(--btn-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: .25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  letter-spacing: 0.03rem;
  cursor: pointer;
  /* useful for <button> and <input type='submit'> elements */
}
.btn:hover {
  color: #fafafa;
  background: #0071BC;
  text-decoration: none;
}
.btn:focus {
  outline: 2px solid #D0D4E0;
}
.btn:visited {
  color: white;
  background: #092940;
  border: 2px solid #092940;
}
.btn:disabled, .btn:disabled:hover, .btn--disabled, .btn--disabled:hover {
  color: #e6ecee;
  background-color: #577f90;
  cursor: default;
}
.btn--light {
  color: #1A546B;
  background-color: #BED9F6;
}
.btn--light:hover {
  color: #1A546B;
  background: #92c6fe;
}
.btn--light:disabled, .btn--light:disabled:hover, .btn--light.btn--disabled, .btn--light.btn--disabled:hover {
  color: rgba(87, 127, 144, 0.8);
  background-color: #BED9F6;
}
.btn--secondary {
  color: #fafafa;
  background-color: #F13741;
}
.btn--secondary:hover {
  color: #fafafa;
  background: #ff5b06;
}
.btn--secondary:disabled, .btn--secondary:disabled:hover, .btn--secondary.btn--disabled, .btn--secondary.btn--disabled:hover {
  color: #e6ecee;
  background-color: #f86f72;
}
.btn--secondary.btn--light {
  color: #bc0711;
  background-color: #ffa8aa;
}
.btn--secondary.btn--light:hover {
  color: #bc0711;
  background: #f3999b;
}
.btn--secondary.btn--light:disabled, .btn--secondary.btn--light:disabled:hover, .btn--secondary.btn--light.btn--disabled, .btn--secondary.btn--light.btn--disabled:hover {
  color: #e6ecee;
  background-color: #f3999b;
}

/*
 * button group
 */
.btn-group {
  text-align: center;
  margin: 2rem 0;
  /* NOTE: we might want to refactor or add a new class name for the toggle, specifically the hide/show media query -- some toggles might be OK for smaller screens */
}
.btn-group__icon {
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}
.btn-group .btn {
  display: inline-block;
  border-right-width: 0;
  border-radius: 0;
}
.btn-group .btn:not(:first-child) {
  margin-left: -8px;
  /* NOTE: this account for the extra space in between "inline-block" elements */
}
.btn-group .btn:first-child {
  border-top-left-radius: 4px;
  /* NOTE: this value should be in a variable */
  border-bottom-left-radius: 4px;
  /* NOTE: this value should be in a variable */
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  /* NOTE: this value should be in a variable */
  border-bottom-right-radius: 4px;
  /* NOTE: this value should be in a variable */
  border-right-width: 2px;
  /* NOTE: this value should be in a variable */
}
.btn-group--bordered {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #95a0ad;
}
.btn-group--spaced:before, .btn-group--spaced:after {
  content: " ";
  display: table;
}
.btn-group--spaced:after {
  clear: both;
}
.btn-group--spaced .btn {
  display: block;
  float: left;
  margin: 0 .5rem 0 0;
  /* NOTE: margin matches Isotope component -- perhaps that value should be put in a variable */
  border-right-width: 2px;
  /* NOTE: we might want a variable for the border width value */
  border-radius: 4px;
}
.btn-group--spaced .btn:first-child, .btn-group--spaced .btn:last-child {
  border-radius: 4px;
}
.btn-group--spaced .btn:not(:first-child) {
  margin-left: 0;
}
.btn-group--no-wrap {
  text-align: left;
  white-space: nowrap;
}
.btn-group--no-wrap .btn {
  display: inline-block;
  /* NOTE: overrides "--spaced" display declaration when both classes are used */
  float: none;
  /* NOTE: overrides "--spaced" float declaration when both classes are used */
}
.btn-group--toggle {
  display: none;
  /* NOTE: generally not necessary for smaller screens -- no need to toggle a grid layout on smaller screens */
  margin: 0 0 1.875rem;
}
@media (min-width: 48em) {
  .btn-group--toggle {
    display: block;
  }
}

/*
 * heading
 */
.heading {
  font: normal normal normal 100%/1.5 "Cabin", sans-serif;
  margin: 0 0 1em;
}
.heading--alpha, .heading--beta, .heading--gamma, .heading--delta {
  line-height: 1.2;
}
.heading--alpha {
  font-size: 2.074em;
}
.heading--beta {
  font-size: 1.728em;
}
.heading--gamma {
  font-size: 1.44em;
}
.heading--delta {
  font-size: 1.2em;
}
.heading--epsilon {
  font-size: 1em;
}
.heading--zeta {
  font-size: 0.833em;
}

/*
 * card
 */
.card {
  max-width: 600px;
  /* magic numer */
}
.card__media {
  margin: 0 0 1rem;
}
.card__heading {
  font-size: 1.25rem;
  margin: 0 0 .5rem;
}
.card__p {
  margin: 0;
}
.card--bordered {
  border: 1px solid #ccc;
}
.card--bordered .card__heading {
  margin-left: 1rem;
  margin-right: 1rem;
}
.card--bordered .card__p {
  margin: 0 1rem 1rem;
}
.card--padded {
  padding: 1rem;
  border: 1px solid #ccc;
}

/*
 * card set
 */
.card-set {
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/*
 * utility / icon modifiers -- icon-related rules/fixes
 */
/* general */
[class^="icon-"],
[class*=" icon-"] {
  text-align: center;
  /* NOTE: resolves issue in IE 9 -- without this, some icons seem to left-align the icon character */
}

.icon--circled, .material-icons--circled {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: 2px solid;
  border-radius: 50%;
  padding: .5rem;
  /* NOTE: use explicit dimensions in IE 9 -- otherwise, element displays as an oval  */
}
.no-csstransitions .icon--circled,
.no-csstransitions .material-icons--circled {
  font-size: 0;
  display: inline-block;
  width: 38px;
  height: 38px;
}
.no-csstransitions .icon--circled:before,
.no-csstransitions .material-icons--circled:before {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}

.material-icons--circled {
  /* NOTE: fix for padding issue in IE 11 */
  /* NOTE: override IE 9-specific rule above dealing with dimensions */
}
.no-flexboxlegacy .material-icons--circled {
  padding: 10px 8px 6px;
  /* NOTE: magic numbers */
}
.no-csstransitions .material-icons--circled {
  font-size: 1em;
  text-align: center;
}

a:hover .icon--circled,
a:hover .material-icons--circled {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

[class^="icon-"][class$="--success"],
[class*=" icon-"][class$="--success"] {
  color: #588023;
}

[class^="icon-"][class$="--error"],
[class*=" icon-"][class$="--error"] {
  color: #a83338;
}

[class^="icon-"][class$="--warning"],
[class*=" icon-"][class$="--warning"] {
  color: #9a6f09;
}

.icon--large {
  font-size: 1.5rem;
}

/* NOTE: spinning icons */
[class^="icon-"][class$="-spinning"],
[class*=" icon-"][class$="-spinning"],
[class^="material-icons"][class$="--spinning"],
[class*=" material-icons"][class$="--spinning"] {
  /* NOTE: In order to animate, must be set to display: -webkit-box;
   * NOTE: IE doesn't require a 'display' value -- if set to display:block, IE 11 has display issues
   */
  display: -webkit-box;
  width: 1em;
  height: 1em;
  /* NOTE: keep icon horizontally/vertically centered */
  text-align: center;
  line-height: 1em;
  -webkit-animation-name: icon-spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: icon-spin;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: icon-spin;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: icon-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes icon-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}
@-moz-keyframes icon-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes icon-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/*
 * utility / visibility
 */
[hidden],
.hidden {
  display: none !important;
}

.u-visible {
  display: block;
}

/*
 * NOTE: hide only visually, but have it available for screen readers:
 *       http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* NOTE: using both class names since they're both being used */
.visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * NOTE: extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:
 *       https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * NOTE: hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * utility
 */
.u-nobr {
  white-space: nowrap;
}

.u-text-center {
  text-align: center;
}

.u-no-text-transform {
  text-transform: none;
}

.u-text-left {
  text-align: left;
  /* NOTE: override rules that affect alignment */
}
table td .u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-float-right {
  float: right;
}

.u-text-no-wrap {
  white-space: nowrap;
}

.u-required {
  color: #a83338;
}

.u-error {
  color: #a83338;
}

.u-no-top-margin {
  margin-top: 0;
}

/* NOTE: font sizes */
.u-font-size {
  margin: 0 0 1rem;
}
.u-font-size:last-child {
  margin: 0;
}
.u-font-size--alpha {
  font-size: 3rem;
}
.u-font-size--alpha-alt {
  font-size: 3.157rem;
}
.u-font-size--beta {
  font-size: 2.25rem;
}
.u-font-size--beta-alt {
  font-size: 2.369rem;
}
.u-font-size--gamma {
  font-size: 1.5em;
}
.u-font-size--gamma-alt {
  font-size: 1.777rem;
}
.u-font-size--delta {
  font-size: 1.3125rem;
}
.u-font-size--delta-alt {
  font-size: 1.333rem;
}
.u-font-size--epsilon {
  font-size: 1.125rem;
}
.u-font-size--epsilon-alt {
  font-size: 1rem;
}
.u-font-size--zeta {
  font-size: 1rem;
}
.u-font-size--zeta-alt {
  font-size: 0.75rem;
}
.u-font-size--eta {
  font-size: 0.8rem;
}

.u-color-white {
  color: white;
}

/*
 * utility / lists
 */
.u-clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u-list--clean {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 * backgrounds
 */
.u-bg-blue-saphire {
  background-color: #1A546B;
  background-color: var(--color-blue-saphire);
}

.u-bg-french-blue {
  background-color: #0071BC;
  background-color: var(--color-french-blue);
}

.u-bg-pale-aqua {
  background-color: #BED9F6;
  background-color: var(--color-pale-aqua);
}

.u-bg-deep-aqua {
  background-color: #92c6fe;
  background-color: var(--color-deep-aqua);
}

.u-bg-mikado-yellow {
  background-color: #FECD0D;
  background-color: var(--color-mikado-yellow);
}

.u-bg-carmine-pink {
  background-color: #F13741;
  background-color: var(--color-carmine-pink);
}

.u-bg-burnt-orange {
  background-color: #ff5b06;
  background-color: var(--color-burnt-orange);
}

.u-bg-rare-black {
  background-color: #343434;
  background-color: var(--color-rare-black);
}

.u-bg-light-gray {
  background-color: #D0D4E0;
  background-color: var(--color-light-gray);
}

.u-bg-soft-white {
  background-color: #fafafa;
  background-color: var(--color-soft-white);
}

/* generic */
.u-bg-white {
  background-color: white;
}

.u-bg-black {
  background-color: #0b0c0c;
}

.u-bg-dark-gray {
  background-color: #5f6c7b;
}

.u-bg-medium-gray {
  background-color: #95a0ad;
}

.u-bg-light-gray {
  background-color: #ecf0f3;
}

/* core */
.u-bg-core-black {
  background-color: #0b0c0c;
}

.u-bg-core-blue {
  background-color: #092940;
}

.u-bg-core-gray {
  background-color: #5f6c7b;
}

.u-bg-core-light-gray {
  background-color: #95a0ad;
}

.u-bg-core-off-white {
  background-color: #ecf0f3;
}

.u-bg-core-white {
  background-color: white;
}

/* accent */
.u-bg-accent-cool-gray {
  background-color: #6a7681;
}

.u-bg-accent-warm-gray {
  background-color: #757575;
}

.u-bg-accent-light-blue {
  background-color: #3f7d97;
}

.u-bg-accent-blue {
  background-color: #397aac;
}

.u-bg-accent-indigo {
  background-color: #00376d;
}

.u-bg-accent-deep-purple {
  background-color: #662e6b;
}

.u-bg-accent-purple {
  background-color: #701c45;
}

.u-bg-accent-red {
  background-color: #a83338;
}

.u-bg-accent-orange {
  background-color: #c05411;
}

.u-bg-accent-olive {
  background-color: #9a6f09;
}

.u-bg-accent-green {
  background-color: #588023;
}

.u-bg-accent-turquoise {
  background-color: #3c807d;
}

.u-bg-accent-turquoise-light {
  background-color: #4c9490;
}

.u-bg-accent-turquoise-dark {
  background-color: #235f5d;
}

/* note -- reuses colors from accent palette */
.u-bg-note-blue {
  background-color: #397aac;
}

.u-bg-note-green {
  background-color: #588023;
}

.u-bg-note-orange {
  background-color: #c05411;
}

.u-bg-note-red {
  background-color: #a83338;
}

/*
 * utility / background images
 */
/* generic */
.u-bg-img-white {
  background-color: white;
}

.u-bg-img-black {
  background-color: #0b0c0c;
}

.u-bg-img-dark-gray {
  background-color: #5f6c7b;
}

.u-bg-img-medium-gray {
  background-color: #95a0ad;
}

.u-bg-img-light-gray {
  background-color: #ecf0f3;
}

/* core */
.u-bg-img-core-black {
  background-color: #0b0c0c;
  background-image: url(../../assets/images/bg/bg_poly-core-black.jpg);
}

.u-bg-img-core-blue {
  background-color: #092940;
  background-image: url(../../assets/images/bg/bg_poly-core-blue.jpg);
}

.u-bg-img-core-gray {
  background-color: #5f6c7b;
  background-image: url(../../assets/images/bg/bg_poly-core-gray.jpg);
}

.u-bg-img-core-light-gray {
  background-color: #95a0ad;
  background-image: url(../../assets/images/bg/bg_poly-core-light-gray.jpg);
}

.u-bg-img-core-off-white {
  background-color: #ecf0f3;
  background-image: url(../../assets/images/bg/bg_poly-core-off-white.jpg);
}

.u-bg-img-core-white {
  background-color: white;
  background-image: url(../../assets/images/bg/bg_poly-core-white.jpg);
}

/* accent */
.u-bg-img-accent-cool-gray {
  background-color: #6a7681;
  background-image: url(../../assets/images/bg/bg_poly-accent-cool-gray.jpg);
}

.u-bg-img-accent-warm-gray {
  background-color: #757575;
  background-image: url(../../assets/images/bg/bg_poly-accent-warm-gray.jpg);
}

.u-bg-img-accent-light-blue {
  background-color: #3f7d97;
  background-image: url(../../assets/images/bg/bg_poly-accent-light-blue.jpg);
}

.u-bg-img-accent-blue {
  background-color: #397aac;
  background-image: url(../../assets/images/bg/bg_poly-accent-blue.jpg);
}

.u-bg-img-accent-indigo {
  background-color: #00376d;
  background-image: url(../../assets/images/bg/bg_poly-accent-indigo.jpg);
}

.u-bg-img-accent-deep-purple {
  background-color: #662e6b;
  background-image: url(../../assets/images/bg/bg_poly-accent-deep-purple.jpg);
}

.u-bg-img-accent-purple {
  background-color: #701c45;
  background-image: url(../../assets/images/bg/bg_poly-accent-purple.jpg);
}

.u-bg-img-accent-red {
  background-color: #a83338;
  background-image: url(../../assets/images/bg/bg_poly-accent-red.jpg);
}

.u-bg-img-accent-orange {
  background-color: #c05411;
  background-image: url(../../assets/images/bg/bg_poly-accent-orange.jpg);
}

.u-bg-img-accent-olive {
  background-color: #9a6f09;
  background-image: url(../../assets/images/bg/bg_poly-accent-olive.jpg);
}

.u-bg-img-accent-green {
  background-color: #588023;
  background-image: url(../../assets/images/bg/bg_poly-accent-green.jpg);
}

.u-bg-img-accent-turquoise {
  background-color: #3c807d;
  background-image: url(../../assets/images/bg/bg_poly-accent-turquoise.jpg);
}

.u-bg-img-accent-turquoise-light {
  background-color: #4c9490;
  background-image: url(../../assets/images/bg/bg_poly-accent-turquoise-light.jpg);
}

.u-bg-img-accent-turquoise-dark {
  background-color: #235f5d;
  background-image: url(../../assets/images/bg/bg_poly-accent-turquoise-dark.jpg);
}

/* note -- reuses colors/images from accent palette */
.u-bg-img-note-blue {
  background-color: #397aac;
  background-image: url(../../assets/images/bg/bg_poly-accent-blue.jpg);
}

.u-bg-img-note-green {
  background-color: #588023;
  background-image: url(../../assets/images/bg/bg_poly-accent-green.jpg);
}

.u-bg-img-note-orange {
  background-color: #c05411;
  background-image: url(../../assets/images/bg/bg_poly-accent-orange.jpg);
}

.u-bg-img-note-red {
  background-color: #a83338;
  background-image: url(../../assets/images/bg/bg_poly-accent-red.jpg);
}

/*
 * utility / text colors
 */
.u-c-blue-saphire {
  color: #1A546B;
  color: var(--color-blue-saphire);
}

.u-c-french-blue {
  color: #0071BC;
  color: var(--color-french-blue);
}

.u-c-pale-aqua {
  color: #BED9F6;
  color: var(--color-pale-aqua);
}

.u-c-deep-aqua {
  color: #92c6fe;
  color: var(--color-deep-aqua);
}

.u-c-mikado-yellow {
  color: #FECD0D;
  color: var(--color-mikado-yellow);
}

.u-c-carmine-pink {
  color: #F13741;
  color: var(--color-carmine-pink);
}

.u-c-burnt-orange {
  color: #ff5b06;
  color: var(--color-burnt-orange);
}

.u-c-rare-black {
  color: #343434;
  color: var(--color-rare-black);
}

.u-c-light-gray {
  color: #D0D4E0;
  color: var(--color-light-gray);
}

.u-c-soft-white {
  color: #fafafa;
  color: var(--color-soft-white);
}

/*
 * utility / spacing
 */
.u-margin-bottom {
  margin-bottom: 1rem;
}
.u-margin-bottom-2x {
  margin-bottom: 2rem;
  /* NOTE: adding child selector to resolve specificity issue */
}
.page-layout__section .u-margin-bottom-2x {
  margin-bottom: 2rem;
}
.u-no-top-margin {
  margin-top: 0;
}
.u-double-bottom-margin {
  margin-bottom: 2rem;
}

/*
 * utility / media
 */
.u-rounded {
  border-radius: 4px;
}

/*
 * utility / display -- show/hide depending on viewport width
 */
.u-display--medium {
  display: none;
}
@media (min-width: 48em) {
  .u-display--medium {
    display: block;
  }
}
@media (min-width: 48em) {
  .u-display--small-only {
    display: none;
  }
}
@media (min-width: 64em) {
  .u-display--medium-only {
    display: none;
  }
}
.u-display--large-only {
  display: none;
}
@media (min-width: 64em) {
  .u-display--large-only {
    display: block;
  }
}
@media (min-width: 64em) {
  .u-display--small-medium-only {
    display: none;
  }
}

/* NOTE: IE 9/10 doesn't support media queries */
/*
 * fonts
 */
.u-f-cabin {
  font: normal normal normal 100%/1.5 "Cabin", sans-serif;
}

.u-f-open-sans {
  font: normal normal normal 100%/1.5 "Open Sans", sans-serif;
}

.u-f-italic {
  font-style: italic;
}

/*
 * palette
 */
.pl-palette {
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.pl-palette__box {
  padding: 1rem;
  border: 1px solid #D0D4E0;
}
.pl-palette__box--heading {
  padding: 0;
  border: 0;
}
.pl-palette__swatch--color {
  height: 0;
  padding-top: 100%;
  margin: 0 0 1rem;
}
.pl-palette__swatch--font {
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
  overflow: scroll;
}
.pl-palette__swatch--button {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
}
.pl-palette__swatch--heading {
  margin-bottom: 1rem;
}
.pl-palette__swatch--icon {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
}
.pl-palette__heading {
  font-weight: bold;
  white-space: nowrap;
}
.pl-palette__heading--big {
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  /* this class is used on a <p> element for font palette -- might want to change to heading or list markup */
}
.pl-palette__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pl-palette__list-item {
  margin: 0 0 .25rem;
}
.pl-palette__list-item--heading {
  font-weight: bold;
}
.pl-palette__list-item:last-child {
  margin: 0;
}
.pl-palette--fonts {
  /* adjust grid item width so more of alphabet is visible */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
@media (min-width: 40em) {
  .pl-palette--fonts {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.pl-palette--buttons {
  /* adjust grid item width so CSS classes remain on one line on wider screens */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
@media (min-width: 48em) {
  .pl-palette--buttons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
.pl-palette--headings {
  display: block;
  /* when viewing heading palette, use same margin value for all headings -- removes unnecessary whitepsace */
}
.pl-palette--headings .pl-palette__item {
  margin: 0 0 2rem;
}
.pl-palette--headings .pl-palette__item:last-child {
  margin: 0;
}
.pl-palette--headings .heading {
  margin: 0 0 1rem;
}
.pl-palette--icons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

/*# sourceMappingURL=style.css.map */
