/*
 * custom properties
 */
:root {
  /* color palette */
  --color-blue-saphire: #1A546B;
  --color-french-blue: #0071BC;
  --color-pale-aqua: #BED9F6;
  --color-deep-aqua: #92c6fe;
  --color-mikado-yellow: #FECD0D;
  --color-carmine-pink: #F13741;
  --color-burnt-orange: #ff5b06;
  --color-rare-black: #343434;
  --color-light-gray: #D0D4E0;
  --color-soft-white: #fafafa;
  /* main */
  --site-background-color: white;
  --site-text-color: black;
  --label-text-color: black;
  /* link */
  --link-color: var(--color-blue-saphire);
  --link-color-hover: var(--color-french-blue);
  /* button */
  --btn-text-color: var(--color-soft-white);
  --btn-bg-color: var(--color-blue-saphire);
}

html.gr-t-dark {
  --site-background-color: #222;
  --site-text-color: white;
  --label-text-color: white;
}

/*
 * font
 */
@font-face {
  font-family: "gr-icon-set";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/gr-icon-set.eot");
  src: url("../../assets/fonts/gr-icon-set.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/gr-icon-set.ttf") format("truetype"), url("../../assets/fonts/gr-icon-set.woff") format("woff"), url("../../assets/fonts/gr-icon-set.svg#svggr-icon-set") format("svg");
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
}
/*
 * base / reset
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header,
footer,
nav,
section,
article,
figure,
picture,
iframe {
  display: block;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}

[class^="gr-i-"], [class*=" gr-i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gr-icon-set' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gr-i-grail:before {
  content: "\e903";
}

.gr-i-facebook:before {
  content: "\e601";
}

.gr-i-twitter:before {
  content: "\e603";
}

.gr-i-instagram:before {
  content: "\e90d";
}

.gr-i-youtube:before {
  content: "\e954";
}

.gr-i-news:before {
  content: "\e932";
}

.gr-i-online:before {
  content: "\e933";
}

.gr-i-arrow-up:before {
  content: "\e900";
}

.gr-i-arrow-down:before {
  content: "\e901";
}

.gr-i-arrow-left:before {
  content: "\e909";
}

.gr-i-arrow-right:before {
  content: "\e90a";
}

.gr-i-check:before {
  content: "\e902";
}

.gr-i-search:before {
  content: "\e60b";
}

.gr-i-launch:before {
  content: "\e895";
}

.gr-i-align-bottom:before {
  content: "\e904";
}

.gr-i-align-top:before {
  content: "\e905";
}

.gr-i-align-center:before {
  content: "\e906";
}

.gr-i-download:before {
  content: "\e94d";
}

.gr-i-arrow-backward:before {
  content: "\e90e";
}

.gr-i-arrow-forward:before {
  content: "\e90f";
}

.gr-i-hamburger:before {
  content: "\e907";
}

.gr-i-close:before {
  content: "\e908";
}

.gr-i-hellip:before {
  content: "\e90b";
}

.gr-i-play-circle:before {
  content: "\e910";
}

.gr-i-loop:before {
  content: "\e918";
}

.gr-i-mail:before {
  content: "\e91e";
}

.gr-i-list:before {
  content: "\e91f";
}

.gr-i-module:before {
  content: "\e920";
}

.gr-i-arrow-rounded:before {
  content: "\e924";
}

.gr-i-label:before {
  content: "\e950";
}

.gr-i-remove:before {
  content: "\e951";
}

.gr-i-add:before {
  content: "\e952";
}

.gr-i-event:before {
  content: "\e953";
}

.gr-i-info:before {
  content: "\e922";
}

.gr-i-time:before {
  content: "\e928";
}

.gr-i-circle:before {
  content: "\e925";
}

.gr-i-circle-filled:before {
  content: "\e926";
}

.gr-i-pin:before {
  content: "\e935";
}

.gr-i-checked:before {
  content: "\e936";
}

.gr-i-close-box:before {
  content: "\e948";
}

.gr-i-create:before {
  content: "\e955";
}

.gr-i-account:before {
  content: "\e957";
}

.gr-i-document:before {
  content: "\e958";
}

.gr-i-photo:before {
  content: "\e921";
}

.gr-i-cancel:before {
  content: "\e94c";
}

.gr-i-error:before {
  content: "\e90c";
}

.gr-i-comment:before {
  content: "\e91c";
}

.gr-i-pie:before {
  content: "\e934";
}

.gr-i-card:before {
  content: "\e91a";
}

.gr-i-check-circle:before {
  content: "\e949";
}

.gr-i-home:before {
  content: "\e94a";
}

.gr-i-location:before {
  content: "\e94f";
}

/*
 * elements / text
 */
a {
  color: #1A546B;
  color: var(--link-color);
  text-decoration: underline;
}
a:hover {
  color: #0071BC;
  color: var(--link-color-hover);
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

blockquote {
  margin: 1em 0 1em 2em;
  padding: 0 0 0 1em;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D0D4E0;
  border-left-color: var(--color-light-gray);
}

/* prevent 'sup' and 'sub' elements from affecting line-height 
   https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

abbr {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0D4E0;
  border-bottom-color: var(--color-light-gray);
}

mark,
cite,
kbd,
code,
samp,
var,
ins,
dfn {
  background-color: #D0D4E0;
  background-color: var(--color-light-gray);
  padding: .25em .5em;
}

ins {
  text-decoration: none;
}

/*
 * list
 */
ul,
ol {
  padding: 0 0 0 2rem;
  margin: 0;
}

/* NOTE: target li elements whose parent ul/ol elements don't have a class attribute -- targeting this way prevents specificity issues */
/*
 * media
 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*
 * fieldset
 */
fieldset {
  padding: 0;
  border: 0;
  margin: 0 0 .5rem;
}
fieldset:last-child {
  margin: 0;
}

/*
 * label
 */
label {
  display: block;
  color: var(--label-text-color);
  font-weight: normal;
  margin: 0 0 .5rem;
}

/*
 * checkbox
 */
input[type=checkbox] {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
input[type=checkbox] + label {
  display: inline-block;
  padding-left: .25rem;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}

/*
 * radio
 */
input[type=radio] {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
input[type=radio] + label {
  display: inline-block;
  padding-left: .25rem;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}

/*
 * select
 */
/*
 * table
 */
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1rem;
  /* bottom margin should be in variable */
}

.table-heading {
  color: #343434;
  text-align: left;
  padding: 0;
  margin: 0 0 10px;
}

th,
td {
  padding: .75rem 1rem;
  border-width: 0 0 1px;
  border-style: solid;
}

th,
thead td {
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
  border-color: #343434;
}

td {
  vertical-align: top;
  border-color: #D0D4E0;
}

/* zebra-striped rows */
/*
 * hr
 */
hr {
  border: 0;
  height: 2px;
  /* value should be in variable */
  background: #D0D4E0;
  /* value should be in custom property */
  margin: 2rem auto;
  /* value should be in variable */
}

/*
 * base / main
 */
html {
  font-size: 1rem;
  background-color: var(--site-background-color);
  height: 100%;
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
html *,
html *:before,
html *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
  font: normal normal normal 100%/1.5 "TransportNewLight_gdi", Helvetica, Arial, sans-serif;
  color: var(--site-text-color);
  height: 100vh;
  /* NOTE: https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* NOTE: since the mobile header is sticky, the top padding here is used as a placeholder */
  /* NOTE: Font smoothing (non-standard) -- https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
  -webkit-font-smoothing: antialiased;
  /* NOTE: IE Edge is giving wide horizontal scrollbar -- hide overflow to fix */
  /* NOTE: the mobile nav is hidden at the $large-breakpoint, so the padding can be set to zero */
}
.mod_no-flexboxlegacy body {
  overflow-x: hidden;
}

/*
 * grid
 */
.gr-o-grid {
  display: grid;
}
.gr-o-grid--demo {
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr) 50%;
  padding: 1rem;
  border: 1px solid #ccc;
}
.gr-o-grid--demo__item {
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid #ccc;
}

/*
 * heading
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* reset all declarations, use classes/modifiers for styling */
  font-size: 1rem;
  font-family: "TransportNewLight_gdi", Helvetica, Arial, sans-serif;
  /* overrides SharePoint rule in core15.css */
  font-weight: normal;
  line-height: 1.2;
  color: inherit;
  /* this declaration seemed to be needed by SharePoint */
  padding: 0;
  margin: 0 0 0.75em;
}

.gr-c-heading {
  /* sizes loosely based on https://type-scale.com/ */
  font: normal normal normal 100%/1.5 "Cabin", sans-serif;
  margin: 0 0 1em;
}
.gr-c-heading--alpha, .gr-c-heading--beta, .gr-c-heading--gamma, .gr-c-heading--delta {
  line-height: 1.2;
}
.gr-c-heading--alpha {
  font-size: 2.074em;
}
.gr-c-heading--beta {
  font-size: 1.728em;
}
.gr-c-heading--gamma {
  font-size: 1.44em;
}
.gr-c-heading--delta {
  font-size: 1.2em;
}
.gr-c-heading--epsilon {
  font-size: 1em;
}
.gr-c-heading--zeta {
  font-size: 0.833em;
}

/*
 * button
 */
button {
  cursor: pointer;
  -webkit-appearance: none;
  /* Safari fix -- the 'button' element has additional user-agent declarations */
  align-items: center;
  /* for some reason, Webkit adds Flex-related declaration */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  outline: none;
}

.gr-c-btn {
  display: inline-block;
  font-size: .9rem;
  font-weight: bold;
  color: #fafafa;
  color: var(--btn-text-color);
  background-color: #1A546B;
  background-color: var(--btn-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: .25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  letter-spacing: .03rem;
  cursor: pointer;
  /* useful for <button> and <input type='submit'> elements */
}
.gr-c-btn:hover {
  color: #fafafa;
  background: #0071BC;
  text-decoration: none;
}
.gr-c-btn:focus {
  outline: 2px solid #D0D4E0;
}
.gr-c-btn:disabled, .gr-c-btn:disabled:hover, .gr-c-btn--disabled, .gr-c-btn--disabled:hover {
  color: #e6ecee;
  background-color: #577f90;
  cursor: default;
}
.gr-c-btn--light {
  color: #1A546B;
  background-color: #BED9F6;
}
.gr-c-btn--light:hover {
  color: #1A546B;
  background: #92c6fe;
}
.gr-c-btn--light:disabled, .gr-c-btn--light:disabled:hover, .gr-c-btn--light.gr-c-btn--disabled, .gr-c-btn--light.gr-c-btn--disabled:hover {
  color: rgba(87, 127, 144, 0.8);
  background-color: #BED9F6;
}
.gr-c-btn--secondary {
  color: #fafafa;
  background-color: #F13741;
}
.gr-c-btn--secondary:hover {
  color: #fafafa;
  background: #ff5b06;
}
.gr-c-btn--secondary:disabled, .gr-c-btn--secondary:disabled:hover, .gr-c-btn--secondary.gr-c-btn--disabled, .gr-c-btn--secondary.gr-c-btn--disabled:hover {
  color: #e6ecee;
  background-color: #f86f72;
}
.gr-c-btn--secondary.gr-c-btn--light {
  color: #bc0711;
  background-color: #ffa8aa;
}
.gr-c-btn--secondary.gr-c-btn--light:hover {
  color: #bc0711;
  background: #f3999b;
}
.gr-c-btn--secondary.gr-c-btn--light:disabled, .gr-c-btn--secondary.gr-c-btn--light:disabled:hover, .gr-c-btn--secondary.gr-c-btn--light.gr-c-btn--disabled, .gr-c-btn--secondary.gr-c-btn--light.gr-c-btn--disabled:hover {
  color: #e6ecee;
  background-color: #f3999b;
}

/*
 * custom list 
 */
.gr-c-custom-list {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding-left: 14px;
  /* magic number -- lines up numbered bullets with default <ol> bullets */
}
.gr-c-custom-list li {
  counter-increment: my-awesome-counter;
}
.gr-c-custom-list li:before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}

/*
 * card
 */
.gr-c-card {
  max-width: 600px;
  /* magic numer */
}
.gr-c-card__media {
  margin: 0 0 1rem;
}
.gr-c-card__heading {
  font-size: 1.25rem;
  margin: 0 0 .5rem;
}
.gr-c-card__p {
  margin: 0;
}
.gr-c-card--bordered {
  border: 1px solid #ccc;
}
.gr-c-card--bordered .gr-c-card__heading {
  margin-left: 1rem;
  margin-right: 1rem;
}
.gr-c-card--bordered .gr-c-card__p {
  margin: 0 1rem 1rem;
}
.gr-c-card--padded {
  padding: 1rem;
  border: 1px solid #ccc;
}

/*
 * card set
 */
.gr-c-card-set {
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/*
 * video
 */
.gr-c-video--fluid-width {
  /* 'padding-top' solution */
  height: 0;
  position: relative;
  padding-top: 56.25%;
  /* 56.25% is used for '560 x 315' dimensions (YouTube videos) */
}
.gr-c-video--fluid-width .gr-c-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * text input
 */
input[type=text],
input[type=search],
input[type=url],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
textarea,
.gr-c-input-text {
  font-size: 1rem;
  border: 1px solid #D0D4E0;
  height: 2.5rem;
  width: 100%;
  padding: .75rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
}
input[type=text]:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
.gr-c-input-text:focus {
  border-color: #0071BC;
}

textarea,
textarea.gr-c-input-text {
  display: block;
  /* removes unnecessary space below element */
  min-height: 100px;
  overflow: auto;
  /* without this, scrollbar placeholder is visible in IE 11- */
  resize: vertical;
}

input[type=file] {
  width: 100%;
  /* NOTE: this input type had an explicit width by default; using "100%" allows it to to be squishy */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  /* NOTE: Chrome/Opera/Safari */
  font-style: italic;
}

::-moz-placeholder {
  /* NOTE: Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder {
  /* NOTE: IE 10+ */
  font-style: italic;
}

:-moz-placeholder {
  /* NOTE: Firefox 18- */
  font-style: italic;
}

/* NOTE: Hide Webkit-added pseudo */
/*       http://geek.michaelgrace.org/2011/06/webkit-search-input-styling/ */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

/*
 * form
 */
.gr-c-form__item {
  margin: 0;
  /* overrides default 'fieldset' margin -- rely on 'grid-gap' instead */
}
.gr-c-form__item--fill {
  grid-column: span 3;
}
.gr-c-form__item--check {
  position: relative;
  padding-left: 1rem;
}
.gr-c-form__item--check input[type=checkbox] {
  position: absolute;
  left: 0;
  top: .4rem;
}
.gr-c-form__item--btn {
  text-align: right;
}
.gr-c-form--signup {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: inherit;
}
.gr-c-form--signup .gr-c-form__item--fill {
  grid-column: inherit;
}
@media (min-width: 30em) {
  .gr-c-form--signup {
    grid-template-columns: repeat(2, 1fr);
  }
  .gr-c-form--signup .gr-c-form__item--fill {
    grid-column: span 2;
  }
}
.gr-c-form--payment {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: inherit;
}
.gr-c-form--payment .gr-c-form__item--fill {
  grid-column: inherit;
}
@media (min-width: 30em) {
  .gr-c-form--payment {
    grid-template-columns: repeat(3, 1fr);
  }
  .gr-c-form--payment .gr-c-form__item--fill {
    grid-column: span 3;
  }
}

/*
 * nav
 */
.gr-c-nav__menu {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.gr-c-nav__item {
  display: inline-block;
  margin: 0 1rem 0 0;
}
.gr-c-nav__item:last-child {
  margin: 0;
}

/*
 * site header
 */
.gr-c-site-header {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto;
  align-items: baseline;
  padding: 1rem 0 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D0D4E0;
  border-bottom-color: var(--color-light-gray);
  margin: 0 auto 1rem;
  /* bottom margin should be in variable */
  max-width: 1000px;
  /* value should be in variable */
}
.gr-c-site-header__heading {
  font-size: 2rem;
  /* value should be in variable */
  margin: 0;
  /* override default '.gr-c-heading' property */
}
.gr-c-site-header__heading-link {
  text-decoration: none;
  /* override default 'a' property */
}
.gr-c-site-header__heading-link i {
  font-size: 1.5rem;
}
.gr-c-site-header__nav {
  margin: 1rem 0;
}
@media (min-width: 20em) {
  .gr-c-site-header {
    grid-template-columns: minmax(0, 1fr) auto;
  }
  .gr-c-site-header .gr-c-site-header__nav {
    margin: 0;
  }
}

/*
 * hero
 */
.gr-c-hero {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto;
  max-width: 1000px;
  /* this value should be in a variable */
  margin: auto;
}
.gr-c-hero__inner {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.gr-c-hero__img-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.gr-c-hero img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.gr-c-hero__text-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  align-items: center;
  text-align: center;
}

/*
 * utility / visibility
 */
[hidden],
.hidden {
  display: none !important;
}

.u-visible {
  display: block;
}

/*
 * NOTE: hide only visually, but have it available for screen readers:
 *       http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* NOTE: using both class names since they're both being used */
.visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * NOTE: extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:
 *       https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * NOTE: hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * utility
 */
.u-nobr {
  white-space: nowrap;
}

.u-text-center {
  text-align: center;
}

.u-no-text-transform {
  text-transform: none;
}

.u-text-left {
  text-align: left;
  /* NOTE: override rules that affect alignment */
}
table td .u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-float-right {
  float: right;
}

.u-text-no-wrap {
  white-space: nowrap;
}

.u-no-top-margin {
  margin-top: 0;
}

/*
 * utility / lists
 */
.u-clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u-list--clean {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 * background color
 */
.gr-u-bg-blue-saphire {
  background-color: #1A546B;
  background-color: var(--color-blue-saphire);
}

.gr-u-bg-french-blue {
  background-color: #0071BC;
  background-color: var(--color-french-blue);
}

.gr-u-bg-pale-aqua {
  background-color: #BED9F6;
  background-color: var(--color-pale-aqua);
}

.gr-u-bg-deep-aqua {
  background-color: #92c6fe;
  background-color: var(--color-deep-aqua);
}

.gr-u-bg-mikado-yellow {
  background-color: #FECD0D;
  background-color: var(--color-mikado-yellow);
}

.gr-u-bg-carmine-pink {
  background-color: #F13741;
  background-color: var(--color-carmine-pink);
}

.gr-u-bg-burnt-orange {
  background-color: #ff5b06;
  background-color: var(--color-burnt-orange);
}

.gr-u-bg-rare-black {
  background-color: #343434;
  background-color: var(--color-rare-black);
}

.gr-u-bg-light-gray {
  background-color: #D0D4E0;
  background-color: var(--color-light-gray);
}

.gr-u-bg-soft-white {
  background-color: #fafafa;
  background-color: var(--color-soft-white);
}

/*
 * text color
 */
.gr-u-c-blue-saphire {
  color: #1A546B;
  color: var(--color-blue-saphire);
}

.gr-u-c-french-blue {
  color: #0071BC;
  color: var(--color-french-blue);
}

.gr-u-c-pale-aqua {
  color: #BED9F6;
  color: var(--color-pale-aqua);
}

.gr-u-c-deep-aqua {
  color: #92c6fe;
  color: var(--color-deep-aqua);
}

.gr-u-c-mikado-yellow {
  color: #FECD0D;
  color: var(--color-mikado-yellow);
}

.gr-u-c-carmine-pink {
  color: #F13741;
  color: var(--color-carmine-pink);
}

.gr-u-c-burnt-orange {
  color: #ff5b06;
  color: var(--color-burnt-orange);
}

.gr-u-c-rare-black {
  color: #343434;
  color: var(--color-rare-black);
}

.gr-u-c-light-gray {
  color: #D0D4E0;
  color: var(--color-light-gray);
}

.gr-u-c-soft-white {
  color: #fafafa;
  color: var(--color-soft-white);
}

/*
 * utility / spacing
 */
.u-margin-bottom {
  margin-bottom: 1rem;
}
.u-margin-bottom-2x {
  margin-bottom: 2rem;
  /* NOTE: adding child selector to resolve specificity issue */
}
.page-layout__section .u-margin-bottom-2x {
  margin-bottom: 2rem;
}
.u-no-top-margin {
  margin-top: 0;
}
.u-double-bottom-margin {
  margin-bottom: 2rem;
}

/*
 * utility / media
 */
.u-rounded {
  border-radius: 4px;
}

/*
 * display -- show/hide depending on viewport width
 */
.gr-u-display--medium {
  display: none;
}
@media (min-width: 48em) {
  .gr-u-display--medium {
    display: block;
  }
}
@media (min-width: 48em) {
  .gr-u-display--small-only {
    display: none;
  }
}
@media (min-width: 64em) {
  .gr-u-display--medium-only {
    display: none;
  }
}
.gr-u-display--large-only {
  display: none;
}
@media (min-width: 64em) {
  .gr-u-display--large-only {
    display: block;
  }
}
@media (min-width: 64em) {
  .gr-u-display--small-medium-only {
    display: none;
  }
}

/*
 * font
 */
.gr-u-f-cabin {
  font: normal normal normal 100%/1.5 "Cabin", sans-serif;
}

.gr-u-f-open-sans {
  font: normal normal normal 100%/1.5 "Open Sans", sans-serif;
}

.gr-u-f-italic {
  font-style: italic;
}

/*
 * palette
 */
.gr-pl-o-palette {
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.gr-pl-o-palette__box {
  height: 100%;
  /* gives consistent visual heights, specifically for <textarea> demo */
  padding: 1rem;
  border: 1px solid #D0D4E0;
}
.gr-pl-o-palette__box--heading {
  padding: 0;
  border: 0;
}
.gr-pl-o-palette__swatch--color {
  height: 0;
  padding-top: 100%;
  margin: 0 0 1rem;
}
.gr-pl-o-palette__swatch--font {
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
  overflow: scroll;
}
.gr-pl-o-palette__swatch--button {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
}
.gr-pl-o-palette__swatch--heading {
  margin-bottom: 1rem;
}
.gr-pl-o-palette__swatch--icon {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
}
.gr-pl-o-palette__swatch--form-element {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D0D4E0;
  margin-bottom: 1rem;
}
.gr-pl-o-palette__heading {
  font-weight: bold;
  white-space: nowrap;
}
.gr-pl-o-palette__heading--big {
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  /* this class is used on a <p> element for font palette -- might want to change to heading or list markup */
}
.gr-pl-o-palette__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gr-pl-o-palette__list-item {
  margin: 0 0 .25rem;
}
.gr-pl-o-palette__list-item--heading {
  font-weight: bold;
}
.gr-pl-o-palette__list-item:last-child {
  margin: 0;
}
.gr-pl-o-palette--fonts {
  /* adjust grid item width so more of alphabet is visible */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
@media (min-width: 40em) {
  .gr-pl-o-palette--fonts {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.gr-pl-o-palette--buttons {
  /* adjust grid item width so CSS classes remain on one line on wider screens */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
@media (min-width: 48em) {
  .gr-pl-o-palette--buttons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
.gr-pl-o-palette--headings {
  display: block;
  /* when viewing heading palette, use same margin value for all headings -- removes unnecessary whitepsace */
}
.gr-pl-o-palette--headings .gr-pl-o-palette__item {
  margin: 0 0 2rem;
}
.gr-pl-o-palette--headings .gr-pl-o-palette__item:last-child {
  margin: 0;
}
.gr-pl-o-palette--headings .gr-c-heading {
  margin: 0 0 1rem;
}
.gr-pl-o-palette--icons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}
.gr-pl-o-palette--form-elements {
  /*  */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
@media (min-width: 18.75em) {
  .gr-pl-o-palette--form-elements {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
