<div class="menu-wrapper">
  <select class="custom-select">
    <optgroup label="Region">
      <option>
        Piedmont
      </option>
      <option>
        Mountains
      </option>
      <option>
        Coast
      </option>
    </optgroup>
    <optgroup label="County">
      <option>
        Craven
      </option>
      <option>
        Brunswick
      </option>
      <option>
        Pender
      </option>
    </optgroup>
  </select>
</div>
