{{# scroll-box }}

<div class="scroll-box {{ modifier }}">

  {{# item }}

  <div class="scroll-box__item {{ modifier }}">
    
    {{> organisms-social-box }}

  </div>

  {{/ item }}

</div>

{{/ scroll-box }}