/*
 * elements / form elements
 */

label {

  @extend %form_label;

}

button,
input,
select,
textarea {

  font: $font;
  border-radius: 4px; /* NOTE: this value should be in a variable */

}

select {

  background: $white;

}

button {

  cursor: pointer;
  -webkit-appearance: none; /* NOTE: Safari fix -- the 'button' element has additional user-agent declarations */
  align-items: center; /* NOTE: for some reason, Webkit adds Flex-related declaration */

}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
textarea, 
%text_input {

  font-size: .875rem;
  color: $core-black;
  background-color: $white;
  width: 100%;
  border: 1px solid $core-light-gray;
  padding: 0.84rem 0.9375rem; /* NOTE: specific padding used to match text input height with custom menu/select height */
  vertical-align: unset;

  &:hover {

    border: 1px solid $core-light-gray;

  }

  &:focus {

    outline: 0;
    border-color: $accent-blue;

  }

}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
textarea,
button {

  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;

}

input[type=file] {

  width: 100%; /* NOTE: this input type had an explicit width by default; using "100%" allows it to to be squishy */

}

textarea {

  display: block; /* NOTE: removes unnecessary space below element */
  height: 100px;
  overflow: auto; /* NOTE: without this, scrollbar placeholder is visible in IE 11- */

}

fieldset {

  border: 0;
  padding: 0;
  margin: 0 0 1rem;
  min-width: 0;

  /* NOTE: set element's positioning since it may contain absolutely-positioned icons (e.g. error icon) */

  position: relative;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  -webkit-appearance: none;
  margin: 0;

}

input:placeholder-shown {

  //

}

::-webkit-input-placeholder { /* NOTE: Chrome/Opera/Safari */

  font-style: italic;
  color: $core-gray; 

}

::-moz-placeholder { /* NOTE: Firefox 19+ */

  font-style: italic;
  color: $core-gray; 

}

:-ms-input-placeholder { /* NOTE: IE 10+ */

  font-style: italic;
  color: $core-gray; 

}

:-moz-placeholder { /* NOTE: Firefox 18- */

  font-style: italic;

}

/* NOTE: Hide Webkit-added pseudo */
/*       http://geek.michaelgrace.org/2011/06/webkit-search-input-styling/ */

input[type=search] {

  //

}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {

  display: none;

}
