/*
 * elements / headings -- reset all declarations, use modifiers for styling
 */

h1,
h2,
h3,
h4,
h5,
h6 {

  font-size: $font-size--default;
  font-family: $font-normal-family; /* NOTE: overrides SharePoint rule in core15.css */
  font-weight: normal;
  line-height: 1.2;
  color: inherit; /* NOTE: this declaration seemed to be needed by SharePoint */
  padding: 0;
  margin: 0 0 0.75em;

}
