{{# nav }}

<nav class="gr-c-nav {{ class }}">
  <ul class="gr-c-nav__menu">

    {{# item }}

    <li class="gr-c-nav__item">
      <a class="gr-c-nav__link" href="">
        {{ link-text }}
      </a>
    </li>

    {{/ item }}

  </ul>
</nav>

{{/ nav }}