{{# social-block-isotope }}

<div class="isotope">

  {{# item-group }}

  <div class="isotope__item-group {{ modifier }}">

    <div class="isotope__grid-sizer"></div>

    {{# item }}

    <div class="isotope__item isotope__item--{{ data-category }} {{ modifier }}" data-category="{{ data-category }}">
      <div class="isotope__item-inner">
        
        {{> organisms-social-box }}
        
      </div>
    </div>

    {{/ item }}

  </div>

  {{/ item-group }}

</div>

{{/ social-block-isotope }}
