{{# button }}

<a class="gr-c-btn {{ class }}" href="{{ url }}">

  {{# button-icon }}
  <i class="gr-c-btn__icon {{ button-icon }}">
  </i>&nbsp;
  {{/ button-icon }}

  {{ text }}

</a>

{{/ button }}