/*
 * hr
 */

hr {

  @include custom-property(background-color, --gr-medium-gray, $gr-medium-gray);
  border: 0; 
  height: 1px; 
  margin: 0 auto $gr-component-gap;
  max-width: calc(#{$gr-component-max-width} - 2rem); /* this value should be in a variable */

}