/*
 * table
 */

table, 
%table {

  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1rem; /* bottom margin should be in variable */

}

caption, 
%caption {

  font: $gr-font-secondary-italic;
  font-size: $gr-font-size-eta;

}

.table-heading, 
%table-heading, 
th, 
%th {

  @include custom-property(color, --gr-black, $gr-black);
  text-align: left;
  padding: 0;
  margin: 0 0 10px;

}

th,
td, 
%table-cell {

  padding: .75rem 1rem;
  border-width: 0 0 1px;
  border-style: solid;
  text-align: left;
  
}

th, 
thead td, /* prepare for scenario where 'td' is used in place of 'th'  */
%th {

  @include custom-property(border-color, --gr-black, $gr-black);
  font-weight: bold; 
  vertical-align: bottom; 

}

td, 
%td {

  @include custom-property(border-color, --gr-medium-gray, $gr-medium-gray);
  vertical-align: top; 

}

/* zebgr-striped rows */

tbody {

  tr {

    &:nth-child(even) {

      // @include custom-property(background-color, --gr-warm-gray, $gr-warm-gray);

    }

  }

}
