/*
 * text
 */

a, 
%a {

  @include custom-property(color, --gr-primary-blue, $gr-primary-blue);
  transition: $gr-text-transition; 
  text-decoration: none; 

  &:hover {

    text-decoration: underline;

  }

  &:focus {

    //

  }

  &:active {

    //

  }

  &:visited {

    //

  }

}

p {

  margin: 0 0 1.3rem;

}

blockquote {

  @include custom-property(border-left-color, --gr-medium-gray, $gr-medium-gray);
  border-left-style: solid; 
  border-left-width: 2px;
  margin: 1em 0 1em 2em;
  padding: 0 0 0 1em; 

}

small {

  font-size: $gr-font-size-eta;

}

b,
strong {

  //

}

i,
em {

  //

}

/* prevent 'sup' and 'sub' elements from affecting line-height 
   https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height */

sup,
sub {

  vertical-align: baseline;
  position: relative;
  top: -0.4em;

}

sub {

  top: 0.4em;

}

abbr {

  text-decoration: none;
  border-bottom-width: 1px; 
  border-bottom-style: solid;
  // @include custom-property(border-bottom-color, --color-light-gray, $color-light-gray);
  // border-bottom-color: red;

}

mark,
cite,
kbd,
code,
samp,
var, 
ins, 
dfn {

  @include custom-property(background-color, --gr-medium-gray, $gr-medium-gray);
  padding: .25em .5em;

}

ins {

  text-decoration: none; 

}

pre {

  margin: 0;
  
}