/*
 * utility / background images
 */

/* generic */

.u-bg-img-white {

  background-color: $core-white;

}

.u-bg-img-black {

  background-color: $core-black;

}

.u-bg-img-dark-gray {

  background-color: $core-gray;

}

.u-bg-img-medium-gray {

  background-color: $core-light-gray;

}

.u-bg-img-light-gray {

  background-color: $core-off-white;

}

/* core */

.u-bg-img-core-black {

  background-color: $core-black;
  background-image: url(../../assets/images/bg/bg_poly-core-black.jpg);

}

.u-bg-img-core-blue {

  background-color: $core-blue;
  background-image: url(../../assets/images/bg/bg_poly-core-blue.jpg);

}

.u-bg-img-core-gray {

  background-color: $core-gray;
  background-image: url(../../assets/images/bg/bg_poly-core-gray.jpg);

}

.u-bg-img-core-light-gray {

  background-color: $core-light-gray;
  background-image: url(../../assets/images/bg/bg_poly-core-light-gray.jpg);

}

.u-bg-img-core-off-white {

  background-color: $core-off-white;
  background-image: url(../../assets/images/bg/bg_poly-core-off-white.jpg);

}

.u-bg-img-core-white {

  background-color: $core-white;
  background-image: url(../../assets/images/bg/bg_poly-core-white.jpg);

}

/* accent */

.u-bg-img-accent-cool-gray {

  background-color: $accent-cool-gray;
  background-image: url(../../assets/images/bg/bg_poly-accent-cool-gray.jpg);

}

.u-bg-img-accent-warm-gray {

  background-color: $accent-warm-gray;
  background-image: url(../../assets/images/bg/bg_poly-accent-warm-gray.jpg);

}

.u-bg-img-accent-light-blue {

  background-color: $accent-light-blue;
  background-image: url(../../assets/images/bg/bg_poly-accent-light-blue.jpg);

}

.u-bg-img-accent-blue {

  background-color: $accent-blue;
  background-image: url(../../assets/images/bg/bg_poly-accent-blue.jpg);

}

.u-bg-img-accent-indigo {

  background-color: $accent-indigo;
  background-image: url(../../assets/images/bg/bg_poly-accent-indigo.jpg);

}

.u-bg-img-accent-deep-purple {

  background-color: $accent-deep-purple;
  background-image: url(../../assets/images/bg/bg_poly-accent-deep-purple.jpg);

}

.u-bg-img-accent-purple {

  background-color: $accent-purple;
  background-image: url(../../assets/images/bg/bg_poly-accent-purple.jpg);

}

.u-bg-img-accent-red {

  background-color: $accent-red;
  background-image: url(../../assets/images/bg/bg_poly-accent-red.jpg);

}

.u-bg-img-accent-orange {

  background-color: $accent-orange;
  background-image: url(../../assets/images/bg/bg_poly-accent-orange.jpg);

}

.u-bg-img-accent-olive {

  background-color: $accent-olive;
  background-image: url(../../assets/images/bg/bg_poly-accent-olive.jpg);

}

.u-bg-img-accent-green {

  background-color: $accent-green;
  background-image: url(../../assets/images/bg/bg_poly-accent-green.jpg);

}

.u-bg-img-accent-turquoise {

  background-color: $accent-turquoise;
  background-image: url(../../assets/images/bg/bg_poly-accent-turquoise.jpg);

}

.u-bg-img-accent-turquoise-light {

  background-color: $accent-turquoise-light;
  background-image: url(../../assets/images/bg/bg_poly-accent-turquoise-light.jpg);

}

.u-bg-img-accent-turquoise-dark {

  background-color: $accent-turquoise-dark;
  background-image: url(../../assets/images/bg/bg_poly-accent-turquoise-dark.jpg);

}

/* note -- reuses colors/images from accent palette */

.u-bg-img-note-blue {

  background-color: $note-blue;
  background-image: url(../../assets/images/bg/bg_poly-accent-blue.jpg);

}

.u-bg-img-note-green {

  background-color: $note-green;
  background-image: url(../../assets/images/bg/bg_poly-accent-green.jpg);

}

.u-bg-img-note-orange {

  background-color: $note-orange;
  background-image: url(../../assets/images/bg/bg_poly-accent-orange.jpg);

}

.u-bg-img-note-red {

  background-color: $note-red;
  background-image: url(../../assets/images/bg/bg_poly-accent-red.jpg);

}
