/*
 * utility / display -- show/hide depending on viewport width
 */

.u-display {

  //

  &--small {
    
    //
  
  }
  
  &--medium {
    
    display: none;
    
    @include sb-media($medium-breakpoint) {
      
      display: block;
    
    }

  }
        
  &--large {

    //

  }

  &--small-only {

    //
    
    @media (min-width: $medium-breakpoint) {
      
      display: none;
    
    }
  
  }
  
  &--medium-only {
    
    //
    
    @media (min-width: $large-breakpoint) {
      
      display: none;
    
    }

  }
        
  &--large-only {

    display: none;
    
    @media (min-width: $large-breakpoint) {
      
      display: block;
    
    }

  }

  &--small-medium-only {
    
    //
    
    @media (min-width: $large-breakpoint) {
      
      display: none;
    
    }

  }

}

/* NOTE: IE 9/10 doesn't support media queries */

.no-flexbox {

  //

}