/*
 * utility / spacing
 */

.u {

  //

  &-margin-bottom {

    margin-bottom: 1rem;

  }

  &-margin-bottom-2x {

    margin-bottom: 2rem;

    /* NOTE: adding child selector to resolve specificity issue */

    .page-layout__section & {

      margin-bottom: 2rem;

    }

  }

  &-no-top-margin {

    margin-top: 0;

  }

  &-double-bottom-margin {

    margin-bottom: 2rem;

  }

}
