/*
 * site header
 */

.site-header {

  display: none; /* NOTE: hide this version of the header on small screens  */
  background: $core-blue;

  &__inner-wrapper {

    @include flexbox;
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);

    max-width: $component-max-width;
    padding: 1rem $page-side-padding;
    margin: 0 auto;

  }

  &__tagline {

    font-size: 1.2rem;
    font-family: $font-italic-family;
    font-style: italic;

  }

  .logo {

    margin-right: auto; /* NOTE: margins for the .site-header children help space things properly initially, then mimic the other NC sites on wider screens */

  }

  .search-box {

    border: 0; /* NOTE: no border needed since header has a dark background */
    margin: auto; /* NOTE: the margins for the .site-header children help space things properly initially, then mimic the other NC sites on wider screens */

    /* NOTE: set max-width -- otherwise, links on right might break to two lines (bad!) */

    max-width: 20%;

    /* NOTE: set explicit height -- otherwise, in some browsers, search button is much taller than it should be */

    height: 40px; /* NOTE: magic number */

  }

  .nav-list {

    background: transparent; /* NOTE: override default background, just in case header background changes */
    margin: 0 0 0 auto; /* NOTE: margins for the .site-header children help space things properly initially, then mimic the other NC sites on wider screens */

  }

  .alert-toggle {

    margin-left: 1.5rem; /* NOTE: using left margin to add space between .nav-list and this element. Applying this here since this element is not always displayed (using right margin on .nav-list creates unnecessary space when this element isn't display) */
    color: $white;

    /* NOTE: adjust margin to vertically-align (visually) in non-flexbox-supporting browsers (IE 9/10) */

    .no-flexbox & {

      display: block;
      height: 26px; /* NOTE: magic number */
      margin-top: 27px; /* NOTE: magic number */

    }

  }

  &--white-bg {

    background: $white;

  }

  @include sb-media($large-breakpoint) {

    display: block; /* NOTE: display on wider screens */

    &__inner-wrapper {

      /* NOTE: use floats and margins to space elements for "no flexbox" browsers */

      .no-flexbox & {

        @include clearfix;

        > * {

          float: left;
          margin-right: 2rem;

        }

        > .search-box {

          margin-top: 18px; /* NOTE: magic number */

        }

        > .alert-toggle {

          float: right;
          margin-right: 0;

        }

      }

    }

  }

  @include sb-media(72em) { /* NOTE: magic number, custom breakpoint */

    .search-box {

      max-width: 320px;

    }

  }

}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener {

  .site-header {

    &__inner-wrapper {

      overflow: hidden;

    }

    .logo, 
    .search-box, 
    .nav-list {

      float: left; 

    }

    .alert-toggle {

      display: block;
      float: right; 
      margin-left: 0;

    }

  }

}