/*
 * site footer
 */

.site-footer {

  background: $core-blue;
  padding: 1.875rem 0 0;
  color: $white;

  &__top {

    max-width: $component-max-width;
    padding: 0 $page-side-padding;
    margin: 0 auto 2rem;

  }

  &__bottom {

    background: $core-blue;
    padding: 1.875rem $page-side-padding;

    .link-group {

      margin-bottom: 2rem;

    }

  }

  &__main {

    margin-bottom: 0;

  }

  &__heading {

    color: $white;
    line-height: 1.5;
    margin-top: 0;
    border-bottom: 1px solid $white;

  }

  &__cell {

    margin-bottom: 0;
    
  }

  &__copyright {

    text-align: center;
    font-size: $font-size--eta;
    color: $white;
    margin: 0;

    span {

      display: inline-block; /* NOTE: keeps piece of text always on one line */

    }

  }

  &__section-list {

    background: transparent;
    margin-bottom: 2rem; 

  }

  p {

    max-width: 28rem; /* NOTE: magic number -- keeps <p> text from going too long horizontally (medium screens) */

  }

  a {

    color: $white;

    .icon--circled {

      color: $white;
      border-color: $white; /* NOTE: using "inherit" doesn't seem to work in IE Edge */

    }

    &:hover {

      color: $white;

      .icon--circled {

        box-shadow: 0 0 0 5px rgba(255,255,255,.2);

      }

    }

  }

  .simple-list {

    background: transparent;

  }

  .simple-list__link {

    text-decoration: none;
    
  }

  .simple-list__link-text {

    color: $white;
    border-bottom-color: inherit;

  }

  .twitter-timeline {

    height: 300px !important; /* NOTE: magic number -- overrides author's config, gives component sensible height */

  }

  [href^="tel"],
  [href^="tel"]:hover,
  [href^="tel"]:visited {

    color: $white;
    text-decoration: underline;

    .no-touchevents & {

      text-decoration: none;
      cursor: text;

    }

  }

  // .twitter-feed {

  //   iframe {

  //     width: 273px !important; /* NOTE: seems to resolve issue horizontal scrolling in Safari/iPhone 7 */

  //   }

  // }

  .link-group {

    margin-bottom: 2rem;
    
  }

  &--no-padding {

    padding: 0;

  }

}

@include sb-media($medium-breakpoint) {

  .site-footer {

    padding: 3.75rem 0 0;

    .simple-list__item:last-child {

      margin: 0 0 1rem;

    }

    .simple-list__item:last-child {

      margin: 0 0 1.5rem;
      margin: 0;
      
    }

    &--no-padding {

      padding: 0;

    }

  }

}

@include sb-media($large-breakpoint) {

  .site-footer {

    //

    &__main {

      //

      .no-flexboxlegacy & {

        //

        display: table;

      }

    }

    &__cell {

      margin-bottom: 0;

      /* NOTE: force middle column to use two column's worth of space */

      &--divisions {

        -webkit-flex: 2 !important;
        -ms-webkit-flex: 2 !important;
        flex: 2 !important; /* NOTE: check use of !important rule */

      }

    }

    p {

      max-width: none; /* NOTE: overrides default rule. no need for max-width once the footer content displays as columns */

    }

    /* NOTE: flexbox fallbacks */

    .flexbox.flexboxtweener &,
    .no-flexbox & {

      .site-footer__main {

        display: table;
        table-layout: fixed;

      }

      &__cell {

        display: table-cell;
        width: 25%;

        &--divisions {

          width: 50%;

        }

      }

    }

  }

}