<section class="page-layout__section" id="customerSatisfactionComponentsXXX"> <!-- NOTE: ID not needed in SharePoint environment -->
  <div class="page-layout__section-inner">

    <div class="dashboard-component gauge-box">

      <h3 class="heading heading--gamma dashboard-component__heading">
        Progress
      </h3>

      <div class="gauge-box__gauge-wrapper">

        <div class="gauge-box__gauge">

          <canvas data-type="radial-gauge" 
            data-width="200" 
            data-height="200" 
            data-units="" 
            data-title="false" 
            data-value="0" 
            data-min-value="0" 
            data-max-value="220" 
            data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220" 
            data-minor-ticks="1" 
            data-stroke-ticks="false" 
            data-highlights='[
                { "from": 0, "to": 50, "color": "rgba(0,255,0,.15)" },
                { "from": 50, "to": 100, "color": "rgba(255,255,0,.15)" },
                { "from": 100, "to": 150, "color": "rgba(255,30,0,.25)" },
                { "from": 150, "to": 200, "color": "rgba(255,0,225,.25)" },
                { "from": 200, "to": 220, "color": "rgba(0,0,255,.25)" }
            ]' 
            data-color-major-ticks="transparent" 
            data-color-minor-ticks="transparent" 
            data-color-title="#fff" 
            data-color-units="transparent"
            data-color-numbers="transparent"
            data-color-needle-start="transparent" 
            data-color-needle-end="transparent" 
            data-value-box="true" 
            data-animation-rule="quad" 
            data-animation-duration="1500" 
            data-font-value="Led" 
            data-animated-value="true" 
            data-borders="false" 
            data-border-shadow-width="0" 
            data-needle-type="arrow" 
            data-needle-width="3" 
            data-color-plate="#FFF" 
            data-color-value-box-background="#FFF" 
            >
          </canvas>

        </div>

        <div class="dashboard-component__details">
          <h4 class="heading heading--gamma gauge-box__heading">
            99 add
          </h4>
          <p class="gauge-box__details">
            83% of participants reported that NCDOT services have improved in the last few years.
          </p>
        </div>

      </div>

    </div>

    <div class="dashboard-component gauge-box">

      <h3 class="heading heading--gamma dashboard-component__heading">
        Progress
      </h3>

      <div class="gauge-box__gauge-wrapper">

        <div class="gauge-box__gauge">

          <canvas data-type="radial-gauge" 
            data-width="200" 
            data-height="200" 
            data-units="" 
            data-title="false" 
            data-value="0" 
            data-min-value="0" 
            data-max-value="220" 
            data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220" 
            data-minor-ticks="1" 
            data-stroke-ticks="false" 
            data-highlights='[
                { "from": 0, "to": 50, "color": "rgba(0,255,0,.15)" },
                { "from": 50, "to": 100, "color": "rgba(255,255,0,.15)" },
                { "from": 100, "to": 150, "color": "rgba(255,30,0,.25)" },
                { "from": 150, "to": 200, "color": "rgba(255,0,225,.25)" },
                { "from": 200, "to": 220, "color": "rgba(0,0,255,.25)" }
            ]' 
            data-color-major-ticks="transparent" 
            data-color-minor-ticks="transparent" 
            data-color-title="#fff" 
            data-color-units="transparent"
            data-color-numbers="transparent"
            data-color-needle-start="transparent" 
            data-color-needle-end="transparent" 
            data-value-box="true" 
            data-animation-rule="quad" 
            data-animation-duration="1500" 
            data-font-value="Led" 
            data-animated-value="true" 
            data-borders="false" 
            data-border-shadow-width="0" 
            data-needle-type="arrow" 
            data-needle-width="3" 
            data-color-plate="#FFF" 
            data-color-value-box-background="#FFF" 
            >
          </canvas>

        </div>

        <div class="dashboard-component__details">
          <h4 class="heading heading--gamma gauge-box__heading">
            99 add
          </h4>
          <p class="gauge-box__details">
            83% of participants reported that NCDOT services have improved in the last few years.
          </p>
        </div>

      </div>

    </div>

    <div class="dashboard-component gauge-box">

      <h3 class="heading heading--gamma dashboard-component__heading">
        Progress
      </h3>

      <div class="gauge-box__gauge-wrapper">

        <div class="gauge-box__gauge">

          <canvas data-type="radial-gauge" 
            data-width="200" 
            data-height="200" 
            data-units="" 
            data-title="false" 
            data-value="0" 
            data-min-value="0" 
            data-max-value="220" 
            data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220" 
            data-minor-ticks="1" 
            data-stroke-ticks="false" 
            data-highlights='[
                { "from": 0, "to": 50, "color": "rgba(0,255,0,.15)" },
                { "from": 50, "to": 100, "color": "rgba(255,255,0,.15)" },
                { "from": 100, "to": 150, "color": "rgba(255,30,0,.25)" },
                { "from": 150, "to": 200, "color": "rgba(255,0,225,.25)" },
                { "from": 200, "to": 220, "color": "rgba(0,0,255,.25)" }
            ]' 
            data-color-major-ticks="transparent" 
            data-color-minor-ticks="transparent" 
            data-color-title="#fff" 
            data-color-units="transparent"
            data-color-numbers="transparent"
            data-color-needle-start="transparent" 
            data-color-needle-end="transparent" 
            data-value-box="true" 
            data-animation-rule="quad" 
            data-animation-duration="1500" 
            data-font-value="Led" 
            data-animated-value="true" 
            data-borders="false" 
            data-border-shadow-width="0" 
            data-needle-type="arrow" 
            data-needle-width="3" 
            data-color-plate="#FFF" 
            data-color-value-box-background="#FFF" 
            >
          </canvas>

        </div>

        <div class="dashboard-component__details">
          <h4 class="heading heading--gamma gauge-box__heading">
            99 add
          </h4>
          <p class="gauge-box__details">
            83% of participants reported that NCDOT services have improved in the last few years.
          </p>
        </div>

      </div>

    </div>
    
  </div>
</section>
