{{# page-footer }}

<footer class="gr-c-page-footer">

  <div class="gr-c-page-footer__inner">

    {{> molecules-icon-box }}

    {{> organisms-list-box-set }}

  </div>

</footer>

{{/ page-footer }}