{{# promo-set }}

<div class="gr-l-grid ch-c-promo-set {{ promo-set-class }}">

  {{# item }}

  <div class="gr-u-display-contents ch-c-promo-set__promo-wrapper">

    {{> organisms-promo }}

  </div>

  {{/ item }}

</div>

{{/ promo-set }}