
{{# slick-carousel }}

<div class="slick-carousel {{ modifier }}">

  {{# item }}

  <div class="slick-carousel__item">

    {{# card }}
    {{> molecules-card }}
    {{/ card }}

    {{# card-framed }}
    {{> molecules-card-framed }}
    {{/ card-framed }}

    {{# card-bordered }}
    {{> molecules-card-bordered }}
    {{/ card-bordered }}

    {{# card-basic }}
    {{> molecules-card-basic }}
    {{/ card-basic }}

    {{# card-video }}
    {{> molecules-card-video }}
    {{/ card-video }}
    
  </div>

  {{/ item }}

</div>

{{/ slick-carousel }}