{{# breadcrumbs }}

<div class="breadcrumbs-wrapper {{ class }} {{ modifier }}">

  <ul class="breadcrumbs">

    {{# item }}

    <li class="breadcrumbs__item">
      {{# link }}
      <a class="breadcrumbs__link" href="#">
      {{/ link }}
        <span class="breadcrumbs__text">

          {{ text }}

        </span>
      {{# link }}
      </a>
      {{/ link }}
    </li>

    {{/ item }}

  </ul>

  <button class="breadcrumbs__toggle-btn" aria-hidden="true">
    <span class="visuallyhidden">
      Expand
    </span>
    <i class="icon-add">
    </i>
  </button>

</div>

{{/ breadcrumbs }}
