{{# primary-nav }}

<nav class="gr-c-primary-nav {{ class }}">
  <ul class="gr-c-primary-nav__list">

    {{# item }}

    <li class="gr-c-primary-nav__item">
      <a class="gr-c-primary-nav__link" href="">
        {{{ link-text }}}
      </a>

      {{> organisms-primary-nav-menu }}

    </li>

    {{/ item }}

  </ul>
</nav>

{{/ primary-nav }}