{{# list-box-set }}

  <div class="gr-c-list-box-set {{ class }}">
    <div class="gr-c-list-box-set__inner">

      {{# item }}

      {{> organisms-list-box }}

      {{/ item }}

    </div>
  </div>

{{/ list-box-set }}