<div class="gridR">
  <div class="item copy"></div>
  <div class="item copy"></div>
  <div class="item copy"></div>
  <div class="item copy"></div>
  <div class="item original" contenteditable="true">
    Resize me or edit me!
  </div>
  <div class="item copy"></div>
  <div class="item copy"></div>
</div>


{{! https://codepen.io/kizu/pen/LmQmee?editors=1100 }}