/*
 * button set
 */

.gr-c-btn-set {
  
  @include grid(false, 1rem, repeat(auto-fill, minmax(100%, 1fr)), auto);
  justify-content: center;

  &__btn {

    text-align: center;

  }

  &--grid {

    @include grid(false, 1rem, repeat(auto-fill, minmax(100%, 1fr)), auto);

  }

  @include mq($gr-small-breakpoint) {

    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
  
    &__btn {
  
      margin: 0 .75rem;
  
      &:first-child {
  
        margin-left: 0;
  
      }
  
      &:last-child {
  
        margin-right: 0;
        
      }
  
    }

    &--grid {

      @include grid(false, 1rem, repeat(auto-fill, minmax(calc(50% - 1rem), 1fr)), auto); 

      .gr-c-btn-set__btn {

        margin: 0;
        
      }

    }

  }

  /* browser fallbacks */

  .gr-mod-no-cssgrid & {

    //

    &--grid {

      display: block; 
      overflow: hidden; /* easy 'clearfix' solution (child elements are floated) */

      .gr-c-btn {

        width: calc(50% - .5rem); 
        margin: 1rem 0 0; 

        &:nth-child(odd) {

          float: left;

        }

        &:nth-child(even) {

          float: right;
          
        }

        &:nth-child(-n+2) { /* remove unnecessary bottom margin from last two buttons */
          
          margin: 0;

        }

      }

    }
    
  }

}