/*
 * button
 */

.gr-c-btn {

  display: inline-block; 
  font-size: $gr-font-size-delta;
  background-color: $gr-button-bg-color;
  color: $gr-button-text-color;
  line-height: 42px; 
  text-decoration: none; 
  transition: $gr-btn-transition; 
  cursor: pointer; /* useful for <button> and <input type='submit'> elements */
  -webkit-appearance: none; /* Safari fix -- the 'button' element has additional user-agent declarations */
  align-items: center; /* for some reason, Webkit adds Flex-related declaration */
  outline: none;
  padding: 0 1.677rem; 

  &::selection {

    background-color: transparent;

  }

  &:hover {
  
    background-color: $gr-button-bg-color-hover;
    color: $gr-button-text-color-hover;
    text-decoration: none; 
    
  }

  &:visited { 

    // @include custom-property(background-color, --gr-primary-blue, $gr-primary-blue);
    // @include custom-property(color, --gr-white, $gr-white);
        
  } 

  &:focus, 
  &:focus:hover, 
  &:active, 
  &:active:hover {

    background-color: $gr-button-bg-color-hover;
    box-shadow: 0 0 0 0.2rem $gr-button-outline-color; /* thickness value should be in a variable */
    
  }

  &__icon {

    font-size: 1.25rem;
    vertical-align: text-top;

  }

  // &__icon, 
  // [class^="gr-i-"], 
  // [class*=" gr-i-"] {

  &--big {

    font-size: $gr-font-size-delta;
    background-color: $gr-primary-blue; 
    color: $gr-white;
    line-height: 1.25;
    padding: 1rem 4rem;

  }

  &--trans {

    background-color: $gr-white;
    color: $gr-primary-blue; 
    border: 1px solid $gr-primary-blue;

    &:hover {

      background-color: $gr-light-gray;
      color: $gr-primary-blue; 

    }
  
    &:visited { 
  
      // background-color: $gr-white;
      // color: $gr-primary-blue; 
  
    } 

    &:focus, 
    &:focus:hover, 
    &:active, 
    &:active:hover {
      
      background-color: $gr-light-gray;
      color: $gr-primary-blue; 

  
    }

  }

  &:disabled, 
  &:disabled:hover, 
  &:disabled:hover:focus, 
  &:disabled:active, 
  &:disabled:focus, 
  &--disabled, 
  &--disabled:hover,
  &--disabled:hover:focus,  
  &--disabled:active, 
  &--disabled:focus {

    background-color: $gr-button-bg-color; /* should match default background color */
    box-shadow: none; 
    opacity: .65; /* this value should be in a variable */
    cursor: default; 

    &.gr-c-btn--trans {

      border: 1px solid #d5d5d5; /* this value should be in a variable */
      color: #d5d5d5; /* this value should be in a variable */
      background: transparent;

    }

  }

}