/* 
 * card
 */

.gr-c-card {

  padding: 1rem;
  border: 1px solid $gr-light-gray; 
  background-color: $gr-white;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin: -.25rem 0 .5rem; /* top value takes into account top margins for "__date" and "__label" elements */

  }

  &__date {

    font-size: $gr-font-size-eta; 
    color: $gr-orange;
    margin: .25rem 0;

  }

  &__icon {

    font-size: 1rem; 
    color: $gr-dark-gray;
    vertical-align: text-bottom;
    margin: .25rem 0;

  }

  &__label {

    font-size: $gr-font-size-iota;
    color: $gr-medium-gray;
    text-transform: uppercase;

  }

  &__heading {

    font-size: $gr-font-size-gamma; 
    line-height: 1.2; /* should heading line-heights be managed in _headings.scss? */
    margin: 0 0 .5rem;

  }

  &__heading-link {

    //

  }

  &__details {

    font-size: $gr-font-size-eta;
    color: $gr-medium-gray; 
    margin: 0 0 1rem;

  }

  &__btn {

    font-size: $gr-font-size-zeta; 
    padding: 0 1.2rem; 
    align-self: flex-end; 

  }

  &--more {
  
    //

  }

  @include mq($gr-small-breakpoint) {

    padding: 1rem;

    &__date {

      font-size: $gr-font-size-delta; 
  
    }
  
    &__icon {
  
      font-size: 1.5rem; /* magic number -- matches comp */
  
    }
  
    &__label {
  
      font-size: $gr-font-size-epsilon;
  
    }
  
    &__heading {
  
      font-size: $gr-font-size-kilo; 
      margin: 0 0 .5rem;
  
    }

    &__details {

      font-size: $gr-font-size-delta;
      margin: 0 0 1rem;
  
    }

    &__btn {

      font-size: $gr-font-size-delta;
      padding: 0 1.677rem; 

    }

  }

}
