/*
 * custom list 
 */

.gr-c-custom-list {

  list-style: none;
  counter-reset: list-counter;
  padding-left: 14px; /* magic number -- lines up numbered bullets with default <ol> bullets */

  li {

    counter-increment: list-counter; 

    &:before {

      @include custom-property(color, --gr-orange, $gr-orange);
      content: counter(list-counter) ". ";
      font-weight: bold; 

    }

  }

}
