/*
 * float label
 */ 

.field--wrapper {

  position: relative;

  label {

    position:absolute;
    top: -1.5rem;
    left: 0;
    font-size: $gr-font-size-eta;
    color: $gr-medium-gray;
    transition: all .1s linear;
    opacity: 0;
    font-weight: bold;

  }

  label.on {

    color: $gr-primary-blue;

  }

  label.show {

    opacity: 1;

  }

}