/*
 * heading
 */

h1,
h2,
h3,
h4,
h5,
h6 {

  /* reset default declarations and use modifiers for styling */

  font-size: $gr-font-size-default;
  font-weight: normal;
  // color: inherit; /* this declaration seems to be needed by SharePoint */

}

.gr-c-heading {

  // font: $gr-font-primary;
  margin: 0 0 0.5em;

  &--alpha, 
  &--beta, 
  &--gamma, 
  &--delta {

    line-height: 1.2; 

  }

  &--alpha {
    
    @include custom-property(color, --gr-dark-blue, $gr-dark-blue);
    // font: $gr-font-primary;
    font-size: $gr-font-size-alpha;
    
  }

  &--beta {

    // font: $gr-font-primary;
    font-size: $gr-font-size-beta; 

  }

  &--gamma {

    font-size: $gr-font-size-gamma; 

  }

  &--delta {

    font-size: $gr-font-size-delta; 

  }

  &--epsilon {

    font-size: $gr-font-size-epsilon; 

  }

  &--zeta {

    font-size: $gr-font-size-zeta; 

  }

}
