/*
 * nav menu
 * https://inclusive-components.design/tabbed-interfaces/
 */

.gr-c-tab-menu {

  background-color: $gr-medium-gray;
  position: relative;
  z-index: 999; /* this value should be in a variable, and should be highest possible (must overlap everything else) */

  &__inner {

    display: flex; 
    flex-wrap: wrap; 
    position: relative; 
    width: 100%; /* this appeared to be needed for Safari on iPhone X */

  }

  &__section {

    display: none; 
    background-color: $gr-medium-gray;
    flex: 0 0 100%;
    position: absolute; 
    top: 49px; /* value matches height of "__tab" element */ 
    width: 100%; 
    border-top: 2px solid $gr-medium-gray;

  }

  &__input {

    display: none;

    &:checked + label {

      color: $gr-white;
      background-color: $gr-primary-blue;
      flex: 0 0 calc(50% - 1px);
  
    }

  }

  &__tab {

    font-size: $gr-font-size-zeta; 
    color: $gr-dark-gray; 
    background-color: $gr-light-gray;
    // flex-grow: 1;
    flex: 0 0 calc(50% - 1px); 
    width: calc(50% - 1px); 
    text-align: center;
    padding: 0 1rem; /* rely on line-height to control height of element */
    line-height: 49px; /* value should match "__section" element */
    // border-right: 2px solid $gr-medium-gray;
    margin: 0 1px 0 0;

    &:last-of-type { /* using "last of type" since there are hidden elements in between labels (inputs) */

      margin: 0 0 0 1px;

    }

  }

  &__tab:hover {

    color: $gr-dark-gray; 
    background-color: $gr-light-gray;
    cursor: pointer;

  }

  &__icon {

    font-size: 1.4rem;
    vertical-align: middle;

  } 

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2 {

    display: block;
  
  }

  //

  .gr-c-btn-set--grid {

    grid-gap: 2px;

  }

  .gr-c-btn {

    font-size: $gr-font-size-zeta; 
    padding: 1rem;
    display: flex;
    justify-content: center;

  }

  .gr-l-template &, 
  .gr-l-page & {

    margin: 0 0 1rem; 

  }

}