<fieldset class="fieldset">
  <label class="fieldset__label" for="w_date">
    Choose date
  </label>
  <input class="input-text input-text--datepicker" type="text" placeholder="MM/DD/YYYY" id="w_date">
</fieldset>
