/*
 * heading
 */

// loosely based on https://type-scale.com/

.heading {

  font: $font-cabin; 
  margin: 0 0 1em;

  &--alpha, 
  &--beta, 
  &--gamma, 
  &--delta {

    line-height: 1.2; 

  }

  &--alpha {

    font-size: 2.074em; 

  }

  &--beta {

    font-size: 1.728em; 

  }

  &--gamma {

    font-size: 1.44em; 

  }

  &--delta {

    font-size: 1.2em; 

  }

  &--epsilon {

    font-size: 1em; 

  }

  &--zeta {

    font-size: 0.833em; 

  }

}
