<p>
  We use the various weights from Transport New, a font family originally designed for traffic signage in Europe. We’ll accent that family with Georgia family, as needed.
</p>

<p>
  The default font stack is <mark>'TransportNewLight', Helvetica Neue, Helvetica, Arial, sans-serif</mark>
</p>

<p class="sg-font-normal">
  Transport New Light (default)<br>
  ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
  abcdefghijklmnopqrstuvwxyz<br>
  0123456789
</p>

<p class="sg-font-medium">
  Transport New Medium<br>
  ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
  abcdefghijklmnopqrstuvwxyz<br>
  0123456789
</p>

<p class="sg-font-heavy">
  Transport New Heavy<br>
  ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
  abcdefghijklmnopqrstuvwxyz<br>
  0123456789
</p>

<p class="sg-font-italic">
  Georgia (italic)<br>
  ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
  abcdefghijklmnopqrstuvwxyz<br>
  0123456789
</p>
