{{# page-header }}

<header class="gr-c-page-header">

  <div class="gr-c-mobile-nav-wrapper" style="position:relative;z-index:4;"> <!-- migrate positon/z-index to Sass -->
    {{> organisms-mobile-nav }}
  </div>

  <div class="gr-u-display gr-u-display--large-only" style="position:relative;z-index:3;"> <!-- migrate positon/z-index to Sass -->
    {{> organisms-primary-nav-block }}
  </div>

  {{> organisms-hero-box }}

  <div class="gr-u-display gr-u-display--small-only" style="position:relative;z-index:2;"> <!-- migrate positon/z-index to Sass -->
    {{> organisms-tab-menu }}
  </div>

  <div class="gr-u-display gr-u-display--medium" style="position:relative;z-index:1;"> <!-- migrate positon/z-index to Sass -->
    {{> organisms-nav-box-block }}
  </div>

</header>

{{/ page-header }}