/*
 * table - closures
 */

.table {

  //

  &--closures {

    //

    thead {

      display: none;

    }

    tbody {

      //

      tr {

        /* NOTE: business rule -- hide all but first 5 items on smaller screens; display on all on wider screens */

        &:nth-child(n+6) {

          display: none;

        }

      }

    }

    td {

      border-width: 0;
      font-size: $font-size--eta;
      padding: .5rem 1rem .5rem 1.5rem;

      &:first-child {

        display: block;
        font-weight: bold;

      }

      &:nth-of-type(1):before { 
        
        //content: "Condition"; 
      
      }

      &:nth-of-type(2) {

        display: block;
        font-weight: bold;

      }

      &:nth-of-type(2):before { 
        
        content: "Road: "; 
      
      }

      &:nth-of-type(3) {

        display: block;
        clear: both;

      }

      &:nth-of-type(3):before {

        content: "Location: "; 

      }

    }

    tr {

      @include clearfix;
      display: block;
      border-width: 0;
      border-style: solid;
      border-color: $core-gray;
      position: relative;
      margin: 0 0 1rem;

      &:last-child {

        td {

          //

        }

      }
      
    }

    .shape {
      
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      border-radius: 0;
      height: auto;

    }

    .condition-detail {

      //

    }

  }

  @include sb-media(18.75em) {
    
    &--closures {

      td {
        
        border-width: 0;
        font-size: $font-size--eta;
        padding: .5rem 1rem .5rem 1.5rem;

        &:first-child {

          float: left;
          width: 50%;

        }

        &:nth-of-type(2) {

          width: 50%;
          float: right;

        }

      }  

    }
    
  }

  @include sb-media($small-breakpoint) {

    &--closures {
      
      //
  
      thead {

        display: table-header-group; 

      }

      tbody {

        //

      }

      th {
        
        background: transparent;
        color: $black;
        padding: 1rem 1rem .5rem;        
        border-width: 0; 
  
        &:first-child {
  
          padding-left: 0;
  
        }
  
      }
  
      td {
        
        display: table-cell;
        float: none;
        vertical-align: middle;
        padding: 1rem;
  
        &:first-child {
          
          position: relative;
  
        }

        &:nth-of-type(1), 
        &:nth-of-type(2), 
        &:nth-of-type(3) {

          display: table-cell;
          float: none;
          width: auto;

        }

        &:nth-of-type(2) {

          font-weight: normal;

        }
  
        &:nth-of-type(2):before { 
          
          display: none; 
        
        }

        &:nth-of-type(3):before {

          display: none; 

        }
  
      }
  
      tr {
        
        display: table-row;
        border-width: 0;

        &:last-child {
  
          td {
  
            border: 0;
  
          }
  
        }
        
      }
  
      .shape {
      
        top: .5rem;
        bottom: .5rem;
  
      }
  
      .condition-detail {
  
        display: block;
        float: left;
        width: calc(100% - 10px - .5rem);
  
      }
  
    }

  }

  @include sb-media($large-breakpoint) {

    &--closures {

      tbody {
        
        //
  
        tr {
  
          /* NOTE: business rule -- show all rows on wider screens (see default rule above) */
  
          &:nth-child(n+6) {
  
            display: table-row;
  
          }
  
        }
  
      }

    }

  }

}