{{# media-box }}

<div class="gr-c-media-box">

  <div class="gr-c-media-box__media-wrapper">
    <div class="gr-c-media-box__media-inner">
      {{> atoms-image-advanced }}
    </div>
  </div>

  <div class="gr-c-media-box__text-wrapper">

    <div class="gr-c-media-box__label">
      {{ label }}
    </div>

    <div class="gr-c-media-box__date">
      {{ date }}
    </div>

    <h1 class="gr-c-heading gr-c-media-box__heading">
      {{ heading }}
    </h1>

    <a class="gr-c-btn gr-c-media-box__btn" href="">
      {{ button-text }}
    </a>

  </div>

</div>

{{/ media-box }}
