/*
 * sharepoint "out of the box" component -- dual box
 */

.sp-dual-box {

  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: $core-light-gray;
  margin: 1rem 0;

  &__item {

    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $core-light-gray;
    padding: 0 1rem;
    
  }

}