/*
 * form grid
 */

.form-grid {

  margin-bottom: 3rem; /* NOTE: don't include top/left/right margins here -- the .grid margins have special meaning */

  /* NOTE: grid overrides */

  &.grid {

    margin-bottom: 3rem; /* NOTE: don't include top/left/right margins here -- the .grid margins have special meaning */

  }

  &__cell {

    //

  }

  &__sub-grid {

    margin-bottom: 0; /* NOTE: overrides default .grid rule */

    .no-flexbox.no-flexboxlegacy & {

      display: table;
      width: 100%;

      .grid__cell {

        float: none;
        display: table-cell;
        vertical-align: bottom;

      }

    }

  }

  &__sub-grid-item {

    //

  }

  &--last {

    margin-bottom: 0;

  }

}

.no-flexbox {

  .form-grid {

    @include clearfix;

    &__cell {

      float: left;

    }

  }

}
