/*
 * grid
 */

.grid {

  display: grid;

  &__item {

    //

  }

  &--demo {

    @include grid(true, 1rem, minmax(0, 1fr) 50%, auto);
    padding: 1rem;
    border: 1px solid #ccc;

    &__item {

      text-align: center; 
      text-transform: uppercase;
      padding: 1rem;
      border: 1px solid #ccc;

    }

  }

  &--1of2 {

    //

    &__item {

      //

    }

  }

}