<div class="map-wrapper map-box__map-wrapper {{ modifier }} {{ parameter_modifier }}">

  <div class="map-wrapper__overlay" onClick="style.pointerEvents='none';">
  </div>

  <div class="map-wrapper__map google-map" id="{{ map_id }}">
  </div>

</div>
