{{# thumb }}
<a class="thumb" href="{{ href }}" data-image-number="{{ image-number }}" data-image-url="{{ img-url-fragment }}">

  {{# img }}
  {{> atoms-image }}
  {{/ img }}

  {{# img-single-src }}
  {{> atoms-img-single-src }}
  {{/ img-single-src }}

  <span class="thumb__caption">
    {{ caption }}
  </span>

</a>
{{/ thumb }}
