{{# map-box }}

<div class="map-box">

  {{!> atoms-bing-interactive-map }}

  <h6 class="heading heading--zeta map-box__heading">
    Your closest DOT location:
  </h6>

  <p class="map-box__p">
    DOT Office<br>
    3231 Avent Ferry Rd.<br>
    Raleigh, NC 27606
  </p>

  <p class="map-box__p">
    Hours: Mon-Fri 9AM - 5PM
  </p>

</div>

{{/ map-box }}
