{{# pl-palette }}

<div class="gr-l-grid gr-pl-o-palette gr-pl-o-palette--colors">

  {{# item }}

  <div class="gr-l-grid__item gr-pl-o-palette__item">

    <div class="gr-pl-o-palette__box gr-pl-o-palette__box--colors">

      <div class="gr-pl-o-palette__swatch gr-pl-o-palette__swatch--color {{ bg-utility-class }}">
      </div>
      
      <div class="gr-pl-o-palette__details">
        <ul class="gr-pl-o-palette__list">
          <li class="gr-pl-o-palette__list-item gr-pl-o-palette__heading">
            {{ name }} 
          </li>
          <li class="gr-pl-o-palette__list-item">
            {{ variable }}
          </li>
          <li class="gr-pl-o-palette__list-item">
            #{{ hex-value }}
          </li>
          <!--
          <li class="gr-pl-o-palette__list-item">
            rgb({{ rgb-value }})
          </li>
          <li class="gr-pl-o-palette__list-item">
            cmyk({{ cmyk-value }})
          </li>
          -->
          <li class="gr-pl-o-palette__list-item">
            .{{ utility-class }}
          </li>
          <li class="gr-pl-o-palette__list-item">
            .{{ bg-utility-class }}
          </li>
        </ul>
      </div>
      
    </div>
  </div>

  {{/ item }}

</div>

{{/ pl-palette }}