<p class="u-text-core-black">
  u-text-core-black
</p>
<p class="u-text-core-blue">
  u-text-core-blue
</p>
<p class="u-text-core-gray">
  u-text-core-gray
</p>
<p class="u-text-core-light-gray">
  u-text-core-light-gray
</p>
<p class="u-text-core-off-white">
  u-text-core-off-white
</p>
<p class="u-text-core-white u-bg-core-black" style="padding: 1rem 0;">
  u-text-core-white
</p>
<p class="u-text-accent-cool-gray">
  u-text-accent-cool-gray
</p>
<p class="u-text-accent-warm-gray">
  u-text-accent-warm-gray
</p>
<p class="u-text-accent-light-blue">
  u-text-accent-light-blue
</p>
<p class="u-text-accent-blue">
  u-text-accent-blue
</p>
<p class="u-text-accent-indigo">
  u-text-accent-indigo
</p>
<p class="u-text-accent-deep-purple">
  u-text-accent-deep-purple
</p>
<p class="u-text-accent-purple">
  u-text-accent-purple
</p>
<p class="u-text-accent-red">
  u-text-accent-red
</p>
<p class="u-text-accent-orange">
  u-text-accent-orange
</p>
<p class="u-text-accent-olive">
  u-text-accent-olive
</p>
<p class="u-text-accent-green">
  u-text-accent-green
</p>
<p class="u-text-accent-turquoise">
  u-text-accent-turquoise
</p>
<p class="u-text-note-blue">
  u-text-note-blue
</p>
<p class="u-text-note-green">
  u-text-note-green
</p>
<p class="u-text-note-orange">
  u-text-note-orange
</p>
<p class="u-text-note-red">
  u-text-note-red
</p>
