{{# search-box }}

<div class="gr-c-search-box {{ class }}">

  <input type="text" class="gr-c-search-box__text-input" placeholder="{{ placeholder }}" autocomplete="off" value="">

  <a class="gr-c-search-box__btn " href="">
    <span class="gr-i-search"></span>
  </a>

</div>

{{/ search-box }}