{{# button-group }}

<div class="btn-group {{ modifier }}" style="{{ inline-style }}">

  {{# item }}

  <a class="btn btn-group__btn {{ modifier }}" href="#">
    {{ text }}
  </a>

  {{/ item }}

</div>

{{/ button-group }}
