{{# card-set }}

<div class="gr-c-card-set">
  <div class="gr-c-card-set__inner">

    {{# item }}
    
    {{> organisms-card }}

    {{/ item }}

    <div class="gr-c-card-set__more">
      <a class="gr-c-card-set__more-link" href="">
        <i class="gr-i-add gr-c-card-set__more-icon">
        </i>
        <span class="gr-c-card-set__more-text">
          More
        </span>
      </a>
    </div>

  </div>
</div>

{{/ card-set }}