<p class="gr-u-c-blue-saphire">
  gr-u-c-blue-saphire
</p>

<p class="gr-u-c-french-blue">
  gr-u-c-french-blue
</p>

<p class="gr-u-c-pale-aqua">
  gr-u-c-pale-aqua
</p>

<p class="gr-u-c-deep-aqua">
  gr-u-c-deep-aqua
</p>

<p class="gr-u-c-mikado-yellow">
  gr-u-c-mikado-yellow
</p>

<p class="gr-u-c-carmine-pink">
  gr-u-c-carmine-pink
</p>

<p class="gr-u-c-burnt-orange">
  gr-u-c-burnt-orange
</p>

<p class="gr-u-c-rare-black">
  gr-u-c-rare-black
</p>

<p class="gr-u-c-light-gray">
  gr-u-c-light-gray
</p>

<p class="gr-u-c-soft-white">
  gr-u-c-soft-white
</p>
