{{# search-form }}

<div class="gr-c-search-form {{ search-form-class }}">

  <div class="gr-c-search-form__inner">

    <h4 class="gr-c-heading gr-c-heading--delta">
      Find
    </h4>

    {{> atoms-select }}

    {{> molecules-search-box }}

  </div>

</div>

{{/ search-form }}