{{# button-set-block }}

<div class="gr-c-btn-set-block {{ class }}">

  <h1 class="heading gr-c-btn-set-block__heading">
    {{ heading }}
  </h1>

  {{> molecules-button-set }}

  <p class="gr-c-btn-set-block__more">
    <a class="gr-c-btn-set-block__more-link" href="">
      More
    </a>
  </p>

</div>

{{/ button-set-block }}