<a class="btn">
  Link Button
</a>

<a class="btn btn--w-icon btn--w-icon-right">
  Link Button
</a>

<button class="btn btn--w-icon btn--w-icon-right">
  Button Element
</button>

<a class="btn btn--w-icon btn--w-icon-left">
  Link Button
</a>

<button class="btn btn--w-icon btn--w-icon-left">
  Button Element
</button>

<input type="submit" class="btn" value="input[type='submit']">
