<div class="sg-bg-core-black sg-padded-demo">

  <a class="btn btn--ghost-inverted">
    Link Button
  </a>

  <a class="btn btn--ghost-inverted btn--w-icon btn--w-icon-right">
    Link Button
  </a>

  <button class="btn btn--ghost-inverted btn--w-icon btn--w-icon-right">
    Button Element
  </button>

  <a class="btn btn--ghost-inverted btn--w-icon btn--w-icon-left">
    Link Button
  </a>

  <button class="btn btn--ghost-inverted btn--w-icon btn--w-icon-left">
    Button Element
  </button>

  <input type="submit" class="btn btn--ghost-inverted" value="input[type='submit']">

</div>
