{{# image-gallery }}
<div class="grid grid--guttersLg grid--full small-grid--1of2 med-grid--1of3 image-gallery">
  {{# item }}
  <div class="grid__cell image-gallery__grid-cell">{{! grid__cell--1of3 }}

    {{> molecules-thumb }}

  </div>
  {{/ item }}
</div>
{{/ image-gallery }}
