<form class="form">

  <h1 class="heading--gamma form-title">

    Sample form with 'floating' labels

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <input type="text" class="text-field--alt fieldset__input" required id="first_name">

    <label class="fieldset__label fieldset__label--alt" for="first_name">
      First name
    </label>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <input type="text" class="text-field--alt fieldset__input" required id="last_name">

    <label class="fieldset__label fieldset__label--alt" for="last_name">
      Last name
    </label>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <input type="text" class="text-field--alt fieldset__input" required id="DOB">

    <label class="fieldset__label fieldset__label--alt" for="DOB">
      Date of birth
    </label>

    <div class="fieldset__helper-text">
      MM/DD/YYYY
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <input type="text" class="text-field--alt fieldset__input" required id="SSN">

    <label class="fieldset__label fieldset__label--alt" for="SSN">
      Social security
    </label>

    <div class="fieldset__helper-text">
      ###-##-####
    </div>

  </fieldset>

</form>
