<form class="form">

  <h1 class="heading--gamma form-title">

    Sample form with valid information

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      First name
    </label>

    <input type="text" placeholder="First name" value="John" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Last name
    </label>

    <input type="text" placeholder="Last name" value="Smith" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Date of birth
    </label>

    <input type="text" placeholder="Date of birth" value="05/19/1960" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      MM/DD/YYYY
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Social security
    </label>

    <input type="text" placeholder="Social Security" value="123-99-4567" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      ###-##-####
    </div>

  </fieldset>

</form>
