
<form class="form">

  <h1 class="heading--gamma form-title">

    Initial display

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      First name
    </label>

    <input type="text" placeholder="First name" value="" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Last name
    </label>

    <input type="text" placeholder="Last name" value="" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Date of birth
    </label>

    <input type="text" placeholder="Date of birth" value="" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      MM/DD/YYYY
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Social security
    </label>

    <input type="text" placeholder="Social Security" value="" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      ###-##-####
    </div>

  </fieldset>

</form>

<form class="form">

  <h1 class="heading--gamma form-title">

    Initial display with labels

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label">
      First name
    </label>

    <input type="text" placeholder="" value="" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label">
      Last name
    </label>

    <input type="text" placeholder="" value="" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label">
      Date of birth
    </label>

    <input type="text" placeholder="" value="" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      MM/DD/YYYY
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label">
      Social security
    </label>

    <input type="text" placeholder="" value="" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      ###-##-####
    </div>

  </fieldset>

</form>

<form class="form">

  <h1 class="heading--gamma form-title">

    Valid information

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      First name
    </label>

    <input type="text" placeholder="First name" value="John" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Last name
    </label>

    <input type="text" placeholder="Last name" value="Smith" class="text-field--alt fieldset__input">

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Date of birth
    </label>

    <input type="text" placeholder="Date of birth" value="05/19/1960" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      MM/DD/YYYY
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label visuallyhidden">
      Social security
    </label>

    <input type="text" placeholder="Social Security" value="123-99-4567" class="text-field--alt fieldset__input">

    <div class="fieldset__helper-text">
      ###-##-####
    </div>

  </fieldset>

</form>

<form class="form">

  <h1 class="heading--gamma form-title">

    Invalid information

  </h1>

  <fieldset class="fieldset fieldset--alt fieldset-error">

    <label class="fieldset__label visuallyhidden">
      First name
    </label>

    <input type="text" placeholder="First name" value="" class="text-field--alt text-field--alt-error fieldset__input fieldset__input--error">

    <div class="fieldset__helper-text fieldset__helper-text--error">
      First name is required
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt fieldset--error">

    <label class="fieldset__label visuallyhidden">
      Last name
    </label>

    <input type="text" placeholder="Last name" value="" class="text-field--alt text-field--alt-error fieldset__input fieldset__input--error">

    <div class="fieldset__helper-text fieldset__helper-text--error">
      Last name is required
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt fieldset--error">

    <label class="fieldset__label visuallyhidden">
      Date of birth
    </label>

    <input type="text" placeholder="Date of birth" value="01/01/90" class="text-field--alt text-field--alt-error fieldset__input fieldset__input--error">

    <div class="fieldset__helper-text fieldset__helper-text--error">
      MM/DD/YYYY
    </div>

  </fieldset>

  <fieldset class="fieldset fieldset--alt fieldset--error">

    <label class="fieldset__label visuallyhidden">
      Social security
    </label>

    <input type="text" placeholder="###-##-####" value="May 19, 1960" class="text-field--alt text-field--alt-error fieldset__input fieldset__input--error">

    <div class="fieldset__helper-text fieldset__helper-text--error">
      ###-##-####
    </div>

  </fieldset>

</form>
