/*
 * utility / lists
 */

.u {

  //

  &-clean-list {

    list-style: none;
    padding: 0;
    margin: 0;

  }

}

.u-list {

  //

  &__item {

    //

  }

  &--clean {

    list-style: none;
    padding: 0;
    margin: 0;

    &__item {

      //
      
    }

  }

}