{{# social-box }}

<div class="social-box {{ modifier }}">

  <div class="social-box__inner-wrapper">

    <a class="social-icon social-box__icon {{ social-icon-modifier }}" href="{{ social-icon-link-url }}">
      <span class="visually-hidden">
        {{ social-name }}
      </span>
      <i class="{{ icon-class }}"></i>
    </a>

    {{# social-text }}
    <p class="social-box__text">

      {{{ social-text }}}

      {{# social-date }}
      <span class="social-box__date">
        {{{ social-date }}}
      </span>
      {{/ social-date }}
      
    </p>
    {{/ social-text }}

    {{# instagram-img-url }}
    <a href='{{ instagram-link-url }}'><img class="social-box__img" src="{{ instagram-img-url }}"></a>
    {{/ instagram-img-url }}

    {{# instagram-video-embed-code }}
    <div class="social-box__video">

      <video controls controlsList="nodownload" poster='../../assets/images/instagram-video-cover.jpg'>
        <source src='../../assets/video/instagram-video-1.mp4' type='video/mp4'>
      </video>
    </div>
    {{/ instagram-video-embed-code }}

    {{# youtube-video-embed-code }}
    <iframe class="social-box__video" src="https://www.youtube.com/embed/VUUdWQSzPkE" frameborder="0" allowfullscreen></iframe>
    {{/ youtube-video-embed-code }}

    {{# flickr-img-url }}
    <a href=''><img class="social-box__img" src="{{ flickr-img-url }}"></a>
    {{/ flickr-img-url }}

  </div>

</div>

{{/ social-box }}