{{# calendar-advanced }}

<div class="gr-c-cal {{ class }}">

  <header class="gr-c-calendar__header">

    <h1 class="gr-c-calendar__heading">
      Calendar Name
    </h1> 

    {{> organisms-toggle }}

  </header>
  
  <div class="" id="calendar">
  </div>

</div>

{{/ calendar-advanced }}