{{# article-block-2 }}

<div class="gr-c-article-block {{ class }}">

  <header class="gr-c-article-block__header">

    <h1 class="gr-c-heading gr-c-article-block__heading">
      {{ heading }}
    </h1>

    <div class="gr-c-article-block__byline">

      <h2 class="gr-c-heading gr-c-article-block__date">
        {{ date }}
      </h2>

      <h2 class="gr-c-heading gr-c-article-block__author">
        {{ author }}
      </h2>

    </div>

  </header>

  <h3 class="gr-c-heading gr-c-article-block__title">
    {{ title }}
  </h3> 

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Subtitle here
  </h4> 

  <p class="gr-c-article-block__p">
    Once a year the city is also the home of the Heavy Rebel Weekender music festival, featuring over 70 bands, primarily rockabilly, punk and honky tonk, over three days.
  </p> 

  <p class="gr-c-article-block__p">
    Winston-Salem is home to Hanes Mall, the largest shopping mall in North Carolina. The area surrounding the mall along Stratford Road and Hanes Mall Boulevard has become one of the city's largest shopping districts. The city is home to some of the best shopping in North Carolina with over 50 shopping centers.
  </p>

  <p class="gr-c-article-block__p">
    Other shopping areas exist in the city, including The Thruway Center, the city's first shopping center, Hanes Point Shopping Center, Hanes Commons, Pavilions, Shoppes at Hanestowne Village, Oak Summit Shopping Center, Stone's Throw Plaza, Silas Creek Crossing, and the Marketplace Mall.
  </p>

  {{# floated-image }}

  <div class="gr-c-article-block__media-wrapper {{ class }}">
    <div class="gr-c-article-block__media-inner">

      {{> atoms-image }}

    </div>
  </div>

  {{/ floated-image }}

  <p class="gr-c-article-block__p">
    Podcasting operational change management inside of workflows to establish a framework. Taking seamless leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
  </p>

  <p class="gr-c-article-block__p">
    The Winston-Salem State University Rams have men's and women's NCAA Division II sports teams that are members of the Central Intercollegiate Athletic Association (CIAA). Winston-Salem State University provides an atmosphere that allows its student athletes to reach nationally recognized excellence both academically and athletically.
  </p>

  <p class="gr-c-article-block__p">
    Wake Forest University is an original member of the Atlantic Coast Conference (ACC). Wake Forest's football team plays its games at BB&T Field (formerly Groves Stadium), which seats 32,500. Wake Forest's soccer program made four consecutive final four appearances (2006–2009) and were NCAA champions in 2007.
  </p>

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Another subtitle here
  </h4> 

  <p class="gr-c-article-block__p">
    Podcasting operational change management inside of workflows to establish a framework. Taking seamless leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
  </p>

  <div class="gr-c-article-block__media-wrapper">
    <div class="gr-c-article-block__media-inner">

      {{> atoms-image }}

    </div>
  </div>

  <p class="gr-c-article-block__p">
    Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
  </p>

  <p class="gr-c-article-block__p">
    Podcasting operational change management inside of workflows to establish a framework. Taking seamless leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
  </p>

  {{# carousel-exists }}

  {{> organisms-media-box-carousel-2 }}

  {{/ carousel-exists }}

  {{> organisms-tag-box }}

</div>

{{/ article-block-2 }}