{{# article-block-3 }}

<div class="gr-c-article-block {{ class }}">

  <header class="gr-c-article-block__header">

    <h1 class="gr-c-heading gr-c-article-block__heading">
      {{ heading }}
    </h1>

    <div class="gr-c-article-block__byline">

      <h2 class="gr-c-heading gr-c-article-block__date">
        {{ date }}
      </h2>

      <h2 class="gr-c-heading gr-c-article-block__author">
        {{ author }}
      </h2>

    </div>

  </header>

  <h3 class="gr-c-heading gr-c-article-block__title">
    {{ title }}
  </h3> 

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Headline of the reorganization
  </h4> 

  <p class="gr-c-article-block__p">
    Some overall information about the move. Describe what happened, or what is happening, and describe the main people in charge of the move. 
  </p> 

  <p class="gr-c-article-block__p">
    Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
  </p>

  <p class="gr-c-article-block__p">
    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
  </p>

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    People Impacted
  </h4> 


  {{# 1-pic-box-set }}

  {{> organisms-pic-box-set }}

  {{/ 1-pic-box-set }}


  {{# many-pic-box-sets }}

  {{> organisms-pic-box-set }}

  {{/ many-pic-box-sets }}


</div>

{{/ article-block-3 }}
