{{# article-block-4 }}

<div class="gr-c-article-block {{ class }}">

  <header class="gr-c-article-block__header">

    <h1 class="gr-c-heading gr-c-article-block__heading">
      {{ heading }}
    </h1>

    <div class="gr-c-article-block__byline">

      <h2 class="gr-c-heading gr-c-article-block__date">
        {{ date }}
      </h2>

      <h2 class="gr-c-heading gr-c-article-block__author">
        {{ author }}
      </h2>

    </div>

  </header>

  <h3 class="gr-c-heading gr-c-article-block__title">
    {{ title }}
  </h3> 

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Effective: <a href="">June 29, 2018</a>
  </h4> 

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Organizational change announced in Internal Audit (RAI)
  </h4> 

  <p class="gr-c-article-block__p">
    Ed Sears has announced his plans to retire after 13 years of dedicated service. Ed has been a highly valued member of the Finance team for many years. He has served in various Global Product and Finance roles at Santa Fe Reynolds Tobacco International and RAI Services Company throughout his career, providing outstanding support for our clients. His last day in the office will be Friday, June 29, 2018. We thank Ed for his 13 years of dedicated service and wish him well in his future endeavors. Options for Ed's replacement are under review and will be communicated in due course.
  </p>

  <p class="gr-c-article-block__p">
    Finance Leadership Team
  </p>

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    People Impacted
  </h4> 

  {{# 1-pic-box-set }}

  {{> organisms-pic-box-set }}

  {{/ 1-pic-box-set }}

</div>

{{/ article-block-4 }}
