{{# article-block-5 }}

<div class="gr-c-article-block {{ class }}">

  <header class="gr-c-article-block__header">

    <h1 class="gr-c-heading gr-c-article-block__heading">
      {{ heading }}
    </h1>

    <div class="gr-c-article-block__byline">

      <h2 class="gr-c-heading gr-c-article-block__date">
        {{ date }}
      </h2>

      <h2 class="gr-c-heading gr-c-article-block__author">
        {{ author }}
      </h2>

    </div>

  </header>

  <h3 class="gr-c-heading gr-c-article-block__title">
    {{ title }}
  </h3> 

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Effective: <a href="">July 1, 2018</a>
  </h4> 

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    Reorganization
  </h4> 

  <p class="gr-c-article-block__p">
    As previously announced in Ricardo’s Letter dated June 12, there are changes that will take place across the organization to facilitate the acceleration of our transformational journey. The R.J. Reynolds Tobacco Company (RJRT), R.J. Reynolds Vapor Company (RJRV), Reynolds Brands Inc. (RBI), Lorillard Licensing Company LLC (LLC) and the Consumer Marketing leadership teams are pleased to announce the following organizational changes and congratulate Todd Holbrook on his promotion to President of RAI Innovations Company (RAIIC). All changes are effective July 1, 2018, unless otherwise noted.
  </p>

  <p class="gr-c-article-block__p">
    Brian Stebbins, currently President of RJRV, has been appointed VP Consumer Marketing at RAIIC. Brian will report to Todd Holbrook, President of RAIIC.
  </p>

  <p class="gr-c-article-block__p">
    Stephanie Cordisco, VP Smokeless Products of RBI, has been appointed President of RJRV and President of Niconovum USA. Stephanie will report to Todd Holbrook, President of RAIIC, and will remain a member of Victor Loria’s Consumer Marketing leadership team.
  </p>

  <p class="gr-c-article-block__p">
    Kara Calderon, Senior Director Consumer Marketing – Vapor at RJRV, will become Senior Director Consumer Marketing – New Platforms at RJRV and will report to Stephanie.
  </p>

  <p class="gr-c-article-block__p">
    Christy Canary-Garner, Senior Director Consumer Marketing – Commercial Strategy and Innovation at RAIIC, will become Senior Director Consumer Marketing – Vapor at RJRV and will report to Stephanie. Reporting to Christy will be Mandi Wiss and Marla Blackwell. Jason Hron and Jessica Flaten will continue to report to Mandi.
  </p>

  <p class="gr-c-article-block__p">
    Linda Barabasova Truong, Senior Manager Consumer Marketing – Niconovum USA, will now report to Stephanie.
  </p>

  <p class="gr-c-article-block__p">
    James Demopoulos will continue in his role as Senior Director Consumer Marketing – Grizzly at American Snuff Company (ASC). Reporting to James and moving to ASC will be Kristy Leung and her direct report Katelyn Berti, and Meg Wilson and her direct report Kris Kriofske.
  </p>

  <p class="gr-c-article-block__p">
    Amy Harp, Senior Director Consumer Marketing – Marketing Services at RJRT, has been promoted to Vice President Consumer Marketing – Marketing Services at RJRT. Amy will report to Victor Loria, EVP & Chief Marketing Officer at RJRT. Reporting to Amy will be the following RJRT marketing services employees: Lewis Broadnax; Kevin Warden; Matt Domingo; Joel Setchell; Mark Rutledge; and Alahna Booth and Rita Groce. Amy’s appointment is effective June 15, and her successor will be announced at a later date.
  </p>

  <p class="gr-c-article-block__p">
    Lewis Broadnax, Senior Director Consumer Marketing – ecomm and digital marketing at RJRV, will become Senior Director Consumer Marketing – ecomm and digital marketing at RJRT. Reporting to Lewis and also moving to RJRT marketing services will be Imran Kahn, Jeanine Sipp, and Piper Landrum.
  </p>

  <p class="gr-c-article-block__p">
    Marielle Des Etages, Director, Consumer Marketing at RAIIC, will become Director Consumer Marketing – CTHP at RBI. Marielle will report to Dan Haley, Senior Director Consumer Marketing – Modified Risk at RBI.
  </p>

  <p class="gr-c-article-block__p">
    Sharonda Mustafa, Vice President Newport at LLC, will assume leadership of Pall Mall Consumer Marketing via an intercompany services agreement.
  </p>

  <p class="gr-c-article-block__p">
    Please join us in wishing much success to all in their new positions.
  </p>

  <p class="gr-c-article-block__p">
    The Consumer Marketing Leadership Team
  </p>

  <h4 class="gr-c-heading gr-c-article-block__section-title">
    People Impacted
  </h4> 

  {{# many-pic-box-sets }}

  {{> organisms-pic-box-set }}

  {{/ many-pic-box-sets }}

</div>

{{/ article-block-5 }}
