.gridR{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
}

.item {
  background: pink;
}

.original {
  overflow: hidden;
  resize: both;
  max-width:  calc((100vw - 8em) / 3);
  max-height: calc((100vh - 8em) / 3);
  min-width: 42px;
  min-height: 0;
  padding: 1em;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

