/*
 * icon box
 */

.ico-box {

  width: 100%;
  height: 0;
  padding-top: 111%; /* NOTE: magic number -- used for "perfect" positioning of background image */
  position: relative;
  overflow: hidden;

  &__inner-wrapper {

    // background-image: url(../../assets/images/date-box-bg.svg);    
    background-image: url(../../assets/images/date-box-bg-blue.svg);    
    background-repeat: no-repeat;
    // background-size: 50px;
    position: absolute;
    top: 0;
    height: 0;
    padding-top: 140%; /* NOTE: magic number -- used for "perfect" positioning of background image */
    width: 100%;

  }

  &__number {

    @include vertical-align;
    position: absolute;    
    width: 100%;
    color: $accent-blue;
    line-height: 2;
    text-align: center;
    font-size: 40vw;

  }

  &--dark {

    .ico-box__inner-wrapper {

      background-image: url(../../assets/images/date-box-bg-blue.svg);

    }

  }

}