/*
 * tabs
 */

.tabs {

  margin: 2rem auto; /* NOTE: look into adding set of component margins */

  &__nav {

    @include clearfix;
    padding: 0 0 .5rem;
    border-bottom: 1px solid $core-off-white;
    margin: 0 0 1rem;

  }

  &__btn,
  &__btn:visited { /* NOTE: including :visited state to override .btn:visited selector  */

    display: block;
    background: $accent-blue;
    border-color: $accent-blue;
    float: left;
    margin: 0 .5rem .5rem 0; /* NOTE: should this value be in a variable? */

  }

  &__btn--selected,
  &__btn--selected:visited { /* NOTE: including :visited state to override .btn:visited selector  */

    background: $core-blue;
    border-color: $core-blue;

  }

  &__panel {

    //

  }

  &__panel--hidden {

    //

  }

  &--cams {

    //

  }

  &--amtrak {

    background: transparent;
    padding: 0;
    margin: 0;

    .tabs__nav {

      padding: 0;
      border: 0;
      margin: 0;

    }

    .tabs__btn {

      font-size: $font-size--eta;
      padding: 5px 10px;

    }

  }

}
