{{# video }}

<div class="gr-c-video{{# class }} {{ class }}{{/ class }}">

  {{# media }}

  <iframe class="gr-c-video__media{{# class }} {{ class }}{{/ class }}" id="{{ id }}" src="{{ url }}" frameborder="0"  data-autoplay allowfullscreen></iframe>

  {{/ media }}

</div>

{{/ video }}
