/*
 * lists
 */

.list {

  //

  &__item {

    margin: 0 0 1rem;

    &:last-child {

      margin: 0;

    }

  }

  &--no-bullets {

    list-style: none;
    padding: 0;

  }

  &--custom-bullets {

    list-style: none;
    counter-reset: list-counter;
    padding: 0;
    margin: 0;

    .list__item {

      @include clearfix;
      position: relative;
      
      &:before {

        content: counter(list-counter);
        counter-increment: list-counter;
        width: 34px;
        height: 45px;
        background-image: url(../../assets/images/number-list-item-bg.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        line-height: 38px;
        margin-right: 10px;
        float: left;
      
      }

    }

    .list__item-inner {

      vertical-align: top;
      width: calc(100% - 44px);
      float: right;

    }

  }

}

.list-toggle {

  list-style: none;
  padding: 0;

  &__item {

    //

  }

  &__btn {

    display: block;

    /* NOTE: this element also includes the "btn btn--with-icon" class, which includes an Icomoon icon within the :after pseudo element */

    &:after {

      content: "\e901"; /* NOTE: icomoon's 'down' icon */

    }

    &--active {

      //

      &:after {

        content: "\e900"; /* NOTE: icomoon's 'up' icon */

      }

    }

  }

  &__details {

    display: none;
    padding-left: 47px; /* NOTE: lines up text with button text -- sum of button's left padding and left border */
    margin: 1rem 0 2rem;

    > *:last-child {

      margin: 0;

    }

    .no-js & {

      display: block !important; /* NOTE: if no JS, display all details (component uses JS) */

    }

  }

  &__p {

    margin: 0 0 1rem;

  }

  &__list {

    margin: 0 0 1rem;

  }

}
