/*
 * Social list
 */

.social-list {

  background: $core-blue; /* NOTE: helpful when viewing component individually; value should be in variable */

  &__title {

    display: none; 
    color: $white;
    margin: 0 0 .5rem 0;

  }

  &__list {

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

  }

  &__item {

    display: inline-block; /* needed for IE 9 display */
    margin: 0 1rem 0 0;

    &:last-child {

      margin: 0;

    }

  }

  &__link {

    text-decoration: none;
    color: $white;

    &:hover {

      text-decoration: none;
      color: $white;
      opacity: .8; /* This value should be in variable -- it's used in .nav-list component too */

    }

    &:visited {

      color: $white; /* NOTE: including :visited will override related SharePoint rule */

    }

  }

  &__link-text {

    // @extend .visuallyhidden;
    @extend %visually-hidden;

  }

  &__link-icon {

    //

  }

}

@include sb-media(20em) {

  .social-list {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    flex-direction: row;

    &__title,
    &__list {

      .no-flexbox & {

        display: block;
        float: left;

      }

    }

    &__title {

      margin: 0 1rem 0 0;
      white-space: nowrap;

    }

  }

}

@include sb-media($small-breakpoint) {

  .social-list__title {

    display: block; /* NOTE: needed if element is a <span> */
    color: $white;
    margin: 0 .5rem 0 0;

  }

}

@include sb-media($large-breakpoint) {

  .social-list__list {

    flex-direction: row;
    justify-content: space-between;
    flex: 1;

    &__item {

      margin: 0;

    }

  }

}
