/*
 * event list
 */

 .event-list {

  @include clearfix; 
  list-style: none;
  max-width: $component-max-width;
  padding: 0;
  margin: 0 auto;

  &__item {

    @include clearfix;
    display: flex;
    margin: 0 0 1rem;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

    &--bordered {

      padding: 1rem 0;
      border-bottom: 1px solid $core-light-gray;
      margin: 0;

    }

    &:last-child {

      border: 0;
      margin: 0;
      padding-bottom: 0;

    }

  }

  &__date-number {

    width: 25px;
    flex: 0 0 25px;
    margin: 0 1rem 0 0;

  }

  &__icon-link {

    text-decoration: none;
    
  }

  &__icon {

    font-size: 2rem;
    text-align: center;
    margin: 0 .75rem 0 0;

  }

  &__item-inner {

    overflow: hidden;

  }

  &__link {

    font-family: $font-medium-family;
    font-size: $font-size--eta;
    display: block;
    
    &:hover,
    &:visited {

      //

    }

    &:hover {

      .event-list__link-text {

        //

      }

    }

    &--light,
    &--light:hover,
    &--light:visited {

      color: $white;

    }

  }

  &__link-text {

    // @extend %transition;
    @include transition($transition);
    display: block;
    overflow: hidden; /* NOTE: prevents text from wrapping around icon, when icon exists */

  }

  &__date {
    
    display: block;
    font-size: $font-size--eta;
    font-family: $font-medium-family;
    color: $core-blue;
    margin: 0 0 .25rem;

  }

  .ico-box__inner-wrapper {

    background-size: 25px;

  }

  .ico-box__number {

    display: none;

  }

  /* NOTE: Icons should get a BEM "element"selector (i.e. "__icon") */

  [class^="icon-"],
  [class*=" icon-"],
  [class^="material-icons"],
  [class*=" material-icons"] {

    margin: auto;

  }

}

.event-list--dark {

  background: $core-blue;
  color: $white;
  padding: 1rem;

  .event-list__link,
  .event-list__link:visited {

    color: $white;

  }

}

@include sb-media($medium-breakpoint) {

  .event-list {

    &__link {

      font-size: $font-size--default;

    }

    &__date-number {

      width: 50px;
      flex: 0 0 50px;

    }

    .ico-box__inner-wrapper {

      background-size: 50px;

    }

    .ico-box__number {

      display: block;
      font-size: 1.25rem;
      line-height: 2;

    }

  }

}

.event-list {

  //

  &__item {

    display: block;

  }

  &__date-number {

    display: block;
    float: left; 

  }

}