/*
 * simple list
 */

.simple-list {

  //@include clearfix; /* NOTE: Prepare for using "--inline" modifier on list items */
  list-style: none;
  max-width: $component-max-width;
  padding: 0;
  margin: 0;

  &__item {

    @include clearfix;
    line-height: 1.6;
    margin: 0 0 1rem;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

    &--bordered {

      &:first-child {

        border-top: 1px solid $core-gray;

      }

      padding: 1rem 0;
      border-bottom: 1px solid $core-gray;
      margin: 0;

    }

    &:last-child {

      margin: 0;

    }

    @include sb-media(25em) {

      &--inline {

        display: inline-block;
        margin: 0 1rem 1rem 0;

        &:last-child {

          margin: 0 0 1rem 0;

        }

      }

    }

  }

  &__item-inner {

    @include clearfix;
    color: $black;

    /* NOTE: icons should get a BEM "element"selector (i.e. "__icon") */

    [class^="icon-"],
    [class*=" icon-"],
    [class^="material-icons"],
    [class*=" material-icons"] {

      color: $white;
      background: $accent-green;

    }

  }

  &__link {

    @include clearfix;
    font-size: $font-size--eta;
    display: block;
    color: $core-blue; 
    overflow: visible; /* NOTE: this declaration seems to resolve issue in IE 10 where box-shadow is clipped */

    &:visited {

      color: $core-blue;

    }

    &--light,
    &--light:hover,
    &--light:visited {

      color: $white;

    }

    &--dark,
    &--dark:hover,
    &--dark:visited {

      //

      .icon--circled {

        //

      }

      .simple-list__link-text {

        //

      }

    }

    &--dark:hover {

      .icon--circled {

        //

      }

    }

  }

  &__link-text {

    // @extend %transition;
    display: block;
    overflow: hidden; /* NOTE: prevents text from wrapping around icon, when icon exists */

  }

  &__btn-wrapper {

    padding-top: 2rem;
    text-align: center;
    margin-top: auto; /* NOTE: aligns button to bottom of container */

  }

  &__btn {

    //

  }

  &__img {

    display: inline-block;
    float: left;
    margin: 0 1rem 0 0;
    width: 80px;
    height: 80px;
    width: 72px;
    height: 72px;
    border: 0; /* NOTE: needed for IE 9 */

  }

  &__date {
    
    display: block;
    font-size: $font-size--eta;
    margin: 0; /* NOTE: since the "__item" element has a larger-than-default line-height, a margin here isn't necessary; if the line-height is changed ot the default, then a bottom margin here would be beneficial for proper spacing */

  }

  &--bordered {

    //

    .simple-list__item:not(:last-child) {

      padding-bottom: 1rem;
      border-bottom: 1px solid $core-light-gray;
      margin-bottom: 1rem;

    }

  }

  /* NOTE: icons should use a BEM "element" selector (i.e. "__icon") */

  [class^="icon-"],
  [class*=" icon-"],
  [class^="material-icons"],
  [class*=" material-icons"] {

    display: inline-block;
    float: left;
    margin: -4px .5rem 0 0;

  }

  .icon--not-circled {

    margin: 0 .5rem 0 0;
    line-height: inherit;

  }

  /* NOTE: this type of adjustment should be handled with a modifier (.i.e. "--trans") */

  .icon-launch {

    opacity: .5;

  }

}

.simple-list--split {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .simple-list__item {
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    &:nth-child(odd) {

      .simple-list__link-text {

        padding-right: .75rem;

      }

    }

  }

  .simple-list__link {

    font-size: $font-size--eta;

  }

  [class^="icon-"],
  [class*=" icon-"],
  [class^="material-icons"],
  [class*=" material-icons"] {

    display: none;

  }

}

.simple-list--dark {

  background: $core-blue;
  color: $white;
  padding: 1rem;

  .simple-list__link,
  .simple-list__link:visited {

    color: $white;

  }

}

.simple-list--images {

  .simple-list__item {

    padding: .5rem 0;
    margin: 0;

    @include sb-media($medium-breakpoint) {

      padding: 1rem 0;

    }

  }

  .simple-list__link {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    padding: 0 1.5rem 0 0;

  }

  .simple-list__img,
  .simple-list__link-text {

    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

  }

  .simple-list__img {

    -webkit-flex: 0 0 72px;
    -ms-flex: 0 0 72px;
    flex: 0 0 72px;

  }

}

@include sb-media($medium-breakpoint) {

  .simple-list__link {

    font-size: $font-size--default;
  }

  .simple-list--split {

    //

    .simple-list__link {
      
      font-size: $font-size--default;
      
    }

    [class^="icon-"],
    [class*=" icon-"],
    [class^="material-icons"],
    [class*=" material-icons"] {
  
      display: inline-block;
      float: left;
      margin: -4px .5rem 0 0;
  
    }

  }

  .touchevents .simple-list--split { /* NOTE: weird flex-related issue happening on iPad (all versions) -- decreasing flex value seems to resolve it */

    .simple-list__item {

      -webkit-box-flex: 0;
      -webkit-flex: 0 0 49%;
      -ms-flex: 0 0 49%;
      flex: 0 0 49%;

    }

  }

  .simple-list--split-thirds { /* NOTE: this element has room for refactoring -- i.e., the grid-like declarations could be refactored into a modifier */

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .simple-list__item {

      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.3333%;
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;

    }

    .simple-list__link {

      /* NOTE: IE 10 fix */

      .no-flexbox.no-flexboxlegacy.flexboxtweener & {

        //

        img {

          border: 0;

        }

      }

    }

  }

  .touchevents .simple-list--split-thirds { /* NOTE: weird flex-related issue happening on iPad (all versions) -- decreasing flex value seems to resolve it */

    .simple-list__item {

      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;

    }

  }

}

.no-flexbox.no-flexboxlegacy {

  //

  .simple-list {

    //

    &__link {

      display: table;

    }

    &__img, 
    &__link-text {

      display: table-cell;
      vertical-align: middle;
      margin: 0;

    }

    &__img {

      width: 72px;

    }

    &__link-text {

      text-align: left;

    }

  }

  .simple-list--split {

    @include clearfix;
    display: block;

    .simple-list__item {

      width: 50%;
      float: left;

    }

  }

}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener {

  //

  .simple-list--split-thirds {

    display: block;

    .simple-list__item {

      width: 100%;
      float: none;

    }

    @include sb-media($small-breakpoint) {

      .simple-list__item {

        width: 50%;
        float: left;

      }

    }

    @include sb-media($large-breakpoint) {

      .simple-list__item {

        width: 33.3333%;

      }

    }

  }

}
