/*
 * text hero
 */

.text-hero {

  max-width: $component-max-width;
  position: relative;
  padding: 1.875rem 1.25rem; /* NOTE: we might want this value in a variable (it's used elsewehere) */
  margin: 0 auto;
  background: $core-off-white;

  &__inner-wrapper {

    margin: 0 auto;
    height: 100%;
    width: 100%;

  }

  &__text-block {

    color: $core-blue;

  }

  &__heading {

    font-size: 1.3125rem;
    margin: 0 0 1.875rem;

    &:after {

      content: "";
      display: block;
      background-color: $core-blue;
      height: .25rem;
      margin-top: .625rem;

    }

    span {

      white-space: nowrap;

    }

  }

  &__p {

    margin-bottom: 1.875rem;

  }

  &__btn {

    //

  }

}

.text-hero--full-width {

  max-width: none;

  .text-hero__inner-wrapper {

    // max-width: calc(#{$component-max-width} - 5rem); /* NOTE: second value should probably be in a variable */
    max-width: 72rem; /* NOTE: this value should be in a variable */

  }

}

.text-hero--inverted {

  background: $black;

  .text-hero__heading,
  .text-hero__p {

    color: $white;

  }

  .text-hero__heading {

    &:after {

      background: $white;

    }
  }

  .text-hero__btn {

    @extend .btn--ghost-inverted;

  }

}

.text-hero--dark {

  background: $core-blue;

  .text-hero__heading,
  .text-hero__p {

    color: $white;

  }

  .text-hero__heading {

    &:after {

      background: $white;

    }
  }

  .text-hero__btn {

    @extend .btn--ghost-inverted;

  }

}

@include sb-media($small-breakpoint) {

  .text-hero {

    padding: 1.875rem $page-side-padding 2rem;

  }

}

@include sb-media($large-breakpoint) {

  .text-hero {

    &__heading {

      font-size: 2.25rem;

    }

  }

}
