/*
 * video hero
 */

.video-hero {

  max-width: $component-max-width;
  position: relative;
  padding: 1.875rem 1.25rem; /* NOTE: we might want the left/right padding in a variable */
  margin: 0 auto;
  background: $core-off-white;

  &__inner-wrapper {

    margin: 0 auto;
    height: 100%;
    width: 100%;

  }

  &__video-block {

    margin: 0 0 1rem;

  }

  &__text-block {

    color: $core-blue;

  }

  &__heading {

    font-size: 1.3125rem;
    margin: 0 0 1.875rem;

    &:after {

      content: "";
      display: block;
      background-color: $core-blue;
      height: .25rem;
      margin-top: .625rem;

    }

  }

  &__p {

    margin: 0 0 1rem;

    &:last-of-type {

      margin: 0 0 1.875rem;

    }

  }

  &__btn {

    //

  }

}

.video-hero--full-width {

  max-width: none;

  .video-hero__inner-wrapper {

    // max-width: calc(#{$component-max-width} - 5rem); /* NOTE: second value should probably be in a variable */
    max-width: 72rem; /* NOTE: this value should be in a variable */

  }

}

/* NOTE: modifiers */

.video-hero--inverted {

  background: $black;

  .video-hero__heading,
  .video-hero__p {

    color: $white;

  }

  .video-hero__heading {

    &:after {

      background: $white;

    }
  }

  .video-hero__btn {

    @extend .btn--ghost-inverted;

  }

}

.video-hero--dark {

  background: $core-blue;

  .video-hero__heading,
  .video-hero__p {

    color: $white;

  }

  .video-hero__heading {

    &:after {

      background: $white;

    }
  }

  .video-hero__btn {

    @extend .btn--ghost-inverted;

  }

}

@include sb-media($small-breakpoint) {

  .video-hero {

    padding: 1.875rem $page-side-padding 2rem;

  }

}

@include sb-media($large-breakpoint) {

  .video-hero {

    &__inner-wrapper {

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

    }

    &__video-block {

      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      order: 2;
      padding-left: 2rem;

    }

    &__text-block {

      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      padding-right: 2rem;

    }

    &__heading {

      font-size: 2.25rem;

    }

  }

}

.no-flexbox {

  .video-hero {

    &__inner-wrapper {

      @include clearfix;
      display: block;

    }

    &__video-block {

      width: 50%;
      float: right;

    }

    &__text-block {

      width: 50%;
      float: left;

    }

  }

}
