<fieldset class="fieldset">
  <label class="label" for="text">
    Text Input
  </label>
  <input class="input-text" id="text" type="text" placeholder="Text Input">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="password">
    Password
  </label>
  <input class="input-text" id="password" type="password" placeholder="Type your Password">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="webaddress">
    Web Address
  </label>
  <input class="input-text" id="webaddress" type="url" placeholder="website.com">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="emailaddress">
    Email Address
  </label>
  <input class="input-text" id="emailaddress" type="email" placeholder="name@email.com">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="search">
    Search
  </label>
  <input class="input-text" id="search" type="search" placeholder="Enter Search Term">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="input-number">
    Number Input
  </label>
  <input class="input-text" id="input-number" type="number" placeholder="Enter a Number" pattern="[0-9]*">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="input-telephone">
    Telephone Input
  </label>
  <input class="input-text" type="tel" id="input-telephone" placeholder="(###) ###-####">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label" for="textarea">
    Textarea
  </label>
  <textarea class="textarea" id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
  <i class="fieldset__icon icon-error">
  </i>
</fieldset>

<fieldset class="fieldset">
  <label class="label label--invalid" for="some-company">
    Invalid
  </label>
  <input class="input-text input-text--invalid" type="text" value="Some kind of bad value" placeholder="Text Input" id="some-company">
  {{! <i class="fieldset__icon icon-error">
  </i> }}
</fieldset>

<fieldset class="fieldset">
  <label class="label error" for="some-name">
    Error
  </label>
  <input class="input-text error" type="text" value="Some kind of bad value" placeholder="Text Input" id="some-name">
</fieldset>
