{{# checkboxes }}

<ul class="input-group" id="{{ id }}">

  {{# item }}

  <li class="input-group__item">
    <input type="checkbox" class="checkbox-input" name="checkbox-options" value="{{ value }}" id="{{ id }}" />
    <label class="custom-input-label" for="{{ id }}">
      {{ label }}
    </label>
  </li>

  {{/ item }}

</ul>

{{/ checkboxes }}
