{{# checkbox }}

<input type="checkbox" class="checkbox-input" name="checkbox-options" value="{{ value }}" id="{{ id }}" />
<label class="custom-input-label" for="{{ id }}">
  {{ label }}
</label>

{{/ checkbox }}
