/*
 * pagination
 */

.pagination {

  color: $core-light-gray;
  text-align: center;
  border-top: 3px solid $core-off-white;
  margin: 1.875rem 0 0;

  &__list {

    @include clean-list;
    margin: 20px 0;

  }

  &__list-item {

    display: inline-block;
    margin: 0 calc(.5rem - 10px) 1rem; 

    &:first-child {

      margin-left: 0;

    }

    &:last-child {

      margin-right: 0;

    }

  }

  &__text,
  &__link {

    padding: 5px 12px;

  }

  &__text {

    //

  }

  &__hellip {

    padding: 5px 0;

  }

  &__icon + .pagination__text {

    padding-left: 0; /* keep icon and prev/next text close together */

  }

  &__text + &__icon {

    padding-right: 0; /* keep icon and prev/next text close together */

  }

  &__text,
  &__icon {

    display: inline-block;

  }

  &__icon {

    font-size: 30px; 
    vertical-align: middle;

  }
  &__icon,
  &__icon:hover {

    color: $core-light-gray;
    text-decoration: none;

  }

  &__link {

    display: block;
    border-radius: 4px;
    text-decoration: underline;

    .pagination__text {

      color: $accent-blue;
      text-decoration: underline;
      padding: 0; /* NOTE: span doesn't need padding when it's inside <a> since <a> already has padding */

    }

    &:hover {

      text-decoration: none;

      .pagination__text {

        text-decoration: none;

      }

    }

    &--active,
    &--active:hover,
    &--active:visited {

      color: $white;
      background: $accent-blue;
      text-decoration: none;

    }

    &--prev {

      //

    }

    &--next {

      //

    }

    &--prev,
    &--next {

      //

    }

  }

  &--numbers {

    //

  }

  &--alphabet {

    .pagination__link--prev,
    .pagination__link--next {

      display: none;

    }

  }

  &--pages {

    margin: 3rem 1rem 0; /* NOTE: helps with verticle alignment and visual left/right edges of page components */

  }

}
