
/*
 * side nav
 */

//$side-nav-side-padding : 1.875rem

.side-nav {

  border-bottom: 1rem solid $white; /* NOTE: This adds space (visually) between side nav and bottom of viewport when element is sticky */
  overflow: hidden; /* NOTE: This hides element that have negative left/right margins (nested lists) */

  a {

    padding: 1rem 1.875rem;

  }

  &__inner-wrapper {

    background-color: $core-blue;
    border-radius: 4px; /* NOTE: value should be in a variable */
    color: $white;
    padding: 1.875rem 0;

  }

  &__heading {

    font-size: 1.3125rem;
    color: $white;
    margin: 0 1.875rem 1rem 1.875rem;

    &:after {

      display: block;
      content: "";
      height: 0;
      border-bottom: .25rem solid;
      margin-top: 0.625rem;

    }

  }

  &__list {

    @include clean-list;
    margin: 0;

    /* NOTE: indented lists */

    &--indented {

      background: $side-nav-indented-bg-color; 
      padding-left: calc(1.25rem + 1.875rem);
      padding-left: 1.875rem;

      .side-nav__list--indented {

        padding-left: 1.25rem;

      }

    }

  }

  &__list-item {

    //

  }

  &__link {

    font-family: $font-medium-family;
    color: $white;
    display: block;
    padding: 1rem 0;
    position: relative;
    z-index: 0; /* NOTE: Needed so ":after" element displays behind text */

    &:hover {

      color: $white;
      text-decoration: none;

    }

    &:visited {

      color: $white; /* NOTE: including :visited will override related SharePoint rule */

    }

    &--active {

      font-family: $font-heavy-family;
      text-decoration: none;
      background: $core-gray;

    }

  }

  &--sticky {

    //

  }

  /* NOTE: class added when in "sticky" position -- see jquery.side-nav.js */

  &.js-is-stuck {

    //

  }

}

/* NOTE: change font weight for links in nested lists */

.side-nav__list-item {

  .side-nav__list-item {

    .side-nav__link {

      font-family: $font-normal-family;
      padding-left: calc(1.875rem * 2);
      margin-left: -1.875rem;

    }

  }

}
