<div class="gr-c-hero">
  <div class="gr-c-hero__inner">

    <div class="gr-c-hero__img-wrapper">
      {{> atoms-image }}
    </div>

    <div class="gr-c-hero__text-wrapper">
      hey
    </div>

  </div>
</div>

{{! https://www.july-july.com/ }}