<div class="grid grid--gutters grid--top">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be top-aligned.
    </div>
  </div>
  <div class="grid__cell grid__cell--1of2">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Pellentesque sagittis vel erat ac laoreet. Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be top-aligned.
    </div>
  </div>
</div>


<div class="grid grid--gutters grid--bottom">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be bottom-aligned.
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in.
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be bottom-aligned.
    </div>
  </div>
</div>

<div class="grid grid--gutters grid--center">
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be vertically-centered with the cell to its right.
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in. Sed est ligula, ornare ac nisi adipiscing, iaculis facilisis tellus. Nullam vel facilisis libero. Duis semper lobortis elit, vitae dictum erat.</div>
  </div>
</div>

<div class="grid grid--gutters">
  <div class="grid__cell grid__cell--top">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be top aligned.
    </div>
  </div>
  <div class="grid__cell">
    <div class="grid__cell-inner grid__cell-inner--demo">
      Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in. Sed est ligula, ornare ac nisi adipiscing, iaculis facilisis tellus.</div>
  </div>
  <div class="grid__cell grid__cell--center">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be center-aligned.
    </div>
  </div>
  <div class="grid__cell grid__cell--bottom">
    <div class="grid__cell-inner grid__cell-inner--demo">
      This cell should be bottom-aligned.
    </div>
  </div>
</div>
