{{# tag-box }}

<div class="gr-c-tag-box {{ class }}">

  <h1 class="gr-c-heading gr-c-tag-box__heading">
    Tags
  </h1>

  <ul class="gr-c-tag-box__list">

    {{# item }}

    <li class="gr-c-tag-box__item">
      <a class="gr-c-tag-box__link" href="">
        {{ text }}
      </a>
    </li>

    {{/ item }}
    
  </ul>

</div>

{{/ tag-box }}