/*
 * text input
 */

input[type=text],
input[type=search],
input[type=url],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
textarea, 
.gr-c-input-text, 
%text_input {

  font-size: 1rem;
  border: 1px solid $color-light-gray;
  height: 2.5rem;
  width: 100%;
  padding: .75rem;

  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;

  // vertical-align: unset; // what is this?

  &:hover {

    // 

  }

  &:focus {

    // outline: 0; // is this necessary?
    border-color: $color-french-blue;

  }

}

textarea, 
textarea.gr-c-input-text {

  display: block; /* removes unnecessary space below element */
  min-height: 100px;
  overflow: auto; /* without this, scrollbar placeholder is visible in IE 11- */
  resize: vertical; 

}



input[type=file] {

  width: 100%; /* NOTE: this input type had an explicit width by default; using "100%" allows it to to be squishy */

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  -webkit-appearance: none;
  margin: 0;

}

input:placeholder-shown {

  //

}

::-webkit-input-placeholder { /* NOTE: Chrome/Opera/Safari */

  font-style: italic;
  // color: $core-gray; 

}

::-moz-placeholder { /* NOTE: Firefox 19+ */

  font-style: italic;
  // color: $core-gray; 

}

:-ms-input-placeholder { /* NOTE: IE 10+ */

  font-style: italic;
  // color: $core-gray; 

}

:-moz-placeholder { /* NOTE: Firefox 18- */

  font-style: italic;

}

/* NOTE: Hide Webkit-added pseudo */
/*       http://geek.michaelgrace.org/2011/06/webkit-search-input-styling/ */

input[type=search] {

  //

}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {

  display: none;

}
