{{# promo-button }}

<div class="gr-c-promo-btn {{ promo-button-class }}">

  <img class="gr-c-promo-btn__icon" src="{{ icon-url }}">

  <span class="gr-c-promo-btn__text">
    {{{ promo-button-text }}}
  </span>
  
</div>

{{/ promo-button }}