<ul class="sg-icon-list">
  <li>
    <i class="icon-doctype icon-doctype--doc"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--doc-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--pdf"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--pdf-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--ppt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--ppt-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--xls"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--xls-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--photo"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--photo-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--text"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--text-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--web"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--web-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--connect"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--connect-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--zip"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--zip-alt"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--audio"></i>
  </li>
  <li>
    <i class="icon-doctype icon-doctype--audio-alt"></i>
  </li>
</ul>
