/*
 * objects/media/image block
 */

.image-block {

  max-width: 1000px; /* NOTE: arbitrary number -- helpful when viewing component on its own in Pattern Lab */
  border: 2px solid $core-gray;
  border-radius: $radius;
  margin: auto;
  overflow: hidden; /* NOTE: hides top left/right corners of image -- easier solution than applying border-radius to image */

  &__image-wrapper {

    position: relative;

  }

  &__image {

    //

  }

  &__overlay {

    font-size: .75rem;
    text-align: center;
    padding: .5rem 1rem;
    background: rgba(0,0,0,.5); /* NOTE: This value should be in a variable */
    color: $white;
    border-width: 2px 0;
    border-style: solid;
    border-color: $core-gray;

    a {

      color: $white;

    }

  }

  &__text-wrapper {

    //

  }

  /* NOTE: override .text-block declarations -- we might want to create a few demos of the .text-block by itself and use modifiers for the rules below */

  .text-block {

    color: inherit;
    background: transparent;

    &__grid-cell {

      &:last-child {

        //

        @include sb-media($medium-breakpoint) {

          padding-top: 1rem;

        }

      }

    }

    td {

      display: block;
      width: 100%;

      &:first-child {

        text-align: left;

      }

      &:last-child {

        padding: 0;

      }

      @include sb-media($medium-breakpoint) {

        display: table-cell;
        width: 50%;

        &:first-child {

          text-align: right;

        }

        &:last-child {

          padding: 0 0 .5rem;

        }

      }

    }

  }

  /* NOTE: override .table--two-column declaration -- we might want to refactor these rules into a modifiers */

  .table--two-column {

    td:first-child {

      text-align: left;
      font-weight: bold;
      padding: 0;

    }

    td:last-child {

      padding: 0 0 1rem;

    }

    tr:last-child {

      td {

        padding-bottom: 0;

      }

    }

  }

}

@include sb-media($medium-breakpoint) {

  .image-block {

    .table--two-column {

      td:first-child {

        text-align: right;
        padding: 0 .5rem .5rem 0;

      }

      td:last-child {

        padding: 0 0 .5rem .5rem;

      }

    }

  }

}
