/*
 * logo -- uses "background image" solution
 * 
 * NOTE: possible improvement here: make all logos "squishy" (like the "Nothing Compares" logo)
 */

.logo {

  display: block;
  position: relative; /* NOTE: needed for hover state */

  /* NOTE: ide text -- might want to use a mixin for this */

  text-indent: 200%; /* NOTE: using "200%" instead of "100%" value to resolve Safari display issue (text was still visible) */
  white-space: nowrap;
  overflow: hidden;

  background-repeat: no-repeat;

  /* .logo mimics .logo--DOT-full */

  width: $logo-width--DOT-full;
  height: $logo-height--DOT-full;
  background-size: $logo-bg-size--DOT-full;

  background-image: url(../../assets/images/logos/NC-DOT-logo-full-2x.png);

  /* NOTE: for hover state, adjust opacity of a pseudo (overlaying) element */
  /* NOTE: this prevents image container's background color from showing through */

  &:after {

    display: block;
    content: "";
    background: $core-blue; 
    opacity: 0;
    transition: opacity 0.15s ease-in-out; /* NOTE: this value should be in variable */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

  &:hover {

    &:after {

      opacity: .2;  /* NOTE: this value should be in variable */

    }

  }

  &--DOT-full {

    width: $logo-width--DOT-full;
    height: $logo-height--DOT-full;
    background-size: $logo-bg-size--DOT-full;

    background-image: url(../../assets/images/logos/NC-DOT-logo-full-2x.png);

  }

  &--DMV-full {

    width: $logo-width--DMV-full;
    height: $logo-height--DMV-full;
    background-size: $logo-bg-size--DMV-full;

    background-image: url(../../assets/images/logos/NC-DMV-logo-full-2x.png);

  }

  &--DMV-full-new {

    width: $logo-width--DMV-full-new;
    height: $logo-height--DMV-full-new;
    background-size: $logo-bg-size--DMV-full-new;

    background-image: url(../../assets/images/logos/NC-DMV-logo-full-new-2x.png);

  }

  &--seal {

    width: $logo-width--seal;
    height: $logo-height--seal;
    background-size: $logo-bg-size--seal;

    background-image: url(../../assets/images/logos/NC-logo-seal.png);
    background-image: url(../../assets/images/logos/NC-logo-seal.svg),
      linear-gradient(transparent, transparent);

  }

  &--seal-blue {

    width: $logo-width--seal;
    height: $logo-height--seal;
    background-size: $logo-bg-size--seal;
    background-image: url(../../assets/images/logos/NC-logo-seal-blue.svg);

  }

  &-nothing-compares { /* NOTE: this modifier uses a single dash -- should be refactored to use two dashes */

    /* NOTE: squishy image technique by default */

    width: 100%;
    height: 0;
    padding-top: 22.333333%; /* NOTE: based on image dimensions -- 67 divided by 300 */
    background-size: 100%;

    background-image: url(../../assets/images/logos/NC-nothing-compares-logo.png); /* NOTE: given we're supporting IE9+, we don't need a PNG fallback */
    background-image: url(../../assets/images/logos/NC-nothing-compares-logo.svg),
      linear-gradient(transparent, transparent);

    /* NOTE: fixed dimensions on wider screens */

    @include sb-media(18.75em + 2em) { /* NOTE: the 2em is the combined left/right parent container padding */

      width: $logo-width--nothing-compares;
      height: $logo-height--nothing-compares;
      background-size: $logo-bg-size--nothing-compares;
      padding: 0;

    }

  }

  &--be-rail-safe {

    width: $logo-width--be-rail-safe;
    height: $logo-height--be-rail-safe;
    background-size: $logo-bg-size--be-rail-safe;
    background-image: url(../../assets/images/logos/be-rail-safe-logo.svg);

    &:hover {

      &:after {

        opacity: 0; /* NOTE: no change on hover */

      }

    }

  }

  &--nc-by-train {

    width: $logo-width--nc-by-train;
    height: $logo-height--nc-by-train;
    background-size: $logo-bg-size--nc-by-train;
    background-image: url(../../assets/images/logos/nc-by-train-logo-full.svg);

    &:hover {

      &:after {

        //

      }

    }

  }

  &--global-transpark {

    width: $logo-width--GTP;
    height: $logo-height--GTP;
    background-size: $logo-bg-size--GTP;
    background-image: url(../../assets/images/logos/NC-GTP-logo-2x.png);

    &:hover {

      &:after {

        opacity: 0;  /* NOTE: no change on hover */

      }

    }

  }

  &--mobile {

    width: 100%;
    background-size: 240px;
    background-position: 1.5rem center;

  }

  &--w-bg-color {

    background-color: transparent;
    background-color: $core-blue;

  }

  &--centered {

    margin: 0 auto;

  }

}

/*
.logo-transportation--big-letters {

  width: $logo-width--transportation-big-letters;
  height: $logo-height--transportation-big-letters;
  background-size: $logo-bg-size--transportation-big-letters;

  background-image: url(../../assets/images/logos/NC-transportation-logo--big-letters.png);
  background-image: url(../../assets/images/logos/NC-transportation-logo--big-letters.svg),
    linear-gradient(transparent, transparent);

  .slinky-menu & {

    height: 5rem;
    background-position: 1.875rem;
    width: 100%;

  }

}

.logo--stacked {

  background-image: url(../../assets/images/logos/NC-logo--stacked.png);
  background-image: url(../../assets/images/logos/NC-logo--stacked.svg),
    linear-gradient(transparent, transparent);

  background-size: $logo-bg-size--stacked;
  width: $logo-width--stacked;
  height: $logo-height--stacked;

}

.logo-domain {

  width: $logo-width--domain;
  height: $logo-height--domain;
  background-size: $logo-bg-size--domain;

  background-image: url(../../assets/images/logos/NC-domain-logo.png);
  background-image: url(../../assets/images/logos/NC-domain-logo.svg),
    linear-gradient(transparent, transparent);

}

.logo-wordmark {

  width: $logo-width--wordmark;
  height: $logo-height--wordmark;
  background-size: $logo-bg-size--wordmark;

  background-image: url(../../assets/images/logos/NC-workmark-logo.png);
  background-image: url(../../assets/images/logos/NC-workmark-logo.svg),
    linear-gradient(transparent, transparent);

}

.logo-transportation {

  width: $logo-width--transportation;
  height: $logo-height--transportation;
  background-size: $logo-bg-size--transportation;

  background-image: url(../../assets/images/logos/NC-transportation-logo.png);
  background-image: url(../../assets/images/logos/NC-transportation-logo.svg),
    linear-gradient(transparent, transparent);

}

.logo-DMV {

  width: $logo-width--DMV;
  height: $logo-height--DMV;
  background-size: $logo-bg-size--DMV;

  background-image: url(../../assets/images/logos/NC-DMV-logo.png);
  background-image: url(../../assets/images/logos/NC-DMV-logo.svg),
    linear-gradient(transparent, transparent);

}

.logo-DMV--big-letters {

  width: $logo-width--DMV-big-letters;
  height: $logo-height--DMV-big-letters;
  background-size: $logo-bg-size--DMV-big-letters;

  background-image: url(../../assets/images/logos/NC-DMV-logo--big-letters.png);
  background-image: url(../../assets/images/logos/NC-DMV-logo--big-letters.svg),
    linear-gradient(transparent, transparent);

}
*/
