<ul class="sg-colors">
	<li>
		<span class="sg-swatch u-bg-core-black">
    </span>
		<span class="sg-swatch u-bg-img-core-black">
    </span>
		<span class="sg-label">
			<strong>
				Black
			</strong><br>
			$core-black<br>
			#0B0C0C<br>
			rgb(11, 12, 12)<br>
			.u-bg-core-black<br>
			.u-bg-img-core-black
    </span>
	</li>
	<li>
		<span class="sg-swatch u-bg-core-blue">
    </span>
		<span class="sg-swatch u-bg-img-core-blue">
    </span>
		<span class="sg-label">
			<strong>
				Blue
			</strong><br>
			$core-blue<br>
			#092940<br>
			rgb(9, 41, 64)<br>
			.u-bg-core-blue<br>
			.u-bg-img-core-blue
    </span>
	</li>
	<li>
		<span class="sg-swatch u-bg-core-gray">
    </span>
		<span class="sg-swatch u-bg-img-core-gray">
    </span>
		<span class="sg-label">
			<strong>
				Gray
			</strong><br>
			$core-gray<br>
			#5F6C7B<br>
			rgb(95, 108, 123)<br>
			.u-bg-core-gray<br>
			.u-bg-img-core-gray
    </span>
	</li>
	<li>
		<span class="sg-swatch u-bg-core-light-gray">
    </span>
		<span class="sg-swatch u-bg-img-core-light-gray">
    </span>
		<span class="sg-label">
			<strong>
				Light Gray
			</strong><br>
			$core-light-gray<br>
			#95A0AD<br>
			rgb(149, 160, 173)<br>
			.u-bg-core-light-gray<br>
			.u-bg-img-core-light-gray
    </span>
	</li>
	<li>
		<span class="sg-swatch u-bg-core-off-white">
    </span>
		<span class="sg-swatch u-bg-img-core-off-white">
    </span>
		<span class="sg-label">
			<strong>
				Off-White
			</strong><br>
			$core-off-white<br>
			#ECF0F3<br>
			rgb(236, 240, 243)<br>
			.u-bg-core-off-white<br>
			.u-bg-img-core-off-white
    </span>
	</li>
	<li>
		<span class="sg-swatch u-bg-core-white" style="border: 1px solid #0000000d;">
    </span>
		<span class="sg-swatch u-bg-img-core-white">
    </span>
		<span class="sg-label">
			<strong>
				White
			</strong><br>
			$core-white<br>
			#FFFFFF<br>
			rgb(255, 255, 255)<br>
			.u-bg-core-white<br>
			.u-bg-img-core-white
    </span>
	</li>
</ul>
