<ul class="sg-colors">
  <li>
		<span class="sg-swatch u-bg-accent-cool-gray">
    </span>
		<span class="sg-swatch u-bg-img-accent-cool-gray">
    </span>
		<span class="sg-label">
			<strong>
				Cool Gray
			</strong><br>
			$accent-cool-gray<br>
			#6A7681<br>
			rgb(106, 118, 129)<br>
			.u-bg-accent-cool-gray<br>
			.u-bg-img-accent-cool-gray
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-warm-gray">
    </span>
		<span class="sg-swatch u-bg-img-accent-warm-gray">
    </span>
		<span class="sg-label">
			<strong>
				Warm Gray
			</strong><br>
			$accent-warm-gray<br>
			#757575<br>
			rgb(117, 117, 117)<br>
			.u-bg-accent-warm-gray<br>
			.u-bg-img-accent-warm-gray
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-light-blue">
    </span>
		<span class="sg-swatch u-bg-img-accent-light-blue">
    </span>
		<span class="sg-label">
			<strong>
				Light Blue
			</strong><br>
			$accent-light-blue<br>
			#3F7D97<br>
			rgb(63, 125, 151)<br>
			.u-bg-accent-light-blue<br>
			.u-bg-img-accent-light-blue
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-blue">
    </span>
		<span class="sg-swatch u-bg-img-accent-blue">
    </span>
		<span class="sg-label">
			<strong>
				Blue
			</strong><br>
			$accent-blue<br>
			#397AAC<br>
			rgb(57, 122, 172)<br>
			.u-bg-accent-blue<br>
			.u-bg-img-accent-blue
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-indigo">
    </span>
		<span class="sg-swatch u-bg-img-accent-indigo">
    </span>
		<span class="sg-label">
			<strong>
				Indigo
			</strong><br>
			$accent-indigo<br>
			#00376D<br>
			rgb(0, 55, 109)<br>
			.u-bg-accent-indigo<br>
			.u-bg-img-accent-indigo
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-deep-purple">
    </span>
		<span class="sg-swatch u-bg-img-accent-deep-purple">
    </span>
		<span class="sg-label">
			<strong>
				Deep Purple
			</strong><br>
			$accent-deep-purple<br>
			#662E6B<br>
			rgb(102, 46, 107)<br>
			.u-bg-accent-deep-purple<br>
			.u-bg-img-accent-deep-purple
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-purple">
    </span>
		<span class="sg-swatch u-bg-img-accent-purple">
    </span>
		<span class="sg-label">
			<strong>
				Purple
			</strong><br>
			$accent-purple<br>
			#701C45<br>
			rgb(112, 28, 69)<br>
			.u-bg-accent-purple<br>
			.u-bg-img-accent-purple
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-red">
    </span>
		<span class="sg-swatch u-bg-img-accent-red">
    </span>
		<span class="sg-label">
			<strong>
				Red
			</strong><br>
			$accent-red<br>
			#A83338<br>
			rgb(168, 51, 56)<br>
			.u-bg-accent-red<br>
			.u-bg-img-accent-red
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-orange">
    </span>
		<span class="sg-swatch u-bg-img-accent-orange">
    </span>
		<span class="sg-label">
			<strong>
				Orange
			</strong><br>
			$accent-orange<br>
			#C05411<br>
			rgb(192, 84, 17)<br>
			.u-bg-accent-orange<br>
			.u-bg-img-accent-orange
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-olive">
    </span>
		<span class="sg-swatch u-bg-img-accent-olive">
    </span>
		<span class="sg-label">
			<strong>
				Olive
			</strong><br>
			$accent-olive<br>
			#9A6F09<br>
			rgb(154, 111, 9)<br>
			.u-bg-accent-olive<br>
			.u-bg-img-accent-olive
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-green">
    </span>
		<span class="sg-swatch u-bg-img-accent-green">
    </span>
		<span class="sg-label">
			<strong>
				Green
			</strong><br>
			$accent-green<br>
			#588023<br>
			rgb(88, 128, 35)<br>
			.u-bg-accent-green<br>
			.u-bg-img-accent-green
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-accent-turquoise">
    </span>
		<span class="sg-swatch u-bg-img-accent-turquoise">
    </span>
		<span class="sg-label">
			<strong>
				Turquoise
			</strong><br>
			$accent-turquoise<br>
			#3C807D<br>
			rgb(60, 128, 125)<br>
			.u-bg-accent-turquoise<br>
			.u-bg-img-accent-turquoise
    </span>
	</li>
	<li>
		<span class="sg-swatch u-bg-accent-turquoise-light">
    </span>
		<span class="sg-swatch u-bg-img-accent-turquoise-light">
    </span>
		<span class="sg-label">
			<strong>
				Turquoise Light
			</strong><br>
			$accent-turquoise-light<br>
			#4c9490<br>
			rgb(76, 144, 148)<br>
			.u-bg-accent-turquoise-light<br>
			.u-bg-img-accent-turquoise-light
    </span>
	</li>
		<li>
		<span class="sg-swatch u-bg-accent-turquoise-dark">
    </span>
		<span class="sg-swatch u-bg-img-accent-turquoise-dark">
    </span>
		<span class="sg-label">
			<strong>
				Turquoise Dark
			</strong><br>
			$accent-turquoise-dark<br>
			#245f5d<br>
			rgb(7366, 95, 93)<br>
			.u-bg-accent-turquoise-dark<br>
			.u-bg-img-accent-turquoise-dark
    </span>
	</li>
</ul>
