<ul class="sg-colors">
  <li>
		<span class="sg-swatch u-bg-note-blue">
    </span>
		<span class="sg-swatch u-bg-img-note-blue">
    </span>
		<span class="sg-label">
			<strong>
				Blue
			</strong><br>
			$note-blue<br>
			#397AAC<br>
			rgb(57, 122, 172)<br>
			.u-bg-note-blue<br>
			.u-bg-img-note-blue
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-note-green">
    </span>
		<span class="sg-swatch u-bg-img-note-green">
    </span>
		<span class="sg-label">
			<strong>
				Green
			</strong><br>
			$note-green<br>
			#588023<br>
			rgb(88, 128, 35)<br>
			.u-bg-note-green<br>
			.u-bg-img-note-green
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-note-orange">
    </span>
		<span class="sg-swatch u-bg-img-note-orange">
    </span>
		<span class="sg-label">
			<strong>
				Orange
			</strong><br>
			$note-orange<br>
			#C05411<br>
			rgb(192, 84, 17)<br>
			.u-bg-note-orange<br>
			.u-bg-img-note-orange
    </span>
	</li>
  <li>
		<span class="sg-swatch u-bg-note-red">
    </span>
		<span class="sg-swatch u-bg-img-note-red">
    </span>
		<span class="sg-label">
			<strong>
				Red
			</strong><br>
			$note-red<br>
			#A83338<br>
			rgb(168, 51, 56)<br>
			.u-bg-note-red<br>
			.u-bg-img-note-red
    </span>
	</li>
</ul>
