/*
 * Mobile search
 */

.mobile-search-box {

  max-height: 0;
  overflow: hidden;
  // -webkit-transition: all 0.15s ease-in-out;
  // transition: all 0.15s ease-in-out;
  @include transition($transition);
  background: $core-blue;

  &__inner-wrapper {

    padding: 1.875rem $page-side-padding 2.25rem; /* NOTE: the let/right padding should be in variable -- it's consistent width component left/right padding */

  }

  .search-box {

    width: auto;
    margin: auto;

  }

  &.active {

    max-height: 500px;

  }

  @include sb-media($large-breakpoint) {

    display: none;

  }

}
