{{# primary-nav-block }}

<div class="gr-c-primary-nav-block {{ primary-nav-class }}">

  <div class="gr-c-primary-nav-block__inner">

    {{> organisms-primary-nav }}

    {{> molecules-search-box-big }}

  </div>

</div>

{{/ primary-nav-block }}