
<section class="gr-l-section">
  <div class="gr-l-section__inner">

    <div class="gr-l-wrapper gr-l-wrapper--60-40">

      <div class="gr-l-wrapper__item">
        {{> organisms-carousel }}
      </div>

      <div class="gr-l-wrapper__item">
        {{> organisms-pic-box-block }}
      </div>

    </div>

  </div>
</section>
