
<section class="gr-l-section">
  <div class="gr-l-section__inner">

    <div class="gr-l-wrapper gr-l-wrapper--40-60">

      <div class="gr-l-wrapper__item">
        {{> organisms-tile-set-grid }}
      </div>

      <div class="gr-l-wrapper__item">
        {{> organisms-spotlight }}
      </div>

    </div>

  </div>
</section>
