<form class="form">

  <h1 class="heading--gamma form-title">

    HTML5 inputs

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label">
      Date of birth
    </label>

    <input type="date" placeholder="Date of birth" class="text-field--alt fieldset__input">

  </fieldset>

</form>
