<form class="form">

  <h1 class="heading--gamma form-title">

    HTML5 inputs with auto-formatting (requires a little JS)

  </h1>

  <fieldset class="fieldset fieldset--alt">

    <label class="fieldset__label">
      Social security
    </label>

    <div class="input-set fieldset__input-set">

      <input type="number" placeholder="###" max="999" maxlength="3" class="input-set__input input-set__input--3char">
      <span class="input-set__divider">
        -
      </span>
      <input type="number" placeholder="##" max="99" maxlength="2" class="input-set__input input-set__input--2char">
      <span class="input-set__divider">
        -
      </span>
      <input type="number" placeholder="####" max="9999" maxlength="4" class="input-set__input input-set__input--4char" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

    </div>

  </fieldset>

</div>
