{{# nav-box-block }}

<div class="gr-c-nav-box-block {{ class }}">

  <div class="gr-c-nav-box-block__inner">

    {{# item }}

    {{> molecules-nav-box }}

    {{/ item }}

  </div>

</div>

{{/ nav-box-block }}