<ul class="sg-icon-list">
  <li>
    <i class="icon-googleplus"></i>
  </li>
  <li>
    <i class="icon-facebook"></i>
  </li>
  <li>
    <i class="icon-instagram"></i>
  </li>
  <li>
    <i class="icon-twitter"></i>
  </li>
  <li>
    <i class="icon-pinterest"></i>
  </li>
  <li>
    <i class="icon-linkedin"></i>
  </li>
  <li>
    <i class="icon-flickr"></i>
  </li>
  <li>
    <i class="icon-youtube"></i>
  </li>
  <li>
    <i class="icon-compass"></i>
  </li>
  <li>
    <i class="icon-donate"></i>
  </li>
  <li>
    <i class="icon-eco-house"></i>
  </li>
  <li>
    <i class="icon-faces-culture"></i>
  </li>
  <li>
    <i class="icon-family"></i>
  </li>
  <li>
    <i class="icon-government-building"></i>
  </li>
  <li>
    <i class="icon-group-people"></i>
  </li>
  <li>
    <i class="icon-justice"></i>
  </li>
  <li>
    <i class="icon-libraries"></i>
  </li>
  <li>
    <i class="icon-newspaper"></i>
  </li>
  <li>
    <i class="icon-online-service"></i>
  </li>
  <li>
    <i class="icon-pie-chart"></i>
  </li>
  <li>
    <i class="icon-leaf"></i>
  </li>
  <li>
    <i class="icon-medical"></i>
  </li>
  <li>
    <i class="icon-deaf-blind"></i>
  </li>
  <li>
    <i class="icon-vision"></i>
  </li>
  <li>
    <i class="icon-veteran"></i>
  </li>
  <li>
    <i class="icon-seniors"></i>
  </li>
  <li>
    <i class="icon-campfire"></i>
  </li>
  <li>
    <i class="icon-baby"></i>
  </li>
  <li>
    <i class="icon-mental"></i>
  </li>
  <li>
    <i class="icon-no-home"></i>
  </li>
  <li>
    <i class="icon-handicap"></i>
  </li>
  <li>
    <i class="icon-fish"></i>
  </li>
  <li>
    <i class="icon-recycle"></i>
  </li>
  <li>
    <i class="icon-nuclear"></i>
  </li>
  <li>
    <i class="icon-wave"></i>
  </li>
  <li>
    <i class="icon-keyboard-arrow-up"></i>
  </li>
  <li>
    <i class="icon-keyboard-arrow-down"></i>
  </li>
  <li>
    <i class="icon-keyboard-arrow-left"></i>
  </li>
  <li>
    <i class="icon-keyboard-arrow-right"></i>
  </li>
  <li>
    <i class="icon-checkmark"></i>
  </li>
  <li>
    <i class="icon-empty-circle"></i>
  </li>
  <li>
    <i class="icon-search"></i>
  </li>
  <li>
    <i class="icon-launch"></i>
  </li>
  <li>
    <i class="icon-vertical-align-top"></i>
  </li>
  <li>
    <i class="icon-vertical-align-bottom"></i>
  </li>
  <li>
    <i class="icon-vertical-align-center"></i>
  </li>
  <li>
    <i class="icon-hamburger"></i>
  </li>
  <li>
    <i class="icon-close"></i>
  </li>
  <li>
    <i class="icon-hellip"></i>
  </li>
  <li>
    <i class="icon-error"></i>
  </li>
  <li>
    <i class="icon-arrow-backward"></i>
  </li>
  <li>
    <i class="icon-arrow-forward"></i>
  </li>
  <li>
    <i class="icon-play-circle"></i>
  </li>
  <li>
    <i class="icon-flight"></i>
  </li>
  <li>
    <i class="icon-directions-boat"></i>
  </li>
  <li>
    <i class="icon-directions-car"></i>
  </li>
  <li>
    <i class="icon-directions-bus"></i>
  </li>
  <li>
    <i class="icon-directions-bike"></i>
  </li>
  <li>
    <i class="icon-directions-railway"></i>
  </li>
  <li>
    <i class="icon-local-atm"></i>
  </li>
  <li>
    <i class="icon-loop"></i>
  </li>
  <li>
    <i class="icon-highway"></i>
  </li>
  <li>
    <i class="icon-card"></i>
  </li>
  <li>
    <i class="icon-anchor"></i>
  </li>
  <li>
    <i class="icon-comment"></i>
  </li>
  <li>
    <i class="icon-call"></i>
  </li>
  <li>
    <i class="icon-mail_outline"></i>
  </li>
  <li>
    <i class="icon-view_list"></i>
  </li>
  <li>
    <i class="icon-view_module"></i>
  </li>
  <li>
    <i class="icon-insert_photo"></i>
  </li>
  <li>
    <i class="icon-info_outline"></i>
  </li>
  <li>
    <i class="icon-warning-triangle"></i>
  </li>
  <li>
    <i class="icon-arrow-rounded"></i>
  </li>
  <li>
    <i class="icon-radio-unchecked"></i>
  </li>
  <li>
    <i class="icon-radio-checked"></i>
  </li>
  <li>
    <i class="icon-event"></i>
  </li>
  <li>
    <i class="icon-time"></i>
  </li>
  <li>
    <i class="icon-pin"></i>
  </li>
  <li>
    <i class="icon-checked"></i>
  </li>
  <li>
    <i class="icon-close-box-outline"></i>
  </li>
  <li>
    <i class="icon-check-circle"></i>
  </li>
  <li>
    <i class="icon-home"></i>
  </li>
  <li>
    <i class="icon-business"></i>
  </li>
  <li>
    <i class="icon-cancel-circle"></i>
  </li>
  <li>
    <i class="icon-download"></i>
  </li>
  <li>
    <i class="icon-rss"></i>
  </li>
  <li>
    <i class="icon-my-location"></i>
  </li>
  <li>
    <i class="icon-label-outline"></i>
  </li>
  <li>
    <i class="icon-add"></i>
  </li>
  <li>
    <i class="icon-remove"></i>
  </li>
  <li>
    <i class="icon-event-alt"></i>
  </li>
  <li>
    <i class="icon-create"></i>
  </li>
  <li>
    <i class="icon-description"></i>
  </li>
  <li>
    <i class="icon-account"></i>
  </li>
    <li>
    <i class="icon-document"></i>
  </li>
</ul>
