/*
 * Table responsive -- CSS-only (no JS) responsive table solution
 * Inspired by: http://codepen.io/geoffyuen/pen/FCBEg
 */

.table--responsive {

  min-width: 20em; /* magic number -- helps display when viewed on tiny screens (adds horizontal scroll) */

  th,
  td {

    text-align: left;

  }

  th {

    display: none; /* for accessibility, use a visually hidden method here */

  }

  td {

    display: block;

    &:first-child {

      border-top: 1px solid $table-td-border-color;

    }

    &:last-child {

      border-bottom: 2px solid $table-td-border-color;

    }

    &:before {

      font: $font-heavy;
      content: attr(data-th)": ";
      //display: inline-block;
      //width: 8.5em; /* magic number */

    }

  }

}

@media (min-width: 480px) {

  .table--responsive {

    th,
    td {

      display: table-cell;

    }

    td {

      /* Reset border width */

      border-width: 1px;

      &:first-child {

        border-top: 0;

      }

      &:last-child {

        border-bottom-width: 1px;

      }

      &:before {

        display: none;

      }

    }

    .u-text-left {

      text-align: left;

    }

  }

}
