{{# alert-box }}

<div class="gr-c-alert-box {{ class }}">

  <div class="gr-c-alert-box__inner">

    <p class="gr-c-alert-box__text">

      {{ text }}

      <a class="gr-c-btn gr-c-alert-box__btn">
        {{ button-text }}
      </a>
      
      <a class="gr-c-alert-box__close-btn" href="">
        Dismiss
      </a>

    </p>

  </div>

</div>

{{/ alert-box }}