{{# hero-box }}

<div class="gr-c-hero-box {{ class }}">
  <div class="gr-c-hero-box__inner">

    <div class="gr-c-hero-box__logo-wrapper">
      <div class="gr-c-hero-box__logo-inner">
        {{> atoms-logo }} 
      </div>
    </div>

    {{> molecules-ticker-set }}
    
    <div class="gr-c-hero-box__media-wrapper">
      {{> atoms-image-advanced }}
    </div>

  </div>
</div>

{{/ hero-box }}