{{# checkbox }}

<div class="gr-c-checkbox {{ class }}">

  <input type="checkbox" class="{{ input-class }}" name="{{ name }}" value="{{ value }}" id="{{ id }}" 
    {{# disabled }} disabled="disabled"{{/ disabled }} 
    {{# checked }} checked="checked"{{/ checked }} />

  <label class="{{ label-class }}"" for="{{ id }}">
    {{ label-text }}
  </label>

</div>

{{/ checkbox }}
