{{# image-set }}

<div class="image-set">

  <div class="grid grid--guttersXl grid--center grid--full small-grid--fit image-set__grid">

    {{# item }}

    <div class="grid__cell image-set__grid-cell">

      {{> atoms-img-advanced }}

    </div>

    {{/ item }}

  </div>

</div>

{{/ image-set }}
