{{# pl-icon-palette }}

<div class="grid pl-palette pl-palette--icons">

  {{# item }}

  <div class="grid__item pl-palette__item">

    <div class="pl-palette__box pl-palette__box--icons">

      <div class="pl-palette__swatch pl-palette__swatch--icon">
        <i class="{{ class }}"></i> 
      </div>
      
      <div class="pl-palette__details">
        <ul class="pl-palette__list">
          <li class="pl-palette__list-item pl-palette__heading">
            {{ name }} 
          </li>
          <li class="pl-palette__list-item">
            {{ class }}
          </li>
        </ul>
      </div>
      
    </div>
  </div>

  {{/ item }}

</div>

{{/ pl-icon-palette }}