/*
 * count
 */

.count {

  //margin: -1.875rem 0 .9375rem; /* The negative margin helps bring the content closer to the page title -- mimics what's done in the style guide */

  margin: 0 0 .9375rem;

  &__number {

    font-size: 2.25rem;
    font-family: $font-medium-family;

  }

  &__type {

    font-size: 1.5rem;

  }

}
