/*
 * text sizes
 */

.font-size {

  // &--giga {
  //
  //   font-size: $font-size--giga;
  //
  // }
  //
  // &--mega {
  //
  //   font-size: $font-size--mega;
  //
  // }
  //
  // &--kilo {
  //
  //   font-size: $font-size--kilo;
  //
  // }

  &--alpha {

    font-size: $font-size--alpha;

  }

  &--beta {

    font-size: $font-size--beta;

  }

  &--gamma {

    font-size: $font-size--gamma;

  }

  &--delta {

    font-size: $font-size--delta;

  }

  &--epsilon {

    font-size: $font-size--epsilon;

  }

  &--zeta {

    font-size: $font-size--zeta;

  }

  // &--eta {
  //
  //   font-size: $font-size--eta;
  //
  // }
  //
  // &--theta {
  //
  //   font-size: $font-size--theta;
  //
  // }
  //
  // &--iota {
  //
  //   font-size: $font-size--iota;
  //
  // }

}
