{{# promo }}

<div class="gr-c-promo {{ promo-class }}">
  <header class="gr-c-promo__header">
    {{ header-text }}
  </header>
  <div class="gr-c-promo__content">
    <time class="gr-c-promo__date" datetime="{{ date }}">
      <div class="gr-c-promo__month">
        {{ month }}
      </div>
      <div class="gr-c-promo__day">
        {{ day }}
      </div>
    </time>
    <h1 class="gr-c-heading ch-c-promo__heading">
      {{ heading }}
    </h1>
    <a class="gr-c-promo__link" href="">
      {{ link-text }}
    </a>
  </div>
</div>

{{/ promo }}