{{# img-advanced }}

<picture class="{{ class }}">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
  <source srcset="../../assets/images/{{ img-name-big }}@1x.{{ img-type }},
                  ../../assets/images/{{ img-name-big }}@2x.{{ img-type }} 2x" media="(min-width: {{ breakpoint }})">
  <source srcset="../../assets/images/{{ img-name-small }}@1x.{{ img-type }},
                  ../../assets/images/{{ img-name-small }}@2x.{{ img-type }} 2x">
  <!--[if IE 9]></video><![endif]-->
  <img class="{{ class }}" srcset="../../assets/images/{{ img-name-big }}@1x.{{ img-type }},
               ../../assets/images/{{ img-name-big }}@2x.{{ img-type }} 2x" alt="{{ alt }}">
</picture>

{{/ img-advanced }}
