{{# video }}

<div class="video{{# modifier }} {{ modifier }}{{/ modifier }}">

  {{# media }}

  <iframe class="video__media{{# modifier }} {{ modifier }}{{/ modifier }}" id="{{ id }}" src="{{ url }}" frameborder="0" allowfullscreen></iframe>

  {{/ media }}

</div>

{{/ video }}
