{{# video }}

<div class="gr-c-video{{# modifier }} {{ modifier }}{{/ modifier }}">

  {{# media }}

  <iframe class="gr-c-video__media{{# modifier }} {{ modifier }}{{/ modifier }}" id="{{ id }}" src="{{ url }}" frameborder="0" allowfullscreen></iframe>

  {{/ media }}

</div>

{{/ video }}
