{{# ico-box }}

<div class="ico-box {{ class }}">
  <div class="ico-box__inner-wrapper">
    <div class="ico-box__number {{ number-modifier }}">
      {{ number }}
    </div>
  </div>
</div>

{{/ ico-box }}