{{# list }}

<{{ type }} {{# class }}class="{{ class }}"{{/ class }}>

  {{# item }}
  <li class="{{ class }}">

    {{{ text }}}

    {{# sub-list }}

    <{{ type }} {{# class }}class="{{ class }}"{{/ class }}>

      {{# item }}
      <li class="{{ class }}">

        {{{ text }}}

      </li>
      {{/ item }}

    </{{ type }}>

    {{/ sub-list }}

  </li>
  {{/ item }}

</{{ type}}>

{{/ list }}