{{# search-box }}

<form class="search-box {{ modifier }} {{ parameter_modifier }}">

  {{# text-input-wrapper }}
  <div class="search-box__text-input-wrapper clear_input_div">
  {{/ text-input-wrapper }}

  <input type="{{ input-type }}" class="search-box__text-input" placeholder="{{{ placeholder }}}" autocomplete="off" value="{{ value }}">

  {{# clear-button }}
  <a class="search-box__clear-btn clear_input">×</a>
  {{/ clear-button }}

  {{# text-input-wrapper }}
  </div>
  {{/ text-input-wrapper }}

  <a class="search-box__button {{ button-modifier }}" href="">

    {{# icon-class }}
    <span class="{{ icon-class }}"></span>
    {{/ icon-class }}

    {{# button-text }}
    <span class="location-picker__search-btn-text">
      {{ button-text }}
    </span>
    {{/ button-text }}

    {{# icon-after-text }}
    <span class="{{ icon-after-text }}"></span>
    {{/ icon-after-text }}

  </a>
</form>

{{/ search-box }}
