{{# input-layered }}

<div class="input-layered">
  <textarea class="textarea input-layered__textarea" id="{{  }}" data-maxlength="{{ maxlength }}" placeholder="{{ placeholder }}"></textarea>
  <p class="input-layered__count">
    <span class="input-layered__count-max" id="{{  }}" data-maxlength="{{ maxlength }}"></span>
  </p>
  <i class="fieldset__icon icon-error">
  </i>
</div>

{{/ input-layered }}
