{{# checkbox }}

<fieldset class="fieldset fieldset--inline">
  <input type="checkbox" class="checkbox-input fieldset__checkbox" name="checkbox-options" value="" id="useCurrentLocation" />
  <label class="custom-input-label fieldset__label" for="useCurrentLocation">
    {{ label-text }}
  </label>
</fieldset>

{{/ checkbox }}
