<fieldset class="">
  <label for="">
    Name of Requestor
    <span class="u-required" title="This field is required.">
      *
    </span>
  </label>
  <input class="input-text" type="text" placeholder="Name of Requestor" id="">
</fieldset>
