{{# card-framed }}

<div class="card {{ card-modifier }}">

  <a class="card__link-wrapper" href="">

    <div class="card__img-wrapper">
      <img class="card__img" srcset="
        ../../assets/images/{{ img-name }}@1x.{{ img-type }} 1x,
        ../../assets/images/{{ img-name }}@2x.{{ img-type }} 2x" alt="…">
    </div>

    <div class="card__text-wrapper">

      <p class="card__primary-text">

        {{ primary-text }}

      </p>

      <p class="card__secondary-text">

        {{{ secondary-text }}}

      </p>

    </div>

  </a>

</div>

{{/ card-framed }}
