{{# card-alt }}

<div class="card {{ card-modifier }}">

  <a class="card__link-wrapper" href="">

    <div class="card__text-wrapper {{ text-wrapper-modifier }}">

      <i class="{{ icon }} card__icon"></i>

      <p class="card__primary-text">

        {{ primary-text }}

      </p>

      {{# secondary-text }}
      <p class="card__secondary-text">

        {{{ secondary-text }}}

      </p>
      {{/ secondary-text }}

    </div>

  </a>

</div>

{{/ card-alt }}
