{{# card-no-link }}

<div class="card {{ card-modifier }}">

  <div class="card__text-wrapper">

    <i class="{{ icon }} card__icon"></i>

    <p class="card__primary-text">

      {{ primary-text }}

    </p>

    <p class="card__secondary-text">

      {{{ secondary-text }}}

    </p>

  </div>

</div>

{{/ card-no-link }}
