{{# card-trans }}

<div class="card {{ card-modifier }}">

  <a class="card__link-wrapper" href="">

    <div class="card__img-wrapper">
      <picture class="card__img">
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="../../assets/images/{{ img-name-big }}@1x.{{ img-type }},
                        ../../assets/images/{{ img-name-big }}@2x.{{ img-type }} 2x" media="(min-width: 30em)">
        <source srcset="../../assets/images/{{ img-name-small }}@1x.{{ img-type }},
                        ../../assets/images/{{ img-name-small }}@2x.{{ img-type }} 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="../../assets/images/{{ img-name-big }}@1x.{{ img-type }},
                     ../../assets/images/{{ img-name-big }}@2x.{{ img-type }} 2x" alt="">
      </picture>
    </div>

    <div class="card__text-wrapper">

      <p class="card__primary-text">

        {{ primary-text }}

      </p>

      <p class="card__secondary-text">

        {{{ secondary-text }}}

      </p>

    </div>

  </a>

</div>

{{/ card-trans }}
