{{# card-basic }}

<div class="card {{ card-modifier }}">

  <a class="{{ a-class }}" href="">

    {{# img-name }}
    <div class="card__img-wrapper">
      <img class="card__img" srcset="
        ../../assets/images/{{ img-name }}@1x.{{ img-type }} 1x,
        ../../assets/images/{{ img-name }}@2x.{{ img-type }} 2x" alt="…">
    </div>
    {{/ img-name }}

    {{# icon-class }}
    <i class="{{ icon-class }}"></i>
    {{/ icon-class }}

    {{# date }}
    <span class="card__date-number">{{ date }}</span>
    {{/ date }}

    {{# date-number }}
    <div class="card__date-number">
      {{> molecules-ico-box }}
    </div>
    {{/ date-number }}

    <div class="card__text-wrapper {{ text-wrapper-modifier }}">

      {{# primary-text }}
      <p class="card__primary-text {{ primary-text-modifier }}">
        {{{ primary-text }}}
      </p>
      {{/ primary-text }}

    </div>

  </a>

</div>

{{/ card-basic }}
