{{# card-basic-date }}

<div class="card {{ card-modifier }}">

  <a class="{{ a-class }}" href="">

    {{# date-number }}
    <div class="card__date-number">
      {{> molecules-ico-box }}
    </div>
    {{/ date-number }}

    <div class="card__text-wrapper {{ text-wrapper-modifier }}">

      {{# primary-text }}
      <p class="card__primary-text {{ primary-text-modifier }}">
        {{{ primary-text }}}
      </p>
      {{/ primary-text }}

    </div>

  </a>

</div>

{{/ card-basic-date }}