{{# card-solid }}

<div class="card {{ card-modifier }}">

  <a class="card__link-wrapper" href="">

    <div class="card__text-wrapper {{ text-wrapper-modifier }}">

      <div class="card__icon-wrapper">

        {{# icon }}
        <i class="{{ icon }} card__icon"></i>
        {{/ icon }}

        {{# date-number }}
        <div class="ico-box-wrapper">
          <!--<div class="card__date-number">-->
            {{> molecules-ico-box }}
          <!--</div>-->
        </div>
        {{/ date-number }}

      </div>

      <p class="card__primary-text">

        {{ primary-text }}

      </p>

    </div>

  </a>

</div>

{{/ card-solid }}
