<div style="color:red;">

  <div class="u-font-size u-font-size--alpha-alt">
    Font size alpha
  </div>

  <div class="u-font-size u-font-size--beta-alt">
    Font size beta
  </div>

  <div class="u-font-size u-font-size--gamma-alt">
    Font size gamma
  </div>

  <div class="u-font-size u-font-size--delta-alt">
    Font size delta
  </div>

  <div class="u-font-size u-font-size--epsilon-alt">
    Font size epsilon
  </div>

  <div class="u-font-size u-font-size--zeta-alt">
    Font size zeta
  </div>

  <div class="u-font-size u-font-size--eta-alt">
    Font size eta 
  </div>

</div>