/*
 * hover block
 */

.hover-block {

  display: none;

  &__object {

    // -webkit-transform: perspective(1px) translateZ(0);
    // transform: perspective(1px) translateZ(0);
    //
    // -webkit-transition-duration: 0.3s;
    // transition-duration: 0.3s;
    //
    // -webkit-transition-property: transform;
    // transition-property: transform;
    //
    // -webkit-transition-timing-function: ease-out;
    // transition-timing-function: ease-out;
    //
    // opacity: 0;
    // transition: all .2s;
    //
    // position: relative;
    // z-index: 1;

  }

  &__heading {

    float: left;
    font: normal normal normal 100%/1.5 "TransportNewLight_gdi", Helvetica, Arial, sans-serif;
    font-size: .85rem;
    line-height: 42px;
    margin: 0 1rem 0 0;
    color: $white;

  }

  &__details {

    color: $white;
    font-size: .85rem;
    margin: 0 0 .5rem;

  }

  .search-box {

    float: right;
    width: 210px;

  }

  &:hover {

    .hover-block__object {

      // -webkit-transform: translateY(-10px);
      // transform: translateY(-10px);
      // opacity: 1;

    }

  }

  @include sb-media($large-breakpoint) {

    display: block;
    position: absolute;
    // right: 1.5rem;
    // bottom: 1rem;
    z-index: 2;
    // transition: all .4s;

  }

}
