/*
 * location block -- should these rules be migrated to "media block" component?
 */

.location-block {

  //

  &__heading {

    margin-top: 0;

  }

  &__map {

    margin: 0 0 1rem;

  }

  /* refactor to use "__element" selector */

  .bing-map {

    height: 200px;
    
  }

}
