/*
 * list icons
 */

.list-icons {

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  &__item {

    text-align: center;
    margin-bottom: 1.25rem;
    flex: 0 0 50%;
    max-width: 50%; /* NOTE: this resolved a display issue (in Chrome, at least) where items with long text break to next row */

  }

  &__link {
    
    display: block;

  }

  &__icon {

    font-size: 1.5625rem;
    display: inline-block; /* NOTE: without this, the padding and border extend past top/bottom boundaries of parent element */
    border-width: 3px;
    padding: .625rem;
    margin-bottom: .625rem;

  }

  &__text {

    font-size: $font-size--eta;
    font-family: $font-medium-family;
    display: block;
    text-transform: uppercase;

  }

  &--light {

    background: $light-gray; /* NOTE: depending on which template/component this is included in, the background property might get overrwritten */
    padding: .9375rem; /* NOTE: magic number -- helps display when used without an additional outer wrapper, like in the "slim nav" component */

    .list-icons__link, 
    .list-icons__icon,
    .list-icons__text {

      color: $white;

    }

  }

}

/* NOTE: IE 9 fixes */

.no-flexbox.no-flexwrap {

   /* NOTE: override "flexbox" declarations  */

  .list-icons {

    @include clearfix; 

  }

  .list-icons__item {

    width: 50%; 
    float: left;

  }

}