/*
 * simple list block -- some similarities to "link block", might want to refactor to be same component
 */

.simple-list-block {

  @include clearfix;
  background: $core-off-white;
  border-radius: $radius;
  padding: 1.875rem; /* NOTE: we might want this value in a variable */
  width: 100%; /* NOTE: fill available width when parent is set to display:grid */

  display: flex;
  flex-direction: column;

  &__heading {

    font-size: $font-size--delta;
    color: $core-blue;
    border-bottom: 3px solid; /* NOTE: we might want this value or at least the width value in a variable */
    padding: 0 0 .75rem; /* NOTE: we might want the bottom padding in a variable */
    margin: 0 0 1.75rem; /* NOTE: we might want the bottom margin in a variable */

  }

}
