/*
 * simple list group
 */

.simple-list-group {

  &__item {

    margin: 0 0 1rem; 

    &:last-child {

      margin: 0;

    }

  }

}

@include sb-media(40em) {

  .simple-list-group {

    @include flexbox;
    flex-direction: row;

    &__item {

      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      /* NOTE: using margins to create space between each item -- using Flexbox "justify" didn't work well */

      margin: 0 1rem 0 0;

      &:last-child {

        margin: 0 0 0 1rem;

      }

    }

  }

}

.no-flexboxlegacy {

  .simple-list-group {

    @include clearfix;

    &__item {

      width: calc(50% - 1rem);
      margin: 0;

      &:first-child {

        float: left;

      }

      &:last-child {

        float: right;

      }

    }

  }

}
