{{# toggle }}

<div class="gr-c-toggle {{ class }}">

  {{# item }}

  <a class="gr-c-toggle__link {{ class }}" href="{{ url }}">
    <span class="gr-u-visually-hidden">
      {{ label }}
    </span>
    <i class="{{ icon }} gr-c-toggle__icon">
    </i>
  </a>

  {{/ item }}

</div>

{{/ toggle }}