/*
 * buttons
 */

.btn {

  color: $core-white;
  background: $core-blue;
  display: inline-block;
  text-align: left;
  border: 2px solid $core-blue;
  border-radius: 4px; /* NOTE: this value should be in a variable */
  padding: 11px 15px; /* NOTE: we might want this in a variable -- height of buttons should match text inputs and custom menu/select */
  line-height: 1.5;
  text-decoration: none;
  transition: $transition;
  cursor: pointer; /* NOTE: helpful when used on <button> and <input type='submit'> elements */

  &:hover {
    
    color: $core-white;
    background: $core-blue;
    text-decoration: none;
    box-shadow: 0 0 0 5px rgba(9, 41, 64, 0.2); /* NOTE: we might want this rgba() value in a variable */

  }

  &:focus {

    outline: none; /* Helpful when used on <button> and <input type='submit'> elements */

  }

  &:visited { /* NOTE: including the :visited pseudo overrides SharePoint's :visited rule */

    color: $core-white;
    background: $core-blue;
    border: 2px solid $core-blue;

  }

  &--block {

    display: block;
    
  }

  &--w-icon {

    position: relative;

    &:after {

      @include vertical-align;
      display: block;
      content: "";
      position: absolute;
      font-size: 1.5rem;
      font-family: 'custom-icomoon' !important; /* NOTE: document why !important is being used */
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* better font rendering */

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }

    &-left {

      padding-left: 45px; /* NOTE: this value should be in a variable */

      &:after {

        left: 10px;
        content: "\e90e";

      }

    }

    &-right {

      padding-right: 45px; /* NOTE: this value should be in a variable */

      &:after {

        right: 10px;
        content: "\e90f"; 

      }

    }

  }

  &--w-icon-spinning {

    &:after {

      content: "\e918"; /* NOTE: "loop" icon from Icomoon set */

      /* In order to animate, must be set to display: -webkit-box;
       * IE doesn't require a 'display' value. If set to display:block, IE 11 has display issues
       */

      display: -webkit-box;

      width: 1em;
      height: 1em;

      /* keep icon horizontally/vertically centered */

      text-align: center;
      line-height: 1em;

      -webkit-animation-name: icon-spin;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;

      -moz-animation-name: icon-spin;
      -moz-animation-duration: 1s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;

      -ms-animation-name: icon-spin;
      -ms-animation-duration: 1s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;

      animation-name: icon-spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      margin-top: -12px; /* half the height of the icon */

    }

  }

  &[type='submit'] {

    -webkit-appearance: none; /* override default webkit style on iphone (rounded corners, gradient background) */
    width: auto; /* override 'input' width -- we might want to handle this in the 'inputs' partials */

  }

  &--accent,
  &--accent:hover, 
  &--accent:visited {

    background: $accent-blue;
    border-color: $accent-blue;

  }

  &--ghost,
  &--ghost:hover, 
  &--ghost:visited {

    color: $core-blue;
    background: transparent;

  }

  &--ghost-alt,  
  &--ghost-alt:hover,
  &--ghost-alt:visited {

    color: $core-light-gray;
    background: transparent;
    border-color: $core-light-gray;

  }

  &--ghost-inverted,
  &--ghost-inverted:hover, 
  &--ghost-inverted:visited {

    color: $core-white;
    background: transparent;
    border-color: $core-white;

    &:hover {

      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2); /* NOTE: This value should be in a variable */

    }

  }

  &--disabled,
  &--disabled:hover, 
  &--disabed:visited {

    color: $core-light-gray;
    background: transparent;
    border-color: $core-light-gray;
    pointer-events: none;
    cursor: default;

  }

  &.btn--accent.btn--ghost, 
  &.btn--accent.btn--ghost:hover,
  &.btn--accent.btn--ghost:visited {

    color: $accent-blue;
    border-color: $accent-blue;

  }

}

/* NOTE: firefox fixes -- decrease height (top/bottom padding) by 1px each to match size of a.btn elements */

@include firefox-only-mq {

  button.btn,
  input[type='input'].btn,
  input[type='submit'].btn {

    padding-top: 9px;
    padding-bottom: 9px;

  }

}

/* NOTE: IE 9 fixes -- improve icon alignment */

.no-flexbox.no-flexwrap {

  .btn--w-icon-spinning:after {
    
    top: 10px !important; 
    margin: 0 !important; 
    -ms-transform: none !important; 
    transform: none !important; 

  }

}

@-ms-keyframes icon-spin {

  from {

    -ms-transform: rotate(0deg);

  }

  to {

    -ms-transform: rotate(360deg);

  }

}

@-moz-keyframes icon-spin {

  from {

    -moz-transform: rotate(0deg);

  }

  to {

    -moz-transform: rotate(360deg);

  }

}

@-webkit-keyframes icon-spin {

  from {

    -webkit-transform: rotate(0deg);
  }

  to {

    -webkit-transform: rotate(360deg);

  }

}

@keyframes icon-spin {

  from {

      transform: rotate(0deg);

  }

  to {

      transform: rotate(360deg);

  }

}
