/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Protocol Colors CSS Variables v2.1.0 */

:root {
  --gradient-grayscale: linear-gradient(90deg,#000000,#FFFFFF);

  --gradient-focus: linear-gradient(45deg,#4A1475,#671878,#C42482,#FF271D);

  --gradient-helloworld: radial-gradient(4deg,#4A1475,#671878,#C42482);

}
