/*
 * form wrapper
 */

.form-wrapper {

  //

  &__inner {

    // padding: 1rem;
    max-width: $component-max-width;
    margin: auto;

  }

  &--full-width {

    //

    .form-wrapper__inner {

      // padding: 1rem 1.5rem;

      @include sb-media($small-breakpoint) {

        // padding: 1rem 2rem;

      }

      @include sb-media($medium-breakpoint) {

        // padding: 1rem $page-side-padding;

      }

    }

  }

  &__grid {

    margin-bottom: 0;

    &--default-margin {

      margin: -1em 0 1em -1em; /* NOTE: mimics default ".grid--gutter" declaration */

    }

    .no-flexbox & {

      @include clearfix;
      display: block;

    }

  }

  &__grid-cell {

    //

    .no-flexbox & {

      display: block;
      width: 25%;
      float: left;

    }

  }

}
