/*
 * form fields
 */

/* The .form selector is used on <form> elements --
   some back end frameworks may not rely on 'form' element, so '.form' might be used on a 'div' element */

.form {

  //

}

.label {

  &--error {

    //

  }

}

.fieldset__icon {

  /* Hide icons by default -- they're visible only when error checking */

  display: none;

  /* Absolutely-position icons so they overlap text inputs (e.g. error icon) */

  font-size: 1.5rem;
  color: $note-red;
  position: absolute;
  right: 6px; /* This value should be in a variable since it's reused for buttons that have icons */
  bottom: calc(50% - 32px);

}

/* NOTE: error styling */

.label--invalid {

  color: $note-red;

}

input.input-text, /* NOTE: specifying input element here for added specificity -- due to including SharePoint overrides */
.textarea {

  // @extend %text_input;
  @include text-input;

  &--invalid {

    border: 2px solid $note-red;
    background: $error-bg-color; /* This value should be in a variable */

    &:hover, 
    &:focus, 
    &:hover:focus {

      border: 2px solid $note-red;

    }

    /* Show sibling icon element -- used when error checking */

    & + .fieldset__icon {

      display: block;

    }

  }

}

/* NOTE: class added to inputs via Placeholder plugin -- only used for browsers that don't support "placeholder" attribute */

.input-text.placeholder, 
.textarea.placeholder { 

  font-style: italic; 

}

label.error {

  color: $note-red;
  // text-align: left;
  // font-size: $font-size--eta;
  // padding: .25rem 0 0; /* NOTE: since this appears below input, add sensible space between elements */

}

.form-field-error {

  /* SharePoint overrides -- the "label" element is used in SharePoint, so we need to override "label"-specific declarations */

  font-family: $font-normal-family;
  margin: 0;

  /* Normal rules */

  color: $note-red;
  text-align: left;
  font-size: $font-size--eta;
  padding: .25rem 0 0; /* since this appears below input, add sensible space between elements */

}

.input-text,
.textarea {

  &.error {

    border: 2px solid $note-red;
    background: $error-bg-color; /* This value should be in a variable */

    &:hover, 
    &:focus, 
    &:hover:focus {

      border: 2px solid $note-red;
      background: $error-bg-color;
  
    }

  }

}

/* NOTE: textarea field alignment adjustments */

.textarea {

  padding-top: .9rem; /* NOTE: right/left padding already matches text inputs */
  padding-bottom: .9rem;
  line-height: 1.4;

}
