/*
 * form step
 */

.form-step {

  padding-bottom: 2rem;
  border-bottom: 1px solid $core-light-gray;
  margin: 0 0 2.5rem;

  &--no-border {

    padding-bottom: 0;
    border-bottom: 0;
    margin: 0 0 2.5rem;

  }

  &__heading {

    padding-left: 3rem;
    position: relative;
    line-height: 1.6;
    padding: 0;

  }

  &__number {

    display: inline-block;
    color: $white;
    background: $core-blue;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem; 
    text-align: center;

  }

  &__note {

    font-family: $font-italic-family;

  }

  &__fieldset {

    //

  }

  /* NOTE: overrides */

  .input-group {

    margin: 0;

  }

  .table-wrapper {

    margin: 0 0 1rem;

  }

  .grid {

    margin-bottom: 0; /* NOTE: target bottom margin only -- top/left use negative values and should be remain in place for proper display */

    & + .grid {

      margin-top: 1rem; /* NOTE: adds appropriate space between .grid elements */

    }

  }

}
