/*
 * search box
 */

.search-box {

  position: relative;
  width: 100%;
  max-width: 350px;
  border: 1px solid $core-blue;
  border-radius: 4px;

  &__text-input-wrapper, 
  .clear_input_div { 
    
    /* NOTE: this "wrapper" element only used for certain components (location picker) */
    /* NOTE: ".clear_input_div" is used in SharePoint */
    
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    position: relative;

  }

  &__text-input {

    width: calc(100% - 50px); /* NOTE: width of component minus width of search button */
    border: 0;
    box-shadow: none;
    height: 2.5rem;
    padding: 0.625rem;
    border-radius: 4px 0 0 4px;

    &:hover {

      border: 0;

    }

    /* NOTE: increased specificity to override default "input[type-search]" rule */

    &[type=search]:focus { /* NOTE: override default :focus styling */

      box-shadow: none;

    }

  }

  &__button {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    border-radius: 0 4px 4px 0; /* NOTE: this value should be in a variable */
    line-height: 2.5rem; /* NOTE: 2.5rem equals 40px */
    background: $core-off-white;
    color: $core-gray;
    text-decoration: none;
    font-size: 1.875rem;
    text-align: center;
    transition: none;
    z-index: 1;
    cursor: pointer; /* NOTE: in SharePoint, this <a> element might not have a href attribute, so the 'pointer' cursor needs to be specified */

    &:hover,
    &:visited { /* NOTE: including :visited will override related SharePoint rule */

      color: $core-gray;

    }

    &--text {

      font-size: .8rem;
      right: .25rem;
      top: .25rem;
      bottom: .25rem;
      width: auto;
      height: auto;
      line-height: 2rem;
      border-radius: 0;
      text-transform: uppercase;
      padding: 0 .5rem;

    }

  }

  &__clear-btn, 
  .clear_input {

    @include vertical-align;
    position: absolute;
    cursor: pointer;
    display: block;
    right: .5rem;
    top: 0;
    top: 48%;
    text-decoration: none;

  }

  &--bordered {

    .search-box__text-input {

      height: calc(2.5rem - 2px); /* NOTE: decrease default height to make room for border */

    }

  }

  &--alt {

    background: $white;
    border-color: $core-light-gray;
    margin: 0;

    .search-box__text-input, 
    .search-box__text-input:hover {

      border: 0;

    }

    .search-box__button,
    .search-box__button:hover {

      color: $white;
      background: $accent-green;
      border-radius: 0;

    }

  }

} 

input.search-box__text-input {

  width: calc(100% - 49px); /* NOTE: width of component minus width of search button -- minus 1 extra pixel to resolve IE 11 display */
  padding: 0.625rem; /* NOTE: after including SharePoint overrides for text inputs, added specificity is needed for padding property */
  border: 0;
  
  &:hover {

    border: 0;

  }

}

/* NOTE: modifier is nested here, which means higher specificity. The .site-header Sass partial includes a rule to remove the border from the search box. We should refactor so we have two border-related modifiers (i.e, --no-border and --bordered) */

.site-header {

  .search-box {

    &.search-box--bordered {

      border: 1px solid $core-gray;

    }

  }

}
