{{# checkbox }}

  {{# item }}

  <fieldset class="{{ fieldset-class }}">

    <input type="checkbox" class="{{ checkbox-class }}" name="{{ name }}" value="{{ value }}" id="{{ id }}" />

    <label class="{{ label-class }}"" for="{{ id }}">
      {{ label-text }}
    </label>

  </fieldset>

  {{/ item }}

</ul>

{{/ checkbox }}
