{{# radio }}

  {{# item }}

  <fieldset class="{{ fieldset-class }}">

    <input type="radio" 
      class="{{ radio-class }}" 
      name="{{ name }}" 
      value="{{ value }}" 
      id="{{ id }}" 
      {{# disabled }} disabled="disabled"{{/ disabled }} 
      {{# checked }} checked="checked"{{/ checked }} />

    <label class="{{ label-class }}"" for="{{ id }}">
      {{ label-text }}
    </label>

  </fieldset>

  {{/ item }}

</ul>

{{/ radio }}
