{{# calendar }}

<div class="gr-c-calendar {{ class }}">

  <header class="gr-c-calendar__header">

    <h1 class="gr-c-calendar__heading">
      Calendar Name
    </h1> 

    {{> molecules-paginator }}

    <a class="gr-c-calendar__reset-btn" href="">
      Go To Today
    </a>

  </header>

  {{# grid }}

  <ul class="gr-c-calendar__weekdays">
    <li>
      <abbr title="S">
        Sun
      </abbr>
    </li>
    <li>
      <abbr title="M">
        Mon
      </abbr>
    </li>
    <li>
      <abbr title="T">
        Tues
      </abbr>
    </li>
    <li>
      <abbr title="W">
        Wed
      </abbr>
    </li>
    <li>
      <abbr title="T">
        Thur
      </abbr>
    </li>
    <li>
      <abbr title="F">
        Fri
      </abbr>
    </li>
    <li>
      <abbr title="S">
        Sat
      </abbr>
    </li>
  </ul>

  <ul class="gr-c-calendar__grid">
    <li class="month=prev">
      <div class="gr-c-calendar__day-number">
        28
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li class="month=prev">
      <div class="gr-c-calendar__day-number">
        29
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li class="month=prev">
      <div class="gr-c-calendar__day-number">
        30
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li class="month=prev">
      <div class="gr-c-calendar__day-number">
        31
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        1
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        2
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        3
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        4
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        5
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        6
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        7
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        8
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        9
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        10
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        11
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        12
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        13
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        14
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        15
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        16
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        17
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        18
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        19
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        20
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        21
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        22
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        23
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        24
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        25
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        26
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        27
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        28
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        29
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        30
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
    <li>
      <div class="gr-c-calendar__day-number">
        31
      </div>
      <div class="gr-c-calendar__day-box">
      </div>
    </li>
  </ul>

  {{/ grid }}

</div>

{{/ calendar }}