{{# tile }}

<a class="gr-c-tile {{ class }}" href="">

  <p class="gr-c-tile__text">
    {{ text }}
  </p>

  <div class="gr-c-tile__media-wrapper">
    {{> atoms-image }}
  </div>

</a>

{{/ tile }}