{{# card }}

<div class="gr-o-grid gr-c-card {{ modifier }}">

  <a class="gr-c-card__media-wrapper" href="">
    {{> atoms-image }}
  </a>

  <h1 class="heading heading--gamma gr-c-card__heading">
    <a href="">
      {{ heading }}
    </a>
  </h1>

  <p class="gr-c-card__p">
    {{ p }}
  </p>

</div>

{{/ card }}