<ul class="list list--no-bullets">
  <li class="list__item">
    <i class="cc-icon cc-icon__visa"></i>
  </li>
  <li class="list__item">
    <i class="cc-icon cc-icon__mastercard"></i>
  </li>
  <li class="list__item">
    <i class="cc-icon cc-icon__discover"></i>
  </li>
</ul>
