/*
 * alert block
 */

.carousel--alerts {

  .alert-block-wrapper {

    //

  }

  .alert-block {

    //

  }

}

.alert-block-wrapper {

  width: 100%;
  position: relative;
  max-width: $component-max-width;
  margin: 0 auto 1rem;

  &--no-js {

    .alert-block__message {

      margin: 0;

    }

  }

  @include sb-media($large-breakpoint) {

    padding: 0 $page-side-padding; 

    .alert-block {

      //

      &__icon-wrapper {

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        width: 50px;
        text-align: center;
        position: relative;
        background: rgba(11, 12, 12, 0.25); /* NOTE: this value should be in a variable */
    
        i {
    
          font-size: 1.9rem; /* NOTE: helps match size with other NC sites */
    
        }
    
        &:after {
    
          position: absolute;
          content: '';
          display: block;
          border: 10px solid transparent;
          border-left: 10px solid rgba(11,12,12,.25); /* NOTE: This value should be in a variable */
          width: 10px;
          height: 10px;
          top: 50%;
          margin-top: -10px;
          left: 50px;
    
        }    

      }

    }

  }

}

.alert-block {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  color: $white;

  &__item {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; /* NOTE: helps IE 10/11 -- content doesn't take up full with otherwise */

    &--info {

      background: $accent-blue;

    }

    &--success {

      background: $accent-green;

    }

    &--warning {

      background: $accent-orange;

    }

    &--breaking {

      background: $accent-red;

    }

  }

  &__icon-wrapper {

    display: none; 

  }

  &__message {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: center;

    padding: 0 0 0 20px;
    margin: 0 60px 0 0; /* NOTE: magic number, take into account element padding and width of "close" button */

    @include sb-media($large-breakpoint) {

      padding: 0 20px;

    }

  }

  &__message-type {

    text-transform: uppercase;
    font-family: $font-medium-family;

    &:after {

      content: " \00b7"; /* Include space before value to provide space between text and bullet/character */
      display: inline;

    }

  }

  &__message-text {

    margin: 20px 0;

  }

  &__message-link,
  &__message-link:hover,
  &__message-link:visited {

    color: $white;

  }

  .no-flexbox & {

    &__item {

      display: table;

    }

    &__icon-wrapper,
    &__message,
    &__arrow-controls {

      display: table-cell !important;
      vertical-align: middle;

    }

    &__icon-wrapper {

      vertical-align: middle;

      &:after {

        display: none; /* NOTE: hide arrow in IE 10/11 due to positioning issues */

      }

    }

    &__message {

      //

    }

    &__message-text {

      text-align: left;

    }

    &__arrow-controls {

      width: 185px; /* NOTE: width of three buttons plus some wiggle room */
      text-align: right;

    }

    .arrow-controls__btn {

      display: inline-block !important;
      float: left;
      width: 60px; /* NOTE: magic number -- value should be same as ".location-picker__label-text" element; this should be in variable */
      min-height: 88px;
      -ms-transform: none;
      transform: none;
      position: relative;

      i {

        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 50%;
        margin-left: -8px;

      }

    }

  }

  @include sb-media($large-breakpoint) {

    &__item {

      border-radius: 4px;

    }

    &__icon-wrapper {

      border-radius: 4px 0 0 4px;

    }

    &__message {

      margin: 0 180px 0 0; /* NOTE: magic number, takes into account element padding and width of "close" and "prev/next" buttons */

    }

  }

}
