/*
 * flickr block -- used when embedding Flickr albums
 */

.flickr-block {

  width: 100%;
  height: 0;
  padding-bottom: 66.650391%; /* NOTE: magic number */
  position: relative;

  &__iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

}
