/*
 * map key
 */

.map-key {

  @include clean-list;
  margin: 0 0 1rem;

  &__item {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 .5rem;

    &:last-child {

      margin: 0;

    }

  }

  &__icon {

    width: 25px;
    height: 25px;
    margin: 0 .5rem 0 0;

  }

  &__label {

    //

  }

  .no-flexbox.no-flexboxlegacy & {

    &__item {

      //

    }

    &__icon,
    &__label {

      display: inline-block;
      vertical-align: bottom;

    }

    &__label {

      line-height: 25px;

    }

  }

}
