/*
 * thumb
 */

.thumb {

  display: block;
  //display: inline-table; /* Used instead of "block" -- seems to resolve Chrome issue where 1px of space is added to right or bottom of element */
  position: relative;
  border: 1px solid $core-light-gray;
  border-radius: 4px;
  // overflow: hidden;
  // transition: all 0.3s ease-in-out;
  // z-index: 3; /* NOTE: Use higher z-index than __image and __caption -- improves how corners look when hovering */
  max-width: $component-max-width; /* NOTE: sensible max-width */
  text-decoration: none;

  &__image {

    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    border: 0; /* needed for IE 9 */

  }

  &__caption {

    display: block;
    // position: absolute;
    // bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* NOTE: This value should be in a variable */
    width: 100%;
    color: $white;
    // z-index: 2;
    padding: 1.25rem;
    // transition: all 0.3s ease-in-out;
    // opacity: 1;
    // transform: translate3d(0, 0, 0);
    // z-index: 2;

  }

  .no-touchevents & {

    &:hover {

      .thumb__image {

        //transform: scale(1.05);

      }

      .thumb__caption {

        // background-color: rgba(0, 0, 0, 0.5); /* NOTE: This value should be in a variable */
        // opacity: 0;
        // transform: translate3d(0, 100%, 0);

      }

    }

  }

}
