/*
 * Twitter feed
 */

.twitter-feed {

  border-bottom: 1px solid rgba(255,255,255,.25); /* This value should be in a variable */
  margin: 0 auto 1rem;
  overflow-x: hidden;

  /* If JS doesn't load, add margin to link (link appears if widget doesn't load) */

  a.twitter-timeline {

    display: inline-block;
    margin: 0 0 2rem;

  }

  iframe {

    display: block !important; /* overrides inline style (display:inline-block), which removes unnecessary space below */

  }

}
