/*
 * heroine -- alternative "hero" component
 */

.heroine {

  position: relative;

  &__inner-wrapper {

    max-width: $component-max-width;
    margin: auto;
    border: 0;
    
  }

  &__menu {

    //
    
  }

  &__text-box {

    padding: 1rem;
    color: $white;
    background: rgba(0,0,0,.6);

    /* NOTE: "display" and "text-decoration" declarations needed since this element might be an <a> element */

    display: block;
    text-decoration: none;

    &:hover {

      color: $white;
      text-decoration: none;
      background: $black;  
      cursor: pointer;

    }

  }

  &__heading, 
  &__p {

    color: $white; 

  }

  &__heading {

    font-size: 1rem;
    margin: 0 0 1rem;

  }

  &__p {

    font-size: $font-size--eta; /* NOTE: consider refactoring -- not sure if this should reference existing variable or be specific to this component */
    margin: 0;

  }

  &__img-wrapper {

    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 54.166667%; /* NOTE: this value is a result of dividing the image height by width */
    border: 0;
    // border: 3px solid blue;
    
  }

  &__img {

    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    
  }

  .location-picker {

    float: none;
    width: 100%;

    &--max-width {

      max-width: 100%;

    }

  }

  .location-picker__label {

    position: relative;
    z-index: 2;

  }

  .location-picker__form {

    position: absolute;
    z-index: 1;
    width: 100%;

  }

  &--dmv {
    
    //

    .heroine__menu {

      display: -webkit-flex;
      display: flex;

    }

    .heroine__login-btn {

      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;

      padding: 5px 1rem;
      text-align: center;
      border-radius: 0;
      border: 0;
      white-space: nowrap;
      font-size: .8rem;
      background-color: $accent-purple;
      border-top: 4px solid $accent-orange; 
      line-height: 1.4; /* NOTE: this prevents "border-top" from making the button taller than the "Your Location" text */
      position: relative;
      z-index: 1;

      i {

        font-size: 1.5rem;
        margin: 0 .5rem 0 0;

      }

      &:hover {

        box-shadow: none;

      }

    }

    .location-picker__form {

      position: absolute;
      width: 100%;

    }

  }

}

@include sb-media($small-breakpoint) {

  .heroine {

    //

    .location-picker {

      float: none;
      width: 100%;

    }

  }
  
  .heroine__inner-wrapper {

    position: absolute;
    bottom: 0;
    top: 0;

    /*
    NOTE: to center this element, use transform property -- using margin:auto doesn't work in IE 11
    https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/
    */

    width: 100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

  }

  .heroine__text-box {

    position: absolute;
    left: 0;
    top: 57px; /* NOTE: magic number -- height of "location picker label" */
    bottom: 0;
    width: 70%; /* NOTE: magic number */

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

  }

  .heroine__heading {

    font-size: 4vw;

  }

  .heroine__p {

    font-size: 3vw;

  }

}

@include sb-media($large-breakpoint) {

  .heroine__img-wrapper {

    padding-top: 17.96875%; /* NOTE: this value is a result of dividing the image height by width */
    
  }

  .heroine__inner-wrapper {

    top: 50%; 
    bottom: auto; 
    // border: 2px solid red; 

  }

  .heroine__text-box {

    @include vertical-align;
    left: $page-side-padding;  
    width: 100%;
    max-width: 480px; /* NOTE: magic number */ 
    // padding: 1.5rem 1.5rem .5rem;    
    padding: 1.5rem;    
    display: block;

  }

  .heroine__heading {
    
    // font-size: $font-size--beta;
    font-size: $font-size--beta-fixed;

  }

  .heroine__p {

    font-size: $font-size--gamma;
    
  }
    
  .heroine__menu {

    position: absolute;
    right: 0;
    // top: 0;
    top: 4px;
    z-index: 1;

    width: 100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 70rem; /* NOTE: this value should be in a variable */
    margin: auto;
    border: 0;

    /* NOTE: --spaced modifier adds space between top of __menu element and where heroine touches "wide nav"  */

    // &--spaced {

    //   top: 4px;

    // }

  }

  .heroine {
    
    .location-picker {

      width: auto;
      float: right; 
      // min-width: 395px;

    }

    .location-picker__form {

      position: relative;
      min-width: 395px; /* NOTE: magic number -- makes room for entire placeholder to be visible */

    }

  }

  .heroine--dmv {
    
    //

    .heroine__text-box {

      position: relative;
      left: $page-side-padding;

    }

    .heroine__menu {

      display: block;

    }

    .heroine__login-btn {

      display: none; /* NOTE: hide button on wider screens -- button appears in wide nav, which is visible at this breakpoint */
      
    }

    .location-picker .location-picker__form { 

      position: relative;
      // min-width: 370px;

    }

  }

}

@media (min-width: $large-breakpoint) and (max-width: 85em) {

  .heroine__p {

    font-size: 1.2rem;

  }

}

@include sb-media(75em) { /* NOTE: value should be in variable -- value is $component-max-width plus padding on sides of components on wide screens (check padding variable) */
  
  .heroine__menu {
    
    right: $page-side-padding;
  
  }

}

/* NOTE: edits for IE 9/10 */

.no-flexbox.no-flexboxlegacy {

  //

  .heroine {

    &__inner-wrapper {

      left: 0;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
      left: auto;

    }

  }

}

.no-flexboxlegacy.no-flexboxtweener.no-flexwrap {

  .heroine {

    //

    &__menu {

      // left: auto;

    }

  }

}

/* NOTE: edits for IE 11 */

.flexbox.no-flexboxlegacy.flexboxtweener.flexwrap.csstransitions {
  //
  
  .heroine__login-btn { 
    
    flex: 0 0 100px; /* NOTE: needed for IE 11; otherwise, right edge of button is clipped when resizing window down */

  }

}