/*
 * text block
 */

.text-block {

  @include clearfix;
  background: $accent-cool-gray;
  border-radius: $radius;
  // padding: 1.875rem $page-side-padding 2rem;
  padding: 1.875rem $page-side-padding 0;
  width: 100%; /* NOTE: fill available width when parent is set to display:grid */
  color: $white;

  &__heading, 
  &__heading.heading { /* NOTE: using combinator for added specificity -- overrides SharePoint CSS */

    color: $white; /* NOTE: this is necessary to override SharePoint rule -- it's turning H1s and H2s blue */
    margin: 0 0 .83em; 

    &:after {

      content: "";
      display: block;
      height: 0;
      border-bottom: .25rem solid;
      margin-top: .625rem;

    }

  }

  .heading {

    color: $white;

  }

  a, /* NOTE: this should be refactored -- links in component should use BEM-like class */
  &__link,
  &__link:hover,
  &__link:visited {

    color: $white;

  }

  .no-touchevents & {

    //

    [href^="tel"],
    [href^="tel"]:hover,
    [href^="tel"]:visited {

      color: $white;

    }

  }

  &__grid {

    &.grid--gutters {

      margin-bottom: 0; /* NOTE: Combinator used for increased specifificity -- to override ".grid--gutters" rule */

    }

    .heading {

      margin: 0 0 .5rem;

    }

  }

  &__grid-cell {

    &:not(:last-child) {

      margin: 0 auto;

    }

    &:last-child {

      padding-top: 0;

      .table-wrapper {

        margin: 0 0 2rem;

      }

    }

    @include sb-media($medium-breakpoint) {

      -webkit-box-flex: 1 !important;
      -webkit-flex: 1 !important;
      -ms-flex: 1 !important;
      flex: 1 !important;

      &:not(:last-child) {

        margin: 0;

      }

      &:last-child {

        padding-top: 1rem;

      }

    }

  }

  p {

    margin: 0 0 1.5rem; /* NOTE: No top margin since there may or may not be a heading above each <p> -- top margin adds unnecessary space when no heading is displayed */

  }

  table.table--clean {

    width: 100%; /* NOTE: this overrides default .table--clean declaration -- specificity matches default declaration */

  }

  td {

    width: 50%;
    vertical-align: top;
    padding-bottom: 1rem;

  }

  tr:last-child td {

    padding-bottom: 0;

  }

  &--transparent {

    color: $black;
    background: transparent;
    padding: 0;

    .text-block__heading,
    .text-block__heading.heading { /* Using combinator for added specificity -- overrides SharePoint CSS */

      color: $black; /* This is necessary to override SharePoint rule -- it's turning H1s and H2s blue */

    }

    .heading {

      color: $black;
      
    }

    .text-block__link,
    .text-block__link:hover,
    .text-block__link:visited {

      color: $accent-blue;

    }

    .no-touchevents & {

      //

      [href^="tel"],
      [href^="tel"]:hover,
      [href^="tel"]:visited {

        color: $core-black;

      }

    }

  }

  &--alt {

    .table-wrapper {

      overflow: inherit; /* NOTE: this removes horizontal scrollbar in IE 10 */
      margin-bottom: .5rem;
  
    }
  
    table {
  
      margin: 0;
  
    }
    
  }

  .no-flexbox & {

    &__grid {

      display: table;
      width: 100%;
      table-layout: fixed;

    }

    &__grid-cell {

      display: table-cell;
      width: 50%; /* NOTE: improved display in IE 10 */
      vertical-align: top; /* NOTE: needd for IE 10 */

    }

  }

}

@include sb-media($small-breakpoint) {

  .text-block {

    //

    &__grid-cell {

      &:not(:last-child) {

        margin: 0 auto;

      }

      &:last-child {

        padding-top: 1em;

      }

    }

    &--transparent {

      padding: 0;

    }

    p {

      //

      &:last-child {

        margin-bottom: 0;
  
      }

    }

    &--alt {

      //

      .table-wrapper {

        overflow: inherit;
        margin-bottom: 0;
  
      }

      .text-block__grid-cell:last-child {
      
        padding-top: .5rem;
      
      }

      .table-wrapper,
      table {
    
        margin: 0;
    
      }

    }

  }

}

@include sb-media($medium-breakpoint) {

  .text-block {

    //

    td {

      padding-bottom: .5rem;

      &:first-child {

        white-space: nowrap;

      }

    }

    tr:last-child td {

      padding-bottom: 0;

    }

    &--alt {

      //

      .text-block__grid-cell:last-child {
      
        padding-top: 1rem;
      
      }

    }

  }

}
