{{# alert-block }}
<a class="alert-toggle {{ modifier }}" id="alertToggle" href="#top">
  <i class="icon-error alert-toggle__icon">
  </i>
  <span class="alert-toggle__count">
    4
  </span>
</a>
{{/ alert-block }}
