<nav class="text-label-group">

  <a class="text-label text-label--tag" href="">
    Label
  </a>

  <a class="text-label text-label--tag" href="">
    Label
  </a>

  <a class="text-label text-label--tag" href="">
    Label
  </a>

</nav>
