{{# sticker }}

<div class="sticker">

  {{# heading }}
  <h3 class="heading heading--delta sticker__heading">
    {{{ heading }}}
  </h3>
  {{/ heading }}

  <div class="sticker__content">
    {{# label }}
    <h4 class="heading heading--zeta sticker__label">
      {{{ label }}}
    </h4>
    {{/ label }}
    <p class="sticker__value">
      {{ content }}
    </p>
  </div>

  {{# footnote }}
  <p class="sticker__footnote">
    {{ footnote }}
  </p>
  {{/ footnote }}

</div>

{{/ sticker }}
