<fieldset class="fieldset">
  <label class="fieldset__label">
    Your Name
  </label>
  <input type="text" class="input-text fieldset__label" id="" placeholder="">
  <p class="fieldset__helper">
    13 characters left
  </p>
  <hr class="{{ hr-modifier }}">
  <a class="btn" href="">
    Download
  </a>
</fieldset>
