<div class="twitter-feed">

  <a class="twitter-timeline"
    href="https://twitter.com/NCDOT"
    data-chrome="nofooter transparent noheader noborders noscrollbar"
    data-link-color="#ffffff"
    data-theme="dark"
    data-widget-id="329546158231912450">
    Tweets by @NCDOT
  </a>

  <script>

    // Original embed code

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    // Embed code with callback
    // http://stackoverflow.com/questions/17798707/twitter-embedded-timeline-callback

    //!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";js.setAttribute('onload', "twttr.events.bind('rendered',function(e) {twitterCallback()});");fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  </script>

</div>
