{{# link-group }}

{{# single-column }}

<div class="link-group {{ link-group-classes }}">

  <ul class="link-group__list {{ list-classes }}">

    {{# item }}

    <li class="link-group__item {{ item-classes }}">
      <a class="link-group__link {{ link-classes}}" href="{{ url }}">
        {{ text }}
      </a>
    </li>

    {{/ item }}

  </ul>

</div>

{{/ single-column }}

{{# dual-column }}

<div class="link-group {{ link-group-classes }}">

  {{# column }}

  <div class="link-group__list-wrapper">

    <ul class="link-group__list {{ list-classes }}">

      {{# item }}

      <li class="link-group__item {{ item-classes }}">
        <a class="link-group__link {{ link-classes}}" href="{{ url }}">
          {{ text }}
        </a>
      </li>

      {{/ item }}

    </ul>

  </div>

  {{/ column }}

</div>

{{/ dual-column }}

{{/ link-group }}
