{{# icon-box }}

<ul class="gr-c-icon-box {{ class }}">

  {{# item }}

  <li class="gr-c-icon-box__item">
    <a class="gr-c-icon-box__link" href="{{ url }}">
      <span class="gr-u-hidden">
        {{ text }}
      </span>
      <i class="{{ icon-class }}">
      </i>
    </a>
  </li>

  {{/ item }}

</ul>

{{/ icon-box }}