//
// colors
//

// primary palette

$gr-primary-blue :  #028abe;
$gr-dark-blue :     #182962; 
$gr-light-orange :  #ffb180;
$gr-orange :        #f47c2e;
$gr-dark-orange :   #ff6400; 
$gr-red :           #ce0000; 
$gr-green :         #98cb4e; 
$gr-light-gray :    #ebeced; 
$gr-medium-gray :   #ccc; 
$gr-dark-gray :     #979797;
$gr-darkest-gray :  #333; 
$gr-black :         #000; 
$gr-white :         #fff; 

// buttons

$gr-button-bg-color :                 $gr-primary-blue;
$gr-button-text-color :               $gr-white;
$gr-button-bg-color-hover :           $gr-dark-blue;
$gr-button-text-color-hover :         $gr-white;
$gr-button-disabled-text-color :      $gr-medium-gray;
$gr-button-outline-color :            $gr-medium-gray;

// alerts 

$gr-alert-primary-color : $gr-red; 
$gr-alert-minor-color :   $gr-orange