/*
 * custom properties
 */

:root {

  /* color palette */

  --color-blue-saphire:     #{$color-blue-saphire}; 
  --color-french-blue :     #{$color-french-blue}; 
  --color-pale-aqua :       #{$color-pale-aqua}; 
  --color-deep-aqua :       #{$color-deep-aqua}; 
  --color-mikado-yellow :   #{$color-mikado-yellow}; 
  --color-carmine-pink :    #{$color-carmine-pink}; 
  --color-burnt-orange :    #{$color-burnt-orange}; 
  --color-rare-black :      #{$color-rare-black}; 
  --color-light-gray :      #{$color-light-gray}; 
  --color-soft-white :      #{$color-soft-white}; 

  /* main */

  --site-background-color : white; 
  --site-text-color :       black; 
  --label-text-color :      black; 

  /* link */

  --link-color :            var(--color-blue-saphire); 
  --link-color-hover :      var(--color-french-blue); 

  /* button */

  --btn-text-color :        var(--color-soft-white); 
  --btn-bg-color :          var(--color-blue-saphire); 

}

html.gr-t-dark {

  --site-background-color : #222; 
  --site-text-color :       white; 
  --label-text-color :      white; 

}