/*
 * custom properties
 */

:root {

  /* primary palette */

  --gr-primary-blue :  #{$gr-primary-blue}; 
  --gr-dark-blue :     #{$gr-dark-blue}; 
  --gr-light-orange :  #{$gr-light-orange}; 
  --gr-orange :        #{$gr-orange}; 
  --gr-dark-orange :   #{$gr-dark-orange}; 
  --gr-red :           #{$gr-red}; 
  --gr-green :         #{$gr-green}; 
  --gr-light-gray :     #{$gr-light-gray}; 
  --gr-medium-gray :   #{$gr-medium-gray}; 
  --gr-dark-gray :     #{$gr-dark-gray}; 
  --gr-black :         #{$gr-black}; 
  --gr-white :         #{$gr-white}; 

  --gr-alert-major-color : #{$gr-alert-primary-color}; 
  --gr-alert-minor-color : #{$gr-alert-minor-color}; 

  /* sizes */

  --gr-component-min-width :    #{$gr-component-min-width}; 
  --gr-component-max-width :    #{$gr-component-max-width}; 

}

html.gr-t-dark {

  // --site-background : #222; 
  // --site-text :       white; 
  // --label-text :      white; 

}