<div class="grid grid--gutters grid--full small-grid--fit form-grid">
  <div class="grid__cell small-grid__cell--1of2 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="a_city">
          City
        </label>
        <input class="input-text" id="a_city" type="text" placeholder="Enter city name">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
  <div class="grid__cell small-grid__cell--1of4 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label class="fieldset__label">
          State
        </label>

        {{> atoms-menu }}

      </fieldset>

    </div>
  </div>
  <div class="grid__cell small-grid__cell--1of4 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="a_zip">
          Zip Code
        </label>
        <input class="input-text" id="a_zip" type="text" placeholder="00000">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
</div>

<div class="grid grid--gutters grid--full large-grid--fit form-grid">
  <div class="grid__cell small-grid__cell--1of2 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="input-telephone">
          Phone
        </label>
        <input class="input-text" id="input-telephone" type="tel" placeholder="(###) ###-####">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
  <div class="grid__cell small-grid__cell--1of2 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="a_email">
          Email
        </label>
        <input class="input-text" id="a_email" type="text" placeholder="Enter email address">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
</div>
