<div class="form-step">

  <fieldset class="fieldset form-step__fieldset">

    <div class="grid grid--gutters med-grid--fit grid--full form-grid">

      <div class="grid__cell form-grid__cell med-grid__cell--1of4">
        <div class="grid__cell-inner">

          <fieldset class="fieldset form-grid__fieldset">

            <label class="fieldset__label">
              Topics
            </label>

            {{> atoms-menu }}

          </fieldset>

        </div>
      </div>

      <div class="grid__cell form-grid__cell med-grid__cell--1of4">
        <div class="grid__cell-inner">

          <fieldset class="fieldset form-grid__fieldset">

            <label class="fieldset__label">
              Year
            </label>

            {{> atoms-menu }}

          </fieldset>

        </div>
      </div>

    </div>

  </fieldset>

</div>
