<div class="form-step">

  <fieldset class="fieldset form-step__fieldset">

    <div class="grid grid--gutters grid--full form-grid">

      <div class="grid__cell med-grid__cell--1of4 form-grid__cell">

        <fieldset class="fieldset form-step__fieldset">

          <label class="fieldset__label" for="q_county">
            County
          </label>

          {{> atoms-menu }}

        </fieldset>

      </div>

      <div class="grid__cell med-grid__cell--1of4 form-grid__cell">

        <fieldset class="fieldset form-grid__fieldset">

          <label class="fieldset__label" for="q_zip">
            Zip Code
          </label>
          <input class="input-text" id="q_zip" type="text" placeholder="">
          <i class="fieldset__icon icon-error">
          </i>

        </fieldset>

      </div>

      <div class="grid__cell med-grid__cell--1of2 form-grid__cell">

        <fieldset class="fieldset form-grid__fieldset">

          <label class="fieldset__label" for="q_contains">
            Contains
          </label>
          <input class="input-text" id="q_contains" type="text" placeholder="Enter city name or other identifying words">
          <i class="fieldset__icon icon-error">
          </i>

        </fieldset>

      </div>

    </div>

  </fieldset>

</div>
