
<!--
<div class="tabs">

  <nav role="tablist" class="tabs__nav">

    <a role="tab" aria-controls="peaIsland" class="btn tabs__btn" href="#countyField">
      County
    </a>

    <a role="tab" aria-controls="rodanthe" class="btn tabs__btn" href="#zipField">
      Zip Code
    </a>

    <a role="tab" aria-controls="rodanthe" class="btn tabs__btn" href="#geoField">
      Geolocation
    </a>

  </nav>

  <div role="tabpanel" class="tabs__panel" id="countyField">

    stuff

  </div>

  <div role="tabpanel" class="tabs__panel" id="zipField">

    stuff

  </div>

  <div role="tabpanel" class="tabs__panel" id="geoField">

    stuff

  </div>

</div>


<br><br>
-->

<fieldset class="fieldset">
  <label class="fieldset__label">
    Find nearby offices and get driving directions
  </label>
  <input type="text" class="input-text fieldset__label" id="" placeholder="">
  <p class="fieldset__helper">
    <a class="fieldset__helper-link" href="">
      Use Current Location
    </a>
  </p>
</fieldset>

<fieldset class="fieldset">
  <label class="fieldset__label">
    Choose Office Types
  </label>
  <div class="grid grid--gutters grid--full small-grid--fit">
    <div class="grid__cell">

      <ul class="input-group" id="">
        <li class="input-group__item">
          <input type="checkbox" class="checkbox-input" name="checkbox-options" value="checkbox-option-1" id="checkbox-option-1" />
          <label class="custom-input-label" for="checkbox-option-1">
            Driver License and School Bus
          </label>
        </li>
        <li class="input-group__item">
          <input type="checkbox" class="checkbox-input" name="checkbox-options" value="checkbox-option-2" id="checkbox-option-2" />
          <label class="custom-input-label" for="checkbox-option-2">
            Plate & Vehicle Registration
          </label>
        </li>
        <li class="input-group__item">
          <input type="checkbox" class="checkbox-input" name="checkbox-options" value="checkbox-option-3" id="checkbox-option-3" />
          <label class="custom-input-label" for="checkbox-option-3">
            License & Theft Bureau
          </label>
        </li>
      </ul>

    </div>
    <div class="grid__cell">

      <ul class="input-group" id="">
        <li class="input-group__item">
          <input type="checkbox" class="checkbox-input" name="checkbox-options" value="checkbox-option-4" id="checkbox-option-4" />
          <label class="custom-input-label" for="checkbox-option-4">
            Commercial Trucking (IRP)
          </label>
        </li>
        <li class="input-group__item">
          <input type="checkbox" class="checkbox-input" name="checkbox-options" value="checkbox-option-5" id="checkbox-option-5" />
          <label class="custom-input-label" for="checkbox-option-5">
            Hearing Office
          </label>
        </li>
      </ul>

    </div>
  </div>
</fieldset>
