<div class="form-step form-step--no-border">

  <fieldset class="fieldset form-step__fieldset">

    <div class="grid grid--gutters grid--full form-grid">

      <div class="grid__cell med-grid__cell--1of3 form-grid__cell">
        <div class="grid__cell-inner">

          <fieldset class="fieldset">

            <label class="fieldset__label">
              County
            </label>

            {{> atoms-menu }}

          </fieldset>

        </div>
      </div>

      <div class="grid__cell med-grid__cell--1of3 form-grid__cell">
        <div class="grid__cell-inner">

          <fieldset class="fieldset">

            <label class="fieldset__label">
              Bridge Type
            </label>

            {{> atoms-menu }}

          </fieldset>

        </div>
      </div>

      <div class="grid__cell med-grid__cell--1of3 form-grid__cell">
        <div class="grid__cell-inner">

          <fieldset class="fieldset">

            <label class="fieldset__label">
              Year
            </label>

            {{> atoms-menu }}

          </fieldset>

        </div>
      </div>

    </div>

  </fieldset>

  <fieldset class="fieldset form-step__fieldset">

    <label for="containing">
      Containing
    </label>
    <input class="input-text" id="containing" type="text" placeholder="Enter text">
    <i class="fieldset__icon icon-error">
    </i>

  </fieldset>

</div>
