<div class="grid grid--gutters med-grid--fit grid--full small-grid--fit form-grid">
  <div class="grid__cell form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="">
          Label
        </label>
        <input class="input-text" id="{{ id }}" type="text" placeholder="{{ placeholder }}">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
  <div class="grid__cell small-grid__cell--1of4 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label class="fieldset__label">
          Label
        </label>

        {{> atoms-menu }}

      </fieldset>

    </div>
  </div>
  <div class="grid__cell small-grid__cell--1of4 form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="">
          Label
        </label>
        <input class="input-text" id="{{ id }}" type="text" placeholder="{{ placeholder }}">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
</div>

<div class="grid grid--gutters med-grid--1of2 grid--full small-grid--fit form-grid">
  <div class="grid__cell form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="">
          Label
        </label>
        <input class="input-text" id="{{ id }}" type="text" placeholder="{{ placeholder }}">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
  <div class="grid__cell form-grid__cell">
    <div class="grid__cell-inner">

      <fieldset class="fieldset form-grid__fieldset">

        <label for="">
          Label
        </label>
        <input class="input-text" id="{{ id }}" type="text" placeholder="{{ placeholder }}">
        <i class="fieldset__icon icon-error">
        </i>

      </fieldset>

    </div>
  </div>
</div>
