
    <script src="../../assets/js/libs/jquery.2.2.4.min.js"></script>
    <script src="../../assets/js/libs/jquery.mobile.custom.min.js"></script>
    <script src="../../assets/js/libs/picturefill.min.js"></script>
    <script src="../../assets/js/libs/moment.min.js"></script>
    <script src="../../assets/js/libs/jquery.dataTables.1.10.10.min.js"></script>

    <script src="../../assets/js/plugins.combined.min.js"></script>
    <script src="../../assets/js/scripts.combined.min.js"></script>
    
    
    <!-- Pattern Lab only -- scripts only necessary when viewing demos in Pattern Lab -->
    <script src="../../assets/js/pattern-lab-only/icon-details.js"></script>

    <!-- Pattern Lab only -- scrips related to running Pattern Lab -->
    {{{ patternLabFoot }}}

  </body>
</html>
