
    <!-- jQuery  -->
    <script src="../../assets/js/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- jQuery UI -->
    <script src="../../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>

    <!-- jQuery Mobile -- custom download -->
    <script src="../../assets/js/libs/jquery-mobile/jquery.mobile.custom.min.js"></script>

    <!-- DataTables -->
    <script src="../../assets/js/libs/datatables/1.10.10/jquery.dataTables.min.js"></script>

    <!-- Isotope -->
    <script src="../../assets/js/libs/isotope/3.0.1/isotope.min.js"></script>

    <!-- Picturefill -->
    <script src="../../assets/js/libs/picturefill.min.js?"></script>

    <!-- matchMedia -->
    <script src="../../assets/js/libs/matchMedia.js"></script>

    <!-- matchHeight -->
    <script src="../../assets/js/libs/matchHeight.min.js"></script>

    <!-- Reactive iframe (responsive iframe) -->
    <script src="../../assets/js/libs/reactive.iframes.parent.min.js"></script>
    <script src="../../assets/js/vanilla-scripts/vanilla.reactive.iframes.init.js"></script>

    <!-- Canvas Gauge -->
    <script src="../../assets/js/jquery-plugins/gauge.min.js"></script>

    <!-- jQuery plugins -->
    <script src="../../assets/js/jquery-plugins/jquery.masked-input.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.placeholder.min.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.selectBoxIt.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.simpleCountable.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.slinky.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.sticky-kit.min.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.dataTables.responsive.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.equalize.min.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.change-class.js"></script>
    <script src="../../assets/js/jquery-plugins/jquery.slick.min.js"></script>

    <!-- vanilla plugins -->
    <script src="../../assets/js/vanilla-plugins/vanilla.juxtapose.js"></script>

    <!-- jQuery scripts -->
    <script src="../../assets/js/jquery-scripts/jquery.datatables.general.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.datatables.data-source.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.datatables.closures.init.js"></script>

    <script src="../../assets/js/jquery-scripts/jquery-ui.datepicker.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.alert-block.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.button-toggle.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.equal-heights.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.hero.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.isotope.news.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.isotope.original.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.isotope.social.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.masked-input.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.mobile-search.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.placeholder.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.selectBoxIt.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.simpleCountable.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.slinky.init.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.sticky-navs.js"></script>

    <script src="../../assets/js/jquery-scripts/jquery.slick.carousels.init.js"></script>

    <script src="../../assets/js/jquery-scripts/jquery.wide-nav.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.tabs.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.feedback-form-toggle.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.slide-toggle.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.modal.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.modal.photo-gallery.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.breadcrumbs.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.ferry-reservation.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.video-swap.js"></script>
    <script src="../../assets/js/jquery-scripts/jquery.location-picker.js"></script>

    <script src="../../assets/js/jquery-scripts/jquery.canvas-gauge.init.js"></script>

    <!-- vanilla scripts -->
    <script src="../../assets/js/vanilla-scripts/vanilla.scrollMagic.init.js"></script>
    <script src="../../assets/js/vanilla-scripts/vanilla.juxtapose.init.js"></script>

    <!-- Google Analytics API -->

    <!-- Pattern Lab only -- scripts only necessary when viewing components in Pattern Lab -->
    <script src="../../assets/js/pattern-lab-only/icon-details.js"></script>

    <!--DO NOT REMOVE-->
    {{{ patternLabFoot }}}

  </body>
</html>
