{{# photo-block-carousel }}

<div class="carousel carousel--photo-blocks">

  <div class="carousel__list-wrapper">

    <ul>

      {{# item }}

      <li>

        {{> organisms-photo-block }}

      </li>

      {{/ item }}

    </ul>

  </div>

</div>

{{/ photo-block-carousel }}
