<ul class="nav-list {{ modifier }} {{ parameter_modifier }}">
  <li class="nav-list__item">
    <a class="nav-list__link" href="">
      <span class="nav-list__link-text">
        NC.gov
      </span>
      <i class="icon-keyboard-arrow-right nav-list__link-icon">
      </i>
    </a>
  </li>
  <li class="nav-list__item">
    <a class="nav-list__link" href="">
      <span class="nav-list__link-text">
        Agencies
      </span>
      <i class="icon-keyboard-arrow-right nav-list__link-icon">
      </i>
    </a>
  </li>
  <li class="nav-list__item">
    <a class="nav-list__link" href="">
      <span class="nav-list__link-text">
        Jobs
      </span>
      <i class="icon-keyboard-arrow-right nav-list__link-icon">
      </i>
    </a>
  </li>
  <li class="nav-list__item">
    <a class="nav-list__link" href="">
      <span class="nav-list__link-text">
        Services
      </span>
      <i class="icon-keyboard-arrow-right nav-list__link-icon">
      </i>
    </a>
  </li>
</ul>
